@import "../../global/styles/ColorVariables.scss";
.ct-advancedOptionBtn{
    position: absolute;
    height: 25px;
    width: 180px;
    top: calc(100% - 63px);
    right: 7px;
}
.AdvOptn__container{
    
    .advOption__error_field{
        border: 2px solid $redError !important;
    }
    .modal__content{
        width: 140%
    }
    .modal__body{
        height: 240px;
        padding-right: 5px;
    }
    .advOptn__modal_content{
        display: flex;
        flex-direction: column;
        overflow-x: hidden;
        height: 100%;
    }
    .advOptn_item {
        display: flex;
        margin: 7px 0;
        width: 100%;
    }
    .advOptn__selectRule{
        width: 27% !important;
        height: 20px;
        margin-left: 10px;
        margin-right: 20px;
        border: 1px solid #321e4f;
        border-radius: 5px;
        box-shadow: none;
        outline: none;
    }
    .advOptn__selectInput{
        width: 20% !important;
        height: 20px;
        margin-left: 10px;
        margin-right: 20px;
        border: 1px solid #321e4f;
        border-radius: 5px;
        box-shadow: none;
        outline: none;
    }
    .advOptn__selectRecipient{
        width: 27% !important;
    }
    .rule_btn {
        border: none;
        outline: none;
        background-color: transparent;
        padding: 0;
        margin: 0;
        width: 6%;
        img{
            height: 20px;
        }
    }
    .advOption_addRule{
        margin-bottom: 15px;
        img{
            margin-right: 10px
        }
    }
}
.AdvOptn__container-exe{
    .modal__body{
        height: 200px !important;
    }
    .modal__content{
        width: 90% !important
    }
    .cb__dropdown{
        width: 40% !important
    }
    .advOptn__selectRule{
        width: 38% !important;
    }
    .advOptn__selectRecipient{
        width: 43% !important;
    }
}