.mp__canvas {
    position: absolute;
    top: 45px;
    height: calc(100% - 45px);
    overflow: hidden;
    border: 1px solid transparent;
    width: 100%;
}
@media screen and (max-width:890px){
    .mp__canvas{
        top: 75px;
        height: calc(100% - 75px);
    }
}