@import "../../global/styles/ColorVariables.scss";

#ct-ctrlBox{
    display: flex;
    position: absolute;
    height: fit-content;
    width: 170px;
    z-index: 10;
    background-color: #323130;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 2px;
    text-align: left;
    padding: 3px 0px;
}
.ct-ctrl  {
    color: $whiteColor;
    // margin: 0 72px 0 0;
    margin : -33px 0px 9px 0px;
    // margin : -12px 9px 7px -1px;
    cursor : pointer;
    font-family: 'LatoWeb';
}
.ct-ctrl:hover .ct-tooltiptext  {
    display: block;
    color:  #5B5A59;
}
.fa{
    font-family: 'LatoWeb';
}
.ct-ctrl  .ct-tooltiptext {
    position: absolute;
    display: none;
    padding: 2px 6px;
    text-align: center;
    white-space: nowrap;
    font-size: 11px;
    font-family: 'LatoWeb';
    top: 25px;
    left: 27%;
    // background: $backgroundOne;
    color: $black;
}
.ct-ctrl-inactive {
    // color: rgba(255,255,255,0.4);
    cursor: not-allowed;
    display: none;
    visibility: hidden;
    height: 0;
    width: 0;
    // max-height: 0;
    overflow:0;
    opacity: 0;
}


 
.ct-ctrl-inactive:hover .ct-tooltiptext {
    display: none;
}
.ct-ctrl-hide{
    display: none!important;
}
#ct-ctrlBox.end-to-end{
    // width: 103px;
    // height: 114px;
    display: flex;
    position: absolute;
    height: fit-content;
    width: 170px;
    z-index: 10;
    background-color: #323130;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 2px;
    text-align: left;
    padding: 3px 0px;
}
.fa-plus:before 

{
    color: $whisper;
    margin: 10px;
    // background-color: $primaryColorDarkest ;
    padding: 3px ;
    border: 1px  ;

}
.fa-hand-peace-o:before
{
    color: $whisper;
    // padding: 1px 20px 0px 11px;
    // background-color: $primaryColorDarkest ;
    margin: 10px;
    padding: 3px ;
    border: 1px ;
}
.fa-pencil-square-o:before 
{
    color: $whisper;
    // padding: 5px 49px 4px 18px;
    // background-color: $primaryColorDarkest ;
    padding: 3px ;
    margin: 10px;
    border: 1px ;
}
.fa-trash-o:before
{
    color: $whisper;
    // padding: 5px 49px 4px 18px;
    // background-color: $primaryColorDarkest ;
    padding: 3px ;
    margin: 10px;
    border: 1px ;
}
.fa-user:before 
{
    color: $whisper;
    // padding: 5px 49px 4px 18px;
    // background-color: $primaryColorDarkest ;
    padding: 3px 5px ;
    margin: 8px;
    border: 1px ; 
}
// .fa-crop-simple:before
// {
//     color: $whisper;
//     content: "\f565";
//     // padding: 5px 49px 4px 18px;
//     background-color: $primaryColorDarkest ;
//     padding: 3px 5px ;
//     margin: 8px;
//     border: 1px ; 
// }
.fa-badge-check:before 
{
    color: $whisper;
    content: "\f336";
    // padding: 5px 49px 4px 18px;
    // background-color: $primaryColorDarkest ;
    padding: 3px 5px ;
    margin: 8px;
    border: 1px ; 

}
.fa-album-circle-user:before
{
    color: $whisper;
    content: "\e48d";
    // padding: 5px 49px 4px 18px;
    // background-color: $primaryColorDarkest ;
    padding: 3px 5px ;
    margin: 8px;
    border: 1px ; 

}
.fa-crop-simple:before
{
    
    content: "\f565";
    color: $whisper;
    // padding: 5px 49px 4px 18px;
    // background-color: $primaryColorDarkest ;
    padding: 3px 5px ;
    margin: 8px;
    border: 1px ; 

}
