@import "../../global/styles/ColorVariables.scss";
.mindmap__option-container{
    position: absolute;
    display: block;
    left: 50%;
    top: 50%;
    transform: translateX(50%) translateY(50%);
    -moz-transform: translateX(50%) translateY(50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-45%) translateY(-45%);
    background-color: $borderThree;
    min-width: 100px;
    min-height: 50px;
    max-height: 275px;
    max-width: 774px;
    width: 30%;
    height: 25%;
    border-radius: 10px;
}
.mindmap__option-container > div {
    display: block;
    width: 100%;
    display: flex;
    margin: 25px 0px;
    position: absolute;
    bottom: 0;
    top: 0;
}
.mindmap__option-box {
    flex-grow: 1;
    text-align: center;
    border-right: 1px solid $borderTwo;
    position: relative;
    min-width: 33%;
}
.mindmap__option-box:last-child{
    border: none;
}
.mindmap__option-box > div {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    width: 100%;
    font-size: 18px;
    font-weight: 100;
    cursor: pointer;
    height: 100px;
}
.mp__sheet-popup{
    text-align: center;
}
.mp__sheet-popup select{
    width: 160px;
    padding: 2px;
    position: relative;
    width: 160px;
    padding: 2px;
    outline-style: none;
    box-shadow: none;
}