@import "../../global/styles/ColorVariables.scss";
.mp__canvas{
    position: absolute;
    top: 41px;
    height: calc(100% - 41px);
    overflow: hidden;
    border: 1px solid transparent;
    width: 100%;
}
.mp__canvas_container{
    position: relative;
    margin: 2px;
    min-width: 0;
    float: left;
    flex: 0 1 100%;
}
.mp__toolbar__container{
    background-color: $borderThree;
    position: relative;
}
.loading-bar{
    position:absolute!important;
}