@import "../../global/styles/ColorVariables.scss";
.mp__canvas{
    position: absolute;
    top: 41px;
    height: calc(100% - 41px);
    overflow: hidden;
    border: 1px solid transparent;
    width: 100%;
}
.note{
    
    line-height: 14.4px;
    font-size: 12px;
    font-weight: 400;
    font-family: 'LatoWeb';
    width: 275px;
    height: 22px;
    left: 1084px;
    top: 103px;
    position: absolute;
    display: flex;
    z-index: 1;
}
.mp__canvas_container{
    position: relative;
    margin: 2px;
    min-width: 0;
    float: left;
    flex: 0 1 100%;
}
.mp__toolbar__container{
    background-color: $borderThree;
    position: relative;
}
.loading-bar{
    position:absolute!important;
}
.ms-Dialog-title {

    font-size: 16px;

    font-family: 'LatoWebLight';

    display: inline-block;

    background: #331d4c;

    color: #ffffff;

    margin: 4px 8px 28px 3px;

    padding: 8px 8px 7px 6px;

    border-radius: -5px;

    -moz-border-radius: 5px;

    -webkit-border-radius: -49px;

}