@import "../../global/styles/ColorVariables.scss";
.ct-exportBtn{
    position: absolute;
    height: 25px;
    width: 180px;
    top: calc(100% - 63px);
    right: 95px;
}
.disableButton {
    cursor: default;
    opacity: 0.6;
}
.export-row{
    margin: 20px 5%;
    label{
        width: 28%;
        font-weight: 600;
    }
    input{
        border: 1px solid $black;
        width: 70%;
    }
    input:focus{
        outline: none;
    }
    select{
        border: 1px solid $black;
        width: 70%;
        height: 25px;
    }
    select:focus{
        outline: none;
    }
}