@import "../../global/styles/ColorVariables.scss";

.mp__import-popup{
    margin: 15px;
    label{
        width: 110px;
        font-weight: 600;
    }
    select,input{
        border: 1px solid $black;
        width: 70%;
        height: 25px;
        margin: 5px;

    }
    input::-webkit-file-upload-button{
        background: $primaryColor!important;
        border: none;
        color: $whiteColor;
    }
    select:focus,input:focus{
        outline: none;
    }
}