@import "../../global/styles/ColorVariables.scss";
.ct-scenarios {
    background-color: $summerSky;
    stroke:$summerSky;
    fill: $summerSky;
    stroke-width: 0;
}
.ct-modules, .ct-endtoend {
    background-color: $blueColor;
    stroke:$blueColor;
    fill: $blueColor;
    stroke-width: 0;
}
.ct-screens {
    background-color: $cyanColor;
    stroke:$cyanColor;
    fill: $cyanColor;
    stroke-width: 0;
}
.ct-testcases {
    background-color: $yellowColor;
    stroke:$yellowColor;
    fill: $yellowColor;
    stroke-width: 0;
}
.ct-legendBox{
    position: absolute;
    height: 20px;
    width: 351px;
    top: calc(100% - 62px);
    left: 1610px;
    margin-left:200px ;
}
.ct-nodeLabel{
    font-size: 12px;
}