.mp__container{
    height: 100vh;
    width: 100%;
    min-width: 767px;
    display: flex;
    flex-direction: column;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
    font-family: LatoWeb;
    background: rgb(238, 238, 238);
}
.mp__body{
    flex: auto;
    width: 100%;
    background-color: #fff;
    margin: 0;
    padding: 0;
    min-width: 768px;
}

.mp__footer .main-footer{
    position: static;
}
.mp__leftbar{
    left: 0;
    float: left;
    position: relative;
    height: 100%;
    width: 6px;
    color: #fff;
    background-color: #633690;
}
.mp__rightbar{
    right: 0;
    float: right;
    position: relative;
    height: 100%;
    width: 6px;
    color: #fff;
    background-color: #633690;
}
