@import "../../global/styles/ColorVariables.scss";
.mp__container{
    height: 100vh;
    width: 100%;
    min-width: 767px;
    display: flex;
    flex-direction: column;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
    font-family: $avoFont;
    background: rgb(238, 238, 238);
}
.mp__body{
    display: flex;
    flex: auto;
    width: 100%;
    background-color: $whiteColor;
    margin: 0;
    padding: 0;
    /* min-width: 768px; */
    position: relative;
}

.mp__body .action__bar{
    align-items: center;
    position: relative;
    display: flex;
    min-width: 0;
    flex: 0 1 100%;
}
.mp__body .action__wrapper__expand .action__bar{
    justify-content: center;
}
.mp__footer .main-footer{
    position: static;
}
.mp__middle_container{
    position: relative;
    display: flex;
    min-width: 0;
    flex: 0 1 100%;
    justify-content: center;
    align-items: center;
}
.mp__ic_box .ic_box{
    margin-bottom: 37px;
}
.mp__ic_box .ic_box img:hover{
    background: $hovorIcon;
    border-radius: 5px;
}
.selected_rb_thumb{
    background: $primaryColorDarkest;
    border-radius: 5px;
}
