@import "../../global/styles/ColorVariables.scss";
.mp__canvas_svg{
    width: 100%;
    height: 100%;
}
.ct-link{
    stroke: $darkGray;
    stroke-width: 1px;
    fill: none;
}
.ct-node .ct-nodeIcon {
    display: inline-block;
    height: 45px;
    width: 45px;
    cursor: pointer;
    pointer-events: all!important;
}
.ct-node .ct-nodeLabel {
    display: block;
    font-size: 12px;
    cursor: default;
    word-wrap: break-word;
    padding-top: 2px;
}
.ct-node .ct-nodeBubble {
    stroke-width: 1px;
    fill: $whiteColor;
}
.node-highlight{
    outline : 2px solid $black;
}
.ct-actionButton>rect{
    fill: $primaryColor;
    height: 25px;
    width: 80px;
}
.ct-actionButton>text{
    font-size: 17px;
    fill: $whiteColor;
}
#ct-advanceOptionAction>rect{
    fill: $primaryColor;
    height: 25px;
    width: 170px;
}
.show-box{
    display: block!important;
    opacity: 1 !important;
}
.no-disp {
    display: none!important;
}
.node-selected {
    outline: 1px dashed blue;
}
.node-error{
    outline: 2px dashed $red;
}