@import "../../global/styles/ColorVariables.scss";
.toolbar__module-container{
    
    height: 97%;
    width: 17%;
    background-color: $whiteColor;
    padding: 0.625rem 1.25rem;
    z-index:2;
    position: relative;
    
} 
#toolbar_module-lists{
    height: 7%;
    
}

.toolbar__ENE__module-container{
    // height:40%;
    margin-top: -9rem;
    display: flex;
    flex-direction:column;
    position: fixed;
    
    
}
.ene_toolbar__module-box{
    background-color: $borderThree;
    display: flex;
    padding:0rem ;
    width:5rem;
    height:5rem;

}
.ene_toolbar__module-box_hover:hover{
    background-color: red;
}

.toolbar__module-footer{
    position: relative;
    background: $borderThree;
    height: 0.625rem;
}
.z-up{
    z-index: 2;
}
// .min_gaps{
//     // display: flex;
//     // flex: 18% 0 0;
//     justify-content: center;
//     margin-top:0.9rem;
    
// }

.section-dividers{
    flex-shrink: 0;
    height: 0.09rem;
    width: 13rem;
    background-color: grey;
    margin-top:0.57rem;
    margin-left: -0.55rem;
}
.divider{
    flex-shrink: 0;
    height: 46.5rem;
    width: .07rem;
    background-color: grey;
    margin-top:-43.7rem;
    margin-left: 14.5rem;
    position: fixed;
    
    
 }
.toolbar__module-box{
    position: relative;
    display: flex;
    // height: 75px;
    // width: calc(100%/3 - 90px);
    // max-width: 155px;
    // min-width: 100px;
    padding: 5px;
    margin: 0.3625rem 0rem 0.625rem;
    text-align: center;
    -webkit-border-radius: 0.625rem;
    -moz-border-radius: 0.625rem;
    border-radius: 0.625rem;
    cursor: pointer;
    text-align: center;
    background-color: $whiteColor;
    width: 9.6825rem;
    height:1.75rem ;
    align-items: center;
    
   

}
.moduleBoxList{
    padding: -0.0625rem;
    height: 3.125rem;
    width: 2.5rem;

}
.modNme{
    vertical-align: middle;
    align-items: center;
}
.modClick{
    margin-left: 1rem;
}
.toolbar__module-box:hover{
    background-color: #f7f7f7;
}
.selected{
    background: $whisper;
}
.toolbar__module-box img{
    display: inline-block;
    height: 1.5625rem;
    width: 1.5625rem;
    cursor: pointer;
    margin-left: 0.625rem;
    
    
}
.toolbar__module-box span{
    display: block;
    font-size: 0.75rem;
    cursor: default;
    word-wrap: break-word;
    // padding: 2px 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-left: 0.3125rem;
    align-items: center;
    overflow: auto;
}

.toolbar__module-footer div{
    background: $whiteColor;
    outline: none;
    border: none;
    display: inline-block;
    text-align: center;
    width: 4.6875rem;
    position: absolute;
    height: 0.6875rem;
    top: -0.1875rem;
    border-radius: 0.125rem;
    left: calc(50% - 2.3125rem);
    cursor: pointer;
}
.toolbar__module-footer i{
    position: absolute;
    left: 2.03125rem;
    top: -0.1875rem;
}
.toolbar__module-warning-footer .btn-yes{
    margin-right: 0.9375rem;
}
.module_title{
    margin-left:0rem;
    // background-color : #f7f7f7;
    align-content: center;
    width: 0rem;
    border-radius: 0.25rem;
    vertical-align: middle;
    text-align: center;
    margin-top: -0rem;
    
   
    
    
    
}

.plusSymbol{
   
    margin-left: 8.125rem;
    margin-top: -3.625rem;
    width:0.3125rem;
    height:0.3125rem;
    padding: 0.9375rem;
    cursor: pointer;
    position: fixed;



}
.plusSymbol:hover{
    
   
    border: 0.0625rem solid white;

}
.searchBox input{
    
    width:10.625rem;
    margin-left:0.1875rem;
    margin-top:0.20625rem;
    border-radius: 0.3125rem;
    height: 1.6rem;
}


.searchBox img{
    margin-top:-3.3125rem;
    margin-left: 9.375rem;

}
