@import "../../global/styles/ColorVariables.scss";
#navigate-widget {
    position: relative;
    z-index: 1;
    padding: 27px;
    left: -128px;
}
.arrow-box {
    float: left;
    opacity: 0.4;
    border: 1px solid $borderFive;
    border-radius: 50px;
    width: 100px;
    height: 100px;
    text-align: center;
    background: $whiteColor;
}
.arrow-box:hover{
    opacity:1;
    border-color: $primaryColor;
}
.arrow-box p {
    margin: 7px 5px;
}
.zoom-box {
    float: left;
    padding: 21px 0px 0px 10px;
}
.arrow-box-ic {
    border: solid $borderFive;
    border-width: 0 5px 5px 0;
    display: inline-block;
    padding: 4px;
}
.arrow-box-ic:hover{
    border-color: $primaryColor;
}
.up {
    cursor: pointer;
    margin-left: 0px;
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}
.left {
    cursor: pointer;
    margin-left: 0px;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}
.right {
    cursor: pointer;
    margin-left: 50px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}
.down {
    cursor: pointer;
    margin-left: 0px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
.zoom-btn {
    cursor: pointer;
    background: $whiteColor;
    border: 1px solid $medLightGray;
    color: $medLightGray;
    border-radius: 5px;
    width: 24px;
    outline: none!important;
}
.zoom-btn:hover{
    border-color: $primaryColor;
    background:$primaryColor
}