@import "../../global/styles/ColorVariables.scss";

.ct-actionBox{
    position: absolute;
    height: 25px;
    width: 180px;
    top: calc(100% - 63px);
    right: 200px;
}
.disableButton {
    cursor: default;
    opacity: 0.6;
}

.black_bullets{
    background-color: $black;
}

.scenario_parent_list{
    overflow: hidden;
    white-space:intial !important;
    text-overflow:clip;
    overflow-wrap: break-word;
    width: 95%;
    font-size: 15px;
    margin-bottom: 5px;
}
// .error_listItem{
//     display: flex;
//     padding: 0 10px;
//     height:120px;
//     min-height: 120px;
//     margin-bottom: 10px;
//     margin-top: 5px;
// }