@import "../../global/styles/ColorVariables.scss";
.ene_toolbar__header{
    background-color: $borderThree;
    position: absolute;
    width: 100%;
    padding: 0 10px;
    font-size: 14px;
    font-family: $avoFont;
    padding-top: 5px;
    padding-bottom: 10px;
    z-index: 1;
}
.ene_toolbar__header label{
    display: inline-block;
    max-width: 100%;
    font-weight: 700;
    position: relative;
    margin: 2px 8px 0 0;
}
.ene_toolbar__header select{
    padding: 2px;
    position: relative;
    outline-style: none;
    box-shadow: none;
    width: calc(50% - 60px);
    height: 26px;
    border-radius: 6px;
}
.ene_toolbar_module_header{
    width: 50%;
    float: left;
}
.ene_toolbar__header-searchbox{
    float: right;
    width: 50%;
}
.ene_toolbar__header-searchbox input{
    width: 90%;
    border-radius: 6px;
    border: 1px solid darkgrey;
    height: 26px;
    padding-right: 27px;
    bottom: 2px;
    outline-style: none;
    box-shadow: none;
}
.ene_toolbar__header-searchbox img{
    vertical-align: middle;
    border-style: none;
    margin-left: -25px;
}
.ene_toolbar_scenario{
    width: 50%;
    float: right;
}
.ene_toolbar_scenario input{
    width:100%;
}