
@import "../../global/styles/ColorVariables.scss";
.toolbar__header{
    background-color: $borderThree;
    height: 45px;
    padding: 0 10px;
    font-size: 14px;
    font-family: $avoFont;
    padding-top: 5px;
    display: flex;
}
.toolbar__header label{
    display: inline-block;
    max-width: 100%;
    font-weight: 700;
    position: relative;
    margin: 8px 8px 0 0;
}
.toolbar__header select{
    width: 160px;
    padding: 2px;
    position: relative;
    width: 160px;
    padding: 2px;
    outline-style: none;
    box-shadow: none;
}
.toolbar__header-menus{
    display: inline-block;
    white-space: nowrap;
    padding: 9px 7px 0 7px;
}
.toolbar__header-menus i{
    margin-left: 11%;
}
.toolbar__header button{
    color: $whiteColor;
    border: 0;
    border-radius: 20px;
    padding: 2px 15px;
    font-size: 17px;
    background: $primaryColor;
    font-family: $avoSecondaryFont;
    outline: 0;
    padding: 0px 13px;
    top: 1px;
    right: 209px;
    float: right;
    margin-right: 30px;
}
.toolbar__header button:hover{
    color: $whiteColor;
}
.toolbar__header button:focus{
    outline: 0;
    box-shadow: none;
}
.toolbar__header-searchbox{
    float: right;
    width: 15%;
    min-width: 189px;
}
.toolbar__header-searchbox img{
    vertical-align: middle;
    border-style: none;
    margin-left: -25px;
}
.toolbar__header-searchbox input{
    width: 100%;
    border-radius: 6px;
    border: 1px solid darkgrey;
    height: 26px;
    padding-right: 27px;
    bottom: 2px;
    outline-style: none;
    box-shadow: none;
}
.active-map {
    color: $primaryColorRich;
}