@import "../../global/styles/ColorVariables.scss";
.asn_toolbar__header{
    background-color: $borderThree;
    height: 33px;
    padding: 0 10px;
    font-size: 14px;
    font-family: $avoFont;
    padding-top: 5px;
}
.asn_toolbar__header label {
    display: inline-block;
    max-width: 100%;
    font-weight: 700;
    position: relative;
    margin: 2px 8px 0 10px;
}
.asn_toolbar__header label:first-of-type{
    margin-left: 0px;
}
.asn_toolbar__header select{
    width: 160px;
    padding: 2px;
    position: relative;
    width: 160px;
    padding: 2px;
    outline-style: none;
    box-shadow: none;
}
.asn_toolbar__header-searchbox{
    float: right;
    width: 15%;
    min-width: 189px;
}
.asn_toolbar__header-searchbox img{
    vertical-align: middle;
    border-style: none;
    margin-left: -25px;
}
.asn_toolbar__header-searchbox input{
    width: 100%;
    border-radius: 6px;
    border: 1px solid darkgrey;
    height: 26px;
    padding-right: 27px;
    bottom: 2px;
    outline-style: none;
    box-shadow: none;
}
.errorClass {
    border: 1px solid $red;
}
@media screen and (max-width:890px){
    .asn_toolbar__header{
        height: 65px
    }
    .asn_toolbar__header-searchbox{
        float: left;
        margin-top: 10px;
    }
}