.api-ut__btnGroup {
    width: 100%;

    &>button{
        position: relative;
        float: right;
        padding: 2px 25px;
        margin-right: 7px;
        height: max-content;
        font-size: 17px;
        font-family: "LatoWebLight";
        background-color: #633693;
        border: none;
        outline: none;
        color: #fff;
        border-radius: 20px;
        &:disabled{
            background-color: #997cb8;
            cursor: not-allowed;
        }
    }
}

.api-ut__mandate{
    color: red;
    font-weight: 400;
}

.api-ut__inputError {
    border: 2px solid #d33c3c !important;
}

.api-ut_contents{
    display: flex;
    position: relative;
    flex-direction: column;
    margin-left: 5px;
    height: 100%;
}

.api-ut__ab{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
}
.api-ut__min{
    min-height: 0;
}
.api-ut__con{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    flex: 1 1;
    height: 100%;
}

.api-ut__inputGroup{
    display: grid;
    grid-template-columns: 23% 77%;
    row-gap: 20px;
    width: 83%;
    padding: 20px;
    font-size: 14px;
    font-family: "LatoWeb";

    .api-ut__inputLabel{
        display: flex;
        align-items: center;
        font-weight: 700;
    }

    .api-ut__input{
        height: 27px;
        padding: 6px 12px;
        line-height: 1.42857143;
        color: #555;
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    }
    .api-ut__req{
        width: 100%;
    }
    .api-ut__tip{
        float: right;
    }
    .action-api-ut{
        width:auto;
        margin-right:10px;
    }
    .req-body {
        width:100%;
        margin-top: 5px;
        height: 80px;
        resize: none;
        font-size: 14px;
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        div{
            font-size: 22px !important;
        }
        .icon{
            font-size: 22px !important;
        }
    }
}
.api-ut__select{
    height: 25px;
    width:100%;
    margin-top: 3px;
    line-height: 2;
    border: 1px solid #ccc;
    -webkit-text-stroke: thin;
    font-size: 14px;
    color: #555;
    background-color: #fff;
    background-image: none;
    outline: none;
    border-radius: 4px;
    line-height: 2;
}

.api-ut__outputGroup{
    display: grid;
    grid-template-columns: 23% 77%;
    row-gap: 24px;
    width: 85%;
    padding: 20px;
    font-size: 14px;
    font-family: "LatoWeb";

    .api-ut__inputLabel{
        display: flex;
        align-items: center;
        font-weight: 700;
    }

    
    .api-ut__req{
        width: 100%;
    }
    .req-body {
        width:100%;
        margin-top: 5px;
        height: 100px !important;
        resize: none;
        font-size: 14px;
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    }
}
.api-ut__select{
    height: 25px;
    width:100%;
    margin-top: 3px;
    line-height: 2;
    border: 1px solid #ccc;
    -webkit-text-stroke: thin;
    font-size: 14px;
    color: #555;
    background-color: #fff;
    background-image: none;
    outline: none;
    border-radius: 4px;
    line-height: 2;
}
.icon{
    font-size: 22px;
    padding: 5px;
    width: auto;
    display: block;
  
}