@import "../../global/styles/ColorVariables.scss";

.dt__exportPopup{
    display: grid;
    grid-template-columns: auto auto;
    row-gap: 20px;
}
.import_format{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.dt__import-popup{
    margin: 15px;
    label{
        width: 148px;
        font-weight: 600;
    }
    select,input{
        border: 1px solid $black;
        width: 70%;
        height: 25px;
        margin: 5px;

    }
    input::-webkit-file-upload-button{
        // background: $primaryColor!important;
        border: none;
        // color: $whiteColor;
    }
    select:focus,input:focus{
        outline: none;
    }
}