@import "../../global/styles/ColorVariables.scss";
.letfnav{
    float: left;
    position: relative;
    left: 10rem;
    top: 4rem;
}
.util_header{
    position: relative;
     font: $f4_semibold;
     color: #212121;
     top: 1rem;
     right: 5rem;
}
.util_header_Encryption{
    font: $f5_regular;
    color: #212121;
}

.letfnav h4{
    text-align: center;
    font: $f6_regular;
}
.letfnav span{
    list-style-type: none;
    float: left;
    width: 80%;
    // color: $whiteColor;
    line-height: inherit;
    text-align: center;
    margin: 16% 10% 10%;
    font-size: 12px;
    cursor: pointer;

    img{
        padding: 8px 10px;
    }
}
.encrypt_drodown{
    height: 2.5rem !important;
}

#selected{
    // background: $primaryColorDarkest;
    border-radius: 5px;
}

.util__execution_ic{
    padding: 10px;
}
.util__execution_ic:hover{
    // background: $hovorIcon !important;
}
.util__devOps {
    width: 4.5rem;
}

.active_tab_encryption {
    display: flex;
    align-items: center;
    width: 19rem;
    background: #e3cff0 !important;
    border-radius: 0.5rem 0.5rem 0.5rem 0.5rem !important;
    position: relative;
    top: 2rem;
    right: 4rem;
}

.not_active_tab_encryption {
    background-color: none !important;
    font: $f7_regular;
    display: flex;
    align-items: center;
    position: relative;
    top: 2rem;
    right: 4rem;
}

.active_tab_data {
    display: flex;
    align-items: center;
    width: 19rem;
    background: #e3cff0 !important;
    border-radius: 0.5rem 0.5rem 0.5rem 0.5rem !important;
    position: relative;
    top: 3rem;
    right: 4rem;
}

.not_active_tab_data {
    background-color: none !important;
    font: $f7_regular;
    display: flex;
    align-items: center;
    position: relative;
    top: 3rem;
    right: 4rem;
}
.left_side_panel{
    position: relative;
    right: 18rem;
}
.notelabel{
    margin-left: 1rem;
    font: $f6_semibold;
}
.notecontent{
    margin-left: 4rem;
    margin-top: -1.5rem;
   font:$f6_regular
}