// TABLE CONTAINER CSS
@import "../../global/styles/ColorVariables.scss";

.dt__ab{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-grow:1;
    height: 103%;
}
.dt__min{
    min-height: 0;
    width: 100%;
    height: 100%
}
.dt__con{
    display: flex;
    flex-direction: column;
    flex: 1 1;
    height: fit-content;
    max-height: 100%;
}

.dt__table{
    display: flex;
    // flex-direction: column;
}

.dt__table_rows_container{
    position: relative;
    display: flex;
    // font-family: $avoFont ;
    font-size: 14px;
}

.full__dt {
    height: 100%;
    width: 90%;
}




// HEADERS CSS


.dt__table_header { 
    display: flex;
    font: $f6_regular;
    font-size: 17px;
    color: gray;
    cursor: pointer;
    width: 100%;
    height: 30px;
    overflow: hidden;
}

.dt__headersMainContainer {
    display: flex;
    flex-direction: column;
}

.dt__headersScrollContainer {
    position: relative;
    height: 31px;
    width: 100%;
    overflow: hidden;
    margin-bottom: 2px;
}

.dt__Scroller {
    position: absolute;
    right: 0; 
    left: 0; 
    overflow: hidden;
}

.dt__numberColumnContainer{
    display: flex;
    flex-direction: column;
    height: 102%;
}

.dt__numberColScrollContainer {
    position: relative;
    height: 100%;
    overflow: hidden;
}

.dt__table_numbered_column_header{
    margin-bottom: 1px;
    min-height: 29px;
}



.dt__table_numbered_column_header, .dt__table_new_column_header{
    display: flex;
    flex-basis: 40px;
    min-width: 40px;
    align-items: center;
    justify-content: center;
    
    &:first-child{
        border-right: 0.25px solid gray
    }
    &:last-child{
        border-left: 0.25px solid gray;
    }
}

.dt__table_numbered_column_header{
    flex-basis: 30px;
}

.dt__table_header_cells { 
    display: flex;
    flex-grow:1;
}


// ROW CSS

.dt__table_row{

    display: flex;
    min-width: fit-content;
    width: 123.5%;
    min-height: 37px;

    textarea{
        resize: none;
        border: none;
        outline: none;
        background-color: transparent;
        width: 100%;
        text-overflow: ellipsis;
        overflow: hidden;
    }
}

.dt__cell{
    width: 100%;
    min-width: 100px;
    border:  1px solid gray;
    display: flex;
    justify-content: center;
}

.dt__subHeader {
    textarea{
        text-align: center;
    }
}

.dt__subHeaderCell {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 98%;
    height: 98%;
    overflow-wrap: anywhere;
}

.dt__table_AddRow{
    min-height: 35px;
    margin-bottom: 10px;
}

.dt__ghost_header{
    opacity: 0.5;
}


// CELLS CSS

.dt__hdrCell_Sel{
    background-color: gray !important;
}

.dt__table_numbered_column, .dt__table_add_column {
    display: flex;
    min-width: 40px;
    align-items: center;
    justify-content: center;
}

.dt__table_numbered_column{
    // color:#e9ecef;
    min-height: 37px;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}

.dt__table_add_column{
    flex-basis: 40px;
    border-bottom:  1px solid gray;
    border-top:  1px solid gray;
}


.dt__table_header_cell{
    border-left: 0.25px solid gray;
    border-right: 0.25px solid gray;

    &>div{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
}

.dt__addRow{
    cursor: pointer;
}


.dt__selected_cell {
    background-color: rgba(237, 235, 233, .50)!important;
}

.dt__table_numbered_column, .dt__table_numbered_column_header, .dt__table_new_column_header, .dt__table_header_cell{
    background-color:#e9ecef;
}

.dt__cell_value{
    width: 98%;
    height: 98%;
    overflow-wrap: anywhere;
    margin: 2px;
    text-align: left;
}

.grabbable {
  cursor: move; /* fallback if grab cursor is unsupported */
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}

/* (Optional) Apply a "closed-hand" cursor during drag operation. */
.grabbable:active {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}