@import "../../global/styles/ColorVariables.scss";
.parent{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    // background: $whisper;
}


#holder{
    display: flex;
    flex: auto;
    width: 100%;
    // background-color: $whisper;
    margin: 0;
    padding: 0;
}
.utlFooter .main-footer{
    position: static;
}
.pairwise_scr {
    input[type = number]::-webkit-inner-spin-button ,
    input[type = number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none ;
    appearance: none;
    margin: 0;
}
}
