@CHARSET "ISO-8859-1";
.mainContent {
	text-align: center;
	color: gray;
}

.hideTabbar {
	display: none;
}

.hideLogin {
	display: none;
}

.showTabbar {
	display: block;
}

.showLogin {
	display: block;
}

.pos {
	float: right !important;
}

.uigrid-pos {
	position: absolute;
	margin-left: 162px;
	top: 216px;
	left: 156px;
	text-align: center;
}
.gridReports{
	top: 190px;
}
.visibility-show {
	display: block;
}

.visibility-hide {
	display: none;
}