#middleContent{
    width: calc(100% - 270px);
    height: calc(100% - 60px);
    background: #fff;
    padding: 20px;
    box-sizing: border-box;
    position: absolute;
    left: 173px;
}

.page-taskName{
    float: left;
    width: 100%;
    margin-bottom: 10px;
}

.taskname{
    display: inline-block;
    /* background: #2f1c49; */
    background: #331d4e;
    font-size: 18px;
    color: #fff;
    font-family: 'LatoWebLight';
    padding: 2px 14px 1px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
#submittaskbtn{
    background: #ff7300;
    position: relative !important;
    left:-5px;
    color: #fff;
    border: 0;
    border-radius: 20px;
    padding: 2px 15px;
    font-size: 17px;
    font-family: 'LatoWebLight';
    outline: 0;
}

.fscrape{
    padding-top: 0%;
    padding-right: 10px;
    margin: 25px;
    overflow: auto;
    -moz-overflow-style: none;
}
.scraptree{
    float: left;
    width: 100%;
    padding-left: 35px;
}

.parentobjcontainer{
    display: inline-block;
    top: 125px;
    border-bottom: 1px solid #707070;
    padding-bottom: 5px;
    left: 228px;

}
.checkstylebox{
    width: 15px;
    height: 15px;
    outline: 0;
    margin-right: 10px;
    margin-bottom: 10px;
}

.parentobject{
    display: inline-block;
    width: auto;
    padding: 0px 0px 0 10px;
    vertical-align: text-bottom;
    font-size: 16px;
    font-family: LatoWeb;
    position: relative;
    top: 3px;
}

#savetaskbtn{
    position: relative;
    top: -3px;
    border-radius: 11px;
    margin-top: 0;   
    background: #633693;
    color: #fff;
    outline: 0;
    border-radius: 20px;
    padding: 0px 12px;
    font-size: 13px;
    font-family: "LatoWeb";
    margin-right: 7px;
    font-family: 'LatoWebLight';
}
.ascrapper{
    position: relative;
    color:#33363B;
}

.searchdcrapinput{
    padding: 3px;
    position: relative;
    bottom: 3px;
    border: 1px solid #633693;
    border-radius: 5px;
    width: 200px;
    
    height: 25px;
}

.special{
    display: none;
}