.rightnav{
    display: block;
    justify-content: space-evenly;;
    align-items: center;
    box-sizing: border-box;
    width: 90px;
    height:100%;
    background: #311d4e;
    color: #fff;
    word-wrap: break-word;
    padding: 50px 5px;
    margin-right: 1px;
    text-align: center;
    position:relative;
    float: right;
}

.rightnav-container span span img{
    margin-left: auto;
    margin-right: auto;
    padding: 10px 10px 10px 10px;
}

.rightnav-container span{
    margin: 0 0 10px;
}
.caption{
    color: #eee9ff;
    margin: 0 0 10px;
    font-size: 12px;
    font-family: "LatoWebLight";
}
