.rightnav{
    display: block;
    justify-content: space-evenly;;
    align-items: center;
    box-sizing: border-box;
    width: 90px;
    height:100%;
    background: #311d4e;
    color: #fff;
    word-wrap: break-word;
    padding: 50px 5px;
    margin-right: 1px;
    text-align: center;
    position:relative;
    float: right;
}

.rightnav-container span span img{
    margin-left: auto;
    margin-right: auto;
    padding: 10px 10px 10px 10px;
    cursor: pointer;
}

.rightnav-container span{
    margin: 0 0 10px;
}
.caption{
    color: #eee9ff;
    margin: 0 0 10px;
    font-size: 12px;
    font-family: "LatoWebLight";
    cursor: pointer;
}

.filter_pop{
    background-color: #311d4e;
    z-index: 100;
    display: flex;
    position: absolute;
    display: block;
    right: 110%;
    border-radius: 5px;
    width: 350px;
    
    .pop_header{
        cursor: pointer;
        border-bottom: 2px solid #604b83;
        padding: 8px 15px;
        margin: 0;
        font-size: 18px;
        font-family: "LatoWeb";
    }
    .popupContent{
        padding: 4% 9%;
        float: left;
        width: 100%;
        
    }
    img{
        width: 8px;
        height: 16px;
    }
}
.task_close_arrow{
    float: right;
}
.popupContent-filter div{
    float: left;
    width: 50%;
    font-size: 15px;

}
.popupContent-filter div span{
    display: inline-block;
    padding: 0px 20px 0 12px;
    cursor: pointer;
    margin-bottom: 15px;
    border-radius: 20px;
    background: #46316c;
    color: white;
    &:hover{
        background:#9D6AE0;
    }
}
#selectAllFilters{
    float: left;
    width: 100%;
    font-size: 12px;
    margin-bottom: 10px;
    margin-left: 0%;
}
#selecttext{
    margin-left: 5px;
}
.active_rb_thumb{
    background-color: #61349b;
    border-radius: 5px;
}
