p,a,img,text,span,.noselect{-webkit-touch-callout:none;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}
.fl-left{float:left!important}
.fl-right{float:right!important}
.bg-blank{background:transparent!important}
.no-disp{display:none!important}
.no-access{cursor:not-allowed!important}
.allow-disp{display:block!important}
#ct-main{position:absolute;padding:5px;left:6px;height:100%;width:calc(100% - 12px);box-sizing:border-box;/*z-index:-1!important*/}
#ct-main.leftBarOpen{left:166px;width:calc(100% - 172px)}
#ct-main.rightBarOpen{left:6px;width:calc(100% - 96px)}
#ct-main.leftBarOpen.rightBarOpen{left:166px;width:calc(100% - 256px)}
#ct-canvas{position:relative;height:100%;overflow:hidden;border:1px solid transparent; /*z-index: -99 !important;*/ width: 100%;display:none}
#ct-canvas2{position:relative;height:100%;overflow:hidden;border:1px solid transparent; /*z-index: -99 !important;*/ width: 100%;}
#ct-legendBox{position:absolute;z-index:100;height:28px;width:850px;top: calc(100% - 40px);left: 10px;}

.createFirstContainer{position:absolute;display:block;left:50%;top:50%;transform:translateX(50%) translateY(50%);-moz-transform:translateX(50%) translateY(50%);-webkit-transform:translateX(-50%) translateY(-50%);background-color:#e6e7e9;width:330px;height:200px;border-radius:16px;text-align:center}
.createOptionContainer{padding:28px 0;display:block;width:100%;height:100%}
.createOptionContainer div{border-right:1px solid #ccc;float:left;padding:28px 1px 10px;width:164px;height:100%;cursor:pointer}
.createOptionContainer div:last-child{border-right:none}
.createOptionContainer label{float:left;position:relative;width:100%;font-size:18px;font-weight:100}

/*For Side bars*/
.ct-side{height:100%;width:6px;color:#fff;background-color:#633690}
.ct-side .ct-expand{top:50%;width:6px;height:25px}
.ct-expand{position:absolute;cursor:pointer;overflow:hidden;background-color:rgba(255,255,255,.7)}
.ct-expand::after{position:absolute;content:'';top:7.5px;border:5px solid transparent}
#ct-lSide{left:0}
#ct-expand-left::after{left:1px;border-left-color:#333;border-right-color:transparent}
#ct-expand-left.ct-rev{position:relative;left:160px;z-index:9999}
#ct-expand-left.ct-rev::after{left:-5px;border-left-color:transparent;border-right-color:#333}
#ct-rSide{right:0; position: relative}
#ct-expand-right.ct-rev{position:relative;right:84px;z-index:9999}
#ct-expand-right.ct-expand::after{left:-5px;border-left-color:transparent;border-right-color:#333}
#ct-expand-right.ct-expand.ct-rev::after{left:1px;border-left-color:#333;border-right-color:transparent}
/*For Side bars*/

/* Neuron Canvas Starts */
.link-nG{width:5px;height:10px;background:#757575;display:none;opacity:0.2}
.node-nG-dimmed{opacity:0.25!important}
/*#ct-canvas{background:#fff!important;background:-moz-radial-gradient(center,ellipse cover,rgba(210,212,214,1) 0,rgba(255,255,255,1) 100%);background:-webkit-gradient(radial,center center,0,center center,100%,color-stop(0,rgba(210,212,214,1)),color-stop(100%,rgba(255,255,255,1)));background:-webkit-radial-gradient(center,ellipse cover,rgba(210,212,214,1) 0,rgba(255,255,255,1) 100%);background:-o-radial-gradient(center,ellipse cover,rgba(210,212,214,1) 0,rgba(255,255,255,1) 100%);background:-ms-radial-gradient(center,ellipse cover,rgba(210,212,214,1) 0,rgba(255,255,255,1) 100%);background:radial-gradient(ellipse at center,rgba(210,212,214,1) 0,rgba(255,255,255,1) 100%);margin:0;overflow:hidden}
/*#ct-canvas{background:#2b2d30;background:-moz-radial-gradient(center,ellipse cover,rgba(43,45,48,1) 0,rgba(0,0,0,1) 100%);background:-webkit-gradient(radial,center center,0,center center,100%,color-stop(0,rgba(43,45,48,1)),color-stop(100%,rgba(0,0,0,1)));background:-webkit-radial-gradient(center,ellipse cover,rgba(43,45,48,1) 0,rgba(0,0,0,1) 100%);background:-o-radial-gradient(center,ellipse cover,rgba(43,45,48,1) 0,rgba(0,0,0,1) 100%);background:-ms-radial-gradient(center,ellipse cover,rgba(43,45,48,1) 0,rgba(0,0,0,1) 100%);background:radial-gradient(ellipse at center,rgba(43,45,48,1) 0,rgba(0,0,0,1) 100%);margin:0;overflow:hidden}
*//* Neuron Canvas Ends */
#ct-canvas{background:#fff!important;overflow:hidden}
.sfhen,.highlightOpt{background: #331d4c!important; border-radius: 6px!important;}
.failed-tc{opacity: 1!important;}
#stats{margin-right: 100px; margin-bottom: 100px; width:auto;height:auto;}
.activenode{outline: 2px solid red;}

.node {stroke: #fff; stroke-width: 1.5px; }

.node-active{stroke: #555; stroke-width: 4px;}

.link {stroke: #000; stroke-opacity: 0.7;}

.link-active {stroke-opacity: 1;stroke-width: 8px!important;}

.overlay { fill: none; pointer-events: all;}

    /*#vid-container {
      width:100%;
      height:100%;
      width: 820px; 
      height: 461.25px; 
      float: none; 
      clear: both; 
      margin: 2px auto;
   }

    svg {
     border-radius:3px;
    }    
    .node {
        cursor: pointer;
    }

    .node circle {
      fill: #fff;
      stroke: #99ccff;;
      stroke-width: 3px;
    }

    .node text {
      font: 12px sans-serif;
    }

    .link {
      fill: none;
      stroke: #99ccff;
      stroke-width: 2px;
    }

.hyper {
    color: red;
    text-decoration: underline;
}

.hyper:hover {
    color:yellow;
    text-decoration: none;
}   
.selected {
  font-weight:bold;
}
.not-selected {
  font-weight:normtal;
}*/
	/*.node {
    cursor: pointer;
  }

  .overlay{
      background-color:#EEE;
  }
   
  .node circle {
    fill: #fff;
    stroke: steelblue;
    stroke-width: 1.5px;
  }
   
  .node text {
    font-size:10px; 
    font-family:sans-serif;
  }
   
  .link {
    fill: none;
    stroke: #ccc;
    stroke-width: 1.5px;
  }

  .templink {
    fill: none;
    stroke: red;
    stroke-width: 3px;
  }

  .ghostCircle.show{
      display:block;
  }

  .ghostCircle, .activeDrag .ghostCircle{
       display: none;
  }*/
  .taskTitle
{
    position: fixed;
    left: 160px;
    top: 150px;
    cursor: pointer;
      display: inline-block;
    /* background: #2f1c49; */
    background: #331d4e;
    font-size: 18px;
    color: #fff;
    font-family: 'LatoWebLight';
    padding: 2px 14px 1px;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
}

#left-top-section ul li a, #left-bottom-section ul li a{
    font-size: 18px!important;  
}

#actionImg2d{
  width: 65px;
  height: 40px;
}
.cursor-change{
  cursor: pointer;
}

.tooltiptext {
    visibility: hidden;
    width: auto;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    /* Position the tooltip */
    position: fixed;
    z-index: 1;
    top: 100px;
    left: 100px;
}

.NG-title{
    position: absolute;
    z-index: 1;
    top: 10px;
    left: 10px;
}