   /* ---------------------------------------------------
                 Right SIDEBAR STYLE
                 ----------------------------------------------------- */
                 .wrapper {
                    display: flex;
                    align-items: stretch;
                    }
                    #sidebarRight {
                    min-width: 90px;
                    max-width: 90px;
                    background: #311d4e;;
                    color: #fff;
                    transition: all 0.3s;
                    }
                    #sidebarRight.active {
                    /* min-width: 80px;
                    max-width: 80px; */
                    min-width: 5px;
                    max-width: 5px;
                    text-align: center;
                    }
                    #sidebarRight.active .sidebarRight-header h3,
                    #sidebarRight.active .CTAs {
                    display: none;
                    }
                    #sidebarRight.active .sidebar-header strong {
                    display: block;
                    }
                    #sidebarRight ul li a {
                    text-align: left;
                    }
                    #sidebarRight.active ul li a {
                    padding: 20px 10px;
                    text-align: center;
                    font-size: 0.85em;
                    }
                    #sidebarRight.active ul li a i {
                    margin-right: 0;
                    display: block;
                    font-size: 1.8em;
                    margin-bottom: 5px;
                    }
                    #sidebarRight.active ul ul a {
                    padding: 10px !important;
                    }
                    #sidebarRight.active .dropdown-toggle::after {
                    top: auto;
                    bottom: 10px;
                    right: 50%;
                    -webkit-transform: translateX(50%);
                    -ms-transform: translateX(50%);
                    transform: translateX(50%);
                    }
                    #sidebarRight .sidebar-header {
                    padding: 0px;
                    background: #633691;
                    }
                    #sidebarRight .sidebar-header strong {
                    display: none;
                    font-size: 1.8em;
                    }
                    #sidebarRight ul.components {
                    padding: 20px 0;
                    border-bottom: 1px solid #47748b;
                    }
                    #sidebarRight ul li a {
                    padding: 10px;
                    font-size: 1.1em;
                    display: block;
                    }
                    #sidebarRight ul li a:hover {
                    color: #7386D5;
                    background: #fff;
                    }
                    #sidebarRight ul li a i {
                    margin-right: 10px;
                    }
                    #sidebarRight ul li.active>a,
                    a[aria-expanded="true"] {
                    color: #fff;
                    background: #633691;
                    }
                    a[data-toggle="collapse"] {
                    position: relative;
                    }
                    .dropdown-toggle::after {
                    display: block;
                    position: absolute;
                    top: 50%;
                    right: 20px;
                    transform: translateY(-50%);
                    }
                    ul ul a {
                    font-size: 0.9em !important;
                    padding-left: 30px !important;
                    background: #633691;
                    }
                    ul.CTAs {
                    padding: 20px;
                    }
                    ul.CTAs a {
                    text-align: center;
                    font-size: 0.9em !important;
                    display: block;
                    border-radius: 5px;
                    margin-bottom: 5px;
                    }
                    a.download {
                    background: #fff;
                    color: #7386D5;
                    }
                    a.article,
                    a.article:hover {
                    background: #633691;
                    color: #fff !important;
                    }
                    /************** Right Bar arrow Css ***************/
                    .ct-side-right
                    {
                    width:0px !important;
                    }
                    .toggleRightBarArrow
                    {
                    left: -90px !important;
                    }
                    /************** Right Bar arrow Css ***************/
                    /* ---------------------------------------------------
                    MEDIAQUERIES for RightSideBar
                    ----------------------------------------------------- */
                    @media (max-width: 768px) {
                    #sidebarRight {
                    /* min-width: 80px !important; */
                    max-width: 80px !important;
                    text-align: center;
                    margin-left: -80px !important;
                    }
                    .dropdown-toggle::after {
                    top: auto;
                    bottom: 10px;
                    right: 50%;
                    -webkit-transform: translateX(50%);
                    -ms-transform: translateX(50%);
                    transform: translateX(50%);
                    }
                    #sidebarRight.active {
                    margin-left: 0 !important;
                    }
                    #sidebarRight .sidebar-header h3,
                    #sidebarRight .CTAs {
                    display: none;
                    }
                    #sidebarRight .sidebar-header strong {
                    display: block;
                    }
                    #sidebarRight ul li a {
                    padding: 20px 10px;
                    }
                    #sidebarRight ul li a span {
                    font-size: 0.85em;
                    }
                    #sidebarRight ul li a i {
                    margin-right: 0;
                    display: block;
                    }
                    #sidebarRight ul ul a {
                    padding: 10px !important;
                    }
                    #sidebarRight ul li a i {
                    font-size: 1.3em;
                    }
                    #sidebarRight {
                    margin-left: 0;
                    }
                    #sidebarCollapse span {
                    display: none;
                    }
                    }