<html>

<body>
	<table style="background-color: #F5F5F5">
		<tbody>
			<tr>
				<td>
					<p style="font-size:small;margin:0">
						You are receiving this notification because you are one of the user in Avo Assure's notification list.
						If you would like to receive fewer emails adjust your notification settings
					</p>
				</td>
			</tr>
		</tbody>
	</table>
</body>

</html>