<html>

<body>
	<table width="100%" style="background-color: #F5F5F5">
		<tbody>
			<td>
				<img src="{{companyLogo}}" height="35" alt="Avo Automation">
			</td>
			<td style="text-align:right">
				<img src="{{productLogo}}" height="35" alt="Avo Assure">
			</td>
		</tbody>
	</table>
</body>

</html>