.avo_dropdown {
    .required_icon {
        padding: 0.3rem;
    }
    .validation_container {
        height: 1rem;
        .txt_valid {
            visibility: hidden;
        }
        .txt_invalid {
            visibility: visible;
            color: #D1272C;
        }
    }
    .dropdown_week {
        margin: 0 0.5rem;
        width: 7rem;
        .p-dropdown-trigger {
            width: 2rem;
        }
    }
    .dropdown_day {
        margin: 0 0.5rem;
        width: 8rem;
        .p-dropdown-trigger {
            width: 2rem;
        }
    }
}