@import "../pages/global/styles/ColorVariables.scss";
.avo_input {
    width: 100%;
    .input_container {
        .input_subcontainer {
            width: 100%;
            .p-inputtext {
                width: 100%;
            }
        }
        width: 100%;
        
        .validation_container {
            height: 1rem;
            .txt_valid {
                visibility: hidden;
                font: $f8_regular;
            }
            .txt_invalid {
                visibility: visible;
                color: #D1272C;
                font: $f8_regular;
            }
        }
    }
    .input_container.inputColumn {
        margin: 1.25rem 0 0.5rem 0;
        display: flex;
        flex-direction: column;
        .p-inputtext {
            padding: 0.4rem 0.4rem;
            margin-top: 10px;
        }
    }
    .input_container.inputRow {
        margin: 1.2rem 0 0.2rem 0;
        display: flex;
        align-items: center;
        flex-direction: row;
        .p-inputtext {
            padding: 0.4rem 0.4rem;
            width: 100%;
            font:$f7_semibold;
        }
    }
    .input_container.inputRow_for_E2E_popUp {
        margin: 0.7rem 0 1rem 0;
        display: flex;
        align-items: center;
        flex-direction: row;
        .icons_container{
              width: 5rem;
        }
        .p-inputtext {
            width: 17rem;
            padding: 0.4rem 0.4rem;
        }
    }
    .p-inputtext {
        padding: 0.4rem 0.4rem;
        font: $f6_regular;
    }

    .p-input-icon-left {
        .p-inputtext {
            padding-left: 2.2rem;
        }
    }
    .icons_container {
        display: flex;
        margin-top: -1rem;
        width: 18rem;
        font:$f7_semibold ;
    }
    .configinfo_icon {
        padding: 0 0 0 0.3rem;
    }
    .required_icon {
        padding: 0.3rem;
    }
}