
            	<!--Left Panel-->
            	<div id="left-nav-section">
            		<div class="scrollbar-macosx">
            			<div id="left-top-section" style="border-bottom:0">
            				<ul>
            					<li><span><a class='scrapeOnTxt'>Reports</a></span></li>
            				</ul>
            			</div>
            		</div>
            	</div>
            	<!--Left Panel-->
            
            	<!--Middle Panel-->
            	<div id="middle-content-section" class="middle-content-section-reports">
            		<!--Task Name-->
            		<div id="page-taskName">
            			<span>Reports</span>
            		</div>
            		<!--Task Name-->
            		
            		<!-- Test suites -->
            		<div class="upper-section-testsuites staticTestsuiteContainer">
            			<span class="suitedropdownicon"><img alt="Collapse Icon" class="iconSpace" src='{#image ic-collapse}'></span>
            		</div>
            		<div class="upper-section-testsuites dynamicTestsuiteContainer upper-collapsible-section scrollbar-inner scrollbar-inner-rep">
            		</div>
            		<!-- Middle Section -->
            		<div class="middle-section-testsuites">
            			<div class="left-section-testsuites">
            				<table id="testSuitesTimeTable" class="suitestartend" cellspacing="0" cellpadding="0">
            					<thead><tr>
            						<th style="width: 50%; border-right: 1px solid #fff">Start Date & Time <i id="dateASC" class="fa fa-sort-asc sortPointer" title="Descending Order" aria-hidden="true" style="padding-left: 5px; display:none; cursor: pointer; z-index: 1000;"></i><i id="dateDESC" class="fa fa-sort-desc sortPointer" title="Ascending Order" aria-hidden="true" style="position: relative; right: 8px; padding-left: 15px; display:none; cursor: pointer; z-index: 1000;"></i></th>
            						<th style="width: 50%;">End Date & Time</th></tr>
            					</thead>
            					<tbody class="scrollbar-inner scrollbar-inner-scenariostatus suitestartendtbody"></tbody>
            				</table>
            			</div>
            			<div class="right-section-charts">
            				<div class="reportStatus">				
            					<div class="reportStatusBlk">
            						<span class="progresslabel">Pass</span>
            						<div class="progress customprogress">
            							<span class="progress-bar progress-bar-success" role="progressbar"></span>
            						</div>
            						<span class="progresspercentage passPercent"></span>
            					</div>
            					
            					<div class="reportStatusBlk">
            						<span class="progresslabel">Fail</span>
            						<div class="progress customprogress">
            							<span class="progress-bar progress-bar-danger" role="progressbar"></span>
            						</div>
            						<span class="progresspercentage failPercent"></span>
            					</div>
            					
            					<div class="reportStatusBlk">
            						<span class="progresslabel">Terminated</span>
            						<div class="progress customprogress">
            							<span class="progress-bar progress-bar-warning" role="progressbar"></span>
            						</div>
            						<span class="progresspercentage terminatePercent"></span>
            					</div>
            					
            					<div class="reportStatusBlk">
            						<span class="progresslabel">Incomplete</span>
            						<div class="progress customprogress">
            							<span class="progress-bar progress-bar-info progress-bar-norun" role="progressbar"></span>
            						</div>
            						<span class="progresspercentage incompletePercent"></span>
            					</div>
            				</div>				
            			</div>
            		</div>
            		<!-- Middle Section -->
            		
            		<!-- Bottom Section -->
            		<div class="bottom-section-testsuites">
            				<table id="scenarioReportsTable" class="scenarioReports" cellspacing="0" cellpadding="0">
            					<thead>
            						<tr>
            							<th style="width: 30%; border-right: 1px solid #fff;">Scenario Name</th>
            							<th style="width: 20%; border-right: 1px solid #fff;">End Date & Time</th>
            							<th style="width: 20%; border-right: 1px solid #fff">Browser</th>
            							<th style="width: 15%; border-right: 1px solid #fff;">Status</th>
            							<th style="width: 15%;">Format</th>
            						</tr>
            					</thead>
            					<tbody class="scrollbar-inner scrollbar-inner-scenarioreports scenarioReportstbody"></tbody>
            				</table>
            		</div>
            		<!-- Bottom Section -->
            		<!-- Test suites -->
            	</div>
            	<!--Middle Panel-->
            
            	<!--Right Panel-->
            	<div id="right-dependencies-section">		
            		<!--Images Blocks-->  		
            		<div class="thumbnail thumbnail-custom">
                    	<a class="slidePopup"  title="Info">
                      		<img class="thumb-ic" src='{#image ic-info}' alt="Project Info">
                      		<div class="caption">
                        		<p>Info</p>
                      		</div>
                    	</a>
                  	</div>
            		<!--Images Blocks-->
            		
            		<!--Images Blocks-->
            		<div class="thumbnail thumbnail-custom thumbnail-custom-wiki">
                    	<a class="slide_popup slide_assist" href="#"  title="Assist">
                      		<img class="thumb-ic" src="imgs/ic-assist.png" alt="Assist">
                      		<div class="caption">
                        		<p>Assist</p>
                      		</div>
                    	</a>
                    	<!--Popup-->
            			<div id="assistWindow" class="assistWrap">
            				<h4 class="h4-custom h4-custom-assist">
            					<span class="assist-left pull-left"> <img
            						src="imgs/ic-message.png" />Assist
            					</span> <span class="assist-right pull-right"> <img
            						src="imgs/ic-up.png" class="animateAssistUp" style="margin-right: 10px" /> <img
            						src="imgs/ic-close.png" class="animateAssistClose" />
            					</span>
            				</h4>
            				<div class="assistContent">
            					<!-- Chat Container -->
            					<div class="chatContainer scrollbar-inner scrollbar-chatArea chatArea">
            						<ul class="chatList">
            							<li>Choose from the available browser icons from the action bar</li>
            							<li>Enter the URL of the AUT (Application under test)</li>
            							<li>Click on one of the options available in the Scrape Options
            								window</li>
            							<li>Identify the required objects</li>
            							<li>Rename the objects as per the naming convention</li>
            							<li>Click on the save button in the work area</li>
            							<li>Click on submit to complete task.</li>
            						</ul>
            					</div>
            			
            					<div class="chatContainer">
            						<textarea rows="3" cols="" class="chatTextArea form-control"
            							placeholder="Ask Prof.J"></textarea>
            						<button class="btn btn-md pull-right">Send</button>
            					</div>
            					<!-- Chat Container -->
            				</div>
            			</div>
            			<!--Popup-->
                  	</div>
            		<!--Images Blocks-->
            	</div>
            	<!--Right Panel-->