
            	<!--Left Panel-->
            	<div id="left-nav-section">
            		<div class="scrollbar-macosx">
            			<div id="left-top-section" style="border-bottom:0">
            				<ul>
            					<li><span><a class='scrapeOnTxt'>Reports</a></span></li>
            				</ul>
            			</div>
            		</div>
            	</div>
            	<!--Left Panel-->
            
            	<!--Middle Panel-->
            	<div id="middle-content-section">
            		<!--Task Name-->
            		<div id="page-taskName">
            			<span>Reports</span>
            		</div>
            		<!--Task Name-->
            		
            		<!-- Test suites -->
            		<div class="upper-section-testsuites staticTestsuiteContainer">
            			<span class="suitedropdownicon"><img alt="Collapse Icon" class="iconSpace" src='{#image ic-collapse}'></span>
            		</div>
            		<div class="upper-section-testsuites dynamicTestsuiteContainer upper-collapsible-section scrollbar-inner scrollbar-inner-rep">
            		</div>
            		<!-- Middle Section -->
            		<div class="middle-section-testsuites">
            			<div class="left-section-testsuites">
            				<table id="testSuitesTimeTable" class="suitestartend" cellspacing="0" cellpadding="0">
            					<thead><tr>
            						<th style="width: 50%; border-right: 1px solid #fff">Start Date & Time</th>
            						<th style="width: 50%;">End Date & Time</th></tr>
            					</thead>
            					<tbody class="scrollbar-inner scrollbar-inner-scenariostatus"></tbody>
            				</table>
            			</div>
            			<div class="right-section-charts">
            				<div class="reportStatus">				
            					<div class="reportStatusBlk">
            						<span class="progresslabel">Pass</span>
            						<div class="progress customprogress">
            							<span class="progress-bar progress-bar-success" role="progressbar"></span>
            						</div>
            						<span class="progresspercentage passPercent"></span>
            					</div>
            					
            					<div class="reportStatusBlk">
            						<span class="progresslabel">Fail</span>
            						<div class="progress customprogress">
            							<span class="progress-bar progress-bar-danger" role="progressbar"></span>
            						</div>
            						<span class="progresspercentage failPercent"></span>
            					</div>
            					
            					<div class="reportStatusBlk">
            						<span class="progresslabel">Terminated</span>
            						<div class="progress customprogress">
            							<span class="progress-bar progress-bar-warning" role="progressbar"></span>
            						</div>
            						<span class="progresspercentage terminatePercent"></span>
            					</div>
            					
            					<div class="reportStatusBlk">
            						<span class="progresslabel">Incomplete</span>
            						<div class="progress customprogress">
            							<span class="progress-bar progress-bar-info progress-bar-norun" role="progressbar"></span>
            						</div>
            						<span class="progresspercentage incompletePercent"></span>
            					</div>
            				</div>				
            			</div>
            		</div>
            		<!-- Middle Section -->
            		
            		<!-- Bottom Section -->
            		<div class="bottom-section-testsuites">
            				<table id="scenarioReportsTable" class="scenarioReports" cellspacing="0" cellpadding="0">
            					<thead>
            						<tr>
            							<th style="width: 30%; border-right: 1px solid #fff;">Scenario Name</th>
            							<th style="width: 20%; border-right: 1px solid #fff;">End Date & Time</th>
            							<th style="width: 20%; border-right: 1px solid #fff">Browser</th>
            							<th style="width: 15%; border-right: 1px solid #fff;">Status</th>
            							<th style="width: 15%;">Format</th>
            						</tr>
            					</thead>
            					<tbody class="scrollbar-inner scrollbar-inner-scenarioreports"></tbody>
            				</table>
            		</div>
            		<!-- Bottom Section -->
            		<!-- Test suites -->
            	</div>
            	<!--Middle Panel-->
            
            	<!--Right Panel-->
            	<div id="right-dependencies-section">		
            		<!--Images Blocks-->  		
            		<div class="thumbnail thumbnail-custom">
                    	<a class="slidePopup">
                      		<img class="thumb-ic" src='{#image ic-info}' alt="Project Info">
                      		<div class="caption">
                        		<p>Info</p>
                      		</div>
                    	</a>
                  	</div>
            		<!--Images Blocks-->
            	</div>
            	<!--Right Panel-->