@import "../../global/styles/ColorVariables.scss";

// .ss__body, .s__body, .d__body, .e__body {
//   .action__bar {
//     background: #fff;
//     border-right: 1px solid #0000001a;
//     margin: -23px 0px 7px -37px;
//   }

//   .action__wrapper {
//     color: #000000;
//   }

//   .caret__action_bar {
//     color: black;
//   }

//   .ab__upper_contents {
//     border-bottom: 1px solid #ccc;
//   }

//   .action__contents {
//     font-family: Mulish;
//   }
// }
 
// .action__bar{
//     // width: 166px;
//     background: $primaryColor;
//     position: absolute;
//     display: flex;
//     flex-direction: column;
//     // align-items: flex-end;
//     top: 0;
//     bottom: 0;
//     left: 0;
// }

// .action__content{
//     width: 166px;
//     min-height: 0;
// }

// .scrollable_action_container{
//     display: flex;
//     flex-direction: column;
//     flex: 1;
//     height: 100%;
// }

.action__contents{
    overflow: auto;
    font-family: $avoSecondaryFont;
    font-size: 12px;
    margin: 27px 13px 13px 17px;
}

// .action__wrapper{
//     position: relative;
//     display: flex;
//     height: 100%;
//     // width: 6px;
//     color: $whiteColor;
//     left: 0;
//     float: left;
//     flex: 0 0 6px;
// }
// .action__wrapper__expand{
//     flex: 0 0 149px;
// }

// .caret__action_bar{
//     position: absolute;
//     display: flex!important;
//     align-items: center;
//     color: $primaryText;
//     // width: 600px;
//     height: 25px;
//     top: 50%;
//     right: 0;
//     z-index: 1;
//     cursor: pointer;
//     background-color: rgba(255, 255, 255, 0.7);
// }

// .caret_action_collapsed{
//     position: relative;

// }

// .ab__upper_contents{
//     border-bottom: 2px solid $blueViolet;
// }

// .ab__contents{
//     // min-height: 40vh;
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     flex: 1;
// }

// .ab__bottom_contents{
//     font-size: 16px;
//     .thumbnail__title{
//         font-size: 12px;
//         font-weight: 600;
//         font-family: Mulish;
//     }
//     .thumbnail{
//         margin: 12% 0 13%;
//         &:last-child{
//             margin: 0;
//         }
//     }
// }

// // @media screen and (min-width: 1400px) and (min-height: 770px){
// //     .action__content{
// //         width: 21.6vh;
// //     }
// //     .action__contents{
// //         font-size: 1.56vh;
// //         margin-top: 3.9vh;
// //     }
    
// //     .action__wrapper{
// //         flex: 0 0 0.78vh;
// //     }
// //     .action__wrapper__expand{
// //         flex: 0 0 21.6vh;
// //     }
    
// //     .caret__action_bar{
// //         width: 0.78vh;
// //         height: 3.2vh;
// //         top: 50%;
// //     }
// //     .ab__upper_contents{
// //         border-bottom: 0.26vh solid $blueViolet;
// //     }
// //     .ab__bottom_contents{
// //         font-size: 2.08vh;
// //         .thumbnail__title{
// //             font-size: 2.08vh;
// //         }
// //     }
// // }