@import "../../global/styles/ColorVariables.scss";
#executionType, #chooseICEPool{
    max-width: 200px;
    height: 35px;
}
.e__IceStatus{
    padding-top: 7px;
    width: 100%;
    left: 171px;
    max-height: 123px;
    background: $whiteColor;
}
.status-available{
    background-color: $pistachio;
}
.status-unavailable{
    background-color:$yellowColor;
}
.status-dnd{
    background-color:$red
}
.popup-content{
    padding: 0px 40px !important;
}
.popup-wrap{
    height: 250px;
    padding: 40px 15px;
}
.popup-li{
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    #status {
        margin: 2px 5px;
    }
}
#status {
    height: 7px;
    width: 7px;
    margin: 6px 5px;
    border-radius: 50%;
    display: inline-block;
}
.popup-content .leftControl{
    font-size: inherit
}
.popup-btn-users {
    background: none;
    border: 1px solid !important;
    height: 30px;
}
.dropdown-menu-execute{
    width: 335px;
    left: 171px;
    max-height: 123px;
    background: $whiteColor;
}
.allocate-ice-Modal{
    .modal-content{
        width: 600px
    }
    .modal-body{
        // height: 250px;
        padding: 40px 15px;
    }
}
.popup-content-status{
    margin-bottom: 0 !important
}
.adminControl-ice {
    margin-bottom: 3%;
    padding: 0px 0px;
    position: relative;
    float: left;
    width: 100%;
}
.adminControl-ice div span {
    display: inline-block;
    font-size: small;
    width: 28%;
    font-weight: 700;
    margin-top: 5px;
}
.adminControl-ice div select {
    width: calc(100% - 130px);
}
.adminControl-ice div input {
    width: 70%;
}