.apw_presence{
    position:relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.ad_motiondiv{
    position:relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    // padding: 0 20px;
    padding: 0 0px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    height: 100%;
}