@import "../../global/styles/ColorVariables.scss";
.date-container{
    position: relative;
    .fc-datePicker {
        width: 100%;
        background-color: $whiteColor;
        border-width: 1px;
        font-size: 14px;
        border-color: $lightGray;
        border-radius: 4px;
        padding-top: 4px;
        padding-left: 7px;
    }
    .datepickerIconToken{
        top: 1px;
        position: absolute;
        right: 1px;
        background: $primaryColor;
        padding: 4px;
        border-radius: 0px 4px 4px 0px;
        -moz-border-radius: 0px 4px 4px 0px;
        -webkit-border-radius: 0px 4px 4px 0px;
        cursor: pointer;
    }
    input {
        margin-top: 1px;
        height: 26px;
        width: 100%;
        outline: none;
    }
    input :focus{
        outline: none;
    }
    img.disabled{
        opacity: 0.7;
    }
    .inputError{
        border: 2px solid $redError !important;
    }
}
.admin_calender{
    position: relative;
    float: left;
    width: calc(50% - 70px);
    font-weight: normal;
    margin-right: 10px;
}
.schedule_calender{
    position: relative;
    float: right;
    margin-right: 10px;
    font-size: 14px;
    margin-top: 2px;
    width: 183px;
    font-family: $avoFont;
}