@import "../../global/styles/ColorVariables.scss";
.pass_inputs_container{
    display: flex;
    flex-direction: column;
    font-family: $avoFont ;
    margin-top: 7px;
}

.reset_pass_inputs{
    border: none;
    outline: none;
    box-shadow: none;
    font-size: 18px;
    border-bottom: 1px solid $borderTwo;
    margin-bottom: 35px;
}

.submit_reset{
    margin-left: 5px;
}

.error_reset_field{
    border-bottom-color: $redError;
}

.pass_valid_err{
    color: $redError;
    font-family: $avoPrimaryFont;
    font-size: 14px;
}

.hide_pass_valid{
    visibility: hidden;
}