.modal{
    position: fixed;
    display: flex;
    flex-direction: column;
    z-index: 1050;
    padding: 0;
    top: 50%;
    // bottom: 50%;
    left: 50%;
    // right: 50%;
    -webkit-transform: translate(-50%, -50%)!important;
    transform: translate(-50%, -50%)!important;
}

.modal-dialog{
    font-family: "LatoWeb";
    background-color: white;
    width: 300px;
    padding: 10px;
    border-radius: 6px;
}

// .modal-header{
//     display: flex;
//     flex-direction: row;
//     padding: 8px;
// }

.modal-header{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color: #311d4e;
    color: #fff;
    border-radius: 6px;
    font-weight: 500;
    padding: 8px;
    font-size: 17px;
    word-break: break-all;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 1.42857143;
}


.close{
    position: absolute;
    right: 8px;
    top: 1px;
    font-family: "LatoWebThin";
    font-size: 34px;
    color: white;
    font-weight: 500;
    background: transparent;
    border: none;
    outline: none;
    padding: 0;
    margin: 0;
}


.modal-backdrop{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1040;
    opacity: 0.8;
    color: black;
    background-color: black;
}