@import "../../global/styles/ColorVariables.scss";
.defIce_inputs_container{
    display: flex;
    flex-direction: inherit;
    font-family: $avoFont ;
    margin-top: 7px;
}
#chooseDefICE{
    height: 27px;
    width: calc(100% - 130px);
}
.defIce-span{
    display: inline-block;
    width: 130px;
    font-weight: 700;
    margin-top: 5px;
    float: left;
}
