.changePassword_dialog {
    .input_label{
        color: #030229;
        font-size: medium;
        font-weight: 500;
        margin-bottom: 1rem;
    }
    .p-dialog-header{
        color: #030229;
        background-color: #F0EFFF !important;
    }
    .p-dialog-footer{
        background: #FAFAFA !important;
        padding: 1rem !important;
    }
    .input_field{
        &:enabled:focus {
            border-color:none !important;
            box-shadow: none !important;
        }
        &_success{
            &:enabled:focus {
                border-color:#36d636 !important;
                box-shadow: none !important;
            }
        }
        
    }
    .password_check_messages {
        margin-bottom: 2rem;
        font-style: Inter;
        font-size: small;
        color: #616161;

        .pi {
            transition: opacity 0.4s, transform 0.4s;
            transform: scale(0.6);
            opacity: 1;
        }
    }
}