$backgroundFive:#e8e6fe;
$backgroundFour:#f9f9f9;
$backgroundLogin:#ca99ff;
$backgroundOne: #e0e0e0;
$backgroundThree:#997cb8;
$backgroundTwo: #929397;
$backgroundYellowFour:#fbed50;
$backgroundYellowOne:#fdf59a;
$backgroundYellowThree:#fde19a;
$backgroundYellowTwo:#fdd49a;
$black: #000;
$blueColor:#5c5ce5;
$blueViolet: #461F6E;
$borderFive:#999;
$borderFour: #ddd;
$borderGray: #5e636b;
$borderOne: #656565;
$borderThree: #e6e7e9;
$borderTwo: #ccc;
$btest:#55348a;
$custObj:#bb9cda;
$cyanColor:#19baae;
$darkestGray:#212529;
$darkGray: #333;
$glossyGrape:#A08AB7;
$grayColor: gray;
$gunMetal:#343a40;
$hovorIcon:#523176;
$iceColor:#cae0f3;
$lavenderBlue: #e3caff ;
$lavenderFlower:#a784d4;
$lightGray:#ced4da;
$medLightGray: #aaa;
$pass:#28a745;
$pinkLight: #f0e1ff ;
$pistachio:#95C353;
$pluginGray:#888;
$primaryColor: #643693;
$primaryColorDark: #321e4f;
$primaryColorDarkest:#331d4c;
$primaryColorLight: #764ba2;
$primaryColorLightest: #b875da;
$primaryColorLogin: #9f62e1;
$primaryColorRich: #983fd3;
$PrimaryShadow:#8469a0;
$primaryText: #555;
$red:red;
$redError: #D81B1F;
$selectedAlm:#c8c8e6;
$submitBtn:#ff7300;
$summerSky: #4299e2;
$tableHeader: #5e626b;
$tableHeaderSelected: #5f5e5c;
$unsavedScrapeObj:#7508ea;
$whisper: #eee;
$whiteColor: #ffffff;
$yellowColor:#efa022;