$primaryColor: #643693;
$primaryColorLight: #764ba2;
$primaryColorDark: #321e4f;
$primaryColorRich: #983fd3;
$primaryColorLightest: #b875da;
$primaryColorLogin: #9f62e1;
$backgroundOne: #e0e0e0;
$backgroundTwo: #929397;
$backgroundFour:#f9f9f9;
$backgroundLogin:#ca99ff;
$backgroundThree:#997cb8;
$backgroundFive:#e8e6fe;
$backgroundYellowOne:#fdf59a;
$backgroundYellowTwo:#fdd49a;
$backgroundYellowThree:#fde19a;
$backgroundYellowFour:#fbed50;
$borderOne: #656565;
$borderTwo: #ccc;
$borderGray: #5e636b;
$borderThree: #e6e7e9;
$borderFour: #ddd;
$borderFive:#999;
$pinkLight: #f0e1ff ;
$lavenderBlue: #e3caff ;
$primaryText: #555;
$whisper: #eee;
$primaryColorDarkest:#331d4c;
$hovorIcon:#523176;
$whiteColor: #ffffff;
$redError: #D81B1F;
$darkGray: #333;
$tableHeader: #5e626b;
$black: #000;
$red:red;
$summerSky: #4299e2;
$medLightGray: #aaa;
$iceColor:#cae0f3;
$yellowColor:#efa022;
$blueColor:#5c5ce5;
$cyanColor:#19baae;
$pluginGray:#888;
$darkestGray:#212529;
$btest:#55348a;
$tableHeaderSelected: #5f5e5c;
$unsavedScrapeObj:#7508ea;
$custObj:#bb9cda;
$submitBtn:#ff7300;
$grayColor: gray;
$PrimaryShadow:#8469a0;
$pistachio:#95C353;
$lightGray:#ced4da;
$blueViolet: #461F6E;
$selectedAlm:#c8c8e6;
$pass:#28a745;
$glossyGrape:#A08AB7;
$gunMetal:#343a40;
$lavenderFlower:#a784d4;

/* AVO ASSURE FONT FAMILY */

$avoFont: "LatoWeb";
$avoPrimaryFont: "LatoWebMedium";
$avoSecondaryFont: "LatoWebLight";
$avoBoldFont: "LatoWebBold";
$avoThinFont: "LatoWebThin";
$avoBlackFont: "LatoWebBlack";
$avoFontOther: "sans-serif";