@import "../../global/styles/ColorVariables.scss"; 
.login-footer{
    display: flex;
    justify-content: flex-end;
    color: $primaryColor;
    font-family: $avoFont ;
    z-index: 0;
    padding: 0 30px 10px 0;
}

.footer-content{
    width: fit-content;
    display: flex;
    flex-direction: column;
}

.upper-text{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
    font-size: 14px;
}

.lower-text{
    font-size: 12px;
    text-align: right;
}

.footer-logo_one{
    margin-left: 7px;
    height: 18px;
}