.main-header {
    display: flex;
    flex-direction: row;
    padding: 10px 0 10px 30px;
    color: #333;
    align-items: center;
}

.header-logo{
    height: 42px;
    cursor: pointer;
}

.header-logo-span{
    flex-grow: 1;
}

.no-border{
    border: none;
    outline: none;
    background-color: transparent;
    padding: 0 24px;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.42857143;
    margin: 0;
    cursor: pointer;
}

.user-name-icon{
    height: 23px;
    width: 22px;
    margin-left: 10px;
}

.user-name-btn{
    padding-right: 12px;
    border-left: 1px solid gray;
}


.user-name-menu{
    .divider{
        background-color: #eee;
        width: 100%;
        margin: 9px 0;
        height: 1px;
    }
    .user-role-item{
        pointer-events: none!important;
        &:hover{
                background-color: transparent;
                pointer-events: none!important;
        }
    }
}


.user-options{
    display: flex;
    flex-direction: row;
}

.user-name-btn, .switch-role-btn {
    display: flex;
    flex-direction: row;
    font-family: "LatoWeb";
    color: #333;
    justify-content: space-between;
    align-items: center;
}

.switch-role-icon{
    height: 23px;
    width: 28px;
    margin-right: 10px;
}

.bell-ic{
    color: #764ba2;
    font-size: 20px!important;
    margin-top: 3px!important;
    &:focus{
        outline: none!important;
    }
}

.switch-role-menu{
    left: 20%!important;
}

.switch-role-menu, .user-name-menu{
    z-index: 100;
    margin-right: 20px!important;
    margin-top: 10px!important;
    min-width: 160px;
    font-family: "LatoWeb";
    border: 1px solid rgba(0, 0, 0, 0.15);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    background-color: #FFF;
    padding: 5px 0;
    border-radius: 4px;
    div{
        font-size: 14px;
        width: 100%;
        display: flex;
        margin: 0;
        padding: 0;
    }
    a{
        width: 100%;
        text-decoration: none!important;
        color: #333;   
        outline: none;
        font-weight: 400;
        line-height: 1.42857143;
        border: none;
        padding: 3px 20px!important;
        white-space: nowrap;
        &:hover{
            color: #333!important;
            background-color: #eee;
        }
    }
}

@media screen and (max-width: 800px){
    .main-header {
        padding: 2vw 0 2vw 2.5vw;
    }
    
    .header-logo{
        height: 3.3vw;
    }
    
    .no-border{
        padding: 0 2.8vw;
        font-size: 2.3vw;
    }
    
    .user-name-icon{
        height: 2.8vw;
        width: 2.8vw;
        margin-left: 1.5vw;
    }
    
    .user-name-btn{
        padding-right: 2vw;
        border-left: .1vw solid gray;
    }
    
    .switch-role-icon{
        height: 2.8vw;
        width: 2.8vw;
        margin-right: 1.8vw;
    }
    
    .bell-ic{
        font-size: 2.7vw;
    }

}

@media screen and (min-width: 1367px){
    .main-header {
        padding: .9vw 0 .9vw 1.5vw;
        color: rgb(151, 151, 151);
    }
    
    .header-logo{
        height: 2.5vw;
    }
    
    .no-border{
        padding: 0 2vw;
        font-size: 1.3vw;
    }
    
    .user-name-icon{
        height: 1.8vw;
        width: 1.8vw;
        margin-left: .8vw;
    }
    
    .user-name-btn{
        padding-right: 1vw;
        border-left: .1vw solid gray;
    }
    
    .switch-role-menu, .user-name-menu{
        z-index: 100;
        font-family: "LatoWeb";
        font-size: 1.2vw;
        color: #333;
        position: absolute;
        margin-right: 1.3vw!important;
        margin-top: 1vw!important;
        div{
            width: 100%;
            display: flex;
            font-size: 1.2vw;
            margin: 0;
            padding: 0;
        }
        a{
            width: 100%;
            text-decoration: none!important;
            outline: none;
            border: none;
            padding: .1vw 1.2vw!important;
            &:hover{
                color: #333!important;
                background-color: #eee;
            }
        }
        
        .divider{
            background-color: #eee;
            width: 100%;
            margin: .8vw 0;
            height: .1vw;
        }
        .user-role-item{
            pointer-events: none!important;
            &:hover{
                    background-color: transparent;
                    pointer-events: none!important;
            }
        }
    }

    .switch-role-menu{
        left: 20%!important;
        
    }

    .switch-role-icon{
        height: 1.8vw;
        width: 1.8vw;
        margin-right: .9vw;
    }
    
    .bell-ic{
        font-size: 1.6vw!important;
        margin-top: 0.2vw;
    }
    
}

