@import "../../global/styles/ColorVariables.scss";
.main-header {
    display: flex;
    flex-direction: row;
    padding: 10px 0 10px 30px;
    color: $darkGray;
    align-items: center;
}

.header-logo{
    height: 42px;
    cursor: pointer;
}

@media screen and (min-width: 1800px), screen and (min-height: 850px){
    .header-logo{
        height: 50px;
    }
}


.header-logo-span{
    flex-grow: 1;
}

.no-border{
    border: none;
    outline: none;
    background-color: transparent;
    padding: 0 24px;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.42857143;
    margin: 0;
    cursor: pointer;
}

.user-name-icon{
    height: 23px;
    width: 22px;
    margin-left: 10px;
}

.user-name-btn{
    padding-right: 12px;
    .user-name{
        text-transform: capitalize;
        margin: 0 15px;
    }
    .help{
        text-transform: capitalize;
        margin: 0 15px;
        color: $primaryColorLight;
    }
}

.user-name-menu{
    .divider{
        background-color: $whisper;
        width: 100%;
        margin: 9px 0;
        height: 1px;
    }
    .user-role-item{
        pointer-events: none!important;
        &:hover{
                background-color: transparent;
                pointer-events: none!important;
        }
    }
}


.user-options{
    display: flex;
    flex-direction: row;
}

.logo-disable{
    cursor: default;
}

.user-name-btn, .switch-role-btn {
    display: flex;
    flex-direction: row;
    font-family: $avoFont ;
    color: $darkGray;
    justify-content: space-between;
    align-items: center;
}

.switch-role-btn{
    border-right: 1px solid $borderTwo;
}

.switch-role-icon{
    height: 23px;
    width: 28px;
    margin-right: 10px;
}

.bell-ic{
    color: $primaryColorLight;
    font-size: 20px!important;
    margin-top: -1px!important;
    &:focus{
        outline: none!important;
    }
}

.switch-role-menu{
    left: 20%!important;
}

.help-menu{
    left: -10%!important;
}

.help-menu, .switch-role-menu, .user-name-menu{
    z-index: 5!important;
    margin-right: 20px!important;
    margin-top: 10px!important;
    min-width: 160px;
    font-family: $avoFont ;
    border: 1px solid rgba(0, 0, 0, 0.15);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    background-color: $whiteColor;
    padding: 5px 0;
    border-radius: 4px;
    div{
        font-size: 14px;
        width: 100%;
        display: flex;
        margin: 0;
        padding: 0;
    }
    a{
        width: 100%;
        text-decoration: none!important;
        color: $darkGray;   
        outline: none;
        font-weight: 400;
        line-height: 1.42857143;
        border: none;
        padding: 3px 20px!important;
        white-space: nowrap;
        &:hover{
            color: $darkGray!important;
            background-color: $whisper;
        }
    }
}

.notify-btn{
    position: relative;
    .notify-cnt{
        position: absolute;
        top: -10px;
        right: 16px;
        height: 15px;
        width: 15px;
        overflow: hidden;
        background: $primaryColorDark;
        color: $whiteColor;
        text-align: center;
        border-radius: 100%;
        font-size: 9px;
        font-weight: bold;
        line-height: 15px;
    }
}


// @media screen and (min-width: 1400px) and (min-height: 770px){
//     .main-header {
//         padding: .9vw 0 .9vw 1.5vw;
//         color: rgb(151, 151, 151);
//     }
    
//     .header-logo{
//         height: 2.5vw;
//     }
    
//     .no-border{
//         padding: 0 2vw;
//         font-size: 1.3vw;
//     }
    
//     .user-name-icon{
//         height: 1.8vw;
//         width: 1.8vw;
//         margin-left: .8vw;
//     }
    
//     .user-name-btn{
//         padding-right: 1vw;
//         border-left: .1vw solid gray;
//         .user-name{
//             margin: 0 1.9vh;
//         }
//     }
    
//     .switch-role-menu, .user-name-menu{
//         z-index: 5;
//         font-size: 1.2vw;
//         color: $darkGray;
//         position: absolute;
//         margin-right: 1.3vw!important;
//         margin-top: 1vw!important;
//         div{
//             font-size: 1.2vw;
//         }
//         a{
//             padding: .1vw 1.2vw!important;
//             &:hover{
//                 color: $darkGray!important;
//             }
//         }
        
//         .divider{
//             background-color: $whisper;
//             width: 100%;
//             margin: .8vw 0;
//             height: .1vw;
//         }
//         .user-role-item{
//             pointer-events: none!important;
//             &:hover{
//                     background-color: transparent;
//                     pointer-events: none!important;
//             }
//         }
//     }

//     .switch-role-menu{
//         left: 20%!important;
        
//     }

//     .switch-role-icon{
//         height: 1.8vw;
//         width: 1.8vw;
//         margin-right: .9vw;
//     }
    
//     .bell-ic{
//         font-size: 1.6vw!important;
//     }
    
// }

.afterExecution-modal .modal-content{
    max-width: 300px;
}