.main-header {
    display: flex;
    flex-direction: row;
    padding: 10px 0 10px 30px;
    color: #333;
    align-items: center;
}

.header-logo{
    height: 42px;
    cursor: pointer;
}

.header-logo-span{
    flex-grow: 1;
}

.no-border{
    border: none;
    outline: none;
    background-color: transparent;
    padding: 0 24px;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.42857143;
    margin: 0;
    cursor: pointer;
}

.user-name-icon{
    height: 23px;
    width: 22px;
    margin-left: 10px;
}

.user-name-btn{
    display: flex;
    flex-direction: row;
    font-family: "LatoWeb";
    justify-content: space-between;
    align-items: center;
    padding-right: 12px;
    border-left: 1px solid gray;
}

.user-name-menu{
    display: flex;
    flex-direction: column;
    z-index: 100;
    font-family: "LatoWeb";
    font-size: 14px;
    color: #333;
    position: absolute;
    right:87%;
    a{
        outline: none;
        border: none;
        &:hover{
            background-color: #eee;
        }
    }
    
    .dropdown-divider{
        background-color: #eee;
        width: 100%;
        margin: 2px 0;
        height: 1px;
    }
}

.user-role-item{
    &:hover{
            cursor: default;
            background-color: transparent;
    }
}
.switch-role-btn {
    display: flex;
    flex-direction: row;
    font-family: "LatoWeb";
    justify-content: space-between;
    align-items: center;
}

.switch-role-icon{
    height: 23px;
    width: 28px;
    margin-right: 10px;
}

.fa-bell{
    color: #764ba2;
    font-size: 20px;
}


.switch-role-menu, .user-name-menu{
    min-width: 160px;
    font-family: "LatoWeb";
    border: 1px solid rgba(0, 0, 0, 0.15);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    background-color: #FFF;
    margin-top: 10px;
    padding: 5px 0;
    border-radius: 4px;
    a{
        text-decoration: none;
        color: #333;   
        font-weight: 400;
        line-height: 1.42857143;
        padding: 6px 20px;
        white-space: nowrap;
    }
}

@media screen and (max-width: 800px){
    .main-header {
        display: flex;
        flex-direction: row;
        padding: 2vw 0 2vw 2.5vw;
        color: #333;
        align-items: center;
    }
    
    .header-logo{
        height: 3.3vw;
        cursor: pointer;
    }
    
    .header-logo-span{
        flex-grow: 1;
    }
    
    .no-border{
        border: none;
        outline: none;
        background-color: transparent;
        padding: 0 2.8vw;
        font-size: 2.3vw;
        font-weight: 400;
        line-height: 1.42857143;
        margin: 0;
        cursor: pointer;
    }
    
    .user-name-icon{
        height: 2.8vw;
        width: 2.8vw;
        margin-left: 1.5vw;
    }
    
    .user-name-btn{
        display: flex;
        flex-direction: row;
        font-family: "LatoWeb";
        justify-content: space-between;
        align-items: center;
        padding-right: 2vw;
        border-left: .1vw solid gray;
    }
    
    .switch-role-btn {
        display: flex;
        flex-direction: row;
        font-family: "LatoWeb";
        justify-content: space-between;
        align-items: center;
    }
    
    .switch-role-icon{
        height: 2.8vw;
        width: 2.8vw;
        margin-right: 1.8vw;
    }
    
    .fa-bell{
        color: #764ba2;
        font-size: 2.7vw;
    }

}

@media screen and (min-width: 1366px){
    .main-header {
        display: flex;
        flex-direction: row;
        padding: .9vw 0 .9vw 1.5vw;
        color: rgb(151, 151, 151);
        align-items: center;
    }
    
    .header-logo{
        height: 2.5vw;
        cursor: pointer;
    }
    
    .header-logo-span{
        flex-grow: 1;
    }
    
    .no-border{
        border: none;
        outline: none;
        background-color: transparent;
        padding: 0 2vw;
        font-size: 1.3vw;
        font-weight: 400;
        line-height: 1.42857143;
        margin: 0;
        cursor: pointer;
    }
    
    .user-name-icon{
        height: 1.8vw;
        width: 1.8vw;
        margin-left: .8vw;
    }
    
    .user-name-btn{
        display: flex;
        flex-direction: row;
        font-family: "LatoWeb";
        justify-content: space-between;
        align-items: center;
        padding-right: 1vw;
        border-left: .1vw solid gray;
    }
    
    .user-name-menu{
        display: flex;
        flex-direction: column;
        z-index: 100;
        font-family: "LatoWeb";
        font-size: 1.0vw;
        color: #333;
        position: absolute;
        right:87%;
        a{
            outline: none;
            border: none;
            &:hover{
                background-color: #eee;
            }
        }
        
        .dropdown-divider{
            background-color: #eee;
            width: 100%;
            margin: 2px 0;
            height: 1px;
        }
    }

    .switch-role-btn {
        display: flex;
        flex-direction: row;
        font-family: "LatoWeb";
        justify-content: space-between;
        align-items: center;
    }
    
    .switch-role-icon{
        height: 1.8vw;
        width: 1.8vw;
        margin-right: .9vw;
    }
    
    .fa-bell{
        color: #764ba2;
        font-size: 1.8vw;
        margin-top: -0.4vw;
    }
    
}

// @media screen and (max-width: 1025px){
//     .main-header {
//         display: flex;
//         flex-direction: row;
//         padding: .9vw 0 .9vw 1.5vw;
//         color: rgb(151, 151, 151);
//         align-items: center;
//     }
    
//     .header-logo{
//         height: 2.5vw;
//         cursor: pointer;
//     }
    
//     .header-logo-span{
//         flex-grow: 1;
//     }
    
//     .no-border{
//         border: none;
//         outline: none;
//         background-color: transparent;
//         padding: 0 2vw;
//         font-size: 1.3vw;
//         font-weight: 400;
//         line-height: 1.42857143;
//         margin: 0;
//         cursor: pointer;
//     }
    
//     .user-name-icon{
//         height: 1.8vw;
//         width: 1.8vw;
//         margin-left: .8vw;
//     }
    
//     .user-name-btn{
//         display: flex;
//         flex-direction: row;
//         font-family: "LatoWeb";
//         justify-content: space-between;
//         align-items: center;
//         padding-right: 1vw;
//         border-left: .1vw solid gray;
//     }
    
//     .switch-role-btn {
//         display: flex;
//         flex-direction: row;
//         font-family: "LatoWeb";
//         justify-content: space-between;
//         align-items: center;
//     }
    
//     .switch-role-icon{
//         height: 1.8vw;
//         width: 1.8vw;
//         margin-right: .9vw;
//     }
    
//     .fa-bell{
//         color: #764ba2;
//         font-size: 1.8vw;
//         margin-top: -0.4vw;
//     }
// }
