@import "../../global/styles/ColorVariables.scss";
#notify-dropdown{
    left: -350px;
    .message-box{
        width: 400px;
        max-height: 295px;
        .clear{
            position: absolute;
            right: 20px;
            font-size: 12px;
            color: $primaryColorLight;
            cursor: pointer;
        }
        .clear:hover{
            color: $red;
        }
    }
    .divider {
        background-color: $whisper;
        width: 100%;
        margin: 9px 0;
        height: 1px;
    }
    .message{
        white-space: normal !important;
        padding: 10px;
        span{
            color: $primaryColorLight;
            font-family: $avoBoldFont;
            font-size: 14px;
            user-select: none;
        }
    }

}