@import "../../global/styles/ColorVariables.scss";
.popup__container{
    position: fixed;
    background-color: rgba(0, 0, 0, 0.85);
    -moz-background-color: rgba(0, 0, 0, 0.85);
    -webkit-background-color: rgba(0, 0, 0, 0.85);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 11;
    display: block;
}
.popup__content{
    position: relative;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    background: $whiteColor;
    padding: 10px 20px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    cursor: auto;
    color: $darkGray;
    font-family: $avoFont;
    padding: 8px;
}
.popup__header{
    padding:0px!important;
}
.popup__header h4{
    width: 100%;
}
.popup__header button{
    float: right;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    right: 15px;
    position: absolute;
    color: $whiteColor;
    opacity: 1;
    text-shadow: none;
    font-family: $avoThinFont;
    font-size: 35px;
    border: none;
    background: transparent;
}
.popup__body{
    font-size: 14px;
    padding: 15px!important;
}
.popup__footer{
    padding: 9px!important;
    padding-bottom: 0px!important;
}
.popup__footer button{
    background: $primaryColor;
    color: $whiteColor;
    border: 0;
    border-radius: 20px;
    padding: 5px 20px;
    font-size: 16px;
}
button:focus{
    outline: none!important;
}
.popup__body-content{
    white-space: pre-line;
    overflow: hidden;
    text-overflow: ellipsis;
}


.messageBar{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    z-index: 11;
    position: fixed;
    width: 100%;
    bottom: 85px;
    .messageBar-container{
        width: 64%;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        position: fixed;
    }
    .messageBar-message{
        width: 100%;
        background: $primaryColorDark;
        color: $whiteColor;
        border-radius: 4px;
        padding: 5px 40px;
        word-break: inherit;
        font-size: 14px;
        overflow: hidden;
        // white-space: nowrap !important;
        // text-overflow: ellipsis;
    }
    button{
        float: right;
        font-weight: 700;
        line-height: 1;
        right: 3px;
        position: absolute;
        color: $whiteColor;
        opacity: 1;
        text-shadow: none;
        font-family: $avoThinFont;
        font-size: 28px;
        border: none;
        background: transparent;
    }
    .message-icon {
        float: left;
        font-weight: 700;
        line-height: 1;
        left: 3px;
        position: absolute;
        opacity: 1;
        padding: 8px;
        text-shadow: none;
        font-size: 14px;
        border: none;
        background: transparent;
        padding: 9px 8px;
    }
    .success{
        color: black;
        background: $pass;
    }
    .warn{
        color: black;
        background: $borderFour;
    }
    .error{
        color:$whiteColor;
        background: $redError;
    }
    .black-btn{
        color: black;
    }
    .white-btn{
        color: $whiteColor
    }
}