@import "../../global/styles/ColorVariables.scss";

.recurrence-time-container {
    position: relative;
    .fc-timePicker {
        width: 100%;
        background-color: $whiteColor;
        border-width: 1px;
        font-size: 14px;
        border-color: $lightGray;
        border-radius: 4px;
        padding-top: 4px;
        padding-left: 7px;
    }
    .timepickerIconToken {
        top: 1px;
        position: absolute;
        right: 1px;
        background: $primaryColor;
        padding: 4px;
        border-radius: 0px 4px 4px 0px;
        -moz-border-radius: 0px 4px 4px 0px;
        -webkit-border-radius: 0px 4px 4px 0px;
        cursor: pointer;
    }
    .textbox-container {
        height: 26px;
        width: 100%;
    }
    input {
        margin-top: 1px;
        outline: none;
    }
    input :focus {
        outline: none;
    }
    img.disabled {
        opacity: 0.7;
    }
    .inputError {
        border: 2px solid $redError !important;
    }
}
.admin_timer {
    position: relative;
    float: left;
    width: calc(50% - 70px);
    font-weight: normal;
}
.schedule_timer {
    position: relative;
    float: right;
    margin-right: 10px;
    font-size: 14px;
    margin-top: 2px;
    width: 183px;
    font-family: $avoFont;
}

.main-container {
    font-size: 14px;
    font-family: LatoWeb;
    z-index: 99999 !important;
    position: absolute;
    top: 12.5rem;
    background-color: #fff;
    margin: 2px;
    border-radius: 5px;
    border: 2px solid;
}
.recurrence-container {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    margin-bottom: 10px;
    column-gap: 20px;
    top: 200px;
}

.recurrence-list {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    padding-left: 10px;
    margin-right: 20px;
    align-items: stretch;
}

.recurrence-list > label {
    white-space: nowrap;
}

.recurrence-content {
    border-left: 1px solid;
    padding-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.daily-recurrence-list {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

.weekly-recurrence-list {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.weeks {
    display: flex;
    flex-wrap: wrap;
}

.weeks-child {
    flex: 0 0 25%;
    margin: 5px 0 5px 0;
}

.monthly-recurrence-list {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
}

#month_day,
#month_week {
    padding: 5px 10px;
}

.recur-textbox {
    padding: 3px 6px;
}

.s__err-Border {
    border-color: red;
}