@import "../../global/styles/ColorVariables.scss";
.ref__bar{
    background: $primaryColorDark;
    position: absolute;
    color: $whiteColor;
    font-family: $avoSecondaryFont;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    top: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    // margin:30px -35px 13px -1px;
}

.screenshot_pop{
    width: 500px!important;
}

.scrsht_outerContainer{
    display: flex;
    flex-direction: column;
    flex: 1 1;
    height: 100%;
    padding: 5px;
}

.ss_scrsht_insideScroll{
    flex: 1 1;
    overflow: auto;
    // margin-right: 10px;
}

.screenshot_pop__content{
    // position: relative;
    // height: 95%;
    overflow: auto;
}

.screenshot_img{
    width: 100%;
}

.ref__content{
    overflow: auto;
    padding: 40px 0 5px;
}

.min_height_div{
    width: 90px;
    min-height: 0;
    height: 100%;
}

.inside_min{
    display: flex;
    flex-direction: column;
    flex: 1 1;
    height: 100%;
}

.ref__wrapper{
    position: relative;
    display: flex;
    height: 100%;
    color: $whiteColor;
    right: 0;
    float: right;
    flex: 0 0 6px;
}

.ref__wrapper__expand{
    flex: 0 0 90px;
}

.caret__ref_bar{
    position: absolute;
    top: 50%;
    display: flex!important;
    align-items: center;
    justify-content: center;
    color: $primaryText;
    width: 6px;
    height: 25px;
    left: 0;
    z-index: 1;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.7);
}

.caret_ref_collapsed{
    position: relative;
}


.ic_box{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
    cursor: pointer;
    
    &:hover .thumb__ic{
        background-color: $primaryColor;
        border-radius: 5px;
    }

    .rb_box_title{
        margin-top: 2px;
    }
}

.thumb__ic{
    padding: 10px;
}

.rb_upper_contents{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 1;
}

.task_info{
    display: flex;
}

.task_info__content{
    flex-grow: 1;
}

.ref_pop{
    background-color: $primaryColorDark;
    z-index: 5;
    display: flex;
    position: absolute;
    display: flex;
    flex-direction: column;
    right: 110%;
    border-radius: 5px;
    width: 350px;
    
    .pop__header{
        cursor: pointer;
        display: flex;
        border-bottom: 2px solid $primaryColor;
        padding: 8px 15px;
        margin: 0;
        font-size: 18px;
        font-family: $avoFont ;
        
        img{
            width: 8px;
            height: 16px;
        }
    }
}

.task_pop{
    height: 56%;
}

.info_pop{
    height: fit-content;
}

.info_pop__contents{
    padding: 4% 9%;
    font-size: 15px;
    margin-bottom: 5px;
    font-weight: 600;
    display: grid;
    grid-template-columns: 40% auto;
    grid-gap: 5px 0;
}

.task_info__title{
    flex-grow: 2;
    overflow: hidden;
    text-overflow: ellipsis;
}

.task_info__content{
    flex-grow: 3;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.pop__title{
    flex-grow: 1;
}

.input_group{
    display: flex;
    padding: 0;
    margin: 0;
}

.search_task__ic{
    padding: 6px 12px;
    box-sizing: content-box;
    color: $primaryText;
    text-align: center;
    background-color: $whisper;
    border: 1px solid $borderTwo;
    border-radius: 4px 0 0 4px;
}

.task_pop__list{
    overflow: auto;
}

.search_task__input{
    font-family: $avoFont ;
    font-size: 13px;
    border: 1px solid $borderTwo;
    border-left: none;
    padding: 6px 12px;
    background-color: $whisper;
    color: $darkGray;
    border-radius: 0 4px 4px 0;
    flex-grow: 1;
    outline: none;
    &:focus{
        outline: none;
    }
}

.active_rb_thumb{
    background-color: $primaryColor;
    border-radius: 5px;
}

.task_pop__overflow{
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;
}

.task_pop__content{
    flex: 1;
    overflow: auto;
    margin-top: 10px;
    padding: 0 15px 0 25px;
}

@media screen and (max-height: 590px){       
    .ic_box{
        margin-bottom: 10px;
    }
    .ref__content{
        padding: 30px 0 5px;
    }
}


// @media screen and (min-width: 1400px) and (min-height: 770px){
//     .search_task__ic{
//         height: 2.4vh;
//         width: 2.4vh;
//     }

//     .ref__bar{
//         font-size: 1.8vh;
//     }
    
//     .ref__content{
//         padding: 5.2vh 0 0.6vh;
//     }
    
//     .min_height_div{
//         width: 11.7vh;
//     }
    
//     .ref__wrapper{
//         flex: 0 0 0.78vh;
//     }
    
//     .ref__wrapper__expand{
//         flex: 0 0 11.7vh;
//     }
    
//     .caret__ref_bar{
//         width: 0.78vh;
//         height: 3.25vh;
//     }
    
//     .ic_box{
//         margin-bottom: 1.95vh;
//         &:hover .thumb__ic{
//             border-radius: 0.6vh;
//         }
    
//         .rb_box_title{
//             margin-top: 0.26vh;
//         }
//     }
    
//     .thumb__ic{
//         padding: 1.3vh;
//         width: 6.77vh;
//         height: 6.5vh;
//     }
    
//     .ref_pop{
//         border-radius: 0.6vh;
//         width: 45.5vh;
        
//         .pop__header{
//             border-bottom: 0.26vh solid $primaryColor;
//             padding: 1.04vh 1.95vh;
//             font-size: 2.34vh;
//             img{
//                 width: 1.04vh;
//                 height: 2.08vh;
//             }
//         }
//     }
    
//     .task_pop{
//         height: 46%;
//     }
    
//     .info_pop{
//         height: 30%;
//     }
    
//     .info_pop__contents{
//         padding: 4% 9%;
//         font-size: 1.95vh;
//         margin-bottom: 0.6vh;
//         grid-template-columns: 30% auto;
//         grid-gap: 0.6vh 0;
//     }
    
//     .search_task__ic{
//         padding: 0.78vh 1.56vh;
//         border: 0.13vh solid $borderTwo;
//         border-radius: 0.52vh 0 0 0.52vh;
//     }
    
//     .search_task__input{
//         font-size: 1.69vh;
//         height: 4.2vh;
//         border: 0.13vh solid $borderTwo;
//         padding: 0.78vh 1.69vh;
//         border-radius: 0 0.52vh 0.52vh 0;
//     }
    
//     .active_rb_thumb{
//         border-radius: 0.6vh;
//     }
    
//     .task_pop__content{
//         margin-top: 1.3vh;
//         padding: 0 1.9vh 0 3.2vh;
//     }
// }