@import "../../global/styles/ColorVariables.scss";
.overlay__container{
    position: fixed;
    background-color: rgba(0, 0, 0, 0.85);
    -moz-background-color: rgba(0, 0, 0, 0.85);
    -webkit-background-color: rgba(0, 0, 0, 0.85);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    cursor: wait;
    z-index: 9999999;
    display: block;
}
.overlay__content{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    background: $whiteColor;
    padding: 10px 20px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    cursor: auto;
    color: $blueViolet;
    font-family: $avoBoldFont;
}