@import "../../global/styles/ColorVariables.scss";
.sr__input{
    position: relative;
    width: 90%;
    height: 30px;
    text-align: center;
    -webkit-user-select: none;
    user-select: none;
    border: 1px solid;
    padding: .375rem .75rem;
    border-radius: .25rem;
    outline: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.sr__dropdown{
    font-size: 14px;
    width: 57%;
    left: 35%;
    top: 114px;
    max-height: 123px;
    box-shadow: rgba(0, 0, 0, 0.176) 0px 6px 12px;
    display: block;
    background: $whiteColor;
    margin-top: 2px;
    z-index: 1;
    position: absolute;
    ul{
        padding-left: 2px;
        margin: 4px;
        width: calc(100% - 14px);
    }
    ul:hover{
        background: $primaryColor;
        border-radius: 3px;
        color: $whiteColor;
        cursor: pointer;
    }
    .sr_checkbox{
        width:auto;
        margin-top:3px;
        margin-right: 10px;
    }
}
.sr__list-item{
    font-weight: 500;
    display: flex;
    padding: 3px 12px;
}
.sr__selectedCheckBox{
    background: $primaryColor;
    border-radius: 3px;
    color: $whiteColor;
    cursor: pointer;
}
.dropdownInputError{
    border: 1px solid $red!important;
}