.task-panel{
    display: flex;
    flex-direction: column;
}

.task-description{
    div{
        font-family: "LatoWeb";
        font-size: 14px;
        padding: 1px 10px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
}

.panel-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    font-family: "LatoWeb";

    h4{
        font-family: "LatoWebBold";
        margin: 0;
        flex-shrink: 0;
    }

}

.tasktype-btn{
    outline: none;
    border: none;
    font-size: 14px;
    border-radius: 20px;
    height: 25px;
    cursor: default;
    &:hover{
        cursor: default;
    }
    &:focus{
        border: none;
        outline: none;
    }
}


.assign-task{
    text-align: start;
    flex-grow: 1;
    padding: 0 10px 0 10px;
    word-break: break-all;
    cursor: pointer;
}

#plugin_page__list {

    .task-panel{
        border-bottom: 1px solid #949494;
        padding: 0 15px 0 25px;
    }

    .active-task{
        background-color: #dad8d8;
    }

    .panel-content{
        min-height: 55px;

        h4{
            font-size: 18px;
            flex-basis: 40px;
        }

    }

    .tasktype-btn{
        width: 75px;
        background: #efefef;
    }


    .assign-task{
        font-size: 17px;
    }


    @media screen and (max-width: 1025px){
        .task-description{
            div{
                font-size: 1.2vw;
                padding: .1vw .9vw;
            }
        }
        
        .panel-content{
            min-height: 5.5vw;
            h4{
                font-size: 1.6vw;
                flex-basis: 2vw;
            }
        }
        
        .tasktype-btn{
            font-size: 1.2vw;
            border-radius: 1.8vw;
            height: 2.2vw;
            width: 7.2vw;
        }
        
        
        .assign-task{
            font-size: 1.4vw;
            padding: 0 3.6vw;
        }
    }

    @media screen and (min-width: 1400px) and (min-height: 770px){
        .task-description{
            div{
                font-size: 1.2vw;
                padding: .1vw .9vw;
            }
        }
        
        .panel-content{
            min-height: 5.1vw;
            h4{
                font-size: 1.6vw;
            }
        }
        
        .tasktype-btn{
            font-size: 1.2vw;
            border-radius: 1.8vw;
            height: 2.2vw;
            width: 7.2vw;
        }
        
        
        .assign-task{
            font-size: 1.4vw;
            padding: 0 3.6vw;
        }
    }
}

#rb__pop_list{

    .disable-task{
        pointer-events: none;
        filter: brightness(0.5);
    }
    
    .task-panel{
        min-height: 50px;
        border-bottom: 1px solid #643693;
        padding: 10px 0;
    }
    
    .active-task{
        background-color: transparent;
    }
    
    .panel-content{
        margin: 5px 0;
    
        h4{
            font-size: 15px;
            flex-basis: 30px;
        }
    
    }
    
    .tasktype-btn{
        width: 80px;
        color: white;
        background: #a08ab7;
    }
    
    
    .assign-task{
        font-size: 15px;
        font-family: "LatoWebLight";
    }

    @media screen and (min-width: 1400px) and (min-height: 770px){
        .task-panel{
            min-height: 6.51vh;
            border-bottom: 0.13vh solid #643693;
            padding: 1.3vh 0;
        }
        .panel-content{
            margin: 0.6vh 0;
            h4{
                font-size: 1.95vh;
                flex-basis: 3.9vh;
            }
        }
        .tasktype-btn{
            width: 10.4vh;
            font-size: 1.8vh;
            border-radius: 2.6vh;
            height: 3.25vh;
        }
        .assign-task{
            font-size: 1.95vh;
            padding: 0 1.3vh 0 1.3vh;
        }
        .task-description{
            div{
                font-size: 1.82vh;
                padding: 0.13vh 1.3vh;
            }
        }
    }
}