@import "../../global/styles/ColorVariables.scss";

.ss__body, .s__body, .d__body {
  .thumbnail{
    height: 92px;
    justify-content: center;
    color: #000000 !important;
    font-weight: 600 !important;
    font-family: Mulish !important;
    &:hover {
      background-color: #1817170a;
    }
    &:hover .thumbnail__img, &:hover .thumbnail__svg{
      background-color: transparent !important;
  }
  }
}

.thumbnail{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: $avoSecondaryFont;
    font-size: 12px;
    color: $whisper;
    margin: 10% 0 5%;
    width: 100%;
    cursor: pointer;
    &:hover .thumbnail__img, &:hover .thumbnail__svg{
        background-color: $hovorIcon;
    }
}

.disable-thumbnail{
    pointer-events: none;
    opacity: 0.5;
}

.thumbnail__img{
    padding: 8px 10px;
    margin-bottom: 2px;
    border-radius: 5px;
}

.svg_ic{
    padding: 6px 8px;
}


// @media screen and (min-width: 1400px) and (min-height: 770px){
//     .thumbnail{
//         font-size: 1.56vh;
//         margin: 10% 0 5%;
//     }
    
//     .thumbnail__img{
//         padding: 1.04vh 1.30vh;
//         height: 6.7vh;
//         width: 7.29vh;
//         margin-bottom: 0.26vh;
//         border-radius: 0.65vh;
//     }
// }