
<div id="first">
  <canvas id="myChart" width="100px" height="32.5px"></canvas>
</div>
<script>

var ctx = document.getElementById("myChart").getContext('2d');
var myChart = new Chart(ctx, {
  type: 'bar',
  data: {
    labels: [{{#each over}} '{{this.tsn}}' ,{{/each}}],
    datasets: [
      {
        label: "Execution Time (Testsuites)",
        backgroundColor: "#b89dd4",
        //borderColor: "#633692",
        //borderWidth: 2,
        hoverBackgroundColor: "#a77bd4",
      //  hoverBorderColor: "#633692",
        data: [{{execTime over}}],
      }
    ]
  },
  options: {
    maintainAspectRatio: true,
    //responsive: false,
    legend:{
      display: false
    },
    tooltips: {
      callbacks: {
        label: function(tooltipItem) {
          //return "$" + Number(tooltipItem.yLabel) + " and so worth it !";
          return "Execution Time: "+ Number(tooltipItem.yLabel)+" secs"
        }
      }
    },
    scales: {
      yAxes: [{
        stacked: true,
        scaleLabel: {
          display: true,
          labelString: 'Execution Time (sec)'
        },
        gridLines: {
          display:false
        },
        ticks: {
          beginAtZero:true
        },
      }],
      xAxes: [{
        ticks: {
          display: false
        },
        gridLines: {
          display:false
        },
      }]
    }
  }
});
</script>
