@import "../../global/styles/ColorVariables.scss";
.error-msg{
    font-family: $avoPrimaryFont;
    font-size: 14px;
    color: $redError;
    width: 100%;
    text-align: center;
    a{
        color: $redError;
    }
}


@media screen and (min-width: 1400px) and (min-height: 770px){
    .error-msg{
        font-size: 1.2vw;
    }
}

.base__redirect {
    &:hover {
        color: inherit;
        cursor: pointer;
        text-decoration: underline;
        font-weight: 700;
    }
}