.bg-container{
    display: flex;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #edeaff;
}

.element-holder{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding: 0 6%;
    z-index: 1;
}

.bg-img{
    z-index: 0;
    width: 50%;
    position: absolute;
    bottom: 0;
    left: 0;   
}


.login-block{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 10%;
    width: 290px;
    background: #FFF;
    padding: 7% 4%;
    border-radius: 50px;
}

.logo-img{
    height: 65px;
}
.logo-wrap{
    margin-bottom: 65px;
    display: flex;
    justify-content: center;
}

.fa-arrow-circle-right:before {
    content: "\f0a9";
    color:#a0a0a0;
    font-size:25px
}

.field{
    font-size: 25px;
    border: none;
    box-shadow: none;
    flex-grow: 1;
    width: 90%;
    padding: 0 20px;
    color: #555;
    font-family: "LatoWebLight";
    outline: none;
}

.username-wrap{
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #cacaca;
    margin-bottom: 35px;
}

.password-wrap{
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #cacaca;
    margin-bottom: 35px;
}

.login-btn{
    font-size: 32px;
    border-radius: 22px;
    border: none;
    background-color: #9f62e1;
    color: #FFF;
    padding: 0 12px;
    margin-top: 35px;
    cursor: pointer;
    touch-action: manipulation;
    outline: none;
    // &:active{
    //     outline: none;
    // }
}


.greet-text{
    z-index: 1;
    flex-grow: 1;
    // margin-top: 18%;        // need to discuss
    // margin-left: 7%;
    color: #643693;
    
    
    h1 {
        font-family: "LatoWebBlack";
        font-size: 68px;
        margin-bottom: 6px;
    }
    h2{
        font-family: "LatoWebMedium";
        font-weight: 500;
        font-size: 40px;
        margin: 0 8px;
    }
    h3{
        font-family: "LatoWebMedium";
        font-weight: 500;
        font-size: 25px;
        margin: 0 10px
    }
}

.fa-eye:before {
    content: "\f06e";
    color:#a0a0a0;
    font-size: 20px;
}

@media screen and (max-width: 800px){
    .login-block{
        padding: 7% 4%;
        margin-top: 20px;
        margin-right: 0;
    }
    .element-holder{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 0 6%;
    }
    .logo-wrap{
        margin-bottom: 30px;
    }
    .greet-text{
        z-index: 1;
        flex-grow: 0;
        // margin-top: 18%;        // need to discuss
        // margin-left: 7%;
        color: #643693;
        
        h1 {
            font-family: "LatoWebBlack";
            font-size: 58px;
            margin-bottom: 3px;
            margin-top: 0;
        }
        h2{
            font-family: "LatoWebMedium";
            font-weight: 500;
            font-size: 30px;
            margin: 0 4px;
        }
        h3{
            font-family: "LatoWebMedium";
            font-weight: 500;
            font-size: 20px;
            margin: 0 10px
        }
    }
    .login-btn{
        margin-top: 0;
        margin-bottom: 20px;
    }
}

@media screen and (max-height: 680px){
    .bg-img{
        width: 42%;
    }
}

@media screen and (min-width: 1366px){
    .greet-text{
        z-index: 1;
        flex-grow: 1;
        // margin-top: 18%;        // need to discuss
        // margin-left: 7%;
        color: #643693;
        
        h1 {
            font-family: "LatoWebBlack";
            font-size: 3.5vw;
            margin-bottom: 1vw;
            margin-top: 0;
        }
        h2{
            font-family: "LatoWebMedium";
            font-weight: 500;
            font-size: 3vw;
            margin: 0 .5vw;
        }
        h3{
            font-family: "LatoWebMedium";
            font-weight: 500;
            font-size: 2.5vw;
        }
    }
        
    .login-block{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-right: 10%;
        width: 18vw;
        background: #FFF;
        padding: 5vw 3vw;
        border-radius: 3vw;
    }

    .logo-img{
        height: 3.5vw;
    }
    .logo-wrap{
        margin-bottom: 4vw;
        display: flex;
        justify-content: center;
    }

    .fa-arrow-circle-right:before {
        content: "\f0a9";
        color:#a0a0a0;
        font-size:1.5vw;
    }

    .field{
        font-size: 2vw;
        border: none;
        box-shadow: none;
        flex-grow: 1;
        width: 90%;
        padding: 0 1vw;
        color: #555;
        font-family: "LatoWebLight";
        outline: none;
    }

    .username-wrap{
        display: flex;
        flex-direction: row;
        border-bottom: .1vw solid #cacaca;
        margin-bottom: 2.5vw;
    }

    .password-wrap{
        display: flex;
        flex-direction: row;
        border-bottom: .1vw solid #cacaca;
        margin-bottom: 2.5vw;
    }

    .login-btn{
        font-size: 2.5vw;
        border-radius: 2vw;
        border: none;
        background-color: #9f62e1;
        color: #FFF;
        padding: 0 .2vw;
        margin-top: .2vw;
        cursor: pointer;
        touch-action: manipulation;
        outline: none;
        // &:active{
        //     outline: none;
        // }
    }

    .fa-eye:before {
        content: "\f06e";
        color:#a0a0a0;
        font-size: 1.5vw;
    }
    .ic-username{
        height: 1.5vw;
    }
    .ic-password{
        height: 1.5vw;
    }
}