@import "../../global/styles/ColorVariables.scss";

.ls-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #fcfcfc;
}

.ls-inner-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 2rem;
  flex-grow: 1;
}

.ls-expired-image {
  height: 40%;
  display: flex;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
}

.ls-upgrade-btn {
  border-radius: 8px;
  color: white;
  background-color: #5F338F;
  transition: 0.3s;
  outline: none;
  border: 2px solid #5F338F;
  font-weight: 400;
  font-size: 1.1rem;
  margin-right: 2rem;
  padding: 0.7rem 1.4rem;

  &[data-type=disabled] {
    border: 2px solid #aaa;
    color: #fff !important;
    background-color: #ccc !important;
    left: 0;
  }

  &:hover {
    border: 2px solid #341655;
    background-color: #341655;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.12);
  }
}

.ls-contact-link {
  border-radius: 8px;
  background-color: white;
  transition: 0.3s;
  outline: none;
  font-size: 1.1rem;
  border: 2px solid #5F338F;
  font-weight: 400;
  padding: 0.7rem 1.4rem;
  margin-left: 2rem;
  text-decoration: none !important;
  color: $primaryColor !important;
  font-weight: 400;
  &:hover {
    border-color: $primaryColorDark;
    color: $primaryColorDark;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.12);
  }
}