@import "../../global/styles/ColorVariables.scss";

@mixin keyframes($name){
  @keyframes #{$name}{
      @content;
  }
}

@mixin animate($animation,$duration,$method,$times){
  animation: $animation $duration $method $times;
}

.base__redirect, .base__redirect:hover{
  color: inherit;
  cursor: pointer;
  text-decoration: underline;
  font-weight: 700;
}

.arrow-circle {
    color:$medLightGray;
    font-size:25px!important;
}

.ic-holder{
    display: flex;
    align-items: center;
}

.field{
    font-size: 25px;
    border: none;
    box-shadow: none;
    flex-grow: 1;
    width: 90%;
    padding: 0 20px;
    color: $primaryText;
    font-family: $avoSecondaryFont;
    outline: none;

    &::-ms-reveal, &::-ms-clear{
        display: none
    }
}

.password-wrap, .username-wrap{
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid $borderTwo;
    margin-bottom: 35px;
}

.login-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: content-box;

    .ms-TextField-wrapper>.ms-Label {
      pointer-events: none !important;
    }
}

.login-hint {
  text-align: center;
  width: calc(450px + 6rem);
  margin-top: 1rem;
  font-size: 0.9rem;
}

.forgot-container {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

// .username-container {
//   display: flex;
//   flex-direction: column;
//   // overflow-y: auto;
//   max-height: 30vh;
//   flex:1;
  
//   .ms-Checkbox-checkbox {
//     height: 1.5rem !important;
//     width: 1.5rem !important;
//   }

// }

.restart-service-btn, .login-btn{
    font-family: 'Mulish';
    font-size: 1.125rem;
    font-weight: 600;
    border-radius: 10px!important;
    border: none;
    background: #5F338F;
    color: white;
    padding: 8px 25px;
    margin-top: 40px;
    align-self: center;
    cursor: pointer;
    touch-action: manipulation;
    outline: none;
    width: fit-content;
    &:focus{
        outline: none!important;
    }
    &:disabled{
        background: #E1DFDD;
        cursor: auto;
        color: #323130;
    }

    &[data-test=cancel-button] {
      border: 2px solid #5F338F;
      padding: 6px 25px !important;
      background-color: white !important;
      color: #5F338F !important;
    }

    &[data-type=mr-top-1] {
      margin-top: 20px !important;
    }
}

// .login-btn{
//     padding: 0 12px!important; 
//  }

.restart-service-btn{
    font-size: 24px!important;
    margin: 10px 0;
}

.eye-ic{
    color:$medLightGray;
    font-size: 20px;
}

.no-decor{
    border: none;
    outline: none;
    background-color: transparent;
    padding: 0;
    margin: 0;
    &:focus{
        border: none;
        outline: none;
    }
}

.error-msg-login{
    font-family: 'Mulish';
    font-size: 1rem;
    color:  $redError;
    width: 100%;
    text-align: left;
    a{
        color:  $redError;
    }
}

.error-msg-hyperlink{
    color:inherit;
    cursor:pointer;
    text-decoration: underline;
}

.rc_modal_dialog {
  max-width: 530px !important;
}

.reset_container {
  display: flex;
  flex-direction: column;
  font-family: $avoFont ;
  margin-top: 7px;
}

.rc_textContent {
  font-size: 1rem;
}

.rc_input_group {
  position: relative;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1.5rem;
}

.rc_email_input{
  border: none;
  outline: none;
  box-shadow: none;
  font-size: 16px;
  border-bottom: 1px solid $borderTwo;
  width: 100%;

  &:focus ~ .rc_email_label {
      top:-12px;
      font-size: 12px;
      left: 0px;
  }
}

.rc_email_label {
  color: gray;
  font-size: 16px;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 300ms ease all;
}

.shrinked_label {
  top:-12px;
  font-size: 12px;
  left: 0px;
}

.rc_reset_username {
  cursor: pointer;
  border: 1px solid #613191;
  border-radius: 5px;
  padding: 8px 10px;
  font: 1rem Mulish;
  transition: 300ms ease all;
  &[data-selected=true] {
    color: white;
    background-color: #613191;
  }
}

.submit_rc_button {
  &:focus{
    outline:black dotted 2px !important;
  }
}

.error_reset_field{
  border-bottom-color: $redError;
}

.email_valid_err{
  color: $redError;
  font-family: $avoPrimaryFont;
  font-size: 13px;
  display: flex;
  padding-top: 10px;
}

.shakeX {
  @include keyframes (shakeX) {
      10%, 90% {
        transform: translate3d(-1px, 0, 0);
      }
      
      20%, 80% {
        transform: translate3d(2px, 0, 0);
      }
    
      30%, 50%, 70% {
        transform: translate3d(-4px, 0, 0);
      }
    
      40%, 60% {
        transform: translate3d(4px, 0, 0);
      }
  }

  @include animate(shakeX, .5s, linear, 1);
}

.hide_email_valid{
  visibility: hidden;
  display: none;
}


@media screen and (max-width: 800px){
    .login-btn{
        margin-top: 20 !important;
        margin-bottom: 20px;
    }
}

@media screen and (min-width: 1400px) and (min-height: 770px){

    .arrow-circle {
        font-size:1.5vw;
    }

    .field{
        font-size: 2vw;
        padding: 0 1vw;
    }

    .password-wrap, .username-wrap{
        border-bottom: .1vw solid $borderTwo;
        margin-bottom: 2.5vw;
    }

    // .error-msg-login{
    //     font-size: 1.1vw;
    // }

    // .login-btn{
    //     // padding: 0 .2px!important; 
    //  }

    // .login-btn{
    //     // font-size: 2.5vw;
    //     // border-radius: 2vw!important;
    //     // padding: 0 .2vw;
    //     // margin-top: .2vw;
    // }

    .restart-service-btn{
        font-size: 1.7vw;
        border-radius: 2vw;
        margin: .2vw 0 .9vw 0;
        padding: .2vw .9vw;
    }

    .eye-ic {
        font-size: 1.5vw;
    }
    .ic-password, .ic-username{
        height: 1.5vw;
    }
    
}

.forget-password {
    float: right;
    color: #5F338F;
    font-size: 1rem;
    font-family: $avoFont;
    text-decoration: none !important;
    cursor: pointer;
    margin-top: 10px;

    &:hover {
      color: #7d6596;
    }
}

.forgot-content {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.login-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.username-container {
  display: flex;
  width: 100%;
  align-items: flex-start;
  max-height: 30vh;
  margin-bottom: 0.5rem;
  flex-direction: column;
  label {
      cursor: pointer;
      margin-right:2rem;
      display: flex;
      justify-content: center;
      align-items: center;
      color: black;
      font-family: Mulish;
      font-size: 1rem;
      span {
          margin-left: 0.5rem;
      }
      input[type="radio"] {
          appearance: none;
          cursor: pointer;
      }
      input[type="radio"]::after {
          content: "";
          display: flex;
          width: 1rem;
          height: 1rem;
          border-radius: 50%;
          border-style: solid;
          border-width: 0.1rem;
          border-color: gray;
          cursor: pointer;
      }
      input[type="radio"]:checked::after {
          background: radial-gradient(var(--baseColor) 0%, var(--baseColor) 40%, transparent 50%, transparent);
          border-color: var(--baseColorBorder);
          cursor: pointer;
      }
  }
}