.login_container::after{
        content: "";
        display: table;
        clear: both;
}
.split{
    color: black;
    float: left;
    width: 50%;
    height: 100vh;
    padding: 0;
}
.icon_img{
    height: 3rem;
    margin: 0rem 5rem;
}
.right_side_login {
    display: flex;
    margin: 0rem 12rem;
    flex-direction: column;
    position: fixed;
    top: 10%;
    text-align: center;
    gap: 2rem;
    >h2{
        color: #605BFF;
    }
    .forgetPassword_user_input{
        width: 24rem;
    }
    .user_input{
        width: 22rem;
    }
    .forget_password_link{
    margin: -1rem 0rem 0rem 8rem;
    .p-button{
        border: none !important;
        padding: 0 !important;
        .p-button-label {
            font-weight: 500 !important;
        }
        .p-button-link:enabled:focus{
            box-shadow: none !important;
        }
        &:focus{
            box-shadow: none !important;
        }
    }
  }
    .login_btn{
        .p-button.p-button-text {
            color:#ffff !important;
            background-color: #4338ca !important;
            
        }
    }
  .single_sign-on_link{
    .p-button{
        border: none !important;
        padding: 0 !important;
        .p-button-label {
            font-weight: 500 !important;
        }
        .p-button-link:enabled:focus{
            box-shadow: none !important;
        }
        &:focus{
            box-shadow: none !important;
        }
    }
  }
  .create-on_link{
    .p-button{
        border: none !important;
        padding: 0 !important;
        .p-button-label {
            font-weight: 500 !important;
        }
        .p-button-link:enabled:focus{
            box-shadow: none !important;
        }
        &:focus{
            box-shadow: none !important;
        }
    }
  }
}
