@import "../../global/styles/ColorVariables.scss";
.login_container {
    display: flex;
    flex-direction: row;
    height: 100vh;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-y: auto;
    overflow-x: hidden;

    .split_left {
        padding: 3% 0.5%;
        width: 50%;
        flex-grow: 1;
        color: #605BFF;
        background-color: #33005C;

        #Header {
            font: $f2_semibold;
            margin-bottom: 1rem;
        }

        #Test_automation {
            font: $f4_regular;
        }

    }

    .split_right {
        width: 50%;

        .right_side_login {
            display: flex;
            padding: 3% 14%;
            flex-direction: column;
            position: fixed;
            text-align: center;
            gap: 2rem;

            .icon_img {
                height: 4rem;
                margin: 0.5rem 5rem 3rem;
            }

            .forgetPassword_user_input {
                width: 24rem;
                font: $f6_regular;
            }

            .user_input {
                width: 26rem;
                font: $f6_regular;
            }

            .Btn{
                font: $f7_semibold;
                padding: 0.65rem 8rem !important;
            }

            .link {
                text-decoration: none;
                color: #4338CA;
                cursor: pointer;
                font: $f7_semibold;
            }

            .Contact_Admin_link{
                font: $f6_regular;
            }

            .Forgot_Header{
                font: $f4_semibold;
                color: $pruple;
            }

            .Password_reset_link{
                font: $f6_regular;
            }

            .login_btn {
                display: flex;
                justify-content: space-between;
            }
            .Login_Font{
                font: $f7_semibold;
            }

        }
    }
}