@import "../../global/styles/ColorVariables.scss";
.bg-container{
    display: flex;
    flex-flow: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: $whisper;
    overflow-y: auto;
    overflow-x: hidden;
}

.element-holder{
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    align-items: center;
    // width: 100%;
    padding: 0 6%;
    z-index: 1;
}

.bg-img{
    z-index: 0;
    height: 90%;
    position: absolute;
    bottom: 0;
    left: 0;   
}


.login-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 400px;
}


.login-block{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // margin-right: 10%;
    width: 450px;
    background: $whiteColor;
    padding: 2rem;
    border: 2px solid #5F338F;
    border-radius: 8px;
    box-sizing: content-box;
    position:relative;
    min-height: MIN(50vh, 575px);
    transition: 0.5s ease-in-out;
}

.logo-img{
    height: 80px;
}
.logo-wrap{
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

.form-title {
  font-size: 1.3rem;
  font-weight: 600;
  margin-bottom: 30px;
  text-align: center;
}

.greet-text{
    z-index: 1;
    flex-grow: 1;
    color: $primaryColor;
    font-family: $avoPrimaryFont;
    
    h1 {
        font-family: $avoBlackFont;
        font-size: 68px;
        margin-bottom: 6px;
    }
    h2{ 
        font-weight: 500;
        font-size: 40px;
        margin: 0 8px;
    }
    h3{
        font-weight: 500;
        font-size: 25px;
        margin: 0 10px
    }
}

@media screen and (max-height:800px){
  .element-holder{
    justify-content: unset !important;
  }
}

@media screen and (max-width: 800px){
    .login-block{
        padding: 2rem;
        margin-top: 2rem;
        margin-right: 0;
        min-height: unset;
        max-height: unset;
    }
    .element-holder{
        flex-direction: column;
        justify-content: center;
        padding: 0 6%;
    }
    .logo-wrap{
        margin-bottom: 20px;
    }
    .greet-text{
        flex-grow: 0;
        h1 {
            font-size: 58px;
            margin-bottom: 3px;
            margin-top: 0;
        }
        h2{
            font-size: 30px;
            margin: 0 4px;
        }
        h3{
            font-size: 20px;
        }
    }
}

@media screen and (max-height: 680px){
    .bg-img{
        width: 42%;
    }
}


@media screen and (min-width: 1400px) and (min-height: 770px){
    .greet-text{
        h1 {
            font-size: 3.5vw;
            margin-bottom: 1vw;
            margin-top: 0;
        }
        h2{
            font-size: 3vw;
            margin: 0 .5vw;
        }
        h3{
            font-size: 2.5vw;
        }
    }
        
    // .login-block{
    //     // margin-right: 10%;
    // }

    .logo-img{
        height: 3.5vw;
    }
    .logo-wrap{
        margin-bottom: 1.5vw;
    }
}