@import "../../global/styles/ColorVariables.scss";
.tnc_modal{
    .modal__body{
        height: 500px;
    }
    .modal__content{
        width: 180%;
    }
}

.tnc_header{
    text-align: center;
}
#tnc_content{
    padding-right: 12px;
}
#tnc_content h4, #tnc_content h5, .tnc_bold {
    font-family: $avoBoldFont;
}

#tnc_content p {
    text-align: justify;
}

.tnc_num_idx{
    white-space: pre;
}

.tnc_third{
    padding-left: 50px;
}