<html>

<body>
	<table>
		<tbody>
			<tr>
				<td style="padding:5%">
					Hi {{name}},<br><br>
					Use temporary password given below to reset the password for the Avo Assure username <i>{{username}}</i>. The password will expire in 15 minutes.<br><br>
					Password: "<b><i>{{defaultpassword}}</i></b>"<br><br>
				</td>
			</tr>
		</tbody>
	</table>
</body>

</html>