<html>

<body>
    <table>
        <tbody>
            <tr>
                <td style="padding:5%">
                    This is a test email from Avo Assure WebServer for the verification of email server configuration provided by
                    the Avo Assure admin.
                </td>
            </tr>
        </tbody>
    </table>
</body>

</html>