<html>

<body>
    <table>
        <tbody>
            <tr>
                <td style="padding:5%">
                    This is a test email from RAID Server for the verification of email server configuration provided by
                    the RAID
                    admin.
                </td>
            </tr>
        </tbody>
    </table>
</body>

</html>