<html>

<body>
	<table>
		<tbody>
			<tr>
				<td style="padding:5%">
					Hi {{userName}},<br><br>
					Your account role has been changed to <b>{{userRole}}</b> by your administrator.
				</td>
			</tr>
		</tbody>
	</table>
</body>

</html>