<html>

<body>
    <table width="100%">
        <tbody>
            <tr>
                <td style="padding: 2%;text-align: left;">
                    Hi {{userName}},<br><br>
                    Your project access has been updated by the administrator
                </td>
            </tr>
        </tbody>
    </table>
    <table width="100%" align="center">
        <tbody>
            <tr>
                {{#if assignedProjects}}
                <td style="vertical-align: top; width:50%">
                    <table style="margin-left: 30%" cellpadding=5 cellspacing=5>
                        <tbody>
                            <tr>
                                <th style="background-color: #efefef;"> Assigned Projects </th>
                            </tr>
                            {{#each assignedProjects}}
                            <tr>
                                <td style="text-align: center; word-break: break-word;"> {{this}} </td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </td>
                {{/if}}

                {{#if unassignedProjects}}
                <td style="vertical-align: top;">
                    <table style="margin-left: 10%" cellpadding=5 cellspacing=5>
                        <tbody>
                            <tr>
                                <th style="background-color: #efefef;"> Unassigned Projects </th>
                            </tr>
                            {{#each unassignedProjects}}
                            <tr>
                                <td style="text-align: center; word-break: break-word;"> {{this}} </td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </td>
                {{/if}}
            </tr>
        </tbody>
    </table>

</body>

</html>