@import "../../global/styles/ColorVariables.scss";

.admin-container{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: $whisper;
}
#middle-content-section {
     box-sizing: border-box;
     position: relative;
     font-family: $avoFont;
     display: flex;
     flex-direction: column;
     flex: 0 1 100%;
     min-width: 0;
     padding: 20px;
     margin: 0 5px;
     background-color: $whiteColor;
}
.admin__mid_section {
    display: flex;
    flex: auto;
    width: 100%;
    background-color: $whisper;
    margin: 0;
    padding: 0;
}
.admin-footer .main-footer{
    position: inherit;
}
.admin-container-wrap{
    display: flex;
    flex-direction: column;
    height: 100%;
    flex: 1;
}

.abs-div{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    flex-direction: column;
}

.min-h{
    min-height: 0;
}
.admin-containerWrap-pad{
    height: 100vh;
}
.a__btn.focus,
.a__btn,
.a__btn:active:focus,
.a__btn:focus,
.a__btn:hover {
    color: $whiteColor;
    border: 0;
    border-radius: 20px;
    padding: 2px 15px;
    font-size: 17px;
    background: $primaryColor;
	font-family: $avoSecondaryFont;
    outline: 0;
    padding: 2px 25px !important;
}
  
.inputErrorBorder{
	border-bottom: 2px solid $redError !important;
}

.selectErrorBorder{
	border: 2px solid $redError !important;
}