
.admin-container{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #eeeeee;
}
#middle-content-section {
     box-sizing: border-box;
     position: relative;
     font-family: LatoWeb;
     display: flex;
     flex-direction: column;
     flex: 0 1 100%;
     min-width: 0;
     padding: 20px;
     margin: 0 5px;
     background-color: #fff;
}
.admin__mid_section {
    display: flex;
    flex: auto;
    width: 100%;
    background-color: #eeeeee;
    margin: 0;
    padding: 0;
}
.admin-footer .main-footer{
    position: inherit;
}
.admin-container-wrap{
    display: flex;
    flex-direction: column;
    height: 100%;
    flex: 1;
}

.abs-div{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    flex-direction: column;
}

.min-h{
    min-height: 0;
}
.admin-containerWrap-pad{
    height: 100vh;
}
.a__btn.focus,
.a__btn,
.a__btn:active:focus,
.a__btn:focus,
.a__btn:hover {
    color: #fff;
    border: 0;
    border-radius: 20px;
    padding: 2px 15px;
    font-size: 17px;
    background: #643693;
	font-family: 'LatoWebLight';
    outline: 0;
    padding: 2px 25px !important;
}