@import "../../global/styles/ColorVariables.scss";

.admin_nav {
    .p-accordion-tab {
        .p-accordion-header {
            .p-accordion-header-link {
                border: none !important;
                background: none !important;
                padding: 0.7rem !important;

                &:focus {
                    border: none !important;
                    box-shadow: none !important;
                }
            }
        }

        .p-toggleable-content {
            .p-accordion-content {
                border: none !important;
                padding: 0.5rem !important;
                font: $f6_bold !important;



            }
        }
    }

    .sidepanel_admin {

        >ul>li {
            font: $f6_bold !important;
            list-style-type: none !important;
            float: left !important;
            width: 100% !important;
            text-align: start !important;
            display: flex;
            align-items: center;
            background-color: none !important;
            padding: 0.3rem;
            margin-bottom: 0.4rem;

            &:hover {
                background: #e3cff0 !important;
                border-radius: 0.5rem 0.5rem 0.5rem 0.5rem !important;
            }
        }

        .active_tab {
            background: #e3cff0 !important;
            border-radius: 0.5rem 0.5rem 0.5rem 0.5rem !important;
        }

        .not_active_tab {
            background-color: none !important;
        }
    }
}