@import "../../global/styles/ColorVariables.scss";
.admin_nav {
    // .p-panelmenu {
    //     @media screen and (min-width: 768px) {
    //         width: 23rem !important;
    //     }

    //     .p-panelmenu-panel {
    //         .p-panelmenu-header {
    //             .p-panelmenu-header-link {
    //                 border: none !important;
    //                 background: none !important;
    //             }
    //         }

    //         .p-toggleable-content {
    //             .p-panelmenu-content {
    //                 border-right: solid 2px rgba(223, 220, 220, 0.925) !important;
    //                 border-bottom: none !important;
    //                 border-left: none !important;
    //             }
    //         }
    //     }
    // }
    .p-accordion-tab {
        .p-accordion-header {
            .p-accordion-header-link {
                border: none !important;
                background: none !important;
                &:focus{
                    border: none !important;
                    box-shadow: none !important;
                }
            }
        }

        .p-toggleable-content {
            .p-accordion-content {
                border: none !important;
                padding: 0.5rem !important;

                .p-button {
                    color: black !important;
                    margin: 0.2rem 0.2rem !important;
                    padding: 0.2rem 0.5rem !important;
                    background: white !important;
                    border: none !important;
                    align-items: start !important;
                    text-align: left !important;
                    border-radius: 5px;

                    .p-button-label {
                        font-weight: 400;
                    }

                    &:focus {
                        background: #e3cff0 !important;
                        box-shadow: none !important;
                    }

                }
            }
        }
    }

}
.email_button{
    background: transparent;
    color: black;
    border-color: transparent;
    width: 22rem;
    margin-left: 0.4rem;
    font: $f6_bold;
    &:hover{
        background: #e3cff0 !important;
        border-color: #e3cff0 !important;
        // border-color: transparent !important;
        color: black !important;
        box-shadow: none !important;
    }
    &:focus{
        background: #e3cff0 !important;
        // border-color: #e3cff0 !important;
        // border-color: transparent !important;
        border:none;
        color: black;
        box-shadow: none !important;
    }
}
.Agent_btn{
        // border-color:transparent;
        // background: transparent;
        // color: black;
        font: $f6_bold;
    .p-button{
        color: black !important;
                    margin: 0.2rem 0.2rem !important;
                    padding: 0.2rem 0.5rem !important;
                    background: white !important;
                    border: none !important;
                    align-items: start !important;
                    text-align: left !important;
                    border-radius: 5px;

    &:hover {
        background: #e3cff0 !important; 
        border-color: #e3cff0 !important; 
        color: black !important;
    }
}
    
}