@import "../../global/styles/ColorVariables.scss";
.Create_Header {
    margin-left: 0.5rem;
    // padding-top: 0.4rem;
    .Create_btn {
        top: 3.5rem;
        left: 89.5rem;
        position: absolute;
    }
    .header_label{
        position: relative;
        font: $f5_bold;
    }
}
.current_img_icon{
    position: relative;
    right: 0.5rem;
    top: 0.3rem;
}