.allocate-opt{
    div{
        display: inline-block;
        margin: 20px 0px;
        padding: 0px 20px;
        color: #fff;
        border: 0;
        border-radius: 8px;
        padding: 2px 15px;
        font-size: 18px;
        background: #643693;
        font-family: 'LatoWebLight';
        outline: 0;
        cursor: pointer;
    }
    div:nth-child(2){
        margin-left: 20px;
    }
    .unactive-opt{
        box-shadow: 2px 2px #8469a0;
        background: #6e469896;
    }
    
}
.allocate-quant-container{
    position: absolute;
    top: 135px;
    width: 100%;
    .input-label{
        width: 100%;
        span{
            margin-left: 30px;
            position: absolute;
            margin-left: 30px;
            width: 65%;
            max-width: 420px;
        }
        >input{
            margin-left: 30px;
        }
        input:focus{
            outline: none;
        }
    }
    .filter-pool{
        div{
            width:100%;
        }
        input{
            width: 100%;
        }
    }
    .ice-count{
        border: 1px solid;
        width: 100px;
    }
}