@import "../../global/styles/ColorVariables.scss";

.assign_opt-box{
    display: flex;
    height: 90%;
    margin-top: 50px;
    font-size: 14px;
    select:focus{
        outline: none;
    }
    #opt-box-right::-webkit-scrollbar-thumb,
    #opt-box-left::-webkit-scrollbar-thumb {
        background-color: $backgroundTwo;
        border: 1px solid transparent;
        border-left-color: $borderThree;
        border-right-color: $borderThree;
        border-radius: 10px;
    }
    #opt-box-right::-webkit-scrollbar,
    #opt-box-left::-webkit-scrollbar{
        width: 8px;
    }
    #opt-box-right,#opt-box-left{
        width: 100%;
        height: calc(100% - 25px);
        background-image: none;
        -webkit-appearance: select;
        font-size: 13px;
        font-family: $avoPrimaryFont;
        padding: 8px;
        border: 1px solid $borderFour;
        border-radius: 3px;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        -o-border-radius: 3px;
        -ms-border-radius: 3px;
        box-shadow: inset 0px 1px 6px $borderFour;
        -moz-box-shadow: inset 0px 1px 6px $borderFour;
        -webkit-box-shadow: inset 0px 1px 6px $borderFour;
        -o-box-shadow: inset 0px 1px 6px $borderFour;
        -ms-box-shadow: inset 0px 1px 6px $borderFour;
        option{
            padding: 10px;
        }
    }
    .left-box{
        flex: 1;
    }
    .middle-box{
        flex: 0.5;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 25px;
        button{
            margin: 10px 0px;
            font-size: 11px;
            cursor: pointer;
            font-weight: 600;
            width: 35px;
            outline: none;
            padding: 6px 12px;
            background: $primaryColor;
            border: none;
            color: $whiteColor;
            border-radius: 3px;
            -moz-border-radius: 3px;
            -webkit-border-radius: 3px;
            -o-border-radius: 3px;
            -ms-border-radius: 3px;
            clear: both;
            float: left;
        }
        
    }
    .right-box{
        flex: 1;
    }
    #addEmailOption {
        padding-left: 50px !important;
        background: lightgray url('/static/imgs/ic-add-sm.png') 15px 5px no-repeat;
        :checked {
            background: red linear-gradient(0deg, red 0%, red 100%);
        }
    }
}