.adminActionBtn{
    .btn-edit{
        margin-right: 10px;
    }
}
.crt_ice-pool{
    height: calc( 100% - 15px);
    .assignBox-container{
        width: 100%;
        height: calc( 100% - 125px);
    }
    .input-label{
        width: 75%;
        font-size: small;
        font-weight: 700;
        margin-top: 25px;
        label{
            width: 60px;
        }
        input{
            display: inline-block;
            width: 75%;
        }

    }
}
.crt_ice-pool_container{
    width: 100%;
    padding: 20px;
    height: 100%;
}