@import "../../global/styles/ColorVariables.scss";
.edit-user-dropdown-edit{
    width: 85%;
    background: none;
    height: 30px;
    display: inline-block;
    font-weight: 400;
    color: $darkestGray;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid;
    padding: .375rem .75rem;
    font-size: 16px;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  
}
.form-control-custom-edit{
	border: 1px solid $borderOne !important;
	border-left:0 !important;
	border-right:0 !important;
	border-top:0 !important;
	border-radius:0;
	box-shadow: none;
	color:$darkGray;
}

.form-control-custom-edit:focus {
    box-shadow: none !important;
}
.form-control-custom-edit.inputErrorBorderBottom{
    border: 2px solid $redError !important;
    border-left: 0 !important;
    border-right: 0 !important;
    border-top: 0 !important;
    border-radius: 0  ;
    box-shadow: none;
    color: $darkGray;
}

.form-control__conv-edit {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: $primaryText;
    background-color: $whiteColor;
    background-image: none;
    outline: none;
    border: 1px solid $borderTwo;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: 0;
}
.adminSelect-edit {
	padding: 0px;
	height: 25px;
	margin-bottom: 0;
	width: 50%;
	margin-left: 4%;
	margin-top: 1%;
	line-height: 2;
    border: 1px solid $borderOne !important;
    -webkit-text-stroke: thin;
}
.adminSelect-edit:focus {
	box-shadow: none !important;
}
.dropdown-menu-users-edit{
    max-height:165px;
    overflow-y:hidden;
    width: 85%;
    padding: 6px;
    position: absolute;
    top: 100%;
    left: 0;
    background: $whiteColor;
    z-index: 1000;
}
.dropdown-menu-users-edit>li{
    padding: 3px 12px;
}
.dropdown-menu-users-edit>li:hover{
    background:$primaryColor;
    border-radius: 3px;
    color:$whiteColor;
    cursor: pointer;
}  
@media screen and (min-width:1800px){
    .edit-user-dropdown-edit{
        width: 90%;
    }
    .dropdown-menu-users-edit{
        width: 90%;
    }
}
.btn-disabled:disabled {
	opacity: 0.5;
}
.Create-User__btn_edit:disabled {
	opacity: 0.5;
}

.col-xs-9{
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.col-xs-9 {
    float: left;
}
.col-xs-9 {
    width: 75%;
}
.adminControl-edit {
	margin-bottom: 3%;
    padding: 0px 0px;
    position: relative;
    float: left;
    width: 100%;
}

.adminControl-edit div span {
    display: inline-block;
    font-size: small;
    width: 130px;
    font-weight: 700;
    margin-top: 5px;
}
.adminControl-edit div input, .adminControl-edit div select {
    width: calc(100% - 130px);
}
.rightControl-edit {
	float: right;
	width: 50%;
}
.userForm-edit {
	float: left;
	width: 100%;
}
.userTypeBtn_conv-edit{
    margin: 4px 0px;
    right: 0px;
    cursor: default;
    position: absolute;
    width: 80px;
    z-index: 1;
    background: $borderGray;
    color: $whiteColor;
    outline: 0;
    border-radius: 20px;
    padding: 0px 12px;
    font-size: 13px;
    font-family: $avoFont ;
    margin-right: 7px;
    font-family: $avoSecondaryFont;
    text-align: center;
    white-space: nowrap;
    border: 0;
    vertical-align: middle;
}
.userTypeBtn_conv-edit:focus{
    outline: 0;
}
.middle__input__border-edit{
    border-radius: 0;
}
.leftControl-edit {
	float: left;
	width: 47%;
}
.user-select__option:hover{
    background:$primaryColor;
    border-radius: 3px;
    color:$whiteColor;
    cursor: pointer;
    width: 97%;
}
.edit__modal_button{
    margin-right:10px;
}
.dropdown-menu-edit .scrollbar-container{
    width: 100%;
}
.c__usersList{
    padding: 6px;
    font-size: 14px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    display: flex;
    border: 1px solid rgba(0,0,0,.15);
}