@import "../../global/styles/ColorVariables.scss";
.modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto;
}
.fade {
    opacity: 0;
    -webkit-transition: opacity .15s linear;
    -o-transition: opacity .15s linear;
    transition: opacity .15s linear;
}

#editGlobalModal.modal-dialog-edit {
    opacity: 1;
}
.modal-dialog-edit {
    text-align: left;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) !important;
    -moz-transform: translate(-50%, -50%) !important;
    -webkit-transform: translate(-50%, -50%) !important;
    -o-transform: translate(-50%, -50%) !important;
    -ms-transform: translate(-50%, -50%) !important;
}
@media (min-width: 768px){}
    .modal-dialog-edit {
    width: 600px;
    margin: 30px auto;
}

@media (min-width: 768px){
    .modal-sm-edit {
        width: 300px;
    }
}
.modal-header-edit{
    padding: 8px;
    border: 0;
}
.modal-header-edit .close {
    right: 15px;
    top: 11px;
    position: absolute;
    color: $whiteColor;
    opacity: 1;
    text-shadow: none;
    font-family: 'LatoWebThin';
    font-size: 35px;
    margin-top: -2px;
}
.modal-title {
    margin: 0;
    line-height: 1.42857143;
    background: $primaryColorDark;
    color: $whiteColor;
    border-radius: 6px;
    padding: 5px 40px;
    text-align: center;
    word-break: break-all;
    font-size: 17px;
    overflow: hidden;
    white-space: nowrap !important;
    text-overflow: ellipsis;
}
.modal-body-edit{
    position: relative;
    padding: 15px;
}
.modal-body-edit p{
    margin: 12px 11px;
    user-select: none;
}