@import "../../global/styles/ColorVariables.scss";
.conf_email{
    height: calc(100% - 31px);
    margin-top: 80px;
    .input-label{
        width: 100%;
        max-width: 730px;
        font-size: small;
        font-weight: 700;
        margin-top: 25px;
        label{
            width: 120px;
        }
    }
    @media screen and (min-width: 1801px) {
        .input-label{
            max-width: 100% !important;
        }
    }
    .conf-title{
        width: 100%;
        background: $whisper;
        display: block;
        font-weight: 100;
        font-size: 18px;
        padding: 8px;
    }
    .checkbox-email{
        label{
            width: 200px;
            margin-left: 10px;
        }

    }
}
.conf_email_container{
    width: 100%;
    padding: 20px;
    height: 100%;
    button:disabled{
        cursor: not-allowed;
        filter: alpha(opacity=65);
        opacity: .65;
    }
}
.full_page{
    width: 100%;
    float: left;
    overflow: auto;
    height: 31rem;
}
.test_submit{
    display: flex;
    top: 4rem;
}
.test_button{
    height: 1rem;
    background: transparent;
    color: black;
}
.providerdropdown{
    margin-left: 1rem;
    width: 20%;
}
.provider{
    line-height: 3rem;
    font-weight: bold;
    font-family: "Open Sans";
    margin-left: 1rem;
    font-size: 1rem;
}
.email_setting_header{
    line-height: 3rem;
    font-weight: bold;
    font-family: "Open Sans";
    margin-left: 1rem;
    margin-top: 1.2rem;
    font-size: 1.1rem;
}
.hostname{
    font-weight: 700;
    line-height: 3rem;
    margin-left: 1.4rem;
    margin-bottom: -1rem;
}
.server_name{
    margin-left: 3rem;
    width: 20%;
    font-family: "Open Sans";
}
.servername{

    margin-left: -70rem;
    font-weight: bold;
    font-family: "Open Sans";
}
.portname{
    margin-left: 1rem;
    font-weight: bold;
    line-height: 5rem;
    font-family: "Open Sans";
}
.Auth_dropdown{
    font-family: Open Sans;
    margin-left: -83rem;
    width: 19rem;
    display: flex;
    margin-top: 1rem;
}
.Authname{
    font-weight: bold;
    font-family: "Open Sans";
    margin-left: 1rem;
    line-height: 3rem;
}
.savebtn{
    float: right;
    margin-right: 76rem;
    margin-top: 1rem;
}
.auth-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.auth-label {
    margin-left: -156rem;
    margin-top: 11rem;
    font-family: "Open Sans";
    font-weight: bold;
}
.testbtn{
    float: right;
    height: 3rem;
    justify-content: center;
    margin-right: -42rem;
    width: 5rem;
    margin-top: 1rem;
}
.disabelbtn{
    float: left;
    margin-top: 1.2rem;
    margin-left: 2rem;
    .p-button {
        /* background: #6366f1; */
        border: transparent;
        border-radius: 6px;
        color: black;
        font-size: 1rem;
        padding: 0.75rem 1.25rem;
        transition: background-color .2s,color .2s,border-color .2s,box-shadow .2s;
    }
}
