@import "../../global/styles/ColorVariables.scss";
.conf_email{
    height: calc(100% - 31px);
    margin-top: 80px;
    .input-label{
        width: 100%;
        max-width: 730px;
        font-size: small;
        font-weight: 700;
        margin-top: 25px;
        label{
            width: 120px;
        }
    }
    @media screen and (min-width: 1801px) {
        .input-label{
            max-width: 100% !important;
        }
    }
    .conf-title{
        width: 100%;
        background: $whisper;
        display: block;
        font-weight: 100;
        font-size: 18px;
        padding: 8px;
    }
    .checkbox-email{
        label{
            width: 200px;
            margin-left: 10px;
        }

    }
}
.conf_email_container{
    width: 100%;
    padding: 20px;
    height: 100%;
    button:disabled{
        cursor: not-allowed;
        filter: alpha(opacity=65);
        opacity: .65;
    }
}
.full_page{
    width: 100%;
    float: left;
    overflow: auto;
    height: 31rem;
}
.test_submit{
    display: flex;
    top: 4rem;
}
.test_button{
    height: 1rem;
    background: transparent;
    color: black;
}