@import "../../global/styles/ColorVariables.scss";
.input-label{
    width: 75%;
    font-size: small;
    font-weight: bold;
    margin-top: 25px;
    font-family: "Open Sans";
    .left-opt{
        display: inline-block;
        height: 2.5rem;
        margin-left: 24px;
        margin-top: -1rem;
        width: 26%;
        border-color: gainsboro;
    }
    input:read-only ,input:disabled{
        background-color: $whisper;
        opacity: 1;
        cursor: not-allowed;
    }
    
    label{
        width: 120px;
    }
    option:disabled{
        background-color: $whisper;
    }
    .conf-radio input[type="radio"] {
        margin-right: 6px;
        -webkit-transform: scale(1.5);
        transform: scale(1.5);
        justify-content: space-around;
        display: initial;
        margin-left: 1rem;
    }
}
.form-inp-dropdown{
    font-size: 14px;
    box-shadow: rgba(0, 0, 0, 0.176) 0px 6px 12px;
    display: block;
    max-height: 100px;
    background: $whiteColor;
    margin-top: 2px;
    option{
        padding-left: 2px;
        margin: 4px;
        width: calc(100% - 14px);
    }
    option:hover{
        background: $primaryColor;
        border-radius: 3px;
        color: $whiteColor;
        cursor: pointer;
    }
}
.form-inp-dropdown-ldap{
    width: calc(100% - 130px);
    position: absolute;
    left: 130px;
    z-index: 1000;
}
