.git_container{
    width: 100%;
    padding: 20px;
    height: 100%;
    .col-xs-9{
        width: 83%;
    }
    .adminActionBtn{
        padding-bottom: 5%;
    }
    .input-label {
        margin-top: 0;
    }
    .git_token{
        label{
            width: 120px;
        }
        .left-opt{
            width: calc(100% - 180px);
        }
    }
    .adminActionBtn .a__btn:disabled {
        opacity: 0.5;
    }
}