@import "../../global/styles/ColorVariables.scss";
.Grid__box{
    width: 32rem;
    height: 24.5rem;
    box-shadow: none !important;
    border: 0.5px solid #dee2e6 !important;
    padding: none !important;
}
.page-taskName_grid {
    margin-top: 2rem;
    font: $f5_semibold;
}
.grid_arrows{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.gtbtn{
    position: inherit;
    margin: 1rem;
}
.Search_name{
    width: 22rem;
    // margin-bottom: 1rem;
}
.search__grid{
    position: relative;
    bottom: 2rem;
}
.agent_state__legends_grid {
    display: flex;
    margin-top: 0.5rem;
    width: inherit;
}
.Grid_table{
    overflow-y: none !important;
    margin: none !important;
}
.grid_img{
    display: flex;
    height: 16rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    width: 65rem;
}
.create_grid{
.grid_btn {
    position: relative;
    top: 24rem;
    left: 29rem;
}
.newGrid__grid{
    position: relative;
    top: 73rem;
    right: 155rem;
}
}
.searchBox{
    position: relative;
    left: 22rem;
}
.save_grid_btn{
    position: relative;
    left: 62rem;
}
.cancel_grid_btn{
    position: relative;
    left: 52rem;
}
.searchBox_grid{
    position: relative;
    top: 0rem;
    left: 23rem;
}
.config_name{
    position: relative;
    right: 28rem;
}
.Grid_table{
    padding: 1rem;
    width: 69rem;
}
.grid_btn_list{
    left: 41rem;
    position: relative;
    top: 1rem;
}
.searchBox_grid1{
    position: relative;
    bottom: 1.8rem;
    left: 38rem; 
}
.grid_inputnumber {
   .p-inputtext{
      width: 3rem !important;
}
}
.search_grid{
    width: 20rem;
    position: relative;
    left: 40rem;
    top: 1.1rem;
}

   
