.adminBtn-ice-provision{
    margin-right:10px;
}
.ip-content_wrapper{
    height: 100%;
    width: inherit;
    float: left;
    padding-bottom: 55px;
}
.ip_container{
    width: 100%;
    padding: 20px;
    height: 100%;
}