@import "../../global/styles/ColorVariables.scss";
.adminControl-ip {
	margin-bottom: 3%;
    padding: 0px 0px;
    position: relative;
    float: left;
    width: 100%;
}

.adminControl-ip div span {
    display: inline-block;
    font-size: small;
    width: 130px;
    font-weight: 700;
    margin-top: 5px;
}
.adminControl-ip div input, .adminControl-ip div select {
    width: calc(100% - 130px);
}
.leftControl-ip {
	float: left;
	width: 47%;
}
.form-control-custom-ip{
	border: 1px solid $borderOne !important;
	border-left:0 !important;
	border-right:0 !important;
	border-top:0 !important;
	border-radius:0;
	box-shadow: none;
	color:$darkGray;
}

.form-control-custom-ip:focus {
    box-shadow: none !important;
}

.form-control-custom-ip.inputErrorBorderBottom{
    border: 2px solid $redError !important;
    border-left: 0 !important;
    border-right: 0 !important;
    border-top: 0 !important;
    border-radius: 0  ;
    box-shadow: none;
    color: $darkGray;
}
.userForm-ip {
	float: left;
	width: 100%;
}
.form-control-ip {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: $primaryText;
    background-color: $whiteColor;
    background-image: none;
    outline: none;
    border: 1px solid $borderTwo;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: 0;
}
.border_input-ip{
    border-radius: 0;
}
.adminSelect-ip {
	padding: 0px;
	height: 25px;
	margin-bottom: 0;
	width: 50%;
	margin-left: 4%;
	margin-top: 1%;
	line-height: 2;
    border: 1px solid $borderOne !important;
    -webkit-text-stroke: thin;
}
.adminSelect-ip:focus {
	box-shadow: none !important;
}
#icetokenarea textarea {
    margin-top: 5px;
    width: calc(100% - 180px);
    height: 70px;
    resize: none;
    font-size: 14px;
}

#icetokenarea span.fa {
    font-size: 22px;
    padding: 5px;
    width: auto;
    display: block;
}

#icetokenarea span.fa:hover {
    background: $borderFour;
    border-radius: 7px;
    cursor: pointer;
}
.adminControl-ip-cust{
    margin-bottom:2%;
    margin-top: 2%;
}
.lable-cust-ip{
    float: right;
}
.action-cust-ip{
    width:auto;
    margin-right:10px;
}

// token scrollbar css

#iceToken{
    &::-webkit-scrollbar {
        width: 8px;
    }
    &::-webkit-scrollbar-thumb {
        background-color: $backgroundTwo;
        border: 1px solid transparent;
        border-left-color: $borderThree;
        border-right-color: $borderThree;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px; 
    }
}