@import "../../global/styles/ColorVariables.scss";
.form-group-ip{
    margin-bottom:15px
}
.adminForm-ip {
	padding-top: 5%;
}

.sessionHeading-ip{
	padding-left: 5px;
	display: flex;
	background: $whisper;
	cursor: pointer;
	width: 100%;
	margin-bottom: 3px;
}

.sessionHeading-ip:hover {
	background: $backgroundOne;
}

.sessionHeading-ip h4{
    margin-top: 10px;
    flex-grow: 1;
    margin-bottom: 10px;
	display: inline-block;
	padding-right: 5px;
    user-select: none;
    font-size: 18px;
}
@media screen and (max-width:800px){ 
    .sessionHeading-ip{
        width: 95%;
    }
}
.searchIcon-provision{
	cursor: pointer;
	background: $whiteColor;
    padding: 4px;
    border-radius: 7px 7px 7px 7px;
    position: relative;
    left: 61px;
    font-size: 14px;
}
.searchInput-list-ip{
	border-radius: 7px 0px 0px 7px;
    border: none;
    position: relative;
    left: 60px;
    height: 28px;
    outline: none;
    color: black;
    padding-left: 5px;
    -webkit-transition: width 0.3s;
    transition: width 0.3s;
}
#activeUsersToken-x{
    overflow-y: auto;
    height: calc(100% - 40px);
}
.search-ip{
    background-color: $whiteColor;
    float: right;
    margin-right: 30px;
    margin-top: 6px;
    border-radius: 10px;
    height: 30px;
}

.search-img-ip{
    margin-top: -1px; 
    
    margin-left: 1px;
}
.search-icon-ip{
    border-radius:0px 7px 7px 0px;
    left:0;
    float:right;
}
.searchInput-cust-ip{
    left:0;
    float:right;
    position:relative;
    margin-left:0;
}
.wrap-cust-ip{
    max-height: 450px;
}
.btn-cust-ip{
//  .p-button{
    margin-left: 1rem !important;
    background: none !important;
    color: blue !important;
    // }
}