@import "../../global/styles/ColorVariables.scss";
.leftControl-ldap-dm {
	float: left;
	width: 47%;
}
.adminControl-ldap-dm {
	
	margin-bottom: 3%;
    padding: 0px 0px;
    position: relative;
    float: left;
    width: 64%;
}

.adminControl-ldap-dm div span {
    display: inline-block;
    font-size: small;
    width: 130px;
    font-weight: 400;
    margin-top: 5px;
}
.adminControl-ldap-dm div input, .adminControl-ldap-dm div select {
	width: calc(100% - 130px);
}
.form-control-ldap-dm {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: $primaryText;
    background-color: $whiteColor;
    background-image: none;
    outline: none;
    border: 1px solid $borderTwo;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: 0;
}
.adminSelect-ldap-dm {
	padding: 0px;
	height: 25px;
	margin-bottom: 0;
	width: 50%;
	margin-left: 4%;
	margin-top: 1%;
	line-height: 2;
    border: 1px solid $borderOne !important;
    -webkit-text-stroke: thin;
}
.adminSelect-ldap-dm:focus {
	box-shadow: none !important;
}
.title-ldap-dm{
    font-size:14px;
}