@import "../../global/styles/ColorVariables.scss";
.userForm-ldap-edit {
	float: left;
	width: 100%;
}
.form-control-ldap-edit {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: $primaryText;
    background-color: $whiteColor;
    background-image: none;
    outline: none;
    border: 1px solid $borderTwo;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: 0;
}

.ldap-content_wrapper-edit{
    height: 93vh;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.ldap_container-edit{
    display: flex;
    flex-direction: column;
    height: 68%;
    padding: 20px;
    width: 71%;
}

