.btn-md-ldap.focus,
.btn-md-ldap,
.btn-md-ldap:active:focus,
.btn-md-ldap:focus,
.btn-md-ldap:hover {
    color: #fff;
    border: 0;
    border-radius: 20px;
    padding: 2px 15px;
    font-size: 17px;
    background: #643693;
	font-family: 'LatoWebLight';
    outline: 0;
}
@media screen and (min-width: 1700px){
    .btn-md-ldap {
        font-size: 1.2vw;
    }
}
.adminBtn-ldap {
	padding: 2px 25px !important;
}
.ldap-disabled-btn:disabled {
	opacity: 0.5;
}
.btn-margin-ldap{
    margin-right:10px;
}
.form-group-ldap{
    margin-bottom:15px;
    padding-top:0;
}
.adminForm-ldap {
	padding-top: 5%;
}
.leftControl-ldap {
	float: left;
	width: 47%;
}
.adminControl-ldap {
	margin-bottom: 3%;
    padding: 0px 0px;
    position: relative;
    float: left;
    width: 100%;
}

.adminControl-ldap div span {
    display: inline-block;
    font-size: small;
    width: 130px;
    font-weight: 700;
    margin-top: 5px;
}
@media screen and (min-width:1801px){
    .adminControl-ldap div span {
        width: 200px;
        font-size: 1.2vw;
    }
}
.adminControl-ldap div input, .adminControl-ldap div select {
	width: calc(100% - 130px);
}
@media screen and (min-width:1801px){
    .adminControl-ldap div input, .adminControl-ldap div select {
        width: calc(100% - 220px);
    }
}
.form-control-custom-ldap{
	border: 1px solid #656565 !important;
	border-left:0 !important;
	border-right:0 !important;
	border-top:0 !important;
	border-radius:0;
	box-shadow: none;
	color:#333;
}

.form-control-custom-ldap:focus {
    box-shadow: none !important;
}

.form-control-custom-ldap.inputErrorBorderBottom{
    border: 2px solid #d33c3c !important;
    border-left: 0 !important;
    border-right: 0 !important;
    border-top: 0 !important;
    border-radius: 0  ;
    box-shadow: none;
    color: #333;
}.form-control-ldap {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    outline: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: 0;
}
@media screen and (min-width: 1801px) {
    .form-control-ldap {
        font-size: 1.2vw;
        height: 2.2vw;
    }
}
.input_border-ldap{
    border-radius: 0;
}
.inputErrorBorder{
	border-bottom: 2px solid #d33c3c !important;
}

.selectErrorBorder{
	border: 2px solid #d33c3c !important;
}
.ldap-content_wrapper-create{
    height: 100%;
    float: left;
    padding-bottom: 55px;
}