@import "../../global/styles/ColorVariables.scss";
.userForm-ldap-edit {
	float: left;
	width: 100%;
}
.form-control-ldap-edit {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: $primaryText;
    background-color: $whiteColor;
    background-image: none;
    outline: none;
    border: 1px solid $borderTwo;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: 0;
}
.adminSelect-ldap-edit {
	padding: 0px;
	height: 25px;
	margin-bottom: 0;
	width: 50%;
	margin-left: 4%;
	margin-top: 1%;
	line-height: 2;
    border: 1px solid $borderOne !important;
    -webkit-text-stroke: thin;
}
.adminSelect-ldap-edit:focus {
	box-shadow: none !important;
}
.ldap-content_wrapper-edit{
    height: 100%;
    float: left;
    padding-bottom: 55px;
}
.ldap_container-edit{
    width: 100%;
    padding: 20px;
    height: 100%;
}

