@import "../../global/styles/ColorVariables.scss";

.oidc__btn_edit:disabled {
	opacity: 0.5;
}
.form-group__conv-oidc{
    margin-bottom:15px
}
.adminForm {
	padding-top: 5%;
}
.leftControl-oidc {
	float: left;
	width: 47%;
}
.form-control-custom-oidc{
	border: 1px solid $borderOne !important;
	border-left:0 !important;
	border-right:0 !important;
	border-top:0 !important;
	border-radius:0;
	box-shadow: none;
	color:$darkGray;
}

.form-control-custom-oidc:focus {
    box-shadow: none !important;
}

.form-control-custom-oidc.inputErrorBorderBottom{
    border: 2px solid $redError !important;
    border-left: 0 !important;
    border-right: 0 !important;
    border-top: 0 !important;
    border-radius: 0  ;
    box-shadow: none;
    color: $darkGray;
}

.adminControl-oidc {
	margin-bottom: 3%;
    padding: 0px 0px;
    position: relative;
    float: left;
    width: 100%;
}

.adminControl-oidc div span {
    display: inline-block;
    font-size: small;
    width: 130px;
    font-weight: 700;
    margin-top: 5px;
}
.adminControl-oidc div input, .adminControl-oidc div select {
	width: calc(100% - 130px);
}
.userForm-oidc {
	float: left;
	width: 100%;
}
.form-control-oidc {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: $primaryText;
    background-color: $whiteColor;
    background-image: none;
    outline: none;
    border: 1px solid $borderTwo;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: 0;
}
.adminSelect-oidc {
	padding: 0px;
	height: 25px;
	margin-bottom: 0;
	width: 50%;
	margin-left: 4%;
	margin-top: 1%;
	line-height: 2;
    border: 1px solid $borderOne !important;
    -webkit-text-stroke: thin;
}
.adminSelect-oidc:focus {
	box-shadow: none !important;
}
.middle__input__border-oidc{
    border-radius: 0;
}
.btn-default {
    color: $whiteColor;
    border: 0;
    border-radius: 20px;
    padding: 5px 20px;
    font-size: 16px;
    background: $primaryColor;
}

.btn-default.focus,
.btn-default,
.btn-default:active:focus,
.btn-default:focus,
.btn-default:hover {
    background: $primaryColor;
    color: $whiteColor;
    outline: 0;
}
.btn-margin{
    margin-right:10px;
}
.oidc_container{
    width: 100%;
    padding: 20px;
    height: 100%;
}