@import "../../global/styles/ColorVariables.scss";

#selAssignUser{
    margin-left: 37px;
    height: 2.25rem;
}

.wrap {
    float: left;
    width: 100%;
    position: relative
}

.assign-container{
    height: 50vh;
}

.project-left2 {
    float: left;
    background: $whiteColor;
    width: 100%;
    
    border-radius: 3px;
    display: flex;
    justify-content: space-between;
    position: relative;
    height: 95%;
    max-height: 10;
    padding: 8px;
    max-height: 24rem;
}

.assign-select
{
    flex: 1 1 100%;
}
.labelStyle1 {
    font: $f6_semibold;
}
.seprator {
    height: 100%;
    padding-bottom: 5%;
}
 #assignedProjectAP:hover,#allProjectAP:hover {
    background-color: $whiteColor;
    font-family: "Open Sans";
}
 #allProjectAP,#assignedProjectAP {
    outline: none;
    background-image: none;
    -webkit-appearance: select;
    margin-bottom: 0;
    // font-size: 13px;
    // font-family: "OPen Sans";
    padding: 8px;
    border: 1px solid $borderFour;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -o-border-radius: 3px;
    -ms-border-radius: 3px;
    box-shadow: inset 0px 1px 6px $borderFour;
    -moz-box-shadow: inset 0px 1px 6px $borderFour;
    -webkit-box-shadow: inset 0px 1px 6px $borderFour;
    -o-box-shadow: inset 0px 1px 6px $borderFour;
    -ms-box-shadow: inset 0px 1px 6px $borderFour;
    margin-inline-start: 0%;
    font: $f6_regular;
    width:30vw;
    height: 40vh;
}

@media screen and (min-height: 1000px) and (max-height: 1080px){
	#allProjectAP,#assignedProjectAP, #allProjectAP[size],#assignedProjectAP[size]{min-height: 258px !important;}
}

.wrap-editpro {
    float: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-basis: 42%;
}
@media screen and (min-width:1366px){
    .select-margin {
        margin-left: 6%;
    }
}
@media screen and (max-width:1366px) and (min-width:800px){
    .select-margin {
        margin-left: 6%;
    }
}
@media screen and (max-width:800px){
    .select-margin {
        margin-left: 8%;
    }
}
@media screen and (min-width:1500px){
    .assign-container{
        height: calc(100%  + 90px);
    }
}
@media screen and (min-width:2000px){
    .assign-container{
        height: calc(100% - 245px);
    }
}

.center-button button {
    font-size: 11px;
    cursor: pointer;
    font-weight: 600;
    width: 35px;
    outline: none;
    margin-bottom: 15px;
    padding: 6px 12px;
    background: #6366f1;
    border: none;
    color: $whiteColor;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -o-border-radius: 3px;
    -ms-border-radius: 3px;
    margin-top: 1%;
    clear: both;
    float: left;
    .p-button-outlined {
        background-color: white !important;
        color: black !important;
        border-color: #4F46E5 !important;
        margin: 5px; /* Adjust margin as needed */
        padding: 5px 10px; /* Adjust padding as needed */
    }
    .p-button.p-button-outlined {
        background-color: transparent;
        color: #6366F1;
        border: 2px solid !important;
    }
}
.center-button button:focus {
    outline: 0;
}

.right-select {
    float: right;
    width: 40%;
}
#allProjectAP option,#assignedProjectAP option
{
    padding: 10px;
    user-select: none;
}
select[multiple]:focus option:checked {
	background: #6366f1 linear-gradient(0deg, #6366f1 0%, #6366f1 100%);
}
select[multiple]:-internal-list-box option:checked {
	background: none;
}
.wrap { padding: 8px; }


select[size] {
    height: auto;
  }

.selected-project{
    background-color: #6366f1 !important;
    color:white !important;
}  

.adminSelect-project-assign {
    border: 1px solid $borderOne !important;
    -webkit-text-stroke: thin;
    .p-dropdown-label.p-placeholder {
        font: $f7_regular !important;
        color: var(--surface-500) !important;
    }
    .p-dropdown-label {
        color: var(--surface-900)!important;
        font-size: 1rem !important;
        font:$f6_regular;
    }
}
.adminSelect-project-assign:focus {
	box-shadow: none !important;
}
#allProjectAP, #assignedProjectAP{
    &::-webkit-scrollbar {
        width: 8px;
    }
    &::-webkit-scrollbar-thumb {
        background-color: $backgroundTwo;
        border: 1px solid transparent;
        border-left-color: $borderThree;
        border-right-color: $borderThree;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px; 
    }
}
.btn-assign-popup{
    margin-right: 8px;
}
.modal-footer-edit{
    padding: 15px;
    text-align: right;
    // border-top: 1px solid #e5e5e5;
}
.modal-footer-edit button {
    background: #6366f1;
    color: $whiteColor;
    border: 0;
    border-radius: 20px;
    padding: 5px 20px;
    font-size: 16px;
}
.projAssign_container{
    width: 100%;
    padding: 20px;
    height: 100%;
}
.text{
    .p-dropdown-label.p-placeholder {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
}
.user_dropdown{
    margin-left: -2.3rem;
    margin-top: 0.5rem;
}
.required{
color: red;
}
.domainTxt{
    margin-top: -1.3rem;
    line-height: 1.8rem;
    margin-left: 0.3rem;
}
// .save_btn{
//     display: flex;
//     margin: -1rem;
//     position: relative;
// }
.adminActionBtn {
    text-align: right;
        width: auto;
        padding-right: 4rem;
        margin-bottom: -7rem;
        margin-top: 30rem;
        max-width: calc(100% - 8rem); 
    box-sizing: border-box;
    position: absolute;
    margin-left: 63rem;
}

.save_btn {
    bottom: 40px;
    right: 40px;
}

@media screen and (max-width: 768px) {
    .adminActionBtn {
        text-align: center;
    }
}

.chip_totalProj {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #E0E0E0;
    border-radius: 50%;
    margin: 5px;
    /* padding: 5px 7px; */
    font-size: 0.8rem;
    height: 1.8rem;
    min-width: 1.8rem;
    font-weight: bold;
}
// uncomment the below line if dropdown values needs to be in compressed view
// .p-dropdown-panel .p-dropdown-items .p-dropdown-item{
//     padding: 0.1rem 0.5rem !important;
// }