
#page-taskName,[id^=page-taskName] {
    float: left;
    width: 100%;
	margin-bottom: 10px;
}#page-taskName span,[id^=page-taskName] span {
    display: inline-block;
    /*background: #2f1c49;*/
    background: #331d4e;
    font-size: 18px;
    color: #fff;
    font-family: 'LatoWebLight';
    padding: 2px 14px 1px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

@media screen and (min-width:1801px){
    #page-taskName span,[id^=page-taskName] span {
        font-size: 1.2vw
    }
}


.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
    float: left;
}
.col-xs-9 {
    width: 75%;
}
.form-group__conv{
    margin-bottom:15px
}
.adminControl-project {
	margin-bottom: 3%;
    padding: 0px 0px;
    position: relative;
    float: left;
    width: 100%;
}

.adminControl-project div span {
    display: inline-block;
    width: 130px;
    font-weight: 700;
    margin-top: 5px;
}

.adminControl-project div input, .adminControl-project div select {
    /* display: inline-block; */
	width: calc(100% - 130px);
}
.userForm-project {
	float: left;
	width: 100%;
}
.domainTxt {
    font-weight: 700;
    float: left;
    font-family: LatoWeb;
    line-height: 1.428571429;
    font-size: 14px;
    margin-top: 5px;
}

@media screen and (min-width:1801px){
    .domainTxt {
        font-size: 1.2vw
    }
    .appTypeTxt {
        font-size: 1.2vw
    }
}
.projectForm-project:first-child {
	margin-top: 2%;
}

.projectForm-project {
	margin-bottom: 3%;
	padding: 0 0px;
}

.projectForm-project1 {
	margin-bottom: 2%;
    padding: 0 0px;
}
.appTypeTxt {
	position: relative;
	top: 20px;
}
.projectTypes,.projectTypes_create {
	float: left;
	width: 11%;
	padding: 7px;
	text-align: center;
	cursor: pointer
}

@media screen and (max-width:800px){
    .projectTypes,.projectTypes_create {
        display: inline-table;
    }
}


.projectTypes label,.projectTypes_create label {
	float: left;
	width: 100%;
	font-size: 11px;
	font-weight: 500;
	margin-top: 8px;
	color: #311d4e;
	margin-bottom: 0;
	cursor: pointer
}

@media screen and (min-width:1366px){
    .projectTypes label,.projectTypes_create label {
        font-size: 0.9vw;
    }
}

.projectTypes:nth-child(3) label,.projectTypes_create:nth-child(3) label,
.projectTypes:nth-child(4) label,.projectTypes_create:nth-child(4) label,
.projectTypes:nth-child(6) label,.projectTypes_create:nth-child(6) label,
.projectTypes:nth-child(7) label,.projectTypes_create:nth-child(7) label{
	margin-top: 9px;
}

.projectTypes:nth-child(5) label,.projectTypes_create:nth-child(5) label {
	margin-top: 14px;
}

.projectTypes:nth-child(8) label,projectTypes_create:nth-child(8){
	margin-top: 19px;
}

.projectTypes:hover,.projectTypes_create:hover{
	background: #e4e4e4;
    border-radius: 6px;
    transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
}
.appTypesContainer {
	float: right;
    width: 86%;
    margin-left: 5px;
    padding-left: 5%;
}


@media screen and (max-width:800px){
    .appTypesContainer {
        padding-top: 21px;
    }
}
.modal-body .row-modal .form-control-custom-project, .form-control-custom-project{
	border: 1px solid #656565 !important;
	border-left:0 !important;
	border-right:0 !important;
	border-top:0 !important;
	border-radius:0;
	box-shadow: none;
	color:#333;
}

.modal-body .row-modal .form-control-custom-project:focus, .form-control-custom-project:focus {
    box-shadow: none !important;
}

.modal-body .row-modal .form-control-custom-project-prop, .form-control-custom-project-prop{
	border: 1px solid #656565 !important;
	border-left:0 !important;
	border-right:0 !important;
	border-top:0 !important;
	border-radius:0;
	box-shadow: none;
	color:#333;
}

.modal-body .row-modal .form-control-custom-project-prop:focus, .form-control-custom-project-prop:focus {
    box-shadow: none !important;
}
.modal-body .row-modal .form-control-custom-project.inputErrorBorderBottom, .form-control-custom-project.inputErrorBorderBottom{
    border: 2px solid #d33c3c !important;
    border-left: 0 !important;
    border-right: 0 !important;
    border-top: 0 !important;
    border-radius: 0  ;
    box-shadow: none;
    color: #333;
}

.modal-body .row-modal .form-control-custom-project-prop.inputErrorBorderBottom, .form-control-custom-project-prop.inputErrorBorderBottom
{
    border: 2px solid #d33c3c !important;
    border-left: 0 !important;
    border-right: 0 !important;
    border-top: 0 !important;
    border-radius: 0 ;
    box-shadow: none;
    color: #333;
}
.form-control__conv-project {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    outline: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: 0;
}
@media screen and (min-width:1801px){
    .form-control__conv-project {
        font-size: 1.2vw;
    }
}

.middle__input__border{
    border-radius: 0;
}
.adminSelect-project {
	padding: 0px;
	height: 25px;
	margin-bottom: 0;
	width: 100%;
	margin-left: 38px;
	margin-top: 3px;
	line-height: 2;
    border: 1px solid #656565 !important;
    -webkit-text-stroke: thin;
}
@media screen and (min-width:1801px){
    .adminSelect-project{
        height: 1.4vw;
        margin-top: 10px;
    }
}

.adminSelect-project:focus {
	box-shadow: none !important;
}

.projectTypeSelected{
	background: #e4e4e4;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -o-border-radius: 6px;
    -ms-border-radius: 6px;
}
.inputErrorBorder{
	border-bottom: 2px solid #d33c3c !important;
}
.inputErrorBorder-project{
    border-bottom: 2px solid #d33c3c !important;
    border: 0;
}
.selectErrorBorder{
	border: 2px solid #d33c3c !important;
}
.display-project{
    display: flex;
}
.def-margin{
    margin-left: 50px;
}
.domain-custom{
    width: 100%;
    margin-left: 32px;
}
.sel-domain-wid{
    width: 100%;
}
.project-custom-top{
    display: flex;
    margin-top: 5%;
}
.seprator-custom{
    margin-bottom:0px;
}
.editProjectName{
    width: 14px;
    cursor: pointer;
}
.edit-project{
    margin-left:7px;
}
.edit-project__label{
    color: #d33c3c;
    font-size: 11px;
}
.disableEditProject{
    cursor: not-allowed !important;
    pointer-events: none;
}
.error-msg-project{
    font-size: 14px;
    font-family: 'LatoWeb';
    float: left;
    padding: 16px 0 0 12px;
    color: red;
}
.project__Modal-button{
    width: 100%
}
.modal-btn{
    float: right
}
.disableEditProject-span{
    cursor: not-allowed;
}