@import "../../global/styles/ColorVariables.scss";

#selAssignUser{
    margin-left: 37px;
}

.wrap {
    float: left;
    width: 100%;
    position: relative
}

.assign-container{
    height: calc(50% - 165px);
}

.project-left2 {
    float: left;
    background: $whiteColor;
    width: 75%;
    border-radius: 3px;
    display: flex;
    justify-content: space-between;
    position: relative;
    height: 25%;
    max-height: 10;
    padding: 8px;
}

.assign-select
{
    flex: 1 1 100%;
}
.labelStyle1 {
    float: left;
    line-height: 1;
    margin-bottom: 12px;
    font-weight: 300;
    cursor: default;
    margin-left: 0rem;
}
.seprator {
    height: 100%;
    padding-bottom: 5%;
}
 #assignedProjectAP:hover,#allProjectAP:hover {
    background-color: $whiteColor;
}
 #allProjectAP,#assignedProjectAP {
    width: 100%;
    height: calc(100% - 25px)!important;
    outline: none;
    background-image: none;
    -webkit-appearance: select;
    margin-bottom: 0;
    font-size: 13px;
    font-family: $avoPrimaryFont;
    height: 30%;
    padding: 8px;
    border: 1px solid $borderFour;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -o-border-radius: 3px;
    -ms-border-radius: 3px;
    box-shadow: inset 0px 1px 6px $borderFour;
    -moz-box-shadow: inset 0px 1px 6px $borderFour;
    -webkit-box-shadow: inset 0px 1px 6px $borderFour;
    -o-box-shadow: inset 0px 1px 6px $borderFour;
    -ms-box-shadow: inset 0px 1px 6px $borderFour;
    margin-inline-start: 0%;
}

@media screen and (min-height: 1000px) and (max-height: 1080px){
	#allProjectAP,#assignedProjectAP, #allProjectAP[size],#assignedProjectAP[size]{min-height: 258px !important;}
}

.wrap-editpro {
    float: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-basis: 42%;
}
@media screen and (min-width:1366px){
    .select-margin {
        margin-left: 6%;
    }
}
@media screen and (max-width:1366px) and (min-width:800px){
    .select-margin {
        margin-left: 6%;
    }
}
@media screen and (max-width:800px){
    .select-margin {
        margin-left: 8%;
    }
}
@media screen and (min-width:1500px){
    .assign-container{
        height: calc(100% - 190px);
    }
}
@media screen and (min-width:2000px){
    .assign-container{
        height: calc(100% - 245px);
    }
}

.center-button button {
    font-size: 11px;
    cursor: pointer;
    font-weight: 600;
    width: 35px;
    outline: none;
    margin-bottom: 15px;
    padding: 6px 12px;
    background: $primaryColor;
    border: none;
    color: $whiteColor;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -o-border-radius: 3px;
    -ms-border-radius: 3px;
    margin-top: 1%;
    clear: both;
    float: left;
}
.center-button button:focus {
    outline: 0;
}

.right-select {
    float: right;
    width: 40%;
}
#allProjectAP option,#assignedProjectAP option
{
    padding: 10px;
    user-select: none;
}
select[multiple]:focus option:checked {
	background: $primaryColor linear-gradient(0deg, $primaryColor 0%, $primaryColor 100%);
}
select[multiple]:-internal-list-box option:checked {
	background: none;
}
.wrap { padding: 8px; }


select[size] {
    height: auto;
  }

.selected-project{
    background-color: $primaryColor !important;
    color:white !important;
}  

.adminSelect-project-assign {
	padding: 0px;
	height: 25px;
	margin-bottom: 0;
	width: 100%;
	margin-left: 4%;
	margin-top: 3px;
	line-height: 2;
    border: 1px solid $borderOne !important;
    -webkit-text-stroke: thin;
}
.adminSelect-project-assign:focus {
	box-shadow: none !important;
}
#allProjectAP, #assignedProjectAP{
    &::-webkit-scrollbar {
        width: 8px;
    }
    &::-webkit-scrollbar-thumb {
        background-color: $backgroundTwo;
        border: 1px solid transparent;
        border-left-color: $borderThree;
        border-right-color: $borderThree;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px; 
    }
}
.btn-assign-popup{
    margin-right: 8px;
}
.modal-footer-edit{
    padding: 15px;
    text-align: right;
    border-top: 1px solid #e5e5e5;
}
.modal-footer-edit button {
    background: $primaryColor;
    color: $whiteColor;
    border: 0;
    border-radius: 20px;
    padding: 5px 20px;
    font-size: 16px;
}
.projAssign_container{
    width: 100%;
    padding: 20px;
    height: 100%;
}