@import "../../global/styles/ColorVariables.scss";
.relCycContainer{
	background: $borderThree;
    padding: 8px;
    clear: both;
    position: relative;
    top: 5px;
    height: 38% !important;
}
.containerWrap-project {
    float: left;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.addContainer{
	float: left;
    width: 100%;
    padding: 10px 25px;
    font-size: 15px;
    margin-bottom: 10px
}

.addContainer span{
	cursor: pointer;
	display: inline-block;
}
.addContainer img{
	margin-right: 10px;
    vertical-align: bottom;
}
.releaseContainer, .cycleContainer{
	width:50%;
}
.releaseContainer{padding-right: 3px;}

#releaseList,#cycleList
{
    overflow-y: auto !important; 
}
#releaseList, #cycleList{
	padding: 0;
    float: left;
    width: 100%;
}
#cycleList li{ padding-bottom: 4px !important;}
#releaseList li img,
#cycleList li img{
	vertical-align: bottom;
    margin-right: 15px;
}

#releaseList li,
#cycleList li{
	float: left;
    width: 100%;
    padding: 8px 25px 8px 24px;
    font-size: 15px;
    position: relative;
    cursor: pointer;
}
#releaseList li:hover,
#cycleList li:hover{
	background: #f1f1f1;
}
#updateReleaseCycle{
    height: calc(100% - 300px);
}
.disableAddCycle {
    cursor: not-allowed !important;
    pointer-events: none;
}
.disableAddRelease{
    cursor: not-allowed !important;
    pointer-events: none;
}
.disableApplicationType{
    pointer-events: none;
}
.releaseName,.cycleName{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    vertical-align: middle;
    display: inline-block;
}
.cycleName{
    margin-top:-10px !important;
}
.editReleaseName, .editCycleName{
    visibility: visible;
    float : right;
}
.active-release {
    background: #f1f1f1;
}
#releaseList, #cycleList{
    &::-webkit-scrollbar {
        width: 8px;
    }
    &::-webkit-scrollbar-thumb {
        background-color: $backgroundTwo;
        border: 1px solid transparent;
        border-left-color: $borderThree;
        border-right-color: $borderThree;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px; 
    }
}
.containerWrap-project-cust{
    height: 70%;
}