@import "../../global/styles/ColorVariables.scss";

#activeUsers,#clientUsers {
    height: calc(100% - 40px);
}
.form-group__conv-Sess-mgmt{
    margin-bottom:15px
} 
#middle-content-section>.containerWrap {
    overflow: visible;
    float: none;
}
.containerWrap {
    float: left;
    width: 100%;
    height: 100%;
    overflow: hidden;
    max-height: calc(100% - 0px);
}
.sessionItemWrap {
	height: auto;
}

.sessionTable.table>tbody>tr>th{
	vertical-align: middle;
    border-bottom: 1px solid $borderFour;
    font-size: 13px;
}

.sessionTable.table>tbody>tr>td{
	vertical-align: middle;
    border-bottom: 1px solid $borderFour;
    font-size: 13px;
}

.sessionTable button{
	color: $primaryColor;
	background: none;
	border-color: $primaryColor;
	border-radius: 20px;
	visibility: hidden;
}

.sessionTable button:hover,.sessionTable button:active,.sessionTable button:active:focus,.sessionTable button:focus{
	color: $primaryColor;
	outline: none;
}

.sessionTable button:hover{
	color: $whiteColor!important;
	background: $primaryColor;
	font-weight: 400;
}

.sessionTable.table-hover>tbody>tr:hover button{
	visibility: visible;
}
.sessionHeading{
	padding-left: 5px;
	display: block;
	background: $whisper;
	cursor: pointer;
	width: 100%;
	margin-bottom: 3px;
}

.sessionHeading:hover {
	background: $backgroundOne;
}

.sessionHeading h4{
    margin-top: 10px;
    margin-bottom: 10px;
	display: inline-block;
	padding-right: 5px;
    user-select: none;
    font-size: 18px;
}
.wrap-sess-mgmt {
    float: left;
    width: 100%;
    position: relative;
    padding: 8px;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid $borderFour;
}
.wrap-sess-mgmt-cust{
    max-height:320px;
    margin-bottom:15px;
}
.btn-hidden-cust{
    visibility:hidden
}
.wrap-sess-mgmt-custom{
    max-height:400px;
    margin-bottom:15px;
}
.btn-table-cust{
    font-size: 14px;
}
.content_wrapper-sess-mgmt{
    height: 100%;
    width: inherit;
    float: left;
    padding-bottom: 55px;
}
.sess-mgmt_container{
    width: 100%;
    padding: 20px;
    height: 100%;
}