#page-taskName,[id^=page-taskName] {
    float: left;
    width: 100%;
	margin-bottom: 10px;
}
#page-taskName span,[id^=page-taskName] span {
    display: inline-block;
    /*background: #2f1c49;*/
    background: #331d4e;
    font-size: 18px;
    color: #fff;
    font-family: 'LatoWebLight';
    padding: 2px 14px 1px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

@media screen and (min-width:1801px){ 
    #page-taskName span,[id^=page-taskName] span {
        font-size: 1.2vw
    }
}
.adminBtn-tkn-mgmt {
	padding: 2px 25px !important;
}
.btn-right-cust-tkn{
    margin-right:10px;
}
.content_wrapper-tkn-mgmt{
    height: 100%;
    width: inherit;
    float: left;
    padding-bottom: 55px;
}