.btn-right-cust-tkn{
    margin-right:10px;
}
.content_wrapper-tkn-mgmt{
    height: 100%;
    width: inherit;
    float: left;
    padding-bottom: 55px;
}
.tkn-mgmt_container{
    width: 100%;
    padding: 20px;
    height: 100%;
}