.searchInputUnlock{
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: flex-end;
    .p-inputtext{
        width: 20vw !important;
    }
}
.dataTableUnlock{
    .p-datatable {
        width: 70vw !important;
        padding-left: 1% !important;
    }
}