.ar__body{
    .panel {
        margin-bottom: 20px;
        background-color: #fff;
        border: 1px solid transparent;
        border-radius: 4px;
        -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
        box-shadow: 0 1px 1px rgba(0,0,0,.05);
        border-color: #ddd;
    }
    .rp__content{
        width: 100%;
        display: flex;
        flex-direction: row;
        margin-top: 20px;
        .left-content{
            height: 100%;
            width: 50%;
            // float: left;
            padding-right: 30px;
        }
        .right-content{
            height: 100%;
            width: 50%;
            // float: right;
            padding-left: 30px;
        }
    }
    .ar__bottom-content{
        margin-top: 5%;
    }
}