@import "../../global/styles/ColorVariables.scss";

.ac__executions {
    width: 100%;
}
.ac__panel-head{
    color: $whiteColor;
    background: $primaryColorDarkest;
    padding: 10px 15px;
    font-size: 15px;
    font-family: LatowebBold;
    white-space: nowrap;
}
.ac__execution-table{
    .ac__col {
        display: inline-block;
        width: calc((100% - 120px)/2);
        text-align: center;
        padding: 8px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        i{
            font-size: 18px;
            cursor: pointer;
        }
        span{
            padding-right: 10px;
        }
    }
    .ac__row{
        border-top: 1px solid $borderFour;
    }
    .ac__row:nth-child(odd){
        background-color: $backgroundFour
    }
    .ac__row:nth-child(even){
        background-color: $whiteColor;
    }
    >.ac__row:first-child{
        font-size: 14px;
        color: $primaryColorDarkest !important;
        font-family: Latoweb !important;
        white-space: nowrap;    
        font-weight: 600;
        background : rgb(225, 221, 228);
        .ac__col{
            padding: 0px;
        }
    }
    .ac__col:first-child{
        width : 120px;
    }
    #ac__row_content {
        max-height: 305px;
        .selected-row{
            background-color: $lavenderBlue !important;
        }
        .ac__row:hover{
            background-color: $pinkLight!important;
        }
    }
}