
.ar__status_panel{
    height: 100%;
    .top-tile{
        height: calc(50% - 5px);
    }
    .ac__panel-body{
        height: calc(100% - 42px);
        align-items: center;
        display: flex;
        justify-content: space-between;
        padding: 20px;
        .title{
            width: 150px;
            display: inline-block;
            font-weight: bold;
        }
        .ac__panel_title{
            text-transform: capitalize
        }
    }
    .left-float{
        width: 100%;
        div {
            display: flex
        }
        .content{
            overflow: hidden;
            white-space: nowrap!important;
            text-overflow: ellipsis;
            width: calc(100% - 150px);
        }
    }
}