@import "../../global/styles/ColorVariables.scss";
#ar__StDesc-panel{
    .ar__Desc-head{
        background: $whiteColor;
        color: $primaryColorDarkest;
        padding: 10px 15px;
        font-size: 18px;
        font-family: $avoBoldFont;
        white-space: nowrap;
    }
    .ar__stDesc-table{
        display: flex;
        flex-direction: column;
        flex: 1 1 100%;
    }
    .ar__stDesc-head{
        display: flex;
        justify-content: space-between;
        background: $primaryColorDarkest;
        color: $whiteColor;
        font-size: 14px;
        font-family: $avoBoldFont;
    }


    .ar__stDesc-row{
        display: flex;
        justify-content: space-between;
        background: $whiteColor;
        color: $darkestGray;
        font-size: 14px;
    }
    .ar__stDesc-row:nth-child(odd){
        background-color: $backgroundFive;
    }
    .ar__stDesc-row:nth-child(even){
        background-color: $whiteColor;
    }
    .ar__stDesc-sn{
        flex: 0 0 7%;
        overflow: hidden;
        width: 100%;
        padding: 14px;
    }
    .ar__stDesc-status{
        flex: 0 0 10%;
        overflow: hidden;
        width: 100%;
        padding: 14px;
        border-left: 1px solid $borderThree;
    }
    .ar__stDesc-desc{
        flex: 0 0 38%;
        overflow: hidden;
        width: 100%;
        padding: 14px;
        border-left: 1px solid $borderThree;
    }
    .ar__stDesc-help{
        flex: 0 0 35%;
        overflow: hidden;
        width: 100%;
        padding: 14px;
        border-left: 1px solid $borderThree;
    }
    .ar__stDesc-impact{
        flex: 0 0 10%;
        width: 100%;
        overflow: hidden;
        padding: 14px;
        border-left: 1px solid $borderThree;
    }
}