
.rp__executions {
    width: 100%;
}
.rp__panel-head{
    color: #fff;
    background: #331d4e;
    padding: 10px 15px;
    font-size: 15px;
    font-family: LatowebBold;
    white-space: nowrap;
}
.rp__execution-table{
    .rp__col {
        display: inline-block;
        width: calc((100% - 120px)/2);
        text-align: center;
        padding: 8px;
        i{
            font-size: 18px;
            cursor: pointer;
        }
        span{
            padding-right: 10px;
        }
    }
    .rp__row{
        border-top: 1px solid #ddd;
    }
    .rp__row:nth-child(odd){
        background-color: #f9f9f9
    }
    .rp__row:nth-child(even){
        background-color: #ffffff;
    }
    >.rp__row:first-child{
        font-size: 14px;
        color: #331d4e !important;
        font-family: Latoweb !important;
        white-space: nowrap;    
        font-weight: 600;
        background : rgb(225, 221, 228);
        .rp__col{
            padding: 0px;
        }
    }
    .rp__col:first-child{
        width : 120px;
    }
    #rp__row_content {
        max-height: 188px;
        .selected-row{
            background-color: #e3caff !important;
        }
        .rp__row:hover{
            background-color: #f0e1ff !important;
        }
    }
}