.rp_moduleList{
    height: calc(100% - 35px);
    width: 100%;
    transition-duration: 2s;
    z-index: 1;
    .scrollbar-container{
        width: 100%;
    }
    .toolbar__module-box:hover {
        background-color: white;
        cursor: pointer;
    }
}