
.reportsTable_container {
    .p-input-icon-left {
        width: 100%;
    }
    .search_testCase {
        width: 100%;
    }
}

.reports_download {
    width: 10%;
    .p-overlaypanel-content {
        height: 8rem;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        .p-checkbox {
            margin-left: 0.5rem;
        }
    }
}