@import '../../global/styles/ColorVariables.scss';

.reportSummary{
    margin: 1.5vh;
}

.reportsTable_container {
    .p-input-icon-left {
        width: 100%;
    }
    .search_testCase {
        width: 100%;
    }
    .viewTable{
        bottom: 1.5rem;
        max-height: 81vh;
        overflow-y: auto;
        height: 80vh;
        margin: 1.5vh;
        border-radius: 0.6rem;
        .p-treetable-thead>tr>th {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            position: sticky;
            top: 0;
            z-index: 1;
          }
        .p-treetable-table {
            border: 1px solid #dee2e6;
        }
    }
    
    .ViewTableOnClose{
        bottom: 1.5rem;
        max-height: 46vh;
        overflow-y: auto;
        height: 46vh;
        .p-treetable-thead>tr>th {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            position: sticky;
            top: 0;
            z-index: 1;
          }
    }
}

.reports_download {
    width: 10%;
    .p-overlaypanel-content {
        height: 8rem;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        .p-checkbox {
            margin-left: 0.5rem;
        }
    }
}

.content{
    .p-accordion-content{
        padding: 0 !important;
    }
}
.p-treetable .p-treetable-header{
    padding: 0.5rem !important;
}

.jira_modal {
    .jira_credentials {
        width: 100%;
        padding: 0.4rem;
    }
    .jira_user {
        padding: 0.22rem;
    }
}
