@import "../../global/styles/ColorVariables.scss";
.rp__main_container{
    position: absolute;
    margin: 2px;
    min-width: 0;
    float: left;
    flex: 0 1 100%;
    height: 100%;
    width: 100%;
    .container-padding{
        padding: 20px;
        display: flex;
        flex-direction: column;
    }
}
.rp__title{
    height: 30px;
    margin-bottom: 15px;
    span{
        background: $primaryColorDarkest ;
        font-weight: normal;
        font-size: 16px;
        color: $whiteColor;
        padding: 4px 10px;
        line-height: 1;
        color: $whiteColor;
        text-align: center;
        white-space: nowrap;
        vertical-align: baseline;
        border-radius: 4px;
    }
}
.rp__title-btn{
    height: 30px;
    cursor: pointer;
    margin-bottom: 10px;
    span{
        background: $borderOne;
        font-weight: normal;
        font-size: 14px;
        padding: 4px 10px;
        margin: 3px;
        line-height: 1;
        color: black;
        text-align: center;
        white-space: nowrap;
        vertical-align: baseline;
        border-radius: 15px;
    }
    .active-btn{
        background: $primaryColor;
        color: $whiteColor;
    }
}
.rp__body{
    font-size: 13px;
    font-family: Latoweb;
    font-weight: normal;
    // height: calc(100% - 30px);
    display: flex;
    flex-direction: column;
    .rp__header-select{
        transition-duration: 2s;
        z-index: 1;
        width: 100%;
        background-color: $whisper;
        border: 1px solid $whisper;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
        // position: absolute;
    }
    .rp__footer{
        position: relative;
        bottom: 0px;
        width: 100%;
        text-align: center;
        height: 10px;
        span{
            width: 90px;
            height: 10px;
            margin-bottom: 15px;
            background: $whiteColor;
            display: inline-block;
            position: absolute;
            border-radius: 2px;
            cursor: pointer;
            // top: -12px;
            left: calc( 50% - 46px);
            i{
                position: absolute;
                top: -5px;
                left: 40.5px;
                font-size: 18px;
            }
        }
    }
}