.rp__toolbar{
    height: 35px;
    font-size: 14px;
    font-family: Latoweb;
    label{
        font-weight: 700;
        margin: 10px;
    }
    select{
        padding: 2px;
        position: relative;
        width: 160px;
        padding: 2px;
        outline-style: none;
        box-shadow: none;
    }
    .toolbar__header-searchbox{
        padding: 6px 10px;
        input{
            height: 24px;
        }
    }
}