
.dt__btn{
    border: none;
    outline: none;
    color: #fff;
    border-radius: 20px;
}

.dt__btngroup{
    display: flex;
    max-width: 100%;
    margin-bottom: 15px;
    font-family: 'LatoWebLight';
}

.dt__table_ac_btn_grp{
    display: inherit;
}

.dt__tblBtn{
    border: none;
    outline: none;
    background-color: transparent;
    padding: 0;
    margin: 0;
}

.dt__tblBtn_ic{
    padding: 6px 16px;
    font-size: 14px;
    margin: 0 3px;
    vertical-align: middle;
    cursor: pointer;
    touch-action: manipulation;
}

.dt__taskBtns{
    display: flex;
    align-items: center;
    font-size: 17px;
    flex-grow: 1;
    justify-content: flex-end;
}

.dt__taskBtn{
    padding: 3px 12px;
    margin-right: 10px;
    width: 100px;
    background-color: #633693;
    &:disabled{
        background-color: #997cb8;
        cursor: not-allowed;
    }
}

.dt__tableNameError{
    border: 2px solid#d33c3c !important;
}

// .dt__importexport{
//     // margin-top: 15px;
// }

.dt__searchDataTable{
    position: relative;
    z-index: 111;    
    height: 60%;
    width: 50%;

    input{
        position: absolute;
        width: 80%;
        margin-left: 20px;
    }

    .dt__form_dropdown{
        position: absolute;
        margin-left: 20px;
        top: 30px;
        font-size: 14px;
        box-shadow: rgba(0, 0, 0, 0.176) 0px 6px 12px;
        display: block;
        max-height: 100px;
        width: 80%;
        background: #ffff;
        z-index: 1;
        margin-top: 2px;
        option{
            padding-left: 2px;
            margin: 4px;
            width: calc(100% - 14px);
        }
        option:hover{
            background: #633691;
            border-radius: 3px;
            color: #fff;
            cursor: pointer;
        }
    }
    
}

.dt__tableName, .dt__selectTable{
    font-family: "LatoWeb";
    font-size: 14px;
    height: 50px;
    display: flex;
    align-items: center;
}

.dt__tableName{
    div{
        margin-left: 20px;
    }
    input{
        margin-left: 20px;
        width: 20%;
        height: 25px;
        padding: 6px 12px;
        line-height: 1.42857143;
        color: #555;
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    }
}