@import "../../global/styles/ColorVariables.scss";
.letfnav{
    position: relative;
    float: left;
}

.letfnav h4{
    text-align: center;
    font-size: 18px;
    font-family: $avoPrimaryFont !important;
    font-weight: normal;
    color: $whisper;
}
.letfnav span{
    list-style-type: none;
    float: left;
    width: 80%;
    color: $whiteColor;
    line-height: inherit;
    text-align: center;
    margin: 16% 10% 10%;
    font-size: 12px;
    cursor: pointer;

    img{
        padding: 8px 10px;
    }
}

#selected{
    background: $primaryColorDarkest;
    border-radius: 5px;
}

.util__execution_ic{
    padding: 10px;
}
.util__execution_ic:hover{
    background: $hovorIcon !important;
}
.util__devOps {
    width: 4.5rem;
}