.selectedCase-backColor{
    background-color: #c8c8e6
}

.alm__tree_containers{
    display: flex;
}

.alm__action_row{
    display: flex;

    #alm_left_info{
        flex-basis: 50%;
    }
    #alm_right_info{
        label { 
            margin-right: 80px;
        }
    }

    label {
        font-family: "LatoWeb";
        font-size: 14px;
        font-weight: 700;
        margin: 0;
    }
    button{
        font-family: "LatoWebLight";
        border: none;
        outline: none;
        color: #fff;
        border-radius: 20px;
        padding: 0 19px;
        height: 21px;
        margin-right: 6px;
        font-size: 15px;
        background-color: #633693;
        &:disabled{
            background-color: #997cb8;
            cursor: not-allowed;
        }
    }
}

.alm__left_tree, .alm__right_tree{
    font-family: "LatoWeb";
    font-size: 14px;
    font-weight: 700;
    float: left;
    width: 100%;
    height: 90%;
    margin-top: 20px;
}

.alm_tree_toggle{
    height: 16px;
}

.alm_tree_branches{
    padding-left: 17px;

    .alm_tree_leaves{
        margin-left: 40px;
        display: flex;
        align-items: center;
        width: 88%;
    }

    .alm_tree_toggle {
        cursor: pointer;
    }
}

.alm_tree_leaves{
    label{ 
        margin: 3px 0 3px 10px!important;
         flex-grow: 1;
    }
    &:hover{
        background-color: rgb(225, 223, 255); 
        border-radius: 5px;
    }
}

.alm__right_tree{
    .alm_tree_leaves{
        padding: 2px 0 2px 10px;
        width: 96%;
    }
}

.leafId{
    background: #331d4c;
    color: #fff;
    border-radius: 3px;
    display: inline;
    padding: 2px;
    margin-right: 2px;
}

.alm__searchIcon{
    margin-left: 2px;
    border-radius: 5px;
    border: 1px solid #000;
    position: relative;
    cursor: pointer;
    display: none;
    
    img{
        width: 24px;
    }
}

.alm__rootDiv{
    margin-bottom: 0px;
    margin-right: 0px;
    max-height: 310.391px;
    padding: 0px;
    label {
        margin: 0 0 10px 10px;
    }
}

.alm_tree_selection_box {
    
    display: flex;
    font-family: "LatoWeb";
    font-size: 14px;
    width: 97%;
    justify-content: space-between;
    
    input{
        height: 24px;
        border-radius: 5px;
        border: 1px solid #000;
        flex-grow: 1;
        margin: 0 2px;
        padding-left: 6px;
    }
    select {
        outline: none;
        flex-basis: 49.5%;
        height: 24px;
        border-radius: 5px;
        border: 1px solid #000;
        option{
            font-weight: normal;
            display: block;
            white-space: pre;
            min-height: 1.2em;
            padding: 0px 2px 1px;
        }
    }
}

.alm__left_tree_container{
    margin-right: 35px;   
}

.alm__left_tree_container, .alm__right_tree_container {
    border: 1px solid #000;
    position: relative;
    top: 14px;
    height: 400px;
    padding: 5px;
    width: 47%;
    float: left;
    padding-top: 15px;
    padding-left: 15px;
}