@import "../../global/styles/ColorVariables.scss";

.import_mappings_tree{
    border: 1px solid $black;
    position: relative;
    font-family: $avoFont ;
    font-size: 14px;
    font-weight: 700;
    float: left;
    width: 98%;
    height: 90%;
    margin-bottom: 5px;
    margin-top: 5px;
}


.import_mappings_tree_inner{
    min-height: 0;
    height: 100%;
}
.import_mappings_tree_contents{
    display: flex;
    flex-direction: column;
    flex: 1 1;
    height: 98%;
}

.tree_box{
    margin-bottom: 0px;
    margin-right: 0px;
    height: 200px;
    label {
        // margin: 0 0 10px 10px;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 85%;
        margin: 0;
    }
}

.tree_import_title{
    margin-top:5px;
    label{
        width: 100%;
        font-weight: 600;
        text-align: center;
        border-bottom: 1px solid black;
    }
}

.selected_phase{
    margin-top:5px;
    label{
        width: 98%;
        font-weight: 600;
        text-align: center;
    }
}

