.zphyre-info-box{
    max-height: 40vh;
    .title{
        width: 100px;
        font-weight: 600;
        text-align: end;
        padding-right: 10px;
    } 
    .empty-data{
        text-align: center;
    }
}