.zphyre-info-box{
    max-height: 40vh;
    .title{
        width: 100px;
        font-weight: 600;
        padding-right: 10px;
    } 
    span{    
        font-weight: 600;
        width: 7px;
        display: inline-block;
    }
}