.letfnavi{
    position: relative;
    float: left;
}

.letfnavi h4{
    text-align: center;
    font-size: 18px;
    font-family: 'LatowebMedium' !important;
    font-weight: normal;
    color: #eee9ff;
}
.letfnavi span{
    list-style-type: none;
    float: left;
    width: 80%;
    color: #fff;
    line-height: inherit;
    text-align: center;
    margin: 16% 10% 10%;
    font-size: 12px;
    cursor: pointer;

    img{
        width: 56px;
        height: 52px;
        padding: 8px 10px;
    }
    img:hover{
        background: #523176 !important;
        border-radius: 5px;
    }
   
}

#selectedIcon{
    background: #331d4c;
    width: 56px;
    height: 52px;
    padding: 8px 10px;
    border-radius: 5px;
    
}
