@import "../../global/styles/ColorVariables.scss";
.ilm__container{
    .modal__body{
        height: 192px;
        padding-right: 5px;
        padding: 16px 5px;
    }
    .modal__content{
        width: 110%;
    }
}

.ilm__container_Azure{
    .modal__body{
        height: 192px;
        padding-right: 5px;
        padding: 16px 5px;
    }
    .modal__content{
        width: 110%;
    }
}

.ilm__inputs{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-around;
}
.ilm_input_Azure{
    width: 94%;
    border-radius: 0;
    border-right: 0;
    border-left: 0;
    border-top: 0;
    border-bottom: 1px solid $borderFive;
    box-shadow: none;
    font-family: $avoFont;
    margin-right: 16px;
    font-size: 15px;
    padding: 0;
    margin: 0 3%;
    outline: none;
    color: $primaryText;
    &::placeholder{
        color: #bbb;
    }
}

.ilm__input{
    width: 94%;
    border-radius: 0;
    border-right: 0;
    border-left: 0;
    border-top: 0;
    border-bottom: 1px solid $borderFive;
    box-shadow: none;
    font-family: $avoFont;
    margin-right: 16px;
    font-size: 15px;
    padding: 0;
    margin: 0 3%;
    outline: none;
    color: $primaryText;
    &::placeholder{
        color: #bbb;
    }
}

.ilm_input_error{
    border-bottom: 2px solid $redError;
}

.ilm__error_msg{
    font-family: $avoFont ;
    font-size: 14px;
    color: $red;
    flex-grow: 1;
}

.ilm__authtype_cont{
    margin-top: 2%;
	padding: 0px 0px;
    position: relative;
    float: left;
    width: 100%;
}

.ilm__auth{
    margin-left: 20px;
	float: left;
    width: 30%;
}

.ilm__leftauth{
    margin-right: 50px;
}

.authTypeRadio input{
    position: absolute;
    width: auto!important;
    margin-top: 3px;
}

.authTypeRadio span {
    padding-left: 18px;
    width: fit-content;
}