@import "../../global/styles/ColorVariables.scss";
.mappingPage__tree_containers{
    display: flex;
    flex-grow: 1;
    margin-bottom: 10px;
    justify-content: space-between;
}

.mappingPage__action_row{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
    
    button{
        font-family: $avoSecondaryFont;
        border: none;
        outline: none;
        color: $whiteColor;
        border-radius: 20px;
        padding: 0 19px;
        height: 21px;
        margin-right: 6px;
        font-size: 15px;
        background-color: $primaryColor;
        &:disabled{
            background-color: $backgroundThree;
            cursor: not-allowed;
        }
    }
}

.mappingPage__title_row{
    display: flex;
    font-family: $avoFont ;
    font-size: 14px;
    font-weight: 700;
    justify-content: center;

    label {
        margin: 0;
        white-space: nowrap;
    }
}

.mappingPage__tree_container{
    display: flex;
    flex-direction: column;
    width: 48%;
}

.mappingPage__left_tree, .mappingPage__right_tree{
    position: relative;
    font-family: $avoFont ;
    font-size: 0.8rem;
    font-weight: 500;
    float: left;
    width: 100%;
    height: 90%;
    margin-top: 10px;
}

.mappingPage__right_tree{
    .test_tree_leaves{
        padding: 2px 0 2px 10px;
        width: 96%;
    }
}

.mappingPage_tree_selection_box {
    
    display: flex;
    font-family: $avoFont ;
    font-size: 14px;
    width: 97%;
    justify-content: space-between;
    
    input{
        height: 24px;
        border-radius: 5px;
        border: 1px solid $black;
        width: 50%;
        margin: 0 2px;
        padding-left: 6px;
    }
    select {
        outline: none;
        flex-basis: 49.5%;
        width: 100%;
        height: 24px;
        border-radius: 5px;
        border: 1px solid $black;
        option{
            font-weight: normal;
            display: block;
            white-space: pre;
            min-height: 1.2em;
            padding: 0px 2px 1px;
        }
    }
}

.mappingPage__left_tree_container, .mappingPage__right_tree_container {
    border: 1px solid $black;
    position: relative;
    top: 14px;
    height: 100%;
    padding: 15px 5px 5px 15px;
}

.mappingPage_tree_canvas{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
}
.mappingPage_tree_inner{
    min-height: 0;
    height: 100%;
}
.mappingPage_tree_contents{
    display: flex;
    flex-direction: column;
    flex: 1 1;
    height: 98%;
}

.mapping__searchIcon{
    margin-left: 2px;
    border-radius: 5px;
    border: 1px solid $black;
    position: relative;
    cursor: pointer;
    display: none;
    
    img{
        width: 24px;
    }
}
.slectedTestDiv{
    background-color: $lavenderBlue !important;
    border-radius: 5px;
}