@import "../../global/styles/ColorVariables.scss";
.alm-linkedTestset-box{
    width: 100%;
    float: left;
    margin-bottom: 26px;
}

.viewMap__tileRow{
    width: 100%;
    display: flex;
    font-family: $avoFont ;
    font-size: 14px;
    padding-right: 30px;
    font-weight: 700;
    justify-content: space-between;

    & > span {
        width: 45%;
        display: flex;
        justify-content: center;
    }
}

.viewMap__counterContainer{
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 10px;
    font-family: $avoFont ;
    font-size: 14px;
    font-weight: 700;
    & > div {
        border: 1px solid;
        border-radius: 5px;
        height: 40px;
        // width: 140px;
        width: 100%;
        text-align: center;
    }
}

.viewMap__totalCount{
    color: rgb(154, 140, 140);
    border-color: rgb(154, 140, 140);
}

.viewMap__scenarioCount{
    color: $lavenderFlower;
    border-color: $lavenderFlower;
}

.viewMap__testCount{
    color: rgb(222, 126, 164);
    border-color: rgb(222, 126, 164);
}

.viewMap__labelContainer{
    position: relative;
    height: 100%;
    width: 100%;
}

.viewMap__labelRow{
    display: flex;
    justify-content: space-between;
    margin-bottom: 26px;
    padding-right: 30px;
}

.viewMap__mappingsContainer{
    width: 100%;
    height: 100%;
    display: flex;
    margin-top: 10px;
    padding: 10px 10px 10px 40px;
    justify-content: space-between;
    flex-direction: column;
}

.viewMap__task_title{
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    button{
        font-family: $avoSecondaryFont;
        border: none;
        outline: none;
        color: $whiteColor;
        border-radius: 20px;
        padding: 0 19px;
        height: 21px;
        margin: 0 6px 0 60px;
        font-size: 15px;
        background-color: $primaryColor;
        &:disabled{
            background-color: $backgroundThree;
            cursor: not-allowed;
        }
    }
}

.viewMap__task_name{
    cursor: pointer;
    background-color: $primaryColorDarkest;
    color: $whiteColor;
    padding: 1px 14px 0;
    font-family: $avoSecondaryFont;
    font-size: 18px;
    width: fit-content;
    white-space: nowrap;
    text-overflow: ellipsis;
    border-radius: 5px;
}

.viewMap__canvas{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
}
.viewMap__inner{
    min-height: 0;
    height: 100%;
}
.viewMap__contents{
    display: flex;
    flex-direction: column;
    flex: 1 1;
    height: 100%;
}

.viewMap__ropeContainer{
    display: flex;
    flex-grow: 1;
    align-items: center;
}

.viewMap__rope{
    height: 3px;
    flex-grow: 1;
    background-color: $darkGray;
}