@import "../../global/styles/ColorVariables.scss";
.mlalm__container{
    position: relative;
    border-radius: 5px;
    font-size: 16px;
    font-family: $avoSecondaryFont;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    width: 45%;
    // height: fit-content;

    button{
        border: none;
        outline: none;
        background-color: transparent;
        padding: 0;
    }
}

.mlalm_topLabel{
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-radius: inherit;
    padding: 5px 5px 5px 10px;
    // flex-grow: 1;
    // height: 4rem;
    
    &[data-selected="true"]{
        background-color:rgb(200, 200, 255);
        border-radius: inherit;
    }
}

.mlalm_label{
 // width: 85%;
    overflow: hidden;
    text-overflow: ellipsis;
    flex-grow: 1;
}

.mlalm__container[data-type="scenario"] {
    background-color: $lavenderBlue;
    align-self: stretch;
    // min-height: 4rem;
    flex-grow: 1;
    // height: 100%;
    // box-sizing: border-box;
}
.mlalm__container[data-type="testcase"] {
    background-color: rgba(250, 215, 241, 0.984);
    // min-height: 3rem;
    // height: 100%;
    width: 30rem;
    box-sizing: border-box;
    align-self: stretch;
    flex-grow: 1;
}


.mlalm__syncBtn{
    cursor: pointer;
    // border-color: darkgrey;
    
}