@import "../../global/styles/ColorVariables.scss";
.um__updateMapBody, .um__tclist{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.um__tclist{
    flex: 1 0%;
    margin: 0 5px;
    margin-right: 15px;
}

.um__tclistContaniner{
    display: flex;
    position: relative;
    height: 100%;
}

.um_listCanvas{
    display: flex;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
}

.um_listMinHeight{
    min-height: 0;
    width: 100%;
}
.um_listContent{
    display: flex;
    flex-direction: column;
    flex: 1 1;
    height: 100%;
}

.um_listItem{
    overflow: hidden;
    white-space: nowrap !important;
    text-overflow: ellipsis;
    width: 85%;
    font-size: 15px;
    margin-bottom: 9px;
}

#update_status{
    height: 7px;
    width: 7px;
    margin: 2px 5px;
    border-radius: 50%;
    display: inline-block;
}

.um_lists{
    display: flex;
    padding: 0 10px;
    height: 100%;
}

.um_lbl{
    color: $primaryColorDark;
    font-family: $avoBoldFont;
    font-size: 15px;
} 

.um_mainMargin{
    margin-bottom: 15px;
}

.um_lblMargin{
    margin-bottom: 10px;
    font-size: 16px;
    color: rgb(255, 255, 255);
    font-family: LatoWebLight;
    background: rgb(51, 29, 76);
    padding: 2px 10px 1px;
    border-radius: 5px;
}

.update-map-Modal{
    .modal-content{
        width: 700px
    }
    .modal-body{
        height: 280px;
        padding: 25px 15px;
    }
}

.status_updated{
    background-color: $pistachio;
}
.status_multi_match{
    background-color:$yellowColor;
}
.status_not_found{
    background-color:$red;
}