@import "../../global/styles/ColorVariables.scss";

.ss__thumbnail input[type='checkbox']{
    width: 18px;
    height: 18px;
    outline: none;
}

.ss__thumbnail{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 13% 23px 15% 0px;
    font-size: 12.6px;
    font-family: Mulish;
    font-weight: 600;
}

.ss__thumbnail_title{
    text-align: center;
}

.ss__scrapeOn{
    font-family: $avoPrimaryFont;
    font-size: 15px;
    user-select: none;
}


.cls-1{
    height: 36px;
    width: 36px;
}




// @media screen and (min-width: 1400px) and (min-height: 770px){
    
//     .ss__thumbnail input[type='checkbox']{
//         width: 2.34vh;
//         height: 2.34vh;
//     }

//     .ss__thumbnail{
//         font-size: 2.08vh;
//     }
//     .ss__scrapeOn{
//         font-size: 2.34vh;
//     }
//     .cls-1{
//         height: 5.6vh;
//         width: 6vh;
//         padding: 0.26vh;
//     }
// }