@import "../../global/styles/ColorVariables.scss";

.ss__thumbnail input[type='checkbox']{
    width: 15px;
    height: 16px;
    outline: none;
}

.ss__thumbnail{
    display: flex;
    
    align-items: center;
    margin: 15% 27px 14% 33px;
    font-size: 12.6px;
    font-family: Mulish;
    font-weight: 600;
}

.ss__thumbnail_title{
    text-align: center;
    margin-top: -4px;
}

.ss__scrapeOn{
    font-family: $avoPrimaryFont;
    font-size: 15px;
    user-select: none;
}


.cls-1{
    height: 36px;
    width: 36px;
}

#Insprint{
    border-bottom: 1px solid grey;
}
#UpgradeAn{
    border-bottom: 1px solid grey;
    margin-top: 23px;
    margin-left: -16px;
}



// @media screen and (min-width: 1400px) and (min-height: 770px){
    
//     .ss__thumbnail input[type='checkbox']{
//         width: 2.34vh;
//         height: 2.34vh;
//     }

//     .ss__thumbnail{
//         font-size: 2.08vh;
//     }
//     .ss__scrapeOn{
//         font-size: 2.34vh;
//     }
//     .cls-1{
//         height: 5.6vh;
//         width: 6vh;
//         padding: 0.26vh;
//     }
// }