@import "../../global/styles/ColorVariables.scss";
.ss__objModal{
    .modal__body{
        height: 240px;
        padding-right: 5px;
    }
    .modal__content{
        width: 140%;
    }
}

.ss__objModal_content{
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    height: 100%;
}

.ss__objModal_item{
    display: flex;
    margin: 20px 0;
    width: 100%;
}

.addObj_name{
    flex: 0 0 50%;
    margin-right: 6%;
    border: none;
    outline: none;
    box-shadow: none;
    font-size: 16px;
    border-bottom: 1px solid $borderTwo;
}

.addObj_objType{
    flex: 0 0 30%;
    color: $whiteColor;
    background: $primaryColorDark url('/static/imgs/ic-dropdown.png') 95% 10px no-repeat;
    padding: 8px 10px !important;
    border: 1px solid $primaryColorDark !important;
    border-radius: 5px;
    box-shadow: none;
    appearance: none;
    outline: none;
    &:disabled{
        opacity: 1!important;
        background: $primaryColorDark url('/static/imgs/ic-dropdown.png') 95% 10px no-repeat;
        cursor: not-allowed;
    }
}

.addObj_option{
    background-color: $whiteColor;
    color: $black;
    &:disabled{
        color: rgb(170, 170, 170);
        background-color: $borderFour;
    }
}

.addObj_btn{
    border: none;
    outline: none;
    background-color: transparent;
    padding: 0;
    margin: 0;
    flex: 0 0 6%;
}

.ss__error_field{
    border-bottom: 2px solid $redError!important;
}