@import "../../global/styles/ColorVariables.scss";

.ss__cmprbox {
    width: 68%;
    border-radius: 4px;
    border: 1px solid $borderFour;
    margin-top: 20px;
}

.ss__cmprHeader {
    padding: 10px 15px;
    background-color: $primaryColor;
    font-size: 16px;
    display: flex;
    align-items: center;
    color: $whiteColor;
    font-family: $avoSecondaryFont;
}

.ss__comparedObject {
    color: black;
}

.ss__cmprBoxChk {
    margin-right: 5px;
    height: 15px;
    width: 15px;
}

.ss__cmprList {
    margin: 10px 0 10px 40px;
    position: relative;
    max-height: 22vh;

    .ss__scrape_obj {
        margin-bottom: 3px;
    }
}

.ss__cmprListAbsolute {
    position: absolute;
    display: flex;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.ss__cmprListMin {
    min-height: 0;
    width: 100%;
}

.ss__cmprListCon {
    display: flex;
    flex-direction: column;
    height: 99%;
    flex: 1 1;
}

.ss__replaceActionbtn {
    background-color: white;
    padding: 2px 15px;
    font-size: 17px;
    margin-right: 5px;
    border: none;
    outline: none;
    color: $primaryColor;
    border-radius: 20px;
    font-weight: bold;
}

.ss__cmprHeader__replace {
    padding: 10px 15px;
    background-color: $primaryColor;
    font-size: 16px;
    display: flex;
    align-items: center;
    color: $whiteColor;
    justify-content: space-between;
    font-family: $avoSecondaryFont;
}