@import "../../global/styles/ColorVariables.scss";
.ss__compareboxes{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.ss__compareContents{
    display: flex;
    flex-direction: column;
    height: 93%;
}

.ss__compareboxes{
    margin-top: 20px;
    flex: 1 1;
    position: relative;
}

.ss__compareAction{
    background-color: $primaryColor;
    padding: 2px 15px;
    font-size: 17px;
    margin-right: 5px;
    border: none;
    outline: none;
    color: $whiteColor;
    border-radius: 20px;
}

.ss__comparebtngroup{
    display: flex;
    max-width: 100%;
    margin-right: 50px;
    margin-left: 36px;
    justify-content: flex-end;
    font-family: $avoSecondaryFont;
}