.ss__createObj{
    .modal__body{
        height: 350px;
        padding-right: 5px;
    }
    .modal__content{
        width: 140%;
    }
}

.ss__createObj_content{
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    height: 100%;
}

.ss__createObj_item{
    display: flex;
    flex-direction: column;
    margin: 20px 0;
    width: 93%;
}

.createObj_row{
    display: flex;
    width: 100%;
    &:last-child{
        justify-content: space-between;
    }
}

.createObj_input{
    flex: 0 0 55%;
    margin-right: 4%;
    height: 34px;
    border: none;
    outline: none;
    box-shadow: none;
    padding: 6px 12px;
    font-size: 16px;
    border-bottom: 1px solid #888;
}

.createObj_objType{
    flex: 0 0 30%;
    color: #fff;
    height: 34px;
    background: #311d4e url('/static/imgs/ic-dropdown.png') 95% 7px no-repeat;
    padding: 6px 12px !important;
    border: 1px solid #311d4e !important;
    border-radius: 5px;
    box-shadow: none;
    appearance: none;
    outline: none;
    &:disabled{
        opacity: 1!important;
        background: #311d4e url('/static/imgs/ic-dropdown.png') 95% 7px no-repeat;
        cursor: not-allowed;
    }
}

.createObj_input::placeholder{
    color: #999;
}

.createObj_option{
    background-color: #fff;
    color: #000;
    &:disabled{
        color: rgb(170, 170, 170);
        background-color: #ddd;
    }
}

.createObj_btn{
    border: none;
    outline: none;
    background-color: transparent;
    padding: 0;
    margin: 0;
    flex: 0 0 5.5%;
}

.createObj_save{
    background: #643693;
    color: #fff;
    border: 0;
    border-radius: 20px;
    padding: 5px 20px;
    font-size: 16px;
}

.ss__error_border{
    border-bottom: 2px solid#d33c3c !important;
}