.ss__ei_container{
    .modal__body{
        height: 190px;
    }
    .modal__content{
        width: 700px;
    }
}

.ss__ei_body{
    display: flex;
    height: 100%;
}

.ss__ei_info_panel{
    flex: 1 0 55%;
    display: grid;
    grid-template-columns: 35% 65%;
    row-gap: 20px;
    border-right: 2px solid #333;

    & > span{
        display: flex;
        align-items: center;
        font-family: "LatoWeb";
        font-size: 14px;
        color: #333;
        font-weight: 700;
    }
}

.ss__ei_img_panel{
    flex: 1 0 45%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ss__ei_objType{
    color: #fff;
    width: 80%;
    height: 34px;
    background: #311d4e url('/static/imgs/ic-dropdown.png') 95% 7px no-repeat;
    padding: 6px 12px !important;
    border: 1px solid #311d4e !important;
    border-radius: 5px;
    box-shadow: none;
    appearance: none;
    outline: none;
    &:disabled{
        opacity: 1!important;
        background: #311d4e url('/static/imgs/ic-dropdown.png') 95% 7px no-repeat;
        cursor: not-allowed;
    }

    .ss__ei_options{
        background-color: #fff;
        color: #000;
        &:disabled{
            color: rgb(170, 170, 170);
            background-color: #ddd;
        }
    }
}

.ss__ei_img{
    max-height: 130px;
}