@import "../../global/styles/ColorVariables.scss";
.ss__mapObj{
    .modal__body{
        height: 475px;
        padding: 25px 40px;
    }
    .modal__content{
        width: 140%;
    }
}

.ss__mapObjBody, .ss__mo_scrapeObjectList, .ss__mo_customObjectList{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.ss__mo_scrapeObjectList, .ss__mo_customObjectList{
    flex: 1 0 50%;
    margin: 0 5px;
}
.ss__mo_customObjectList{
    align-items: center;
}

.mo_scrapeListContainer{
    display: flex;
    position: relative;
    height: 100%;
}

.mo_listCanvas{
    display: flex;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
}

.mo_listMinHeight{
    min-height: 0;
    width: 100%;
}
.mo_listContent{
    display: flex;
    flex-direction: column;
    flex: 1 1;
    height: 100%;
}

.ss__mo_customOutContainer{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
}
.ss__mo_customInContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.mo_tagHead{
    cursor: pointer;
    background: $primaryColorDark;
    text-align: center;
    margin-bottom: 5px;
    padding: 2px 10px;
    color: $whiteColor;
    width: 60%;
    border-radius: 5px;
}

.ss__mo_listItem{
    overflow: hidden;
    white-space: nowrap !important;
    text-overflow: ellipsis;
    width: 85%;
    font-size: 15px;
}

.ss__mo_lists{
    display: flex;
    padding: 0 20px;
    height: 100%;
}

.ss__mo_lbl{
    color: $primaryColorDark;
    font-family: $avoBoldFont;
    font-size: 15px;
} 

.headerMargin{
    margin-bottom: 25px;
}

.lblMargin{
    margin-bottom: 10px;
}

.mo_tagItems{
    border: 1px solid $borderTwo;
    border-radius: 5px;
    margin-bottom: 8px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content:start;
    height: 28px;
    overflow: hidden;
    white-space: nowrap !important;
    text-overflow: ellipsis;
    padding: 3px;
}

.mo_tagItemList{
    margin: 11px 0 14px;
    margin-right: 27px;
    width: 70%;
}

.mo_mappedName{
    background-color: $backgroundOne;
    flex: 0 0 80%;
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 9px; 
    overflow: hidden;
    text-overflow: ellipsis;
}

.mo_nameFlip{
    flex: 0 0 20%;
    height: 100%;
}

.mo_selectedTag{
    border: 1px solid rgba(49, 29, 78, 0.76)!important;
    box-shadow: 1px 1px 1px rgb(115, 115, 115)!important;
}

.mo_mapped{
    background: rgb(224, 224, 224);
    cursor: no-drop;
}

.mo_errorMsg{
    font-size: 14px;
    color: $red;
}
.mo_tagItems_rep{
    border: 1px solid $borderTwo;
    border-radius: 5px;
    margin-bottom: 8px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content:start;
    height: 28px;
    overflow: hidden;
    white-space: nowrap !important;
    text-overflow: ellipsis;
    padding: 3px;
    width: 100%;
}