@import "../../global/styles/ColorVariables.scss";
.filter_pop__content{
    padding: 12px 27px;
    display: flex;   
    flex-wrap: wrap;
}



.ref__bar {
    background: #321e4f;
    position: absolute;
    color: #ffffff;
    font-family: "LatoWebLight";
    font-size: 12px;
    display: flex;
    flex-direction: column;
    top: 2rem;
    bottom: 0;
    right: 0;
    margin: -4% -30% 10% 3%;

}

.ss__filterDisable{
    pointer-events: none;
}

.d__filter-btnbox{
    // flex: 1 0 50%;
    display: inline;
}

.filter_pop{
    width: 300px;

    .scrape__filterActionBtns{
        display: flex;
        flex-grow: 1;
        font-family: $avoFont ;
        margin-bottom: 15px;
    }

    .scrape__filterTagBtns{
        display: flex;
        flex-wrap: wrap;
        font-family: $avoSecondaryFont;

        .d__filter-btn{
            flex-grow: 1;
            background-color: $hovorIcon;
            color: $whiteColor;
            padding: 0 15px;
            font-size: 15px;
            border: none;
            outline: none;
            border-radius: 20px;
            margin: 5px 4px;
            &:hover{
                background-color: $primaryColorLogin ;
            }
        }
    }

    
    .d__filter-selall{
        flex-grow: 1;
        display: flex;
        cursor: pointer;
        align-items: center;

        input[type=checkbox]{
            height: 15px;
            width: 15px;    
        }
        span{
            margin-left: 10px;
        }
    }

    .scrape__mobileType{
        padding: 6px 8px !important;
        border-radius: 5px;
        box-shadow: none;
        // appearance: none;
        outline: none;
    }
}

.active-filter{
    background-color: $primaryColorLogin !important;
}