@import "../../global/styles/ColorVariables.scss";
.ss__btngroup{
    display: flex;
    max-width: 100%;
    margin-bottom: 15px;
    margin-left: 36px;
    justify-content: space-between;
    font-family: $avoSecondaryFont;
    height:1px;
    margin-top: 100px;
   
}

.ss__left-btns{
    border-bottom: 1px solid $borderOne;
    padding-bottom: 22px;
    display: flex;
    align-items:center;
    margin:-73px -120px -1px -52px;
    height:8px;
}
   


.ss__select-all{
    display: flex;
    align-items: center;
    margin: 0;
}
    

.ss__select-all-chkbox{
    height: 15px;
    width: 15px;
}

.ss__select-all-lbl{
    margin:  8px 0px;
    font-family: $avoFont;
    color: $darkGray;
    font-size: 12px;
}

.ss__taskBtn{
    padding: 2px 11px;
    margin-right: 7px;
    height: 20px;
    font-size: 11px;
    background-color: $primaryColor;
    &:disabled{
        background-color: $backgroundThree;
        cursor: not-allowed;
    }
}

.ss__btn{
    border: none;
    outline: none;
    color: $whiteColor;
    border-radius: 20px;
    margin: 13px 0px 9px 5px;
}

.ss__search-btn{
    outline: none;
    color: $whiteColor;
    background-color: $whiteColor;
    display: flex;
    border: 1px solid $primaryColor;
    border-radius: 5px;
    height: 22px;
    margin: -1px 4px -3px 4px;

}

.ss__search-icon{
    vertical-align: baseline;
}

.ss__search_field{
    margin-left: 3px;
    padding: 3px;
    border: 1px solid $primaryColor;
    border-radius: 5px;
    width: 200px;
    height: 24px;
    font-family: $avoFont ;
    font-size: 13px;
    &:focus{
      outline: none;  
    }
}

.scraped_obj_list{
    display: flex;
    position: relative;
    flex-direction: column;
    margin-left: 5px;
    height: 100%;
}

.sc__ab{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
}
.sc__min{
    min-height: 0;
}
.sc__con{
    display: flex;
    flex-direction: column;
    flex: 1 1;
    height: 100%;
}

.scrape_object_container{
    flex: 1 1;
    overflow: auto;
}

.ss__dup_scroll{
    display: flex;
    flex-direction: column;
}
.ss__dup_labels{
    display: flex;
    flex-direction: column;
    font-family: $avoFont ;
    font-size: 14px;
    font-weight: bold;
    color: black;
    max-height: 250px;
}
.ss__dup_li{
    font-weight: normal;
}

.p-button-warning {
    
    font-family: 'latoWeb';
    width: 87px;
    height: 26px;
    margin: 7px -10px 12px -25px;
    padding: 11px 10px 10px 12px;
    border-radius: 2px;

   

}

.p-button{
    margin: 54px -19px 54px -18px;
   
}

.dialog_avo-dialog__title__1yow4 {
    font-size: 15px;
    font-family: "latoWebMedium";
    font-weight: 400;
}

.dropdown-181 {
    border-radius: 0.42rem;
    margin: -3px;
    font-size: 12px;
}
.label-199{
    font-size: 12px;
    font-family: "latoWebMedium";
}
