.ss__body{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgb(255, 255, 255);
}

.ss__mid_section{
    display: flex;
    flex: auto;
    width: 100%;
    background-color: rgb(255, 255, 255);
    margin: 0;
    padding: 0;
}

.ss__footer .main-footer{
    position: static;
}

.ss__mid_section .ref__wrapper {
    height: 95%;
    position: absolute;
    right: -24px;
    /* top: 0; */
    bottom: -4px;
}
