@import "../../global/styles/ColorVariables.scss";
.ss__btngroup{
    display: flex;
    max-width: 100%;
    margin-bottom: 15px;
    margin-left: 36px;
    justify-content: space-between;
    font-family: $avoSecondaryFont;
    height:1px;
    margin-top: 100px;
   
}

.ss__left-btns{
    border-bottom: 1px solid $borderOne;
    padding-bottom: 22px;
    display: flex;
    align-items:center;
    margin:-72px -135px -13px 2px;
    height:8px;
}
   


.ss__select-all{
    display: flex;
    align-items: center;
    margin: 0;
}
    

.ss__select-all-chkbox{
    height: 15px;
    width: 15px;
}

.ss__select-all-lbl{
    margin: 0 12px;
    font-family: $avoFont;
    color: $darkGray;
    font-size: 16px;
}

.ss__taskBtn{
    padding: 1px 13px;
    margin-right: 7px;
    height: 21px;
    font-size: 13px;
    background-color: $primaryColor;
    &:disabled{
        background-color: $backgroundThree;
        cursor: not-allowed;
    }
}

.ss__btn{
    border: none;
    outline: none;
    color: $whiteColor;
    border-radius: 20px;
}

.ss__search-btn{
    outline: none;
    color: $whiteColor;
    background-color: $whiteColor;
    display: flex;
    border: 1px solid $primaryColor;
    border-radius: 5px;
    height: 24px;
}

.ss__search-icon{
    vertical-align: baseline;
}

.ss__search_field{
    margin-left: 3px;
    padding: 3px;
    border: 1px solid $primaryColor;
    border-radius: 5px;
    width: 200px;
    height: 24px;
    font-family: $avoFont ;
    font-size: 13px;
    &:focus{
      outline: none;  
    }
}

.scraped_obj_list{
    display: flex;
    position: relative;
    flex-direction: column;
    margin-left: 5px;
    height: 100%;
}

.sc__ab{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
}
.sc__min{
    min-height: 0;
}
.sc__con{
    display: flex;
    flex-direction: column;
    flex: 1 1;
    height: 100%;
}

.scrape_object_container{
    flex: 1 1;
    overflow: auto;
}

.ss__dup_scroll{
    display: flex;
    flex-direction: column;
}
.ss__dup_labels{
    display: flex;
    flex-direction: column;
    font-family: $avoFont ;
    font-size: 14px;
    font-weight: bold;
    color: black;
    max-height: 250px;
}
.ss__dup_li{
    font-weight: normal;
}

.p-button-warning {
    width: 100px;
    height: 30px;
    font-family: 'latoWeb';

}