@import "../../global/styles/ColorVariables.scss";
.ss__scrape_obj{
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    overflow: hidden;
}

.ss__red{
    color: $red!important;
}

.ss_eye_icon{
    height: 13px;
    width: 21px;
    cursor: pointer;
}

.ss_obj_name{
    font-family: $avoFont ;
    font-size: 14px;
    color: $darkGray;
    margin-left: 10px;
    width: 85%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    &:hover{
        font-weight: bold;
    }
}

.ss_obj_label{
    display: flex;
    align-items: center;
    margin-left: 10px;
    width: 100%;
}

.ss_obj_chkbx{
    height: 15px;
    width: 15px;
}

.ss_obj_name_input{
    padding: 2px 7px;  
    font-family: $avoFont ;
    color: $darkGray;
    margin-left: 2px;
    font-size: 13px;
    width: 300px;
    outline: none;
    &:hover{
        font-weight: bold;
    }
    &:active{
        outline: none;
    }
}

.ss__customObject{
    background: linear-gradient(to right, $custObj, transparent 12%);
    border-radius: 5px;
}

.ss__newObj{
    color: $unsavedScrapeObj;
}
.arrow-top {
    margin-top: 4px;
  }
.arrow-top:after {
    content: " ";
    position: absolute;
    left: 43%;
    top: -12px;
    border-top: none;
    border-right: 15px solid transparent;
    border-left: 15px solid transparent;
    border-bottom: 15px solid #997cb8;
  }