@import "../../global/styles/ColorVariables.scss";
.ss__btngroup{
    display: flex;
    max-width: 100%;
    // margin-bottom: 12px;
    // margin-left: -8px;
    justify-content: space-between;
    font-family: $avoSecondaryFont;
    margin-top: 42px;
   
}

.ss__left-btns{
    border-bottom: 1px solid #656565;
    padding-bottom: 43px;
    display: flex;
    align-items: baseline;
    height: 8px;
    padding-left: 15px;
    // margin-top: 1rem;
}
   


.ss__select-all{
    display: flex;
    align-items: center;
    margin: 14px -8px 14px -20px;
}
    

.ss__select-all-chkbox{
    height: 15px;
    width: 15px;
}

.ss__select-all-lbl{
    margin: -3px 17px -5px 0px;
    font-family: $avoFont;
    color: $darkGray;
    font-size: 13.5px;
}

.mobileApp_btn{
    margin-Left:14px;
    margin-Bottom: 4px;
    width:200px;
    font-family: $avoFont;
    padding-left: 59px;
    background: white;
    border: none;
    color: black;
    // margin-right: -75px;  
}

.desktop_btn{
    margin-Left:24px;
    margin-Bottom: 0px;
    width:200px;
    font-family: $avoFont;
    padding-left: 57px;
    background: white;
    border: none;
    color: black;
    // margin-right: -55px;
    height: 27px;  
}


.ss__thumbnail{
    display: flex;
    
    align-items: center;
    // margin: 15% 27px 14% -2px;
    margin: 0 !important;
    font-size: 12.6px;
    font-family: Mulish;
    font-weight: 600;
    padding: 2rem 0rem 1rem 1rem;
}

.ss__taskBtn{
    border: none;
    outline: none;
    background-color: transparent;
    padding: 0;
    margin: 5px;
    cursor: pointer;
    touch-action: manipulation;
    &:disabled {
      cursor: not-allowed;

      &:active {
        background-color: #0003 !important;
        border-radius: 5px;
      }


    }
}









//     padding: 7px 8px;
//     font-size: 14px;
//     margin: 1px 2px;
//     vertical-align: middle;
//     cursor: pointer;
//     touch-action: manipulation;
//     &:disabled{
//         // background-color: $backgroundThree;
//         // cursor: not-allowed;
//     }
// }

// .ss__btn{
//     border: none;
//     outline: none;
//     color: $whiteColor;
//     border-radius: 20px;
// }

.ss__search-btn{
    outline: none;
    color: $whiteColor;
    background-color: $whiteColor;
    display: flex;
    border: 1px solid $primaryColor;
    border-radius: 5px;
    height: 24px;
    width: 35px;
    // margin: -42px 14px 12px -26px;
    margin-top: 2.4rem;
}

.ss__search-icon{
    vertical-align: baseline;
}

.ss__search_field{
    margin-left: 3px;
    padding: 3px;
    border: 1px solid $primaryColor;
    border-radius: 5px;
    width: 200px;
    height: 24px;
    font-family: $avoFont ;
    font-size: 13px;
    // margin: -37px 13px 13px 14px;
    margin-left: 2.4rem;
    margin-top: -1.5rem;
   
    &:focus{
      outline: none;  
    }
}

.scraped_obj_list{
    display: flex;
    position: relative;
    flex-direction: column;
    margin-left: 5px;
    height: 100%;
    margin-top: -2%;
}

.sc__ab{
    position: absolute;
    top: 87px;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    overflow: auto;
}
.sc__min{
    min-height: 0;
}
.sc__con{
    display: flex;
    flex-direction: column;
    flex: 1 1;
    height: 100%;
}

.scrape_object_container{
    flex: 1 1;
    // overflow: auto;
    // height: 385px;
    // margin: 10px 10px 8px 13px;
    // margin-top: 4rem;

}
.ss__taskBtnd{
    padding: 2px 13px;
    margin-right: 2px;
    height: 20px;
    font-size: 12px;
    background-color: $primaryColor;
    &:disabled{
        background-color: $backgroundThree;
        cursor: not-allowed;
    }
}
.ss__btnd{
    border: none;
    outline: none;
    color: $whiteColor;
    border-radius: 20px;
}



.ss__dup_scroll{
    display: flex;
    flex-direction: column;
}
.ss__dup_labels{
    display: flex;
    flex-direction: column;
    font-family: $avoFont ;
    font-size: 14px;
    font-weight: bold;
    color: black;
    max-height: 250px;
}
.ss__dup_li{
    font-weight: normal;
}

// .p-button-warning {
//     width: 85px;
//     height: 30px;
//     font-family: 'latoWeb';
//     margin: 52px 0px 57px 3px;
//     border-radius: 2px;
   
//     padding: 10px;
     
   

// }



.p-button-label {
    font-weight: 400;
    font-size: 14px;
   
}






.label-199{

    font-family: LatoWebLight !important;
    padding: 5px 3px;
    font-size: 14px;
    margin: -2px;
}

.title-184{
    font-size: 14px;
    font-family: 'LatoWeb';
}

.title-216{
    font-size: 15px;
    font-family: 'LatoWeb';
}

.dropdownItem-224{
    font-size: 15px;
    font-family: 'LatoWeb';
}

.dropdownItemSelected-225{
    font-size: 15px;
    font-family: 'LatoWeb';

}

.dropdown-203{
    font-size: 15px;
    font-family: 'LatoWeb';
}

.label-201{
    font-size: 13px;
    font-family: 'LatoWeb';
}

.dropdownItem-210 .ms-Button-flexContainer {
    width: 100%;
    font-size: 15px;
    font-family: 'LatoWebMedium';
}
.dropdownItemSelected-217:hover{
    font-size: 15px;
    font-family: 'LatoWebMedium'; 
}
.ss__left-btns .ms-Dropdown {
    height: 2.225rem !important;
}

.ss__taskBtnd{

    padding: 2px 13px;

    margin-right: 2px;

    height: 20px;

    font-size: 12px;

    background-color: $primaryColor;

    &:disabled{

        background-color: $backgroundThree;

        cursor: not-allowed;

    }

}

.ss__btnd{

    border: none;

    outline: none;

    color: $whiteColor;

    border-radius: 20px;

}

