
@import "../../global/styles/ColorVariables.scss";
.ss__content{
    display: flex;
    flex-direction: column;
    flex: 0 1 100%;
    min-width: 0;
    padding: 20px;
    margin: 0 1px;
    background-color: $whiteColor;
}

.ss__task_title{
    margin-bottom: 15px;
    max-width: 80%;
}
// #bluecolor{
//     color: blue;
// }
// a:hover{
//     text-decoration: none;
// }
// #bluecolor:hover{
//     list-style: none;
//     text-decoration:none ;
//    cursor: not-allowed;
// }
// #graycolor{
//     color:gray
// }
// #graycolor:hover{
//     list-style: none;
//     text-decoration:none ;
//    cursor: not-allowed;
// }
.ss__task_name{
    cursor: pointer;
    background-color: $primaryColorDarkest;
    color: $whiteColor;
    padding: 1px 14px 0;
    font-family: $avoSecondaryFont;
    font-size: 18px;
    width: fit-content;
    white-space: nowrap;
    text-overflow: ellipsis;
    border-radius: 5px;
    margin: 18px 15px 19px 24px;
}
<<<<<<< HEAD
// .breadcrumb-item {
//     + .breadcrumb-item::before {
//       content: ">>" !important;
//       align-self: baseline;
//       color: #7d8daa;
//     }
//   }
=======



.breadcrumb-item {
    + .breadcrumb-item::before {
      content: ">>" !important;
      align-self: baseline;
      color: #7d8daa;
    }
  }

   


>>>>>>> 48e604ebd1c0039b44d679a06a9dad220d91b795
