@import "../../global/styles/ColorVariables.scss";
.ss__submitBtn, .ss__reassignBtn, .ss__approveBtn{
    background-color: $submitBtn;
    padding: 2px 15px;
    font-size: 17px;
    margin-right: 5px;
    border: none;
    outline: none;
    color: $whiteColor;
    border-radius: 20px;
}