.ss__submitBtn, .ss__reassignBtn, .ss__approveBtn{
    background-color: #ff7300;
    padding: 2px 15px;
    font-size: 17px;
    margin-right: 5px;
    border: none;
    outline: none;
    color: #fff;
    border-radius: 20px;
}