@import "../../global/styles/ColorVariables.scss";
.ws__row{
    display: flex;
    width: 100%;
}

.ws__url_method{
    flex: 1 0;
    margin-top: -5px;
    z-index: 10;

    label{
        font-family: $avoSecondaryFont;
        font-size: 16px;
        margin-bottom: 0;
        margin-right: 20px;
        color: $primaryColor;
        font-weight: 700;
    }

    .ws__input{
        width: 230px;
        border-radius: 4px 0 0 4px!important;
    }

    .ws__select{
        width: 225px;
    }

    .ws__addBtn{
        margin-left: 29px;
    }
    
    .ws__goBtn{
        color: $whiteColor;
        font-size: 15px;
        border: 1px solid $primaryColor;
        background: $primaryColor;
        font-family: $avoSecondaryFont;
        margin-left: -2px;
        margin-right: 50px;
        border-radius: 0 4px 4px 0;
        padding: 0 14px 0 10px;
        outline: 0;
    }
}

.ws__action_wrapper{

    display: flex;
    align-items: center;
    margin-top: 25px;
    padding-bottom: 10px;
    margin-bottom: 15px;
    border-bottom: 1px solid $pluginGray;

    .ws__input{
        width: 107px;
        margin: 0 10px 0 5px;
    }

    .ws__select{
        width: 114px;
        margin: 0 10px 0 0;
    }
    
    .ws__op_input{
        width: 74px!important;
        margin: 0 10px 0 0;
    }
}

.ws__cert_btn{
    border: none;
    outline: none;
    color: $whiteColor;
    padding: 0;
    margin: -1px 15px 0 0;

    img{
        height: 24px;
        width: 22px;
    }
}

.ws__bigBtn{
    font-size: 17px!important;
    padding: 2px 20px!important;
    height: max-content!important;
}

.ws__select{
    height: 25px;
    border: 1px solid $borderFive;
    font-size: 14px;
    font-family: $avoFont ;
    color: $primaryText;
    outline: none;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    &:disabled{
        cursor: not-allowed;
        background-color: $whisper;
    }
}

.ss__right-btns{
    margin-top: 5px;
}

.ws__input{
    font-size: 14px;
    border-radius: 4px;
    font-family: $avoFont ;
    outline: none;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    color: $primaryText;
    background-color: $whiteColor;
    padding: 5px;
    height: 24px;
    border: 1px solid $borderFive;
    &:disabled{
        cursor: not-allowed;
        background-color: $whisper;
    }
}

.caret__ws{
    position: absolute;
    display: flex!important;
    align-items: center;
    color: $primaryColorDark;
    height: 5px;
    left: calc(50% - 3.5px);
    z-index: 1;
}

.ws__url_m_wrapper{
    display: flex;
    width: fit-content;
    align-items: center;
    border-radius: 4px;
    padding: 11px 3px 7px 1px;;
    background-color: $borderThree;
}

.ws__mainContainer{
    display: flex;
    flex-direction: column;
    height: 84%;
    width: 100%;
}
.mainContainerAd{
    margin: 4rem 12rem -1rem 0rem
}

.ws__rqst_resp_header, .ws__rqst_resp_body{
    width: 100%;
    resize: none;
    padding: 10px;
    background: $borderThree;
    border: none;
    font-family: $avoFont ;
    font-size: 14px;
    overflow: auto;
    &:disabled{
        color: $black;
    }
}

.ws__rqst_resp_header{
    height: 28%;
    margin-bottom: 2%;
}

.ws__rqst_resp_body{
    height: 38%;
}

.ws__action_btn{
    position: relative;
    padding: 1px 8px;
    margin-right: 7px;
    height: 21px;
    font-size: 13px;
    font-family: $avoSecondaryFont;
    background-color: $primaryColor;
    border: none;
    outline: none;
    color: $whiteColor;
    border-radius: 20px;
    &:disabled{
        background-color: $backgroundThree;
        cursor: not-allowed;
    }
}

.ws__active{
    background-color:$primaryColorDark !important
}

.ws_eb{
    border: 2px solid  $redError !important;
}
.space{
    margin: 0rem 1.15rem 0rem -0.85rem;
}
