@charset "utf-8";
/*****************QC CSS NEW ************************/
.qcActionBtn{
    float: left;
    width: 100%;
}
.qcActionBtn a, .qcActionBtn button{
    color: #fff;
    border: 0;
    border-radius: 20px;
    background: #643693;
    font-family: 'LatoWebLight';
    outline: 0;
    text-decoration: none;
    cursor: pointer;
}
.viewMapbtn{
    padding: 0px 15px !important;
    font-size: 15px;
    float: left !important;
    margin-left: 6px;
    margin-right: 6px;
}
.saveQcbtn{
    float: left !important;
    padding: 0px 19px !important;
    font-size: 16px;
}
.stopPointerEvent{
    pointer-events: none;
}
.leftQcStructure, .rightQcStructure{
    border: 1px solid #000;
    position: relative;
    top: 14px;
    height: 91%;
    padding: 5px;
    width: 47%;
    float: left;
}
.leftQcStructure{margin-right: 35px;}
.qcDomProContainer{padding: 10px 8px 2px 8px;}
.qcProContainer{padding: 10px 4px 2px 8px;}
.qcProContainer input{height: 24px; border-radius: 5px; border: 1px solid #000; width: 40%; opacity: 0; padding-left: 6px;}
.searchScenarioAvoAssure{padding: 4px 0 4px 0; border-radius: 5px; border: 1px solid #000; position: relative; top: 1px; cursor: pointer; display: none;}
.searchScenarioAvoAssure img{width: 26px;}
.qcDomProContainer select, .qcProContainer select{
    width: 48%;
    height: 24px;
    border-radius: 5px;
    border: 1px solid #000;
}
.qcTreeContainer, .qcAvoAssureTreeContainer{
    float: left;
    width: 100%;
    height: 80%;
    margin-top: 20px;
    padding: 0 6px 0 6px;
}
.qcTreeContainer ul:nth-child(1), .qcAvoAssureTreeContainer ul:nth-child(1){height: 616px !important;}
.qcTreeContainer ul, .qcAvoAssureTreeContainer ul{padding: 0 !important;}
.qcTreeContainer ul label{margin-left: 10px;}
.qcTreeContainer ul li.testSet label{margin-left: 34px !important; position: relative; top: 3px; overflow: hidden; text-overflow: ellipsis; width: 70%; white-space: nowrap;margin-bottom: 0;}
.qcTreeContainer ul li.testSet img{float: right; margin-right: 8px; height: 13px; position: relative; top: 6px; cursor: pointer;}
.qcAvoAssureTreeContainer ul li.testSet{padding-left: 10px;}
.qcAvoAssureTreeContainer ul li.testSet label{position: relative;top: 3px;}
.testSet:hover{background-color: #f3eaff; border-radius: 5px !important;}
.root ul{margin-left: 17px;}

.qcTreeContainer ul.suiteList li.testSuite label{margin-left: 0px !important; position: relative; top: 3px; overflow: hidden; text-overflow: ellipsis; width: 70%; white-space: nowrap;margin-bottom: 0;}
.qcTreeContainer ul.suiteList li.testSuite img{float: right; margin-right: 8px; height: 13px; position: relative; top: 6px; cursor: pointer;}
/* .testSuite:hover{background-color: #f3eaff; border-radius: 5px !important;} */

.qcTreeContainer ul.runList li.testRun label{margin-left: 57px !important; position: relative; top: 3px; overflow: hidden; text-overflow: ellipsis; width: 70%; white-space: nowrap;margin-bottom: 0;}
.qcTreeContainer ul.runList li.testRun img{float: right; margin-right: 8px; height: 13px; position: relative; top: 6px; cursor: pointer;}
.testRun:hover{background-color: #f3eaff; border-radius: 5px !important;}

.qcTreeContainer ul li.Tsetnode label{position: relative; top: 3px; overflow: hidden; text-overflow: ellipsis; width: 70%;}
.qcTreeContainer ul li.Tsetnode img{float: left; position: relative; top: 6px; cursor: pointer;}
.qcTreeContainer ul li.Tfolnode label{position: relative; top: 3px; overflow: hidden; text-overflow: ellipsis; width: 70%;}
.qcTreeContainer ul li.Tfolnode img{float: left; position: relative; top: 6px; cursor: pointer;}

.mappedFiles{
    height: calc(100% - 27px) !important;
    padding: 10px;
}
.linkedTestset{
    width: 100%;
    float: left;
    height: 30px;
    margin-bottom: 26px;
}
.linkedTestset label{
    width: 45%;
    float: left;
    background-color: #E1CAFF; 
    border-radius: 5px;
    padding: 5px 5px 5px 30px;
    font-size: 16px;
    font-family: 'LatoWebLight';
	overflow: hidden;
	text-overflow: ellipsis;
}
.linkedTestset span{
    float: left;
    border: 1px solid #585858;
    width: 90px;
    margin-top: 15px;
}
.qcUndoSyncronise, .qcSyncronise{display:none;}
.upperTestlabSection{
    width: 100%;
    height: calc(100% - 390px);
    float: left;
}
.upperTestlabLeftSec{
    width: 40%;
}
.upperTestlabLeftSec label{width: 100%;}
.upperTestlabLeftSec select{width: 250px; height: 26px; margin-bottom: 30px; border-radius: 4px;}
.upperTestlabRightSec{
    width: 60%;
    border: 1px solid #aaa;
    height: calc(100% - 35px);
    padding: 0 0 10px 0;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.upperTestlabRightSec label{width: 100%; border-bottom: 1px solid #aaa; padding: 7px 0 5px 7px; background: #5e626b; color: white; font-family: 'LatoWebLight'; border-top-left-radius: 2px; border-top-right-radius: 2px;}
.mtgScenarioList{padding-left: 0; line-height: 2;}
.mtgScenarioList li{padding-left: 6px; cursor: pointer;}
.mtgScenarioList li:hover{background-color: #e6e6e6;}
.lowerTestlabSection{
    width: 100%;
    height: calc(100% - 430px);
    float: left;
}
.saveTestlabdetails{
    font-size: 16px;
    width: 90px;
    height: 30px;
    color: #fff;
    border: 0;
    border-radius: 4px;
    background: #643693;
    cursor: pointer;
    position: relative;
    left: 880px;
    top: 14px;
}
.almfieldsList, .addAlmfields, .editableAlmfields, .saveTestlabdetails, .upperTestlabLeftSec, .upperTestlabRightSec, .testLabGenContainer{float: left;}
.almfieldsList{
    width: 30%;
    height: 90%;
    border: 1px solid #aaa;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.almfieldsList label{width: 100%; border-bottom: 1px solid #aaa;padding: 6px 0 6px 6px; background: #5e626b; color: white; font-family: 'LatoWebLight'; border-top-left-radius: 2px; border-top-right-radius: 2px;}
.almfieldsList ul{padding-left: 0px; line-height: 2;}
.almfieldsList ul li{padding-left: 6px; cursor: pointer;}
.almfieldsList ul li:hover{background-color: #e6e6e6;}
.selectfieldsList, .selectTestcaseMTG{background:#E1CAFF;}
.selectALMExcel{border-left: 3px solid #643693;}
.addAlmfields{
    width: 10%;
    height: 90%;
    padding-left: 32px;
}
.addAlmfields button{
    font-size: 23px;
    width: 36px;
    position: relative;
    top: 112px;
    margin-bottom: 10px;
    color: #fff;
    border: 0;
    background: #643693;
    cursor: pointer;
}
.editableAlmfields{
    width: 60%;
    height: 90%;
    border: 1px solid #aaa;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.editableAlmfields .editableAlmfieldslabel{
    width: 52%;
    border-bottom: 1px solid #aaa;
    padding: 6px 0 6px 6px;
    background: #5e626b;
    color: white;
    font-family: 'LatoWebLight';
}
.editableAlmfieldslabel:nth-child(1){border-right: 1px solid #ccc;width: 48%; border-top-left-radius: 2px;}
.editableAlmfieldslabel:nth-child(2){border-top-right-radius: 2px;}
.almFieldExcel{padding-left: 0;}
.almFieldExcel li{width: 100%; float: left; line-height: 1.7; border-bottom: 1px solid #ddd; padding-top: 6px;}
.almFieldExcel li label, .almFieldExcel li span input{width: 48%; padding-left: 6px; font-weight: 100;}
.almFieldExcel li span{width: 52%; margin-left: 11px;}
.almFieldExcel li span input{border-radius: 4px; border: 1px solid #616161;}
.testLabGenContainer{
    width: 100%;
    height: 100%;
    border: 1px solid #aaa;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
#testLabGen{width: 100%; height: 100%;}
#testLabGen thead{
    border-bottom: 1px solid #aaa;
    background: #643693;
    color: white;
    font-family: 'LatoWebLight';
}
#testLabGen thead tr{height: 28px;}
#testLabGen thead tr th{text-align: center; border-right: 1px solid white; width: 10%;}
/*****************QC CSS NEW ************************/
@media screen and (max-height: 680px) {
    .leftQcStructure, .rightQcStructure{
        height: 400px;
    }
}
/**********Specifically for Internet Explorer**********/
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {    
    .qcActionBtnFirstChild{margin-left: 458px !important;}
    .qcTreeContainer, .qcAvoAssureTreeContainer{height: 600px;}
}
@media only screen and (width: 1440px) and (height: 794px){
    .mappedFiles{height: calc(100% - 74px) !important;}
}
