/* ---------------------------------------------------
                 Left SIDEBAR STYLE
                 ----------------------------------------------------- */

                 .wrapper {
                    display: flex;
                    align-items: stretch;
                }
                
                #sidebarLeft {
                    min-width: 150px;
                    max-width: 150px;
                    background: #633691;
                    color: #fff;
                    transition: all 0.3s;
                }
                
                #sidebarLeft.active {
                    /* min-width: 80px;
                    max-width: 80px; */
                    min-width: 5px;
                    max-width: 5px;
                    text-align: center;
                }
                
                #sidebarLeft.active .sidebar-header h3,
                #sidebarLeft.active .CTAs {
                    display: none;
                }
                
                #sidebarLeft.active .sidebar-header strong {
                    display: block;
                }
                
                #sidebarLeft ul li a {
                    text-align: left;
                }
                
                #sidebarLeft.active ul li a {
                    padding: 20px 10px;
                    text-align: center;
                    font-size: 0.85em;
                }
                
                #sidebarLeft.active ul li a i {
                    margin-right: 0;
                    display: block;
                    font-size: 1.8em;
                    margin-bottom: 5px;
                }
                
                sidebarLeft.active ul ul a {
                    padding: 10px !important;
                }
                
                sidebarLeft.active .dropdown-toggle::after {
                    top: auto;
                    bottom: 10px;
                    right: 50%;
                    -webkit-transform: translateX(50%);
                    -ms-transform: translateX(50%);
                    transform: translateX(50%);
                }
                
                #sidebarLeft .sidebar-header {
                    padding: 0px;
                    background: #633691;
                }
                
                #sidebarLeft .sidebar-header strong {
                    display: none;
                    font-size: 1.8em;
                }
                
                #sidebarLeft ul.components {
                    padding: 20px 0;
                    border-bottom: 1px solid #47748b;
                }
                
                #sidebarLeft ul li a {
                    padding: 10px;
                    font-size: 1.1em;
                    display: block;
                }
                
                #sidebarLeft ul li a:hover {
                    color: #7386D5;
                    background: #fff;
                }
                
                #sidebarLeft ul li a i {
                    margin-right: 10px;
                }
                
                #sidebarLeft ul li.active>a,
                a[aria-expanded="true"] {
                    color: #fff;
                    background: #633691;
                }
                
                a[data-toggle="collapse"] {
                    position: relative;
                }
                
                .dropdown-toggle::after {
                    display: block;
                    position: absolute;
                    top: 50%;
                    right: 20px;
                    transform: translateY(-50%);
                }
                
                ul ul a {
                    font-size: 0.9em !important;
                    padding-left: 30px !important;
                    background: #633691;
                }
                
                ul.CTAs {
                    padding: 20px;
                }
                
                ul.CTAs a {
                    text-align: center;
                    font-size: 0.9em !important;
                    display: block;
                    border-radius: 5px;
                    margin-bottom: 5px;
                }
                
                a.download {
                    background: #fff;
                    color: #7386D5;
                }
                
                a.article,
                a.article:hover {
                    background: #633691;
                    color: #fff !important;
                }
                
                
                /* ---------------------------------------------------
                                 MEDIAQUERIES for LeftSideBar
                                 ----------------------------------------------------- */
                
                @media (max-width: 768px) {
                    #sidebarLeft {
                        /* min-width: 80px !important; */
                        max-width: 80px !important;
                        text-align: center;
                        margin-left: -80px !important;
                    }
                    .dropdown-toggle::after {
                        top: auto;
                        bottom: 10px;
                        right: 50%;
                        -webkit-transform: translateX(50%);
                        -ms-transform: translateX(50%);
                        transform: translateX(50%);
                    }
                    #sidebarLeft.active {
                        margin-left: 0 !important;
                    }
                    #sidebarLeft .sidebar-header h3,
                    #sidebarLeft .CTAs {
                        display: none;
                    }
                    #sidebarLeft .sidebar-header strong {
                        display: block;
                    }
                    #sidebarLeft ul li a {
                        padding: 20px 10px;
                    }
                    #sidebarLeft ul li a span {
                        font-size: 0.85em;
                    }
                    #sidebarLeft ul li a i {
                        margin-right: 0;
                        display: block;
                    }
                    #sidebarLeft ul ul a {
                        padding: 10px !important;
                    }
                    #sidebarLeft ul li a i {
                        font-size: 1.3em;
                    }
                    #sidebarLeft {
                        margin-left: 0;
                    }
                    #sidebarCollapse span {
                        display: none;
                    }
                }
                
                
                /************** Left Bar arrow Css ***************/
                
                .ct-expand-left,
                .ct-expand-right {
                    z-index: 10 !important;
                    position: absolute !important;
                    left: -6px !important;
                }
                
                .ct-side .ct-expand {
                    top: Calc(100% + 372px) !important;
                }
                
                
                /************** Left Bar arrow Css ***************/