@import "../../global/styles/ColorVariables.scss";

.e__body {
  .e__parallel_icon {
    position: relative;
    font-weight: 600;
    &:hover {
      background-color: #00000014;
    }
    &:hover .e__parallel_icon__img, &:hover .e__parallel_icon__svg{
      background-color: transparent !important;
    }
  }
}

.e__thumbnail input[type='checkbox']{
    width: 18px;
    height: 18px;
    outline: none;
}
.e__thumbnail{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20% 20px 15%;
    font-size: 16px;
}
.e__thumbnail_title{
    text-align: center;
}
.e__debugOn{
    font-family: $avoPrimaryFont;
    font-size: 18px;
    user-select: none;
}
.cls-1{
    height: 36px;
    width: 36px;
}
.e__parallel_icon{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Mulish;
    font-size: 12px;
    color: #000000;
    margin: 10% 0 5%;
    cursor: pointer;
    &:hover .e__parallel_icon__img, &:hover .e__parallel_icon__svg{
        background-color: $hovorIcon;
    }
}
.e__parallel_icon__img{
    padding: 8px 10px;
    margin-bottom: 2px;
    border-radius: 5px;
    height: 55px;
    width: 57px;
}