@import "../../global/styles/ColorVariables.scss";
@import 'primeflex/primeflex.css';
.config_setup {
  width: 100%;
  margin: 0;
  .p-tabview {
    width: 100%;
    .p-tree {
      border: none;
    }
  }
  .icon_required {
    color: #D1272C;
  }
  .p-tabview .p-tabview-panels {
    padding: 0;
  }

  .config_container {
    padding: 0 1.875rem;
    .config_subcontainer {
      .table_section {
        min-width: 31.25rem;
        .p-treetable-header {
          padding: 0.5rem 0.9375rem 0.5rem 0.9375rem;
        }
        .p-treetable-thead {
          border: 1px solid #dee2e6;
        }
        .tabletree_class {
          .p-treetable-wrapper {
            height: 50vh;
            overflow: auto;
          }
          .module_icons {
            padding-right: 0.25rem;
            vertical-align: middle;
          }
          .p-treetable-header {
            background: #ffffff;
            border-width: 1px;
            color: #030229;
            font: $f6_regular;
            .config_text {
              width: 50%;
              .p-input-icon-left {
                width: 100%;
                .p-inputtext {
                  width: 100%;
                }
              }
            }
          }
        }
        .radioButton{
          text-align: center;
          font-family: "Open Sans";
          font:$f7_semibold ;
        }

        .p-treetable {
          font-family: "Open Sans";
          font-weight: normal;

          .column_dataParameterization {
            width: 15.25rem;
            .p-multiselect .p-multiselect-label.p-placeholder {
              text-align: left;
              line-height: 0.5rem;
            }
          }
          .column_condition {
            width: 7.25rem;
            .p-multiselect .p-multiselect-label.p-placeholder {
              text-align: left;
              line-height: 0.5rem;
            }
          }
          .column_accessibility {
            width: 11.25rem;
            .p-multiselect .p-multiselect-label.p-placeholder {
              text-align: left;
              line-height: 0.5rem;
            }
          }
          .column_name {
            width: 17.4375rem;
          }
          .p-treetable-thead>tr>th {
            background: #F3F2FF;
            padding: 0.8rem 0.8rem;
            // font-size: 0.875rem;
            color: #030229;
            border: none;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            position: sticky;
            top: 0;
            z-index: 1;
            font: $f6_semibold !important;
          }

          .p-treetable-tbody>tr>td {
            padding: 0.4rem 0.4rem;
            color: #030229;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            font: $f6_regular;
            .p-multiselect {
              width: 100%;
              padding: 0.3rem 0.3rem;
              font: $f6_regular;
              .p-multiselect-label {
                padding: 0;
                font: $f6_regular;
              }
              .p-multiselect-label.p-placeholder {
                padding: 0.3rem 0.3rem;
              }
            }
            .p-inputtext {
              padding: 0.3rem 0.3rem;
              font: $f6_regular;
            }
            .p-inputtext-sm {
              width: 100%;
            }
            .p-dropdown {
              width: 100%;
            }
          }

          .p-treetable-tbody>tr.customNormalRow {
            td:nth-child(2),
            td:nth-child(3),
            td:nth-child(4) {
              display: none;
            }
            td:nth-child(1) {
              display: inline-block;
              width: 293.7%;
            }
            .column_name{
              .p-checkbox {
                width: 2.5rem;
              }
              .p-checkbox::after {
                padding-left: 0.5rem;
                content: url('../../../../public/static/imgs/signup_module.svg');
              }
            }
          }

          .p-treetable-tbody>tr.customE2ERow {
            td:nth-child(2),
            td:nth-child(3),
            td:nth-child(4) {
              display: none;
            }
            td:nth-child(1) { 
              display: inline-block;
              width: 293.7%;
            }
            .column_name{
              .p-checkbox {
                width: 2.5rem;
              }
              .p-checkbox::after {
                padding-left: 0.5rem;
                content: url('../../../../public/static/imgs/E2E_configsetup.png');
              }
            }
          }

          .p-treetable-tbody>tr.genaralRow {
            .column_name{
              .p-checkbox {
                width: 2.8rem;
              }
              .p-checkbox::after {
                padding-left: 0.5rem;
                padding-top: 0.2rem;
                content: url('../../../../public/static/imgs/signup_scenario.svg');
              }
            }
          }
        }
      }

      .avogrid_section {
        min-width: 14.375rem;
        padding-left: 0.9375rem;
        .avogrid_container {
          padding-top: 1.5625rem;
          border: 1px solid #dee2e6;
          display: flex;
          flex-direction: column;
          width:20rem;
          .avogrid_fields {
            padding: 0.625rem;
            height: 5.4rem;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            font: $f7_semibold;
            .p-multiselect .p-multiselect-label.p-placeholder {
              text-align: left;
              line-height: 0.5rem;
            }
            .p-inputtext {
              padding: 0.4rem 0.4rem;
              font: $f6_regular;
            }
            .p-dropdown {
              width: 100%;
              margin-top: 0.3rem;
            }
            .p-selectbutton {
              .p-highlight {
                background: rgba(96, 91, 255, 0.1);
              }
              .p-button {
                width: 50%;
                padding: 0.5rem 0 0.5rem 0;
                .p-button-label {
                  color: #030229;
                  font: $f7_semibold;
                }
              }
            }
          }
        }
      }
    }
  }

  .config_tree {
    width: 100%;
    .exe_icons {
      padding-right: 0.625rem;
    }
  }
}
.required-asterisk {
  color: red;
}
.disabledEffect{
  opacity:0.5;
  margin-left: 0.5rem !important;
}
.treehead{
  margin-top: 0.5rem;
}
.dropdown-container {
  position: relative;
}

.searchdropdown .p-dropdown-label {
  align-items: center;
    display: flex;
    height: 2.4rem;
    line-height: 2rem;
    margin-right: 1px;
    padding: 1.1rem 1.2rem 1rem 0rem;
    margin-left: 1rem;
    font-size: 1.1rem;
    color:#6c757d;
    font: $f7_regular;
    font-size: 1rem;
    width: 8rem;
}

.searchdropdowncontainer{
margin-top: -0.5rem;
}
.tagFilter {
  left: 163px;
  position: absolute;
  top: 2.4rem;
  z-index: 4405;
}
.searchbox{
  margin-top: -2.5rem;
  margin-left: 13rem;
}
.searchtag{
  height: 2.5rem;
  font: $f6_regular !important;
}
.searchtag input::placeholder {
  // font: $f7_regular !important;
  font-family: 'Open Sans';
  font-size: 1rem;
}
.chip{
  display: inline-flex !important;
  align-items: center !important;
  border-radius: 50px !important;
  padding: 5px 15px !important;
  margin: 5px !important;
  border: 2px solid #605BFF;
  color: #605BFF;
}
.searchtag{
  height: 2.5rem;
}
.tagSearch{
  font-size: 1rem;
}
.selected-tags-container{
  display: flex;
  flex-wrap: wrap;
}
.close-icon{
  padding: 1px 2px 1px 10px;
  cursor: pointer;
  color:#4338ca;
  height: 1.3rem;
}
.clear-all-button{
  color:black;
  border-radius: 50px;
  padding: 5px 1px;
  margin: 5px;
  cursor: pointer;
}
.round-border {
  border-radius: 50px !important;
  border: 1px solid #ff9800 !important; 
}