@import "../../global/styles/ColorVariables.scss";
.executionTableDnd{
	float:left;
	width:100%;
	opacity:1;
	height: calc(100% - 31px);
}
.executionTableDnd
{
    height: calc(100% - 175px) !important;
}
.executionTableDnd-single{
    height: calc(100% - 65px) !important;
}
.e__batchSuites{
    position: relative !important;
    top: 3px;
    display: block;
    // height: 56vh;
    width: 100%;
}
[id^=page-taskName] {
    float: left;
    width: 100%;
    margin-bottom: 10px;
}
input[type="checkbox"] {
    cursor: default !important;
    margin-top: 0;
}
.parentSuiteChk {
    position: relative;
    left: -5px;
    vertical-align: middle;
    height: 20px;
    width: 16px;
    top: -1px;
}
.testSuiteBatch {
    float: left;
    width: 100%;
    padding-bottom: 12%;
}
.executionDataTable{
	float:left;
	width:100%;
	position: relative;
}
.executionDataTable .form-control{
	display: inline-block;
	width: 90%;
	height: 25px;
	float: none;
	border: 1px solid $borderGray;
	padding: 0px 5px;
}
.executionDataTable select.form-control{
	margin-bottom: 0;
    width: 70%;
    padding: 0px 10px;
    appearance: none;
    font-size: 14px;
    font-family: $avoFont;
    border: 1px solid $pluginGray  !important;
    -webkit-appearance: none;
    -moz-appearance: none;
}
.executionDataTable select.form-control::-ms-expand {
    display: none;
}
.executionDataTable .form-control:focus{
	box-shadow:none;
}
.d-execute{
	width:18px;
	height:16px;
	float:left;
}
.tabeleCellPadding{
    padding: 5px 0px !important;
    overflow: hidden;
    white-space:nowrap !important; 
    text-overflow: ellipsis;
    background: inherit !important;
    margin-right: 2vh;
}
@media only screen and (height:1080px){
	.tabeleCellPadding{width: 4%;overflow: hidden;white-space:nowrap !important; text-overflow: ellipsis;}
}
.e__table_scenaio-name{
    width: 16%; margin-right: 2%; cursor:pointer; word-break: break-all; text-align:left !important
}
.e__getParamPath{
    display: inline-block;
    width: 90%;
    outline: none;
    height: 25px;
    float: none;
    border: 1px solid $borderGray;
    padding: 0px 5px;
    font-size: 14px;
    line-height: 1.42857143;
    color: $primaryText;
    background-color: $whiteColor !important;
    background-image: none !important;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.alertGreen{
    background: $whiteColor url("/static/imgs/ic-true.png") 90% center no-repeat !important
}
.alertRed{
	background: $whiteColor url("/static/imgs/ic-false.png") 90% center no-repeat !important
}
.projectName{
    width:30%; word-break: break-all; padding-left: 1% !important; padding-right: 1% !important
}
.e__table_row_status{
    border-left: 4px solid $red !important;
}

.scenarioDetails{
	float:left;
	width:100%;
    font-size: 15px;
    max-height: 30vh;
}

.scenarioDetailsHeading{
	background: $primaryColorDark;
    padding: 5px 10px;
    color: $whiteColor;
    font-family: $avoPrimaryFont;
    border-radius: 5px;
    margin-bottom: 8px;
}

.sDInnerContentsWrap{
	float:left;
	width:100%;
	padding: 5px 10px;
}

.sDInnerContentsWrap:nth-child(odd){
	background: $backgroundFive;
}

.sDInnerContents{
	float: left;
    width: 33%;
    text-align: center;
    word-break: break-all;
    word-wrap: break-word;
    padding: 0px 10px;
    overflow: hidden;
    white-space: nowrap !important;
    text-overflow: ellipsis;
}
.viewReadOnlyTC:hover {
    text-decoration: underline;
    cursor: pointer;
}
.e__testScenarioScroll{
    max-height: 100px !important;
}
.e__contextmenu{
    width: 4%
}
.e__selectAll{
    width: 3%;
    padding: 5px 0px !important;
    margin-left: 0.2rem;
}
.e__selectAll-exe{
    font-size: 14px
}
.e__selectAll-name{
    margin-right: 2vh;
}
.e-execute {
    width: 18px;
    height: 16px;
    float: left;
}
.e__scenario{
    width: 18%;
    text-align:left !important;
    border-right: 1px solid $whiteColor;
    margin-left: 0.5rem;
}
.e__param{
    width: 32%;
    border-right: 1px solid $whiteColor;
}
.e__condition{
    width: 18%;
    border-right: 1px solid $whiteColor;
}
.e__projectName{
    width: 17%;
    border-right: 1px solid rgb(255, 255, 255)
}
.e__apptype{
    width: 11%;
    text-align:center;
    float: right;
    margin-right: 0vh !important;
}
.e__accessibilityTesting{
    border-left: 1px solid rgb(255, 255, 255);  
    width: 23%
}
.exe-ExecuteStatus{
    width: 3%;
    padding-top: 7px !important;
}
.exe-dataParam{
    width: 27%
}
.exe__table-multiDropDown{
    width: 20%;
    height: 2rem;
}
.exe__table-multiDropDown-pad:nth-child(even){
    padding-left: 8%;
    background: #ffffff !important;
    margin-left: 1.5rem;
    width: 10rem;
}
.exe-conditionCheck{
    width: 18%;
    margin-right: 0vh !important;
}
.exe-apptype{
    width: 14%;
    margin-right: 1rem;
    float:right
}

.e__container-wrap{
    display: flex;
    flex-direction: column;
    height: 100%;
    flex: 1;
}

.e__abs-div{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    flex-direction: column;
}

.e__min-h{
    // min-height: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
    flex: 1 1;
}
.e__table_row{
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-left: 4px solid transparent;
    align-items: center;
    float: left !important;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    margin-left: -1vh;
}
.e__table-bodyContainer{
    // overflow: auto;
    margin-top: 0px !important;
    position: absolute;
    width: 100%;
}
.e__table-bodyContainer div :nth-child(odd){
	background: $backgroundFive;
}
.e__table-col{
    font-weight: normal !important;
	padding: 1px 0px;
	display: inline-block;
    text-align: center;
    font-size: 14px;
    font-family: $avoFont;
    flex: 0 1 auto;
    overflow: hidden;
    text-overflow: ellipsis;
}
.e__table-head{
    position: relative !important;
    margin: -0.1em;
    z-index: 1;
    background: $tableHeader;
    color: $whiteColor;
    font-size: 17px;
    font-family: $avoSecondaryFont;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
}
.e__table-head-row{
    border-left: 4px solid transparent;
    display: flex;
    justify-content: space-between;
    // margin-right: 2px;
}
.e__table-head-row div{
    font-weight: normal !important;
	padding: 1px 0px;
	display: inline-block;
    text-align: center;
    font-size: 17px;
    font-family: $avoSecondaryFont;
    flex: 0 1 auto;
    overflow: hidden;
    text-overflow: ellipsis;
}
.e__table_webImg{
    background: inherit !important;
}

.devopsModList__Dialog.p-dialog-maximized {
    transition: none;
    transform: none;
    width: 73vw !important;
    height: 100vh !important;
    max-height: 100%;
    top: 0px !important;
    left: 0px !important;
    .e__batchSuites_Max{
        position: relative !important;
        top: 3px;
        display: block;
        height: 73vh !important;
        width: 100%;
    }
}
.p-dialog .p-dialog-header {
    border-bottom: 0 none;
    background: #ffffff;
    color: #343a40;
    padding: 1rem;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
}
.p-dialog .p-dialog-footer {
    border-top: 0 none;
    background: #ffffff;
    color: #495057;
    padding: 5px 1rem 1rem 1rem;
    text-align: right;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
}
.p-dialog .p-dialog-footer button{
    height: 2.5rem;
    background-color: #633693;
}
.p-button-label .p-c {
    font-weight: 600;
    font-size: 17px;
    font-family: "LatoWebLight";
}
.p-button:enabled:hover, .p-button:not(button):not(a):not(.p-disabled):hover {
    background: #633693;
    color: #ffffff;
    border-color: #633693;
}

.ps{
    overflow: none !important;
}

.e__table-col1{
    margin-right: 1.2vh;
}
.e__table-col2{
    margin-right: 1vh;
}