.integration_label{
    font-size: 13px;
    font-weight: 700;
    margin-left: 0.6rem;
    font-family: 'Open Sans';
    line-height: 1.9rem;
    color: #495057;
    
}
/* Apply some basic styling to the selected option */
.selected-option {
    background-color: #f0f0f0;
    padding: 0.5rem;
    border-radius: 4px;
}
.custom-dropdown{
margin-left: 0.5rem;
line-height: 0.7rem;
}
/* Add some spacing and styling to the dropdown options */
.custom-dropdown .p-dropdown-item {
    padding: 0.5rem;
    transition: background-color 0.2s;
    cursor: pointer;
    margin-left: 0.5rem;

}

.custom-dropdown .p-dropdown-item:hover {
    background-color: #f0f0f0;
}
.custom-dropdown .p-dropdown-panel {
margin-left: 3rem; /* Adjust the left position */
    max-height: 150px; /* Adjust the maximum height */
    overflow-y: auto;
    
}
.switch_executionlevel{
    height: 1.6rem;
    margin-top: 0.6rem;
    width: 3rem;
    top: 0.5rem;
    margin-left: 0.5rem;
}
.off_lable{
    font-family: Open Sans;
    margin-left: 0.5rem;
}
.on_lable{
    font-family: "Open Sans";
    margin-left: 1rem;
}
.receiver_lable{
    font-weight: bold;
    font-family: "Open Sans";
}
.email_lable{
    font-weight: bold;
    font-family: "Open Sans";
    line-height: 4rem;
    font-size: 0.9rem;
    margin-left: 0.7rem;
}
.executionlevel_lable{
    font-weight: bold;
    font-family: "Open Sans";
    font-size: 0.9rem;
    margin-left: 0.7rem;
}
.receiver_name{
    margin-top: 2rem;
    margin-left: 1rem;
}
.notify_label{
    line-height: 6rem;
    font-weight: bold;
    font-family: "Open Sans";
}
.savebutton{
    margin-top: 3rem;
    margin-left: 29rem;
}
.offpopup{
    margin-left: 1rem;
    font-size: 1.1rem;
}
.switch_notify{
    height: 1.6rem;
    margin-top: 0.6rem;
    width: 3rem;
    top: 0.5rem;
    margin-left: 0.4rem;
}
.onPopup{
    margin-left: 0.6rem;
    font-size: 1.1rem;
}
.testcase_lable{
    margin-left: 0.2rem;
}
.testsuite_lable{
    margin-left: 0.3rem;
}
.switch_executionnotify{
    top: 0.5rem;
    margin-left: 0.5rem;
}