@import "../../global/styles/ColorVariables.scss";
.ms__input{
    width: 90%;
    height: 30px;
    border: 1px solid;
    padding: .375rem .75rem;
    font-size: 14px;
    border-radius: .25rem;
}
.ms__dropDown{
    font-size: 14px;
    position: fixed;
    width: 12%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background: $whiteColor;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
    max-height: 165px;

    ul{
        padding-left: 2px;
        margin: 4px;
        width: calc(100% - 14px);
        background: white !important
    }

    li{
        display: inline-block;
        width: 100%;
        margin-bottom: 5px;
        font-weight: 700;
        background: white !important;
        padding: 3px 12px;
    }

    li:hover {
        background: $primaryColor !important;
        border-radius: 3px;
        color: $whiteColor;
        cursor: pointer;
    }
}