.schedule_tree {
    margin: 1rem 2rem 0rem 2rem;
    .p-tree-container {
        .p-treenode {
            padding: 0;
            .p-treenode-content {
                align-items: flex-start;

                .p-treenode-icon {
                    margin-top: 0.2rem;
                }

                .p-treenode-label {
                    width: 100%;
                }

                .p-calendar {
                    .p-inputtext {
                        padding: 0.3rem 0.5rem;
                    }

                    .p-button {
                        padding: 0.3rem 0.5rem;
                        background: white;
                        color: #dee2e6;
                        width: 2rem;
                        border: 1px solid #dee2e6;
                    }
                }
            }
        }
    }
    .radioBtn {
        padding-bottom: 1rem;
    }
    .dailyContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        .radioBtndaily {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0.4rem;
            .every_day {
                width: 3rem;
            }
            .day_week {
                display: flex;
                align-items: center;
            }
        }
    }
    .with_border {
        border-right: 1px solid #000000;
    }
    .without_border {
        border: none;
    }
    .checkbox_padding {
        padding-right: 0.7rem;
    }
}