*{
    margin: 0;
    padding: 0;
    text-decoration: none;
  }

  .main_content{
    top: 0vh;
    left: 0vh;
    display: grid;
  }

  .sidebar_sidepanel_homepage{    
    display: inline-flex;
    flex-direction: row;
  }