 
    .list1{
        margin: 1em 1em 1em 1em;
    }
    .project-name-1{
        .p-card-body{
    background: white;
    margin: 0rem;
    height: 6.5rem;
        }
    }
    .project-name-1 , .card11 , .card22{
        border:0.5px solid #ced4da;
        margin-top: 0.7rem;
        box-shadow: none !important;
    }
    .pro-name1{
        position: relative;
        bottom: 1.7rem;
    }
    .dropdown-1{
        float: right;
        position: relative;
        top: -1rem;
        right: 3rem;
    }
    .proj-input{
        position: relative;
        bottom: -0.3rem;
    }

    .app-dropdown{
        position: relative;
        bottom: -0.3rem;
    }
    
    .proj-input::placeholder{
        color: #C7C7C7;
        font-size: 14px;
    }
    .usersearch::placeholder{
        color: #C7C7C7;
        font-size: 14px;
    }
    .selecteduser::placeholder{
        color: #C7C7C7;
        font-size: 14px;  
    }
    .p-placeholder{
        color: #C7C7C7 !important;
        font-size: 14px !important;  
    }
    
    .card11{
        .p-card-body{
            background: white;
            margin: 0rem;
            height: 19rem;
        }
    }  
    .card11{
        position: relative;
        top: 1rem;
        width: 36rem;
    }
    .card22{
        width: 30rem;
        float: right;
        position: relative;
        bottom:17rem;
    }
    .card22{
        .p-card-body{
            background: white;
            margin: 0rem;
            height: 19rem;
        }
    
    }
    .card-input1{
        position: relative;
        bottom: 2rem;
    }
    
    .card-input2{
        position: relative;
        bottom: 2rem;
    }
     .p.button{
        margin: 2px !important;
     }
     .btn-11{
        position: relative;
        top: 1rem;
     }
    
     .btn1{
        margin-right: 1rem !important;
        height: 2.5rem;
     }
     .btn2{
        height: 2.5rem;
     }
    
     .label1{
        margin: -1.3rem 6rem 3rem 2rem;
        color: #9E9E9E;
        font-size: 12px;
     }
     .check1{
        position: relative;
        bottom: 1rem;
     }
     .check2{
         position: relative;
         bottom: 4rem;
     }
     .p-dialog-content{
    overflow: hidden !important;
     }
     .p-dialog-header{
        padding: 1rem !important;
     }
    .card{
        background: none !important;
    }
    //  .projbtn{
    //     position: relative;
    //     left:28rem;
    //  }
     .gtbtn {
        color: blue !important;
        right: -37.6rem !important;
        top: -10rem !important;
        height: 2rem !important;
        width: 0rem !important;
        align-items: center !important;
        background: white !important;
     }
     .ltbtn{
        right: -40rem !important;
        top: -7rem !important;
        left: 35rem !important;
        color: blue !important;
        height: 2rem !important;
        width: 0rem !important;
        align-items: center !important;
        background: white !important;
    
     }
    .role-dropdown{
        float: right;
        width: 11rem;
        height: 2em;
        position: relative;
        left: 15rem;
        top: 0rem;
        margin-bottom: 0.5rem;
    }
    .checkbox1{
        .label1{
            margin-left: 1rem !important;
        }
    }
    
    .label-2{
        // margin:0.8rem 0rem 1rem 1rem !important;
        display: flex;
        flex-direction: column;
        width: 5rem;
    }
    .selectallbtn{
        position: relative;
        bottom: 1rem;
    }
    .usersearch{
        width: 23rem;
        height: 2rem;
    }
    .user-select-checkbox {
        position: relative;
        bottom: 1rem;
    }
    .selecteduser{
        width: 23rem;
        height: 2rem;
    }
    .Project-Dialog{
        .p-dialog-header {
       background: #e9ecef !important;
        }
    }
    .p-dialog { 
        max-height: 94% !important;
    }
    .p-dialog-footer{
        background:#f8f9fa !important;
    }
    .checkbox-2{
        position: relative;
        bottom: 2.2rem;
    }
    .dropdown_role{
        position: relative;
        top: -5rem;
        left: 23rem;
        color: #9E9E9E;
        font-size: 14px;
    }
    .check-bx3{
        position: relative;
        bottom: 2rem;

    }
    .user-role{
        color: darkgrey;
        font-size: 12px;
    }
    .assigned-checkbox{
        position: relative;
        bottom: 2rem;
    }
    .asgnd-name{
        position: relative;
        bottom: 4rem;
        left: 1.5rem;
    }
    .asgnd-role{
        position: relative;
        bottom: 4.1rem;
        left: 1rem;
        color: darkgrey;
        font-size: 12px;
    }
    .label-3{
        display: flex;
        flex-direction: column;
        width: 5rem;
        margin-bottom: -1rem;
    }
    .tooltip {
        position: relative;
        display: inline-block;
      }
      
      .tooltip::before,
      .tooltip::after {
        position: absolute;
        visibility: hidden;
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
      }
      
      .tooltip::before {
        content: attr(title);
        background-color: #333;
        color: #fff;
        padding: 5px;
        font-size: 14px;
        border-radius: 5px;
        z-index: 1;
      }
      
      .tooltip::after {
        content: "";
        border: 5px solid transparent;
        border-top-color: #333;
        z-index: 2;
      }
      
      .tooltip:hover::before,
      .tooltip:hover::after {
        visibility: visible;
        opacity: 1;
      }
    
    
    
    