@import "../../global/styles/ColorVariables.scss";
.Project_Display {
  .p-panel-content {
    border: none !important;
  }

  .cardSize {
    width: 21rem;
    height: 35rem;
  }

  .Project-search {
    position: relative !important;
    left: 0rem;
    bottom: 0.8rem;
  }

  .Project_Display_Nav {
    display: flex;
    flex-direction: column;
    width: 19rem;
  }

  #Last_modifie {
    overflow: hidden;
    position: relative;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
  }

  .project-card {
    background: #fff;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    display: flex;
    padding: 0.5rem;
    width: 20rem;
    flex-wrap: wrap;
    overflow-x: hidden;
  }

  .default-project {
    background: linear-gradient(0deg, rgba(96, 91, 255, 0.2), rgba(96, 91, 255, 0.2)), #FFFFFF;
  }

  #projectInside {
    font: $f6_regular;
    color: rgba(3, 2, 41, .6);
    overflow: hidden;
    max-width: 17.8rem;
    text-overflow: ellipsis;
    display: inherit;
    white-space: nowrap;
    margin-left: 0.2rem;
  }

  .ProjectApp_Name {
    display: inherit;
    white-space: nowrap;
  }

  .projectInsideLast {
    color: rgba(0, 0, 0, 0.4);
    font: $f7_regular;
    margin-left: 1.5rem;
    max-width: 17.8rem;
    display: flex;
  }

  .Search_name {
    width: 20rem !important;
    background: #FAFAFB !important;
    border: none !important;
    font: $f6_regular;
  }

  .project {
    overflow-y: auto;
    max-height: 33rem;
  }

  .p-menuitem-icon-left {
    position: relative;
    left: 1rem
  }

  .Project_header {
    .sort-Menu {
      position: absolute;
      z-index: 1;
      top: 6.1rem;
      right: 70rem;
      .p-menuitem-link:hover {
        background: rgba(96, 91, 255, 0.2) !important;
        border-radius: 3px !important;
      }
      .p-menu .p-menuitem-link .p-menuitem-icon {
        position: relative;
        left: 9rem;
      }
      .p-menu .p-menuitem-link {
        align-items: center !important;
        cursor: pointer !important;
        display: flex !important;
        overflow: hidden !important;
        position: relative !important;
        text-decoration: none !important;
        flex-direction: row-reverse !important;
        justify-content: space-between !important;
      }
      .p-menuitem-text {
        font: $f6_regular !important;
      }
    }

    .All_Project_font {
      color: rgba(3, 2, 41, 0.6);
      width: 12rem;
      font: $f6_regular;
    }

    .sort_btn {
      border: none;
      background: transparent;
      cursor: pointer;
      color: #6c757d;
      margin-left: 2.3rem;
    }

    .add_btn {
      border: none;
      background: transparent;
      cursor: pointer;
      color: #6c757d;
    }

    .All_Project {
      padding: 0.5rem 1.5rem;
    }

    .add_sort_btn {
      display: flex;
      flex-direction: row-reverse;
      margin-left: 3.5rem;
    }
    .card__add {
      height: 11%;
      width: 13%;
      position: absolute;
      z-index: 1;
      background-color: #495057;
      border-radius: 5px;
      padding: 0.8rem 0.8rem 0.2rem;
      color: white;
      font-family: 'Open Sans';
      font-size: 14px;
    }
    .text__tooltip__info1 {
      padding: 0.2rem 0;
      line-height: 2.3; 
    }
  }
}
