@import "../../global/styles/ColorVariables.scss";
.repository__table{
    top: 2rem;
}

.add_more_btn{
    position: relative;
    /* right: -11rem; */
    left: 60rem;
    bottom: 1rem;
    font: $f6_semibold !important;
}

.scenario-accordion{
    // display: flex;
    // flex-direction: row;
    // gap: 42rem;
    font: $f6_semibold !important;
}

.button-class{
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    position: absolute;
    right: 10px;
    top: 12%;
}

.scenario-text{
    top: 1rem;
    font: $f6_semibold !important;
}

.accordion-class{
    .p-accordion-tab{
        .p-accordion-header{
            .p-accordion-header-link{
                padding: 1.2rem;
            }
        }
    }  
}

.accordion-class-2{
    .p-accordion-tab{
        .p-accordion-header{
            .p-accordion-header-link{
                padding: 0.5rem;
            }
        }
    }
}

.edit-text{
    font: $f7_semibold !important;
}
.delete-text{
    font: $f7_semibold !important;
}

.element-repository{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    overflow: auto;
    .p-accordion-header{
        .p-accordion-header-link{
            .p-accordion-header-text{
                line-height: 1.3;
            }
        }
    }
}

.button__elements{
    // position: relative;
    // left: 58.4rem;
    // bottom: rem;
    // top: 0.2rem;
    width: 12vw;
    position: sticky;
    left: 60vw;
    height: 3rem;
    top: 0.3rem;
    min-height: 3rem;
    min-width: 12vw;
}

.not_captured_ele {
    height: 25vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 16vw;
}

.not_captured_message {
    bottom: 1rem;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    right: 1rem;
    font: $f6_semibold !important;
  }

.input__field{
    // position: absolute;
    // bottom: 0.8rem;
    overflow-x: auto;
}

.name__ellipsis{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 21rem;
        gap: 5rem;
}

.element_tag{
    border-radius: 1rem !important;
    width: 4rem;
    padding: 0.1rem 0.1rem;
    font: $f6_semibold !important;
    .p-tag-value{
        position: relative;
        right: 1.2rem;
    }
}

.blue-text{
    color: blue;
}

.reused__icon{
    height: 1.5rem;
    cursor: pointer;
}

// .relative{
//     white-space: nowrap;
//     overflow: hidden;
//     text-overflow: ellipsis;
//     max-width: 15rem;
//     width: 11rem;
//     display: flex;
// }

.screenname__display{
    position: relative;
    bottom: 0.1rem;
}

.delete_reuse_dailog{
    .p-dailog .p-dailog-header{
        background: none !important;
    }
}

.paste-icon{
    margin-right: 0.5rem;
}

.triangle-color{
    color: black;
    margin-right: 0.5rem;
}

.reused-msg{
    color: black;
}