@import "../../global/styles/ColorVariables.scss";
.genai_container{
    width:100%;
}
.genai_left_container{
    width:30%;
    overflow-y: auto;
    height: 95vh;
    overflow-x: hidden;
}
.genai_right_container{
    width: 70%;
}
.context_container{
    border-color: #DEE2E6;
}
.context_heading{
    font : $f5_semibold;
}
.context_doc{
    font : $f6_semibold
}
.doc_fileupload > span{
    background-color: white;
    color: #605BFF;
    border: 1px solid #605BFF;
}
.doc_container{
    border: 1px solid #DEE2E6;
}
.doc_top{
    background-color: #DEE2E6;
}
.doc_btm_para{
    font: $f6_regular;
    color: #DEE2E6;
}
.left_table_header{
    font: $f6_semibold;
}
.left_table_view{
    color: #605BFF;
    font: $f7_semibold;
}
.leftandor{
    color: #9E9E9E;
    font: $f7_regular;
}
.left_btm_container{
    border-bottom: 1px solid #DEE2E6;
}
.left_btm_header{
    font: $f6_semibold;
}
.left_btm_placeholder{
    color: #6C757D;
    font: $f7_regular;
}
.genai_right_container {
    // display: flex;
  }
  .genai_right_content{
    .p-card{
        height: 45rem;
        margin-top: 0.5rem;
    }
 }
  
  
  .genai_main_content {
    flex: 1;
    /* Adjust other styles as needed */
  }
  .lable-div-temp{
    gap:10rem;
  }
  .gen-btn{
    .p-button{
        width: 7rem;
        margin-top: 1rem;
    }
  }
  .gen-btn2{
    .p-button{
        width: 7rem;
    }
  }
  .label-genai{
    font: $f7_semibold;
  }
  .label-genai2{
    font: $f6_regular;
    padding-left: 0.5rem;
  }
  .label-genai3{
    font: $f6_semibold;
  }
.datatable_files > .p-datatable > .p-datatable-wrapper > .p-datatable-table > .p-datatable-tbody{
    tr{
        display: table;
        width: 100%;
    }
    overflow-y: auto;
    height: 25vh;
    overflow-x: hidden;
    display: block;
}
  .img-container{
    align-items: center;
    margin-top: 10rem;
    margin-left: 10rem;
  }
