.OverviewSection {
  position: sticky;
  top: 5.5rem;
  width: 81.3rem;
}
.manage-btn {
  border: none ;
  background-color: transparent;
  color: #605bff;
  border-color: inherit;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  cursor: pointer;
  margin-left:13rem ;
}
