.OverviewSection {
  position: sticky;
  top: 2.5rem;
  width: 81.3rem;
}
.manage-btn {
  border: none ;
  background-color: transparent;
  color: #605bff;
  border-color: inherit;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  cursor: pointer;
  margin-left:13rem ;
}
.tab-menu{
  .p-menuitem-link
  {
  padding: 0.9rem !important;  
  box-shadow: none !important;
  font-family: 'Open Sans' !important;
  font-style: normal !important;
  font-weight: bold !important;
  font-size: 18px !important;
  line-height: 21px !important;
  color: #030229;
  }
}
.DefaultProject{
  display: flex;
  font-size: 24px;
  font-weight: 500;
  color: #030229;
}
.DefaultProjectName{
margin-left: 0.5rem;
}