.list_btns{
    display: flex;
    justify-content: center;
    font-size: small;
    }
    
    .CreateProj-card{
        margin-bottom: 1rem;
        height: 7rem;
        width: 70%;
        top: 1rem;
        display: flex;
        justify-content: center;
        .p-card-body{
            .p-card-title{
                font-size: 1.2rem !important;
                position: relative !important;
                margin-bottom: 0rem !important;
                text-align: center !important;
             }
            .p-card-content {
                padding: 0.5rem 0rem 1.25rem 6rem !important;
            }
        }
        
    }  
    .main-card{
        width: 47rem;
    }

    .gotoadmin-card{
        margin-bottom: 1rem;
        height: 9rem;
        width: 70%;
        top: 2rem;
        display: flex;
        justify-content: center;
        .p-card-body{
            .p-card-title{
                font-size: 1.2rem !important;
                position: relative !important;
                margin-bottom: 0rem !important;
                text-align: center !important;
             }
            .p-card-content {
                padding: 0rem !important;
                .admin-btn{
                    margin: 0rem 12rem 0rem 12rem ;
                }
            }
        }
    }
    