@import "../../global/styles/ColorVariables.scss";
.sidebar_container{
    display: flex;
    width: 5%;
    height: 100%;
    min-width: 3.6rem;
    .sidebar {
        width: 100%;
        position: sticky;
        color: #fff;
        height: 100%;
        transition: all 0.5s;
        border-right: solid 2px rgba(223, 220, 220, 0.925);
        .nav_item {
            display: flex;
            flex-direction: column;
            color: rgb(136, 132, 132);
            padding: 1rem 0.3rem;
            transition: all 0.5s;
            text-align-last: center;
            cursor: pointer;
            border-bottom: 1px solid #ccc;
            &_disabled {
                display: flex;
                flex-direction: column;
                color:  rgb(136, 132, 132);
                padding: 1rem 0.3rem;
                transition: all 0.5s;
                text-align-last: center;
                .p-overlay-badge 
                {
                    .p-badge {
                        min-width: 0.5rem !important;
                        height: 1rem !important;
                        right: 1rem !important;
                        background: none !important;                       }
                }
                .icon {
                    font-size: 10px;
                    .lock_icon{
                        position: fixed;
                    }
                }
                .link_text{
                    font-size: 0.7rem;
                    text-align: center;
                    font:$f8_regular;
                }
            }
           
            &:hover{
                background: rgb(208, 207, 209);
                color: #fff;
                transition: all 0.5s;  
                transition-duration: .15s!important;
                transition-property: all .15s !important;
            }
            .icon{
                font-size: 10px;
            }
            .link_text{
                font-size: 0.7rem;
                text-align: center;
                font:$f8_regular;
                font-weight: bold;
            }
            // &::after {
            //     content: '';
            //     position: absolute;
            //     bottom: 0;
            //     left: 50%;
            //     transform: translateX(-50%);
            //     height: 1px;
            //     width: calc(100% - 0.1rem); 
            //     background-color: #ccc; 
            // }
            
        }
        .active{
            border-left: solid 0.2rem #605BFF;
            color: #605BFF;
            border-radius: 0.2rem;
            // border-bottom: none;
            font:$f8_semibold;
        }
        .inactive{
            border-left:0px;
            color: transparent;
            color: #888484;
        }
    }
    .itdm_dis{
        font: $f6_regular;
    }
    .Itdm_contact{
        font: $f7_semibold;
    }
    .itdm_header{
        font: $f5_semibold;
    }
}
.itdm_icon{
    position: relative;
    left: 1.12rem;
    color: #888484;
}