.custom-tieredmenu{
    background-color: #030229 !important;
    border-radius: 8px !important;
    width: 13.5rem !important;
    .p-menuitem-icon ,.p-menuitem-text{
      color: #ffffff !important;
    }
  }
  .link{
    
    .p-tieredmenu,.p-menuitem-link:not(.p-disabled):hover{
      background: #bec2be !important;
  }
  }
  .a{
    .p-tieredmenu, .p-submenu-list{
      background-color: #030229 !important;      
    }
  }
  .ProfileDisplay{
    text-align: center;
    margin-bottom: 0.8rem;
    margin-right: 0.5rem;
    margin-top: 1rem;
    .c{
        color: #ffffff;
    }
  }
  .mar{
    margin-left: 1.5rem;
  }
  
    