.UserProfileContainer{
.card {
  background: var(--surface-card);
  padding: 0.5rem;
  border-radius: 10px;
  margin-left: 50rem;
}

.profile{
position: fixed;
    bottom: 44.3rem;
    right: 0.5rem;
}

.Logout_modal{
  .p-dialog-content{
    padding: 1.5rem !important;
    border-radius: 0.4rem 0.4rem 0 0 !important;
  }
  .p-dialog-footer{
    padding: 0.5rem !important;
    background: white !important;
  }
}

.custom-tieredmenu {
  background-color: #030229 !important;
  border-radius: 8px !important;
  width: 13.3rem !important;
  position: relative;
  z-index: 1;
  position: absolute;
  top: 2.6rem;
  right: 0rem;

  .p-menuitem-icon,
  .p-menuitem-text {
    color: #ffffff !important;
  }

  .p-menuitem-link:not(.p-disabled):hover {
    background: #bec2be !important;
  }

  .p-submenu-list {
    background-color: #030229 !important;
  }
}

.ProfileDisplay {
  text-align: center;
  margin-bottom: 0.8rem;
  margin-right: 0.5rem;
  margin-top: 1rem;
  color: #ffffff;
}
}