.verticalcard{
    width: 50em;
    height: 18em;
}

.verticalbutton{
    margin-left: 29em !important;
}
.verticalbuttonE{
    margin-left: 31em !important;
}
.verticalbuttonR{
    margin-left: 38em !important;
}

.verticalicon{
    position: relative;
    top: 0.35em;
    right: 0.5em;
}

.Stepper{
  margin-left: 0.5em;
}
.HeaderName{
    margin-bottom: 0em !important;
}