
.s__thumbnail input[type='checkbox']{
    width: 18px;
    height: 18px;
    outline: none;
}

.s__thumbnail{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20% 20px 15%;
    font-size: 16px;
}

.s__thumbnail_title{
    text-align: center;
}

.s__debugOn{
    font-family: "LatoWebMedium";
    font-size: 18px;
    user-select: none;
}


.cls-1{
    height: 36px;
    width: 36px;
}

@media screen and (min-width: 1400px) and (min-height: 770px){
    
    .s__thumbnail input[type='checkbox']{
        width: 2.34vh;
        height: 2.34vh;
    }

    .s__thumbnail{
        font-size: 2.08vh;
    }
    .s__debugOn{
        font-size: 2.34vh;
    }
    .cls-1{
        height: 5.6vh;
        width: 6vh;
        padding: 0.26vh;
    }
}
.s__parallel_icon{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "LatoWebLight";
    font-size: 12px;
    color: #eee9ff;
    margin: 10% 0 5%;
    cursor: pointer;
    &:hover .s__parallel_icon__img, &:hover .s__parallel_icon__svg{
        background-color: #523176;
    }
}

.s__parallel_icon__img{
    padding: 8px 10px;
    margin-bottom: 2px;
    border-radius: 5px;
    height: 55px;
    width: 57px;
}

@media screen and (min-width: 1400px) and (min-height: 770px){
    .s__parallel_icon{
        font-size: 1.56vh;
        margin: 10% 0 5%;
    }
    
    .s__parallel_icon__img{
        padding: 1.04vh 1.30vh;
        height: 6.7vh;
        width: 7.29vh;
        margin-bottom: 0.26vh;
        border-radius: 0.65vh;
    }
}
.s__selectedBrowser{
    background: #331d4c !important;
	border-radius: 5px !important;
    -moz-border-radius: 5px !important;
    -webkit-border-radius: 5px !important;
}
.thumbnail__title{
    font-size: 12px !important;
    text-align: center;
}
.smartScenario-popup .modal-content{
    width: 300px;
}