@import "../../global/styles/ColorVariables.scss";
.s__body{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgb(255, 255, 255);
}

.s__mid_section{
    display: flex;
    flex: auto;
    width: 100%;
    background-color: rgb(238, 238, 238);
    margin: 0;
    padding: 0;
}

.s__footer .main-footer{
    position: static;
}
.s__content{
    display: flex;
    flex-direction: column;
    flex: 0 1 100%;
    min-width: 0;
    padding: 20px;
    margin: 0 2px;
    background-color: $whiteColor;
}

