@import "../../global/styles/ColorVariables.scss";
.scheduleSuiteTable{
	float:left;
	width:100%;
	height: calc(100% - 31px);
    overflow: auto;
    position: relative;
}
.scheduleSuiteTable .batchSuite{
    margin-bottom: 0px;
    width: calc(100% - 398px)!important;
}
.scheduleSuite{
    // background: $primaryColorDarkest;
    // width: 100%;
    padding: 2px;
    height: 35px;
    border-radius: 6px;
    margin-top: 12px;
    // margin-left: -411px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: start;
}
.scheduleSuite .ipContainer{
	float: right;
    margin-right: 10px;
}
.scheduleSuite .ipformating{
	height: 27px;
    margin-top: 2px;
    width: 196px;
    padding: 0px;
    font-size: 14px;
    font-family: $avoFont;
}
.scheduleSuite .datePicContainer{
	position: relative;
    float: right;
    margin-right: 10px;
    font-size: 14px;
    font-family: $avoFont;
}
.scheduleSuite .timePicContainer{
    position: relative; 
    display: inline-block;
    // float: right;
    margin-right: 10px;
    font-size: 14px;
    font-family: $avoFont;
}
.selectScheduleSuite{float: left; margin: 10px 6px 0 6px !important;}
.scheduleSuiteName{
	float: left;
	color: $whiteColor;
    margin-top: 7px;
    width: 25%;
    padding: 0 10px 0 2px;
    overflow:hidden;
    white-space: nowrap !important;
    text-overflow: ellipsis;
    max-width: 350px;
    font-size: 14px;
    font-family: $avoFont;
}
.datepickerIcon{
	top: 3px;
    position: absolute;
    right: 1px;
    background: $primaryColor;
    padding: 3px 5px;
    border-radius: 0px 4px 4px 0px;
    -moz-border-radius: 0px 4px 4px 0px;
    -webkit-border-radius: 0px 4px 4px 0px;
    font-size: 14px;
    font-family: $avoFont;
    cursor:pointer;
}
.timepickerIcon{
	top: 3px;
    position: absolute;
    right: 1px;
	background: $primaryColor;
    padding: 4px;
    border-radius: 0px 4px 2px 0px;
    -moz-border-radius: 0px 4px 2px 0px;
    -webkit-border-radius: 0px 4px 2px 0px;
    font-size: 14px;
    font-family: $avoFont;
    cursor:pointer;
}
.scenarioSchdCon{
	width: 100%;
	margin-top: 1px;
}
.scenarioHeaders,.reportHeaders{
	background: $tableHeader;
    color: $whiteColor;
    font-size: 15px;
    font-family: $avoSecondaryFont;
}

.scenarioHeaders tr{width: 100%;}
.scenarioHeaders tr td{
	padding: 0 5px 0 5px;
	border-right: 1px solid $whiteColor;
    text-align: center;
    /* float: left;
    overflow: hidden;
    white-space: nowrap !important;
    text-overflow: ellipsis; */
}
.scenarioHeaders tr td:first-child{text-align: left; padding-left: 8px; padding-top: 2px; width: 6%; }
.scenarioHeaders tr td:nth-child(2){width: 23%;}
.scenarioHeaders tr td:nth-child(3){width: 24%;}
.scenarioHeaders tr td:nth-child(4){width: 17%;}
.scenarioHeaders tr td:nth-child(5){width: 20%;}
.scenarioHeaders tr td:nth-child(6){width: 10%;}
.scenarioBody tr td{
	padding: 0 5px 0 5px;
    text-align: center;
    font-size: 14px;
    font-family: $avoFont;
}
.scenarioBody tr td input{
	height: 24px;
    border: 1px solid $borderGray;
    border-radius: 4px;
    padding-left: 5px;
 }
.scenarioBody tr td select{
	width: 70px;
	height: 25px;
	border: 1px solid $borderGray;
    border-radius: 4px;
}
.scenarioBody tr td:first-child{text-align: left; float: left; width: 100%; padding: 5px;}
.scenarioBody tr td:first-child span{/*margin-right: 10px; margin-left: 4px; position: relative; bottom: 5px;*/
    float: left;
    width: 50%;
    margin-top: 5%;
}
.scenarioBody tr td:first-child input{
    position: relative;
    top: 2px;  
    left: 0px;  
    float: left;
    width: auto;
}
.scenarioBody tr td img{
    padding: 5px;
}
.datePicContainer input, .timePicContainer input {
    width: 183px;
}
.rdtPicker{
    position: fixed !important
}
.s__err-Border{
    border: 2px solid $red !important;
}
.s__ab{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
}
.s__min {
    min-height: 0;
}
.s__con {
    display: flex;
    flex-direction: column;
    flex: 1 1;
    height: 92%;
}