.profile_container {
    .exeprofile_txt {
        padding-bottom: 0.5rem;
        border-bottom: 1px solid #e9ecef;
    }
    .search_container {
        padding-top: 0.5rem;
        width: 20%;
        .p-input-icon-left {
            width: 100%;
        }
    }
    .p-tree.modules_tree {
        padding: 0;
        min-width: 20vw;
        .p-treenode-label {
            width: 100%;
            svg {
                border-radius: 8px;
            }
        }
        .p-treenode-content {
            padding: 0 1rem 0 0;
        }
    }
    .p-datatable-wrapper {
        height: 75vh;
    }
    .p-datatable .p-datatable-tbody>tr>td:nth-child(4) {
        width: 35rem;
    }
    .p-datatable .p-datatable-tbody>tr>td:nth-child(5) {
        width: 25rem;
    }
}