.profile_container {
    .vertical_line {
        position: absolute;
        z-index: 3;
        right: 36vw;
        top: 23.7vh;
    }
    .table_profile {
        margin-top: 0;
    }
    .exeprofile_txt {
        padding-bottom: 0.5rem;
        border-bottom: 1px solid #e9ecef;
    }
    .search_container {
        padding-top: 0.5rem;
        width: 20%;
        .p-input-icon-left {
            width: 100%;
        }
    }
    .p-tree.modules_tree {
        padding: 0;
        border: none;
        min-width: 20vw;
        .p-datatable-tbody>tr>td:nth-child(1) {
            text-align: center;
        }
        .p-treenode-label {
            width: 100%;
        }
        .p-treenode-children {
            .p-treenode-content {
                padding: 0;
                overflow: hidden;
            }
        }
        
    }
    .reports_table {
        .p-datatable-wrapper {
            height: 75vh;
            .p-datatable-tbody>tr>td:nth-child(4) {
                vertical-align: middle;
                padding: 0;
                .testSuite_col1 {
                    width: 35vw;
                } 
                .testSuite_col2 {
                    width: 33vw;
                } 
                .badge_icon {
                    margin-right: 0.5rem;
                }
                .badge_txt {
                    display: inline-block;
                    margin-right: 1rem;
                }
            }
        }
    }
    .p-datatable-thead>tr>th {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        position: sticky;
        top: 0;
        z-index: 1;
      }
    .p-datatable.statusTable {
            .p-datatable-tbody>tr>td:nth-child(4) {
                width: 5rem;
                vertical-align: middle;
        }
        .p-datatable-tbody>tr>td:nth-child(1) {
            text-align: left;
        }
        .p-datatable-tbody>tr>td {
            padding: 0.3rem;
        }
    }
    .nested_table>.p-datatable-tbody>tr>td:nth-child(1) {
        text-align: center;
    }
    .nested_table{
        .p-datatable-wrapper {
            height: auto;
        }
        .p-datatable-tbody>tr>td:nth-child(2) {
            width: 39vw;
        }
    }
    .module_table {
        .p-datatable-wrapper {
            height: auto;
        }
        .p-datatable-tbody>tr>td:nth-child(1) {
            text-align: center;
        }
        .p-datatable-tbody>tr>td:nth-child(2) {
            width: 38.5vw;
        }
    }
    .statusTable {
        width: 100%;
        .p-datatable-wrapper {
            height: auto;
        }
        .p-datatable-tbody>tr>td:nth-child(1) {
            text-align: center;
        }
        .p-datatable-tbody>tr>td:nth-child(2) {
            .badge_icon {
                margin-right: 0.4rem;
            }
            .badge_txt {
                display: inline-block;
                margin-right: 0.9rem;
            }
        }
    }
    svg {
        border-radius: 8px;
    }
    .textSuite {
        display: inline-block;
        width: 35vw;
    }
    .textCase {
        display: inline-block;
        width: 33vw;
    }
    .suite_text {
        display: inline-block;
        width: 35vw;
        text-align: center;
    }
    .case_text {
        display: inline-block;
        width: 33vw;
        text-align: center;
    }
}

.p-overlaypanel.reports_download {
    .p-overlaypanel-content {
        padding: 0;
    }
}