@font-face{font-family:LatoWeb;src:url(../fonts/Lato/Lato-Regular.ttf)}
*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
body{margin:0;padding:0;border-width:0;font-weight:300;font-family:LatoWeb;line-height:1.428571429;font-size:14px;color:#333;opacity:1}
a{color:#337ab7;cursor:pointer;text-decoration:none;background-color:transparent}
a:active,a:hover{outline:0}
p,a,img,text,span,.noselect{-webkit-touch-callout:none;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}
/* end to end design */
.createFirstContainer{
	position: absolute;
    display: block;
    left: 50%;
    top: 50%;
    transform: translateX(50%) translateY(50%);
    -moz-transform: translateX(50%) translateY(50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    background-color: #e6e7e9;
    width: 496px;
    height: 200px;
    border-radius: 16px;
}
.createOptionContainer{
    padding: 28px 0px;
    display: block;
    width: 100%;
    height: 100%;
}
.createOptionContainer div{
	border-right: 1px solid #ccc;
    float: left;
    padding: 28px 1px 10px 1px;
    width: 164px;
    height: 100%;
    cursor: pointer;
}
.createOptionContainer div:last-child{border-right: none;}
.createOptionContainer img{}
.createOptionContainer label{
    float: left;
    position: relative;
    width: 100%;
    text-align: center;
    font-size: 18px;
    font-weight: 100;
}
.endtoend-modulesContainer{
	display: block;
    width: 100%;
    position: absolute;
    height: 140px;
    background-color: #e6e7e9;
}
.endtoend-module-upperSection{
	width: 50%;
    float: left;
    height: 100%;
    padding: 10px 15px;
}
.endtoend-modules-left-upper, .endtoend-modules-right-upper{
	height: 42px;
    float: left;
    width: 100%;
}
.makeElementFloatleft{float: left;margin-right: 14px;}
.endtoend-modules-left-upper select{
	width: calc(100% - 67%);
    height: 26px;
    border-radius: 6px;
}
.endtoend-modules-left-upper input.makeElementFloatleft, .endtoend-modules-right-upper input.makeElementFloatleft{
	width: calc(100% - 62%);
	border-radius: 6px;
    border: 1px solid darkgrey;
    height: 26px;
    padding-left: 5px;
}
#searchModule-create, #eteSearchModules, #eteSearchScenarios, #searchModule-assign{padding-right: 28px;}
#searchModule-create, #searchModule-assign{padding-left: 4px;}
.endtoend-modules-right-upper label{
	margin-bottom: 0;
    margin-top: 7px;
}
.endtoend-modules-right-upper input{
	float: right;
    margin-right: 0;
}
.endtoend-modules-right-upper img{
	float: right;
    left: 225px;
    margin-top: 1px;
}
.searchModuleimg{
	position: relative;
    right: 103px;
    top: 3px;
    border-left: 1px solid #ccc;
    padding-left: 3px;
}
.endtoend-modules-right-lower{
	height: calc(100% - 40px);
    width: 100%;
    margin: 0;
}
.endtoend-modules-rightfirst-lower{
	height: calc(100% - 34px);
    width: 100%;
    margin: 0;
    /* padding: 2px !important; */
}
.eteLabel, .endtoend-modules-right-lower button{
	margin-right: 0;
    position: relative;
    bottom: 18px;
    background: #633693;
    color: #fff;
    outline: 0;
    border-radius: 20px;
    padding: 3px 12px 0px 12px;
    font-size: 13px;
    font-family: 'LatoWebLight';
}
.createNew-ete{
	width: 88px !important;
    margin-left: 20px;
}
.eteMboxETE{
    height:48px;
}
.endtoend-modules-right-lower button{
	float: right;
    border-radius: 13px;
    border: 1px solid transparent;
    position: relative;
    top: 4px;
    width: 65px;
    height: 23px;
    right:1px;
}
.moduleContainer{
	width: 23%;
    margin-bottom: 25px;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    padding-top: 10px;
    margin-right: 6px;
    float: left;
}
.moduleContainer:hover{
	background: #f4f4f4;
    border-radius: 11px;
}
.eteMbox{
	padding: 10px;
    background-color: #5c5ce4;
    border-radius: 8px;
}
.modulename, .eteScenrios{
	text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap !important;
    width: 85%;
    display: inline-block;
}
/* .sltEteScenario{
	float: left;
    width: calc(100% - 68%);
    margin: 0 0 0 0;
    padding: 2px 2px;
}
.sltEteScenario input{
	float: left;
    margin-top: 3px;
} */
.eteScenrios{
	width: calc(100% - 68%);
	float: left;
    margin: 0 6px 4px 0;
    border-radius: 5px;
    font-size: 13px;
    font-family: 'LatoWebLight';
    padding: 3px 0 3px 10px;
    font-weight: 700;
    text-align: left;
    cursor: pointer;
}
.eteScenrios:hover{
	background: #cae0f3;
	color: inherit;
}
.selectScenariobg{background-color: #4299e2; color: #fff;}
#etemModuleContainer{margin: 0;}
.fl-left{float:left!important}
.fl-right{float:right!important}
.bg-blank{background:transparent!important}
.no-disp{display:none!important}
.no-access{cursor:not-allowed!important}
.container{position:relative}
#page{width:100%;padding:0}
.loader-overlay{position:absolute;top:0;left:0;width:100%;height:100%;color:#fff;background-color:rgba(0,0,0,0.6);z-index:10;cursor:none}
.loading-dots:after{content:'.';animation:dots .7s steps(5,end) infinite}
::-webkit-scrollbar{width:8px;height:8px}
::-webkit-scrollbar-track:disabled{display:none!important}
::-webkit-scrollbar-track-piece:disabled{display:none!important}
::-webkit-scrollbar-button:disabled{display:none!important}
::-webkit-scrollbar-button{display:none}
::-webkit-scrollbar-thumb{background-color:#929397;border:1px solid transparent;border-left-color:#e6e7e9;border-right-color:#e6e7e9;-webkit-border-radius:10px;-moz-border-radius:10px;border-radius:10px}
::-webkit-scrollbar-thumb:hover{background-color:#555}
::-webkit-scrollbar-thumb:active{background-color:#555}
::-webkit-scrollbar-track-piece:increment,::-webkit-scrollbar-track-piece:decrement{background-color:#fff;border:1px solid #e6e7e9;margin:3px;-webkit-border-radius:10px;-moz-border-radius:10px;border-radius:10px}
::-webkit-scrollbar-track-piece:increment:hover,::-webkit-scrollbar-track-piece:decrement:hover{background-color:#fff}
::-webkit-scrollbar-track-piece:increment:active,::-webkit-scrollbar-track-piece:decrement:active{background-color:#d3d3d3}

/*FOR HEADER STARTS HERE*/
#header{height:62px;width:100%;z-index:1;padding:10px 30px}
.hd-logoPart img{width:160px;cursor:pointer}
.hd-dropdown{position:relative;width:auto;margin:8px -20px 8px 0}
.hd-dropdown-item{text-align:right;padding:0 10px;width:50%;border-right:1px solid #d2d2d2}
.hd-dropdown-item:last-child{border:none}
.hd-dropdown-item .btn{background-color:transparent;padding:0 12px;font-size:15px}
.hd-dropdown-item .btn:active:focus{outline:0;box-shadow:none}
.hd-dropdown .dropdown-menu{right:0;margin-top:10px}
.hd-ic{width:30px;vertical-align:middle;border:0}
.hd-ic-caret{margin-left:10px}
.hd-userSwitchLabel{position:relative;vertical-align:middle;top:3px}
.hd-userInfoLabel{position:relative;vertical-align:middle;top:4px}
/*FOR HEADER ENDS HERE*/

/*FOR FOOTER STARTS HERE*/
#footer{position:absolute;bottom:0;right:0;color:#643693;text-align:right;margin:0 0 10px;width:100%;z-index:1;padding:0 30px}
.ft-logo{vertical-align:baseline;margin-left:3px;border:0}
.ft-small{float:left;line-height:25px;font-size:85%}
/*FOR FOOTER ENDS HERE*/

/*FOR HOME STARTS HERE*/
#ct-page{z-index:1;position:fixed;height:calc(100% - 107px);width:100%;background-color:#fff;text-align:center;margin:0;padding:0}
.ct-side{height:100%;width:6px;color:#fff;background-color:#633690}
.ct-side .ct-expand{top:50%;width:6px;height:25px}
.ct-expand{position:absolute;cursor:pointer;overflow:hidden;background-color:rgba(255,255,255,.7)}
.ct-expand::after{position:absolute;content:'';top:7.5px;border:5px solid transparent}
#ct-lSide{left:0}
/*#ct-lSide .ct-expand::after{left:1px;border-left-color:#333}*/
#ct-lSide .ct-expand::after{ left: -4px; border-right-color: #333;}
.ct-expand.collapsed:after {left: 1px !important; border-left-color:#333 !important;} /*toggle Arrow Icons for left section*/
.ct-expand.expand:after {left: -4px !important; border-right-color:#333 !important;} /*toggle Arrow Icons for right section*/
#ct-lSide .ct-expand.ct-rev::after{left:-4px;border-right-color:#333;border-left-color:transparent}
#ct-rSide{right:0; position: relative;}
/*#ct-rSide .ct-expand::after{left:-4px;border-right-color:#333}*/
#ct-rSide .ct-expand::after{left: 1px;border-left-color:#333}
#ct-rSide .ct-expand.ct-rev::after{left:1px;border-left-color:#333;border-right-color:transparent}
#ct-main, #ct-main-e2e{position:relative;margin:2px;padding:5px;height:calc(100% - 4px);width:calc(100% - 16px);z-index: -1 !important;}
#ct-moduleBox{position:absolute;padding:0 10px;top:0px;z-index:100;height:122px;width:83%;background-color:#e6e7e9;border:1px solid#e6e7e9;left:133px}
#ct-moduleBox .ct-expand{height:8px;width:60px;left:calc(50% - 40px);bottom:0;background-color:#fff}
#ct-moduleBox .ct-expand::after{left:25px;top:1px;border-top-color:#333}
#ct-moduleBox .ct-expand.ct-rev::after{left:25px;top:-4px;border-top-color:transparent;border-bottom-color:#333}
#ct-moduleBox.ct-open{height: 260px; /* max-height: 280px; */ overflow: auto;}
/**Optional for id ct-moduleBox CSS**/
.ct-moduleBoxOptional{position:absolute;padding:0 10px;top:0px;z-index:100;height:122px;width:83%;background-color:#e6e7e9;border:1px solid#e6e7e9; left: 147px}
.ct-moduleBoxOptional .ct-expand{height:8px;width:60px;left:calc(50% - 30px);bottom:0;background-color:#fff}
.ct-moduleBoxOptional .ct-expand::after{left:25px;top:1px;border-top-color:#333}
.ct-moduleBoxOptional .ct-expand.ct-rev::after{left:25px;top:-4px;border-top-color:transparent;border-bottom-color:#333}
.ct-moduleBoxOptional.ct-open{height: 260px; /* max-height: 280px; */ overflow: auto;}
/**Optional for id ct-moduleBox CSS**/
#ct-canvas, #ct-canvasforAssign{position:absolute;margin-top:116px;height:calc(100% - 118px);overflow:hidden;border:1px solid transparent; z-index: -99 !important; width: calc(100% - 10px);}
.ct-canvas-Container{margin-top:139px!important; height:calc(100% - 140px)!important;}
/*.ct-tileBox{position: relative; display: block; top: 53%; left: 65%; transform: translateX(-50%) translateY(-50%); width: 150px;}*/
.ct-tileBox
{
    position: absolute;
    display: block;
    top: 53%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 150px;
}
.ct-tile{position:relative;display:block;height:150px;width:100%;cursor:pointer;background-color:#e6e7e9;-webkit-border-radius:20px;-moz-border-radius:20px;border-radius:20px}
.ct-svgTile>g>circle{fill:none;stroke:#333;stroke-width:1px}
.ct-svgTile>g>path{stroke:#333;stroke-width:1px}
.ct-tileBox .ct-text{display:block;font-size:16px;white-space:nowrap}
.ct-nodeBox{position:relative;margin:0 20px;height:calc(100% - 30px);overflow:hidden}
.ct-project-tab{height:30px ;overflow:hidden}
.ct-nodeBox .ct-node{position:relative;display:inline-block;height:75px;width:140px;padding:5px;margin:5px 11px 10px;text-align:center;-webkit-border-radius:10px;-moz-border-radius:10px;border-radius:10px;cursor:pointer}
.ct-nodeBox .ct-node:hover{background-color:#f4f4f4}
.ct-node .ct-nodeIcon{display:inline-block;height:40px;width:40px;cursor:pointer}
.ct-node .ct-nodeLabel{display:block;font-size:10px;cursor:default;word-wrap: break-word;padding-top: 2px;}
.ct-node .ct-nodeCtrl{fill:#fff}
.ct-node .ct-nodeBubble{stroke-width:1px;fill:#fff}
.ct-nodeLabel{font-size:12px}
.ct-link{stroke:#333;stroke-width:1px;fill:none}
#ct-mapSvg{height:100%;width:100%}
#ct-legendBox{position:absolute;z-index:10;height:20px;width:351px;top: calc(100% - 62px);left: 161px;}
#ct-actionBox,#ct-actionBox_W{position:absolute;z-index:10;height:25px;width:180px;top: calc(100% - 63px);left: calc(100% - 265px)}
.ct-actionButton,.ct-actionButton_W{cursor:pointer}
.ct-actionButton>rect,.ct-actionButton_W>rect{fill:#633690;height:25px;width:80px}
.ct-actionButton>text,.ct-actionButton_W>text{font-size:17px;fill:#fff}
#ct-inpBox{position:absolute;z-index:10}
.ct-inp{position:absolute;padding:3px 8px;height:17px;width:130px;outline:none;border:1px solid #6e6e6e;font-size:10px}
#ct-inpPredict{border:none;background-color:#fff}
#ct-inpAct{background-color:rgba(0,0,0,0)}
#ct-inpSugg{position:absolute;top:17px;left:1px;padding:2px 0;margin:0;max-height:56px;overflow-x:hidden;overflow-y:auto;width:128px;font-size:10px;text-align:left;list-style:none;background-color:#e1e1e1}
#ct-inpSugg::-webkit-scrollbar{width:5px;height:5px}
#ct-inpSugg .divider{height:1px;margin:2px 0;overflow:hidden;background-color:#c3c3c3}
#ct-inpSugg>li{margin:0;padding:0;list-style-type:none}
#ct-inpSugg>li>a{display:block;padding:1px 3px;clear:both;font-size:9px;color:#111;white-space:nowrap}
#ct-inpSugg>li>a:focus,#ct-inpSugg>li>a:hover{text-decoration:none;background-color:#c3c3c3}
#ct-ctrlBox{position:absolute;height:20px;width:90px;z-index:10;background-color:#301e4e;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px}
.ct-ctrl{color:#fff;margin:0 5px;cursor:pointer}
.ct-ctrl-inactive{color:rgba(255,255,255,0.4);cursor:not-allowed}
.ct-ctrl .ct-tooltiptext{position:absolute;display:none;padding:2px 6px;text-align:center;white-space:nowrap;font-size:11px;top:17px;left:20%;background:#e4e4e6;color:#000;z-index:100}
.ct-ctrl:hover .ct-tooltiptext{display:block}
.ct-ctrl-inactive:hover .ct-tooltiptext{display:none}
#ct-assignBox{position:absolute;z-index:100;height:auto;width:270px;background-color:#fff;padding:12.5px;border:1px solid #c8c8c8;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px}
#ct-assignTable{position:relative}
#ct-assignTable>ul{padding:0;margin:0;font-size:14px;text-align:left;list-style:none}
#ct-assignTable>ul>li{display:block;margin:0;padding:6px 7.5px;list-style-type:none;height:34px}
.ct-assignItem{display:inline-block}
.ct-assignItem .btn{height:22px;background-color:transparent;padding:0 5px;border:1px solid #a9a9a9}
.ct-assignItem .btn:active:focus{outline:0;box-shadow:none}
.ct-assignItem.open .btn{-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none}
.ct-asValBox{width:130px;-webkit-border-radius:4px 0 0 4px;-moz-border-radius:4px 0 0 4px;border-radius:4px 0 0 4px}
.ct-asValBox a{text-decoration:none;font-size:12px;color:inherit}
.ct-asValBoxIcon{width:20px;padding:0!important}
.ct-asItemCal{background-color:#653c8b!important}
.ct-asItemCal>img{height:16px;width:16px}
.ct-asValOptBox{width:125px;min-width:125px;padding:0;margin:0 0 0 4px;background-color:#e1e1e1;font-size:12px;border:none;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none}
.ct-asValOptBox>li{width:100%;padding:0 15px;margin:0;list-style-type:none;border-top:1px solid #c3c3c3;cursor:pointer}
.ct-asValOptBox>li:first-child{border:none}
.ct-asValOptBox>li:hover{background-color:#c3c3c3}
.ct-assignDetailsBox{position:relative;display:block;padding:12.5px 5px 15px 5px}
#ct-assignDetails{display:block;font-size:15px;border:2px solid #b6b6b6;outline:none;height:104px;width:100%;resize:none;-webkit-border-radius:6px;-moz-border-radius:6px;border-radius:6px}
#ct-assignButton{position:relative;display:block;padding:0;text-align:right}
#ct-assignButton>a{padding:1px 18px;height:30px;width:60px;text-decoration:none;font-size:17px;color:#fff;background-color:#633690;-webkit-border-radius:15px;-moz-border-radius:15px;border-radius:15px}
#ct-unassignButton{width: 112px;text-align:center;margin-top: -24px;position:relative;padding:0;text-align:left}
#ct-unassignButton>a{padding:1px 18px;height:30px;width:60px;text-decoration:none;font-size:17px;color:#fff;background-color:#633690;-webkit-border-radius:15px;-moz-border-radius:15px;border-radius:15px}
.ct-modules,.ct-modules_endtoend{background-color:#5c5ce5;fill:#5c5ce5;stroke:#5c5ce5;stroke-width:0}
.ct-scenarios{background-color:#4299e2;fill:#4299e2;stroke:#4299e2;stroke-width:0}
.ct-screens{background-color:#19baae;fill:#19baae;stroke:#19baae;stroke-width:0}
.ct-testcases{background-color:#efa022;fill:#efa022;stroke:#efa022;stroke-width:0}
.modal-backdrop.in{background-color:transparent}
.disableButton{cursor: default; opacity: 0.6;}
/*FOR HOME ENDS HERE*/

/*FOR TEMPLATE DESIGN STARTS HERE*/
#dt-page{position:fixed;height:calc(100% - 40px);width:100%;background-color:#fff;text-align:center;margin:0;padding:0;background:-webkit-radial-gradient(ellipse at center,rgba(255,255,255,1) 0%,rgba(255,255,255,1) 38%,rgba(245,245,245,1) 66%,rgba(230,230,230,1) 100%);background:-moz-radial-gradient(ellipse at center,rgba(255,255,255,1) 0%,rgba(255,255,255,1) 38%,rgba(245,245,245,1) 66%,rgba(230,230,230,1) 100%);background:-ms-radial-gradient(ellipse at center,rgba(255,255,255,1) 0%,rgba(255,255,255,1) 38%,rgba(245,245,245,1) 66%,rgba(230,230,230,1) 100%);background:-o-radial-gradient(ellipse at center,rgba(255,255,255,1) 0%,rgba(255,255,255,1) 38%,rgba(245,245,245,1) 66%,rgba(230,230,230,1) 100%);background:radial-gradient(ellipse at center,rgba(255,255,255,1) 0%,rgba(255,255,255,1) 38%,rgba(245,245,245,1) 66%,rgba(230,230,230,1) 100%)}
#dt-main{-webkit-border-radius:15px;-moz-border-radius:15px;border-radius:15px;margin-left:-450px;margin-top:-220px;padding:20px;height:300px;width:900px;left:50%;top:50%;color:#3d3d3d;overflow:visible;background:transparent;-moz-box-shadow:0 0 27px #999;-webkit-box-shadow:0 0 27px #999;box-shadow:0 0 27px #999}
#dt-tile-box{margin-top:-75px;top:50%}
.dt-tile{position:relative;display:inline-block;margin:10px 20px;color:#333;height:150px;width:220px;background:transparent;-webkit-border-radius:15px;-moz-border-radius:15px;border-radius:15px}
.dt-tile:hover{color:#fefefe;background-color:#7badec;box-shadow:0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);text-shadow:rgba(0,0,0,0.5) 0 1px 0}
.dt-tile-icon{position:relative;padding:14px 20px;color:inherit;text-decoration:none;background:transparent;font-size:8em!important}
.dt-tile-text{display:block;font-size:18px;font-family:LatoWeb,"Helvetica Neue",Helvetica,Arial,sans-serif;white-space:nowrap}
/*FOR TEMPLATE DESIGN ENDS HERE*/

/*FOR MINDMAP STARTS HERE*/
#mm-page{position:fixed;height:calc(100% - 40px);width:100%;background-color:#fff;text-align:center;margin:0;padding:0;background:-webkit-radial-gradient(ellipse at center,rgba(255,255,255,1) 0%,rgba(255,255,255,1) 38%,rgba(245,245,245,1) 66%,rgba(230,230,230,1) 100%);background:-moz-radial-gradient(ellipse at center,rgba(255,255,255,1) 0%,rgba(255,255,255,1) 38%,rgba(245,245,245,1) 66%,rgba(230,230,230,1) 100%);background:-ms-radial-gradient(ellipse at center,rgba(255,255,255,1) 0%,rgba(255,255,255,1) 38%,rgba(245,245,245,1) 66%,rgba(230,230,230,1) 100%);background:-o-radial-gradient(ellipse at center,rgba(255,255,255,1) 0%,rgba(255,255,255,1) 38%,rgba(245,245,245,1) 66%,rgba(230,230,230,1) 100%);background:radial-gradient(ellipse at center,rgba(255,255,255,1) 0%,rgba(255,255,255,1) 38%,rgba(245,245,245,1) 66%,rgba(230,230,230,1) 100%)}
#mm-main{padding:20px;top:10px;height:calc(100% - 80px);width:100%;overflow:hidden;background:transparent}
#mm-listbox{height:100%;width:280px}
#mm-list{width:260px;border:0;height:100%;overflow:auto;-moz-box-shadow:0 0 27px #999;-webkit-box-shadow:0 0 27px #999;box-shadow:0 0 27px #999;-webkit-border-radius:8px;-moz-border-radius:8px;border-radius:8px}
#mm-list:focus{outline:0 none}
#mm-list option{padding:10px}
#mm-tree{padding:0;height:100%;width:calc(100% - 300px);color:#3d3d3d;overflow:hidden;background:transparent;-moz-box-shadow:0 0 27px #999;-webkit-box-shadow:0 0 27px #999;box-shadow:0 0 27px #999;-webkit-border-radius:15px;-moz-border-radius:15px;border-radius:15px}
.node{cursor:pointer}
.overlay{position:relative;background-color:#FFF}
.node circle{fill:#fff;stroke:#4682b4;stroke-width:1.5px}
.node text{font-size:10px;font-family:sans-serif}
.link{fill:none;stroke:#ccc;stroke-width:1.5px}
.templink{fill:none;stroke:red;stroke-width:3px}
.ghostCircle.show{display:block}
.ghostCircle,.activeDrag .ghostCircle{display:none}
/*.assignedTo{ position: relative; left: 10px; width: 64%;}*/
#ct-assignTask{ position: relative; left: 54px; width: 64%;}
#ct-executeBatch{ position: relative; left: 10px; width: 64%;}
#ct-assignedTo{ position: relative; left: 10px; width: 64%;}
#ct-assignRevw{ position: relative; left: 24px; width: 64%;}
#ct-assignRel{ position: relative; left: 24px; width: 64%;}
#ct-assignCyc{ position: relative; left: 24px; width: 64%;}
/*.selectProject{height: 24px;width: 100%;}*/
.selectProject
{
    margin-left: 0% !important;
    position: relative;
}
.selectProjectPri{    
    left: 0px !important;
}
.selectProjectLabel{
    position: relative;
    margin: 2px 8px 0 0;
    font-size: 14px;
    font-family: LatoWeb;
}
.project-list{width: 200px;position: relative;}
/*FOR MINDMAP ENDS HERE*/
.ct-show-left{
    width: 10px !important;
    float: right !important;
    position: absolute !important;
    left: 160px !important;
    top: 55% !important;
}

.ct-show-right{
    width: 10px !important;
    float: right !important;
    position: absolute !important;
    left: 160px !important;
    top: 75% !important;
}
#ct-collapse{
    right: 0
}
/* .rsSlide{
    display: none;
} */
#ct-expand-right{
    z-index: 10000;
    right: 84px;
}

.ct-collapse-right{
    right: 0px !important;
}
.content-div
{
    width: 93%;
    height: 20%;
    background: #eee;
    margin-bottom: 1%;
    border-radius: 10px;
    float: left;
}  
.content-div-req
{
    width: 80% !important;
    margin-left: 163px;
    border-radius: 10px;
    float: left;
}
.content-div-right-expand
{
    width: 100% !important;
    margin-left: 163px;
    float: left;
}
.content-div-both-collapse
{
    width: 100% !important;
    float: left;
    margin-left: 0px;
}
.clear-both
{
    clear:both;
}
select
{
   padding: 2px !important;
}
#startDate,#endDate
{
    padding: 2px;
    width: 90%;
    position: relative;
    height: 24px;
    border-radius: 5px;
}
.dateIcon
{
    background: #643693;
    position: absolute;
    padding: 3px;
    right: 0;
    height: 23px;
    border-radius: 0 5px 5px 0;
    top: 0px;
}
.dateBoxSd,.dateBoxEd
{
    width: 65%;
}
.dateBoxEd{
    position: relative;
    top: -10px;
}
.selectedIcon {
	background: #331d4c;
	border-radius: 5px;
    padding: 6px;
}
.errorClass { 
    border:  1px 
    solid red; 
}
.nodeBoxSelected
{
    background-color: #f4f4f4;
}
.taskTitle
{
    position: relative;
    left: 160px;
}

.ct-expand-module
{
    width: 88.5% !important;
}
.ctExpandCreateFixed
{
    position: fixed !important;
    bottom: 525px !important;
    margin-bottom: 0px !important;
}
.ctExpandCreateFixedClosed
{
    position: fixed !important;
    bottom: 553px !important;
    margin-bottom: 0px !important;
}
/*.iconSpaceArrow{
    width: 65px;
    display: inline-block;
    height: 10px;
    vertical-align: bottom;
    cursor: pointer;
    position: relative;
    top: -19px;
}
.iconSpaceArrowTop
{
    position: relative;
    top: 0px !important;
}*/
#ctExpandCreate, #ctExpandAssign{    
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
}
#ctExpandCreate img, #ctExpandAssign img {
    vertical-align: bottom;
}

.bar-expand
{
    width: 82% !important;
    left: 12% !important;
}

.leftBarOpen
{
    width: 88% !important;
    left: 12% !important;
}

.rightBarOpen
{
    width: 94% !important;
	left: 0% !important;
}

.bar-collaspe
{
    width: 100% !important;
    left: 0% !important;
}

.searchbox-assign, .searchbox-create{
    margin-left:6.5%;
    float:left;
    width: calc(100% - 85%);
	border-radius: 6px;
    border: 1px solid darkgrey;
    height: 26px;
    bottom: 2px;
}

.searchModuleimg-assign, .searchModuleimg-create{
	position: absolute;
    margin-left: 47.20%;
    top: 3px;
    background-color: white;
    border-left: 1px solid #ccc;
    padding-left: 3px;
}

/*#ct-moduleBox.ct-open .ct-nodeBox
{
    overflow: visible !important;
}*/

/*****************Media query**********************/
@media only screen and (height:1080px){
	.content-div-req{width: 86.8% !important;}
	#ct-moduleBox, .ct-moduleBoxOptional{width: 89%;}
}
@media screen and (max-height: 680px) {
	.mindmap-left-section{margin-top: 60px !important;}
	.endtoend-modules-right-lower button{right: 0px !important;}
}
/* versioning css */


.replicate{
    margin-left:20px;
}
.selectVersionLabel{
    position: relative;
    margin-right: 5%;
    margin-left: -30%;
}
.plus-icon{
    margin-left: 8%;
}
.selectVersion{
    position: relative;
    margin-left: 5%;
    float: left;
}
.searchbox-assign, .searchbox-create{
    float:right;
}
#destProjects{
    width:94%;
}
.selectProjectPosition{
     float:left;
}
.export-icon{
    padding-left: 7px;
}