<!--Header-->
<header header></header>
<!--Header-->

<!--Content Area-->
<section class="container-fluid container-fluid-inner">
	<!--Left Panel-->
	<div id="left-nav-section">
		<div class="scrollbar-macosx">
			<div id="left-top-section" style='border-bottom: 0px !important'>
				<ul>
					<li><span><a class='scrapeOnTxt'>Manage</a></span></li>
					<li><a id='userTab' ng-click="tab = 'tabUser';userConf.click()" title="Manage Users" class="selectBrowser" data-name="3">
						<span><img class='selectedIcon' src='imgs/user.png' alt='User'/></span>User</a></li>
					<li><a id='tokenTab' ng-click="tab = 'tabToken';tokens.click()" title="Manage Tokens" class="selectBrowser" data-name="1">
						<span><img src='imgs/ic-tokens.png' alt='Tokens' /></span>Tokens</a></li>
					<li><a id='projectTab' ng-click="tab = 'tabProject'" title="Create/Update Project" class="selectBrowser" data-name="1">
						<span><img src='imgs/project.png' alt='Project'/></span>Project</a></li>
					<li class='userDivider'><a id='assignProjectTab' ng-click="tab='tabAssignProject';assignProj.click()" title="Assign Project" class="selectBrowser" data-name="1">
						<span><img src='imgs/project.png' alt='Project'/></span>Assign Projects</a></li>
					<li><a id='ldapConfigTab' title="Manage LDAP Configuration" ng-click="tab = 'tabldapConfig';ldapConf.click()" class="selectBrowser" data-name="4">
						<span><img src='imgs/ldap-config.png' alt='LDAP Configuration'/></span>LDAP Configuration</a></li>
					<li><a id='sessionTab' title="Session Management" ng-click="tab = 'tabSession';sessionConf.click()" class="selectBrowser" data-name="5">
						<span><img src='imgs/session.png' alt='Session' /></span>Session Management</a></li>
					<li style="margin-bottom: 30px"><a id='preferencesTab' title="Preferences" ng-click="tab='tabPreferences';preferences.click()" class="selectBrowser" data-name="2">
						<span><img src='imgs/preferences.png' alt='Preferences' /></span>Preferences</a></li>																										   																
				</ul>
			</div>
			<div class='clear-both'></div>
		</div>
	</div>
	<!--Left Panel-->

	<!--Middle Panel-->
	<div id="middle-content-section" style="overflow:auto">
		<!-- Create User -->
		<div class="containerWrap" ng-if="tab == 'tabUser'">
			<!--Task Name-->
			<div id="page-taskName">
				<span>Create User</span>
			</div>
			<!--Task Name-->
			<!-- Button -->
			<div class="adminActionBtn">
				<button class="btn btn-md pull-right adminBtn" ng-click="userConf.edit()" title="Edit User">Edit</button>
				<button class="btn btn-md pull-right adminBtn" ng-click="userConf.manage('create',$event)" ng-disabled="userConf.nocreate" style="margin-right:10px" title="Create User">Create</button>
			</div>
			<!-- Button -->
			<!-- Action area -->
			<div class="col-xs-9 form-group adminForm">
				<div class='userForm adminControl'>
					<button title="LDAP" class="btn btn-xs userTypeBtn ldapBtn" ng-click="userConf.ldapActive=!userConf.ldapActive;userConf.activateLDAP()">LDAP</button>
					<input type="text" autocomplete="off" id="userName" name="userName" ng-model="userConf.userName" style="padding-right:175px" maxlength="100" class="form-control form-control-custom validationKeydown preventSpecialChar create" placeholder="User Name"/>
				</div>
				<div class="userLDAPFetch" ng-if="userConf.ldapActive">
					<div class="userForm adminControl">
						<select ng-change="userConf.ldapSetServer()" class='adminSelect selectlg form-control' ng-model="userConf.ldap.server" id="ldapServer" class="form-control rightControl selectControl">
							<option value="" disabled selected>Select LDAP Server</option>
							<option ng-repeat="ldapids in userConf.ldapAllServerList" value="{{ldapids}}" ng-selected="ldapids==userConf.ldap.server" ng-disabled="userConf.ldap.expired==ldapids">{{ldapids}}</option>
						</select>
					</div>
					<label><input type="radio" ng-model="userConf.ldap.fetch" value="map" name="ldapFetch" ng-change='userConf.ldapSwitchFetch()' ng-disabled="userConf.ldap.server == ''"/> Map New User</label>
					<label><input type="radio" ng-model="userConf.ldap.fetch" value="import" name="ldapFetch" ng-change='userConf.ldapSwitchFetch()' ng-disabled="userConf.ldap.server == ''"/> Import User</label>
					<div class="userForm adminControl" ng-if="userConf.ldap.fetch != 'import'">
						<button title="Fetch" class="btn btn-xs userTypeBtn userTypeBtnActive" style="right:0" ng-click="userConf.ldapGetUser()" ng-disabled="userConf.ldap.server == ''">Fetch</button>
						<input type="text" autocomplete="off" id="ldapDirectory" name="ldapDirectory" ng-model="userConf.ldap.user"  style="padding-right:90px" class="form-control form-control-custom create" placeholder="User Domain Name"/>
					</div>
					<div class="dropdown dropdown-scroll userForm adminControl" ng-if="userConf.ldap.fetch == 'import'">
						<input class="btn btn-users dropdown-toggle" type="text" autocomplete="off" id="ldapDirectory" data-toggle="dropdown" ng-model="userConf.query0" placeholder="Search User.." ng-click = "userConf.click('retainldap')"></input>
						<ul class="dropdown-menu dropdown-menu-users" role="menu" aria-labelledby="ldapDirectory">
							<li role="presentation" ng-repeat='luser in userConf.ldapAllUserList | filter:userConf.query0' ng-click="userConf.ldap.user=luser.value; userConf.query0=luser.html; userConf.ldapGetUser()" value="{{luser.value}}"> {{luser.html}}</li>
						</ul>
					</div>					

				</div>

				<div class='leftControl adminControl'>
					<input type="text" autocomplete="off" name="firstname" id="firstname" ng-model="userConf.firstname" maxlength="100" class="form-control form-control-custom validationKeydown preventSpecialChar create" placeholder="First Name"/>
				</div>
				<div class='rightControl adminControl'>
					<input type="text" autocomplete="off" name="lastname" id="lastname" ng-model="userConf.lastname" maxlength="100" class="form-control form-control-custom validationKeydown preventSpecialChar create" placeholder="Last Name"/>
				</div>
				<div ng-if="!userConf.ldapActive">
					<div class='leftControl adminControl'>
						<input type="password" autocomplete="off" name="passWord" id="password" ng-model="userConf.passWord" maxlength="16" class="form-control form-control-custom create spaceRegex passwordRegex" placeholder="Password" autocomplete="off"/>
					</div>
					<div class='rightControl adminControl'>
						<input type="password" autocomplete="off" name='confirmPassword' id='confirmPassword' ng-model="userConf.confirmPassword" maxlength="16" class="form-control form-control-custom create spaceRegex passwordRegex" placeholder="Confirm Password" autocomplete="off"/>
					</div>
				</div>
				<div class='adminControl'>
					<input type="email" autocomplete="off" name="email" id="email" ng-model="userConf.email" maxlength="100" class="form-control form-control-custom create" placeholder="Email Id"/>
				</div>
				<div class="col-xs-6 selectRole">
					<label class="leftControl primaryRole">Primary Role</label>
					<select class='adminSelect form-control' ng-model="userConf.role" id="userRoles" class="form-control rightControl selectControl">
						<option value="" disabled selected>Select User Role</option>
						<option ng-repeat="rid in userConf.allRoles" value="{{rid[1]}}">{{rid[0]}}</option>
					</select>
				</div>
			</div>
			<!-- Action area -->
		</div>
		<!-- Create User -->

		<!-- Edit User -->
		<div class="containerWrap" ng-if="tab == 'editUser'">
			<!--Task Name-->
			<div id="page-taskName">
				<span>Edit User</span>
			</div>
			<!--Task Name-->
			<!-- Button -->
			<div class="adminActionBtn">
				<button class="btn btn-md pull-right adminBtn" ng-click="userConf.manage('update',$event)" ng-disabled="userConf.userIdName==''" title="Update User">Update</button>
				<button class="btn btn-md pull-right adminBtn" ng-click="userConf.delete()" ng-disabled="userConf.userIdName==''" style="margin-right:10px" title="Delete Configuration">Delete</button>
			</div>
			<!-- Button -->
			<!-- Edit User Form -->
			<div class="col-xs-9 form-group adminForm">
				<div class='userForm adminControl'>
					<button title="LDAP" class="btn btn-xs userTypeBtn ldapBtn" style="margin:2px 0" disabled>LDAP</button>
					<input class="btn btn-users users-edit dropdown-toggle" type="text" autocomplete="off" id="userIdName" data-toggle="dropdown" ng-model="userConf.query1" placeholder="Search User.." ng-click = "userConf.click()">
					<ul class="dropdown-menu dropdown-menu-users users-edit" role="menu" aria-labelledby="userIdName">
						<li role="presentation" ng-repeat='uid in userConf.allUsersList | filter:userConf.query1' ng-click="userConf.userIdName=uid[1]+';'+uid[0] ;userConf.query1=uid[0]; userConf.getUserData()" value="{{uid[1]}};{{uid[0]}}"> {{uid[0]}}</li>
					</ul>					
				</div>

				<div class="userLDAPFetch" ng-if="userConf.ldapActive">
					<div class="userForm adminControl">
						<select ng-change="userConf.ldapSetServer()" class='adminSelect selectlg form-control' ng-model="userConf.ldap.server" id="ldapServer" class="form-control rightControl selectControl">
							<option ng-repeat="ldapids in userConf.ldapAllServerList" value="{{ldapids}}" ng-selected="ldapids==userConf.ldap.server" ng-disabled="userConf.ldap.expired==ldapids">{{ldapids}}</option>
						</select>
					</div>
					<div class="userForm adminControl">
						<button title="Fetch" class="btn btn-xs userTypeBtn userTypeBtnActive" style="right:0" ng-click="userConf.ldapGetUser()" ng-disabled="userConf.ldap.server == ''">Fetch</button>
						<input type="text" autocomplete="off" id="ldapDirectory" name="ldapDirectory" ng-model="userConf.ldap.user" style="padding-right:90px" class="form-control form-control-custom create" placeholder="User Domain Name">
					</div>
				</div>
				<div class='leftControl adminControl'>
					<input type="text" autocomplete="off" name="firstname" id="firstname" ng-model="userConf.firstname" maxlength="100" class="form-control form-control-custom validationKeydown preventSpecialChar create" placeholder="First Name">
				</div>
				<div class='rightControl adminControl'>
					<input type="text" autocomplete="off" name="lastname" id="lastname" ng-model="userConf.lastname" maxlength="100" class="form-control form-control-custom validationKeydown preventSpecialChar create" placeholder="Last Name">
				</div>
				<div ng-if="!userConf.ldapActive">
					<div class='leftControl adminControl'>
						<input type="password" autocomplete="off" name="passWord" id="password" ng-model="userConf.passWord" maxlength="16" class="form-control form-control-custom create spaceRegex passwordRegex" placeholder="Password" autocomplete="off">
					</div>
					<div class='rightControl adminControl'>
						<input type="password" autocomplete="off" name='confirmPassword' id='confirmPassword' ng-model="userConf.confirmPassword" maxlength="16" class="form-control form-control-custom create spaceRegex passwordRegex" placeholder="Confirm Password" autocomplete="off">
					</div>
				</div>
				<div class='adminControl'>
					<input type="email" autocomplete="off" name="email" id="email" ng-model="userConf.email" maxlength="100" class="form-control form-control-custom create" placeholder="Email Id">
				</div>
				<div class="col-xs-6 selectRole">
					<label class="leftControl primaryRole">Primary Role</label>
					<select class='adminSelect form-control' ng-model="userConf.role" id="userRoles" class="form-control rightControl selectControl" disabled>
						<option value="" disabled selected>Select User Role</option>
						<option ng-repeat="rid in userConf.allRoles" value="{{rid[1]}}">{{rid[0]}}</option>
					</select>
				</div>
				<div class="col-xs-6 selectRole" ng-if="userConf.userIdName && userConf.rolename!='Admin'">
					<label class="leftControl secondaryRole" id="additionalRoleTxt">Additional Role: </label>
					<label class="chooseRole dropdown-toggle" id="additionalRole_options" data-toggle="dropdown" ng-click="userConf.toggleAddRoles()"> Select Additional Role</label>
					<ul class="dropdown-menu-multiselect" id="additionalRoles">
						<li class='RolesCheck' ng-repeat="arid in userConf.allAddRoles" ng-if="arid[1]!=userConf.role" ng-click="userConf.addRole[arid[1]]= !userConf.addRole[arid[1]]">
							<span class='rolesSpan'><input class='addcheckBox' name="additionalRole" type='checkbox' value="{{arid[1]}}" ng-model="userConf.addRole[arid[1]]" ng-click="userConf.addRole[arid[1]]= !userConf.addRole[arid[1]]"/><label class='rolesChecklabel'>{{arid[0]}}</label></span>
						</li>
					</ul>
				</div>
			</div>
			<!-- Edit User Form -->
		</div>
		<!-- Edit User -->

		<!-- Create Project -->
		<div class="containerWrap" ng-if="tab == 'tabProject'">
			<!--Task Name-->
			<div id="page-taskName">
				<span>Create Project</span>
			</div>
			<!--Task Name-->
			<!-- Button -->
			<div class="adminActionBtn">
				<button class="btn btn-md pull-right adminBtn" ng-click="editProjectTab($event)" title="Edit Project">Edit</button>
				<button class="btn btn-md pull-right adminBtn createProjectBtn" ng-click="create_project($event)" title="Create Project">Create</button>
			</div>
			<!-- Button -->
			<div class="col-xs-9 form-group" style="width: 83%">
				<div class='userForm projectForm'>
					<div class='domainTxt'>Domain</div>
					<select class="adminSelect form-control" style="width: 91%" id="selDomain">
						<option value="" disabled selected>Please Select Your Domain</option>
					</select>
					<!-- <label class='domainTxt'>Domain :</label> -->
					<!-- <input type="text" id="selDomain" name="DomainName" placeholder="Domain Name" value="Banking">
					<select class="adminSelect form-control" style="width: 91.5%; display: none;" id="selDomains">
					</select> -->
					<!-- <input class="btn btn-domains domains-edit dropdown-toggle" type="text" autocomplete="off" id="selDomain" data-toggle="dropdown" ng-model="domainConf.query1" placeholder="Search Domain.." ng-click = "domainConf.click()">
					<ul class="dropdown-menu dropdown-menu-domains domains-edit" role="menu" aria-labelledby="selDomain">
						<li role="presentation" ng-repeat='did in domainConf.alldomains | filter:domainConf.query1' ng-click="domainConf.selDomain=did ;domainConf.query1=did; domainConf.getUserData()" value="{{did}}"> {{did}}</li>
					</ul> -->
					<span ng-show="domainNameRequired" class="error-msg ng-cloak errorlbl">{{domainNameRequired}}</span>
				</div>
				<div class='userForm adminControl'>
					<input type="text" autocomplete="off" id="projectName" name="projectName" ng-model="projectName" maxlength="50" class="form-control form-control-custom validationKeydown preventSpecialChar" placeholder="Project Name"><span ng-show="projectNameRequired"
						class="error-msg ng-cloak errorlbl">{{projectNameRequired}}</span>
				</div>

				<div class='domainTxt appTypeTxt'>Application Type</div>

				<div class="appTypesContainer"></div>
			</div>

			<!-- Relase Cycle -->
			<div class="containerWrap relCycContainer" id='createRelContainer'>
				<!-- Release Container -->
				<div class="containerWrap releaseContainer rcContainer">
					<!-- Add Release -->
					<div class="addContainer"><span id="addRelease" title="Add Release"><img src="imgs/ic-add-sm.png" />Add Release</span></div>
					<!-- Add Release -->

					<!-- Releases List -->
					<ul id="releaseList" class="containerWrap scrollbar-inner relCycScroll createRelBox">
					</ul>
					<!-- Releases List -->
				</div>
				<!-- Release Container -->

				<!-- Cycle Container -->
				<div class="containerWrap cycleContainer rcContainer">
					<!-- Add Release -->
					<div class="addContainer"><span id="addCycle" title="Add Cycle" class="disableAddCycle"><img src="imgs/ic-add-sm.png" />Add Cycle</span></div>
					<!-- Add Release -->

					<!-- Cycle List -->
					<ul id="cycleList" class="containerWrap scrollbar-inner relCycScroll">
					</ul>
					<!-- Cycle List -->
				</div>
				<!-- Cycle Container -->
			</div>
			<!-- Relase Cycle -->
		</div>
		<!-- Create Project -->

		<!-- Assign Projects -->
		<div class="containerWrap" ng-if="tab == 'tabAssignProject'">
			<!--Task Name-->
			<div id="page-taskName">
				<span>Assign Projects</span>
			</div>
			<!--Task Name-->
			<div class="adminActionBtn">
				<button title="Save" class="btn btn-md pull-right adminBtn" ng-click="assignProjects($event)" style="margin-right:10px">Save</button>
			</div>
			<div class="col-xs-9 form-group" style="width: 83%">
				<div class='userForm projectForm'>
					<div class='domainTxt'>User</div>
					<select class="adminSelect form-control selectDomain" style="width: 91%" id="selAssignUser">
						<option value="" disabled selected>Please Select User</option>
					</select>
					<span ng-show="userNameRequired" class="error-msg ng-cloak errorlbl">{{userNameRequired}}</span>
				</div>
				<div class='userForm projectForm'>
					<label class='domainTxt' style="margin-left: 1px;">Domain  </label>
					<select class="adminSelect form-control selectDomain" style="width: 91%; margin-left: 8%" id="selDomains">
						<option value="" disabled selected>Please Select Your Domain</option>
					</select>

					<span ng-show="domainNameRequired" class="error-msg ng-cloak errorlbl">{{domainNameRequired}}</span>
				</div>
			</div>
			<!-- Assign Div -->
			<div class="col-xs-9 form-group" style="width: 100%">
				<div class="project-left2">
					<!--Left Select Box-->
					<div class="wrap left-select scrollbar-inner">
						<!--Labels-->
						<label class="labelStyle1">All Projects</label><img class="load" style="position: relative; left: 10px; bottom: 4px; display: none;" src="imgs/loader.gif" alt="Loading...">
						<!--Labels-->
						<div class="seprator" style="margin-bottom:0px;">
							<!-- <select multiple id="allProjectEU" ng-model="allProjectNameEU" size="13" ng-options="p as p.ProjectName for p in projBox1 track by p.ProjectId"></select> -->
							<select multiple="" id="allProjectAP" ng-model="allProjectNameAP" size="" class="ng-pristine ng-untouched ng-valid">
								<option ng-repeat="prj in assignProj.allProjectAP" value="{{prj.projectid}}">{{prj.projectname}}</option>
							</select>
							<span ng-show="projectNameRequired" class="error-msg ng-binding ng-hide"></span>
						</div>
					</div>
					<!--Left Select Box-->

					<!--Center Input-->
					<div class="wrap wrap-editpro center-button">
						<button id="rightall" type="button" ng-click="moveItems.rightall('#allProjectAP', '#assignedProjectAP')" title="Move all to right"> &gt;&gt; </button>
						<button type="button" id="rightgo" ng-click="moveItems.rightgo('#allProjectAP', '#assignedProjectAP')" title="Move to right"> &gt; </button>
						<button type="button" id="leftgo" ng-click="moveItems.leftgo('#assignedProjectAP','#allProjectAP')" title="Move to left"> &lt; </button>
						<button id="leftall" type="button" ng-click="moveItems.leftall('#assignedProjectAP','#allProjectAP')" title="Move all to left"> &lt;&lt; </button>
					</div>
					<!--Center Input-->

					<!--Right Select Box-->
					<div class="wrap right-select">
						<!--Labels-->
						<label class="labelStyle1">Assigned Projects</label><img class="load" style="position: relative; left: 10px; bottom: 4px; display: none;" src="imgs/loader.gif" alt="Loading...">
						<!--Labels-->

						<div class="seprator" style="margin-bottom:0px;">
							<!-- <select size="13" multiple ng-model="assignedProjectNameEU" id="assignedProject" ng-options="p as p.ProjectName for p in projBox2 track by p.ProjectId"></select> -->
							<select multiple="" id="assignedProjectAP" ng-model="assignedProjectNameAP" size="" class="ng-pristine ng-untouched ng-valid">
								<option ng-repeat="prj in assignProj.assignedProjectAP" value="{{prj.projectid}}">{{prj.projectname}}</option>
							</select>
							<span ng-show="selectProjects" class="error-msg ng-binding ng-hide"></span>
						</div>
					</div>
					<!--Right Select Box-->
				</div>
				<!-- Assign Div -->
			</div>
		</div>
		<!-- Assign Projects -->

		<!-- Update Project -->
		<div class="containerWrap" ng-if="tab == 'editProject'">
			<!--Task Name-->
			<div id="page-taskName">
				<span>Update Project</span>
			</div>
			<!--Task Name-->
			<!-- Button -->
			<div class="adminActionBtn">
				<button class="btn btn-md pull-right adminBtn createProjectBtn" ng-click="update_project($event)">Update</button>
			</div>
			<!-- Button -->
			<div class="col-xs-9 form-group" style="width: 83%" id='updateProjectForm'>
				<div class='userForm projectForm'>
					<label class='domainTxt' style="margin-left: 1px;">Domain  </label>
					<select class="adminSelect form-control selectDomain" style="width: 91%; margin-left: 8%;display: none;" id="selDomainEdit" name="DomainName" placeholder="Domain Name">
						<option value="" disabled selected>Please Select Your Domain</option>
					</select>
					<span ng-show="domainNameRequired" class="error-msg ng-cloak errorlbl">{{domainNameRequired}}</span>
				</div>
				<div class='userForm adminControl'>
					<div class='domainTxt'>Project</div>
					<select class="adminSelect form-control" style="width: 91.5%" id="selProject">
						<option value="" disabled selected>Please Select Your Project</option>
					</select>
					<span ng-show="projectNameRequired" class="error-msg ng-cloak errorlbl">{{projectNameRequired}}</span>
				</div>

				<div class='domainTxt appTypeTxt'>Application Type</div>

				<div class="appTypesContainer"></div>
			</div>

			<!-- Relase Cycle -->
			<div id='updateReleaseCycle' class="containerWrap relCycContainer">
				<!-- Release Container -->
				<div class="containerWrap releaseContainer rcContainer">
					<!-- Add Release -->
					<div class="addContainer"><span id="addRelease" title="Add Release"><img src="imgs/ic-add-sm.png" />Add Release</span></div>
					<!-- Add Release -->

					<!-- Releases List -->
					<ul id="releaseList" class="containerWrap scrollbar-inner relCycScroll">
					</ul>
					<!-- Releases List -->
				</div>
				<!-- Release Container -->

				<!-- Cycle Container -->
				<div class="containerWrap cycleContainer rcContainer">
					<!-- Add Release -->
					<div class="addContainer"><span id="addCycle" title="Add Cycle" class="disableAddCycle"><img src="imgs/ic-add-sm.png" />Add Cycle</span></div>
					<!-- Add Release -->

					<!-- Cycle List -->
					<ul id="cycleList" class="containerWrap scrollbar-inner relCycScroll">
					</ul>
					<!-- Cycle List -->
				</div>
				<!-- Cycle Container -->
			</div>
			<!-- Relase Cycle -->
		</div>
		<!-- Update Project -->

		<!-- Create LDAP Configuration -->
		<div ng-if="tab == 'tabldapConfig'">
			<!--Task Name-->
			<div id="page-taskName">
				<span>Create LDAP Configuration</span>
			</div>
			<!--Task Name-->
			<!-- Button -->
			<div class="adminActionBtn">
				<button class="btn btn-md pull-right adminBtn" ng-click="ldapConf.edit()" title="Edit Configuration">Edit</button>
				<button class="btn btn-md pull-right adminBtn" ng-click="ldapConf.manage('create',$event)" ng-disabled="ldapConf.testStatus != 'success'" style="margin-right:10px" title="Create Configuration">Create</button>
				<button class="btn btn-md pull-right adminBtn" ng-click="ldapConf.test($event)" style="margin-right:10px" title="Test Configuration">Test</button>
			</div>
			<!-- Button -->
			<!-- Create Configuration Form -->
			<div class="col-xs-9 form-group adminForm" style="padding-top:0">
				<h4>LDAP Server Details</h4>
				<div class='adminControl'>
					<input type="text" autocomplete="off" id="ldapServerName" name="ldapServerName" ng-model="ldapConf.serverName" maxlength="50" class="form-control form-control-custom validationKeydown preventSpecialChar create" placeholder="Server Name"/>
				</div>
				<div class='adminControl'>
					<input type="text" autocomplete="off" id="ldapServerURL" name="ldapServerURL" ng-model="ldapConf.url" maxlength="250"
					class="form-control form-control-custom validationKeydown preventSpecialChar create" placeholder="Directory Provider URL (Eg: ldap://example.com:389)"/>
				</div>
				<div class='adminControl'>
					<input type="text" autocomplete="off" id="ldapBaseDN" name="ldapBaseDN" ng-model="ldapConf.basedn" class="form-control form-control-custom create" placeholder="Base Domain Name"/>
				</div>
				<br><br><br><br><br><br><br><br><h4>Authentication Type</h4>
				<div>
					<label><input type="radio" ng-model="ldapConf.auth" value="anonymous" name="optradio" ng-change='ldapConf.switchAuthType()'/> Anonymous</label>
				</div>
				<div>
					<label><input type="radio" ng-model="ldapConf.auth" value="simple" name="optradio" ng-change='ldapConf.switchAuthType()'/> Simple</label>
				</div>
				<div class='leftControl adminControl'>
					<input type="text" autocomplete="off" name="binddn" id="binddn" ng-disabled="ldapConf.auth != 'simple'" ng-model="ldapConf.binddn" class="form-control form-control-custom create" placeholder="Authentication Principal" autocomplete="off"/>
				</div>
				<div class='rightControl adminControl'>
					<input type="password" autocomplete="off" name="bindCredentials" id="bindCredentials" ng-disabled="ldapConf.auth != 'simple'" ng-model="ldapConf.bindCredentials" class="form-control form-control-custom create" placeholder="Authentication Credentials" autocomplete="off"/>
				</div>
				<br><br><br><h4>Data Mapping Settings</h4>
				<h5>Mapping options are populates on click of <i>Test</i> with connection successful.</h5>
				<div class='adminControl'><div>
					<span class="leftControl">Username</span><select class='adminSelect form-control' ng-model="ldapConf.fieldmap.uname" id="ldapFMapUname" class="form-control rightControl selectControl">
						<option ng-repeat="field in ldapConf.fieldMapOpts" value="{{field}}" ng-selected="field==ldapConf.fieldmap.uname">{{field}}</option>
					</select>
				</div></div>
				<div class='adminControl'><div>
					<span class="leftControl">Firstname</span><select class='adminSelect form-control' ng-model="ldapConf.fieldmap.fname" id="ldapFMapFname" class="form-control rightControl selectControl">
						<option ng-repeat="field in ldapConf.fieldMapOpts" value="{{field}}" ng-selected="field==ldapConf.fieldmap.fname">{{field}}</option>
					</select>
				</div></div>
				<div class='adminControl'><div>
					<span class="leftControl">Lastname</span><select class='adminSelect form-control' ng-model="ldapConf.fieldmap.lname" id="ldapFMapLname" class="form-control rightControl selectControl">
						<option ng-repeat="field in ldapConf.fieldMapOpts" value="{{field}}" ng-selected="field==ldapConf.fieldmap.lname">{{field}}</option>
					</select>
				</div></div>
				<div class='adminControl'><div>
					<span class="leftControl">Email</span><select class='adminSelect form-control' ng-model="ldapConf.fieldmap.email" id="ldapFMapEmail" class="form-control rightControl selectControl">
						<option ng-repeat="field in ldapConf.fieldMapOpts" value="{{field}}" ng-selected="field==ldapConf.fieldmap.email">{{field}}</option>
					</select>
				</div></div>
			</div>
			<!-- Create Configuration Form -->
		</div>
		<!-- Create LDAP Configuration -->

		<!-- Edit LDAP Configuration -->
		<div class="containerWrap" ng-if="tab == 'tabldapConfigEdit'">
			<!--Task Name-->
			<div id="page-taskName">
				<span>Edit LDAP Configuration</span>
			</div>
			<!--Task Name-->
			<!-- Button -->
			<div class="adminActionBtn">
				<button class="btn btn-md pull-right adminBtn" ng-click="ldapConf.manage('update',$event)" ng-disabled="ldapConf.serverName == ''" title="Update Configuration">Update</button>
				<button class="btn btn-md pull-right adminBtn" ng-click="ldapConf.delete()" ng-disabled="ldapConf.serverName == ''" style="margin-right:10px" title="Delete Configuration">Delete</button>
				<button class="btn btn-md pull-right adminBtn" ng-click="ldapConf.test($event)" ng-disabled="ldapConf.serverName == ''" style="margin-right:10px" title="Test Configuration">Test</button>
			</div>
			<!-- Button -->
			<!-- Edit Configuration Form -->
			<div class="col-xs-9 form-group adminForm" style="padding-top:0">
				<h4>LDAP Server Details</h4>
				<div class='userForm adminControl'>
					<select ng-change="ldapConf.getServerData()" class='adminSelect selectlg form-control' ng-model="ldapConf.serverName" id="ldapServerName" class="form-control rightControl selectControl">
						<option value="" disabled selected>Select Server</option>
					</select>
				</div>
				<div class='adminControl'>
					<input type="text" autocomplete="off" id="ldapServerURL" name="ldapServerURL" ng-model="ldapConf.url" maxlength="250"
					class="form-control form-control-custom validationKeydown preventSpecialChar create" placeholder="Directory Provider URL (Eg: ldap://example.com:389)"/>
				</div>
				<div class='adminControl'>
					<input type="text" autocomplete="off" id="ldapBaseDN" name="ldapBaseDN" ng-model="ldapConf.basedn" class="form-control form-control-custom create" placeholder="Base Domain Name"/>
				</div>
				<br><br><br><br><br><br><br><br><h4>Authentication Type</h4>
				<div>
					<label><input type="radio" ng-model="ldapConf.auth" value="anonymous" name="optradio" ng-change='ldapConf.switchAuthType()'/> Anonymous</label>
				</div>
				<div>
					<label><input type="radio" ng-model="ldapConf.auth" value="simple" name="optradio" ng-change='ldapConf.switchAuthType()'/> Simple</label>
				</div>
				<div class='leftControl adminControl'>
					<input type="text" autocomplete="off" name="binddn" id="binddn" ng-disabled="ldapConf.auth != 'simple'" ng-model="ldapConf.binddn" class="form-control form-control-custom create" placeholder="Authentication Principal" autocomplete="off"/>
				</div>
				<div class='rightControl adminControl'>
					<input type="password" autocomplete="off" name="bindCredentials" id="bindCredentials" ng-disabled="ldapConf.auth != 'simple'" ng-model="ldapConf.bindCredentials" class="form-control form-control-custom create" placeholder="Authentication Credentials" autocomplete="off"/>
				</div>
				<br><br><br><h4>Data Mapping Settings</h4>
				<h5>All Mapping options are populates on click of <i>Test</i> with connection successful.</h5>
				<div class='adminControl'><div>
					<span class="leftControl">Username</span><select class='adminSelect form-control' ng-model="ldapConf.fieldmap.uname" id="ldapFMapUname" class="form-control rightControl selectControl">
						<option value="{{ldapConf.fieldmap.uname}}" ng-if="ldapConf.fieldMapOpts.indexOf(ldapConf.fieldmap.uname)==-1" ng-selected="true">{{ldapConf.fieldmap.uname}}</option>
						<option ng-repeat="field in ldapConf.fieldMapOpts" value="{{field}}" ng-selected="field==ldapConf.fieldmap.uname">{{field}}</option>
					</select>
				</div></div>
				<div class='adminControl'><div>
					<span class="leftControl">Firstname</span><select class='adminSelect form-control' ng-model="ldapConf.fieldmap.fname" id="ldapFMapFname" class="form-control rightControl selectControl">
						<option value="{{ldapConf.fieldmap.fname}}" ng-if="ldapConf.fieldMapOpts.indexOf(ldapConf.fieldmap.fname)==-1" ng-selected="true">{{ldapConf.fieldmap.fname}}</option>
						<option ng-repeat="field in ldapConf.fieldMapOpts" value="{{field}}" ng-selected="field==ldapConf.fieldmap.fname">{{field}}</option>
					</select>
				</div></div>
				<div class='adminControl'><div>
					<span class="leftControl">Lastname</span><select class='adminSelect form-control' ng-model="ldapConf.fieldmap.lname" id="ldapFMapLname" class="form-control rightControl selectControl">
						<option value="{{ldapConf.fieldmap.lname}}" ng-if="ldapConf.fieldMapOpts.indexOf(ldapConf.fieldmap.lname)==-1" ng-selected="true">{{ldapConf.fieldmap.lname}}</option>
						<option ng-repeat="field in ldapConf.fieldMapOpts" value="{{field}}" ng-selected="field==ldapConf.fieldmap.lname">{{field}}</option>
					</select>
				</div></div>
				<div class='adminControl'><div>
					<span class="leftControl">Email</span><select class='adminSelect form-control' ng-model="ldapConf.fieldmap.email" id="ldapFMapEmail" class="form-control rightControl selectControl">
						<option value="{{ldapConf.fieldmap.email}}" ng-if="ldapConf.fieldMapOpts.indexOf(ldapConf.fieldmap.email)==-1" ng-selected="true">{{ldapConf.fieldmap.email}}</option>
						<option ng-repeat="field in ldapConf.fieldMapOpts" value="{{field}}" ng-selected="field==ldapConf.fieldmap.email">{{field}}</option>
					</select>
				</div></div>
			</div>
			<!-- Edit Configuration Form -->

		</div>
		<!-- Edit LDAP Configuration -->

		<!-- Session Management -->
		<div class="containerWrap" ng-if="tab == 'tabSession'">
			<!--Task Name-->
			<div id="page-taskName">
				<span>Session Management</span>
			</div>
			<!--Task Name-->
			<!-- Button -->
			<div class="adminActionBtn">
				<button class="btn btn-md pull-right adminBtn createProjectBtn" ng-click="sessionConf.click()">Refresh</button>
			</div>
			<!-- Button -->
			<!-- Action area -->
			<div class="col-xs-9 form-group adminForm" style="height:90%">
				<div class="containerWrap sessionItemWrap">
					<div class="sessionHeading" data-toggle="collapse" data-target="#activeUsers-x">
						<h4>Active Users</h4>
					</div>
					<div id="activeUsers" class="wrap scrollbar-inner">
						<table class = "table table-hover sessionTable">
							<tr>
								<th> Username </th>
								<th> Role </th>
								<th> Logged in </th>
								<th> IP </th>
								<th><button class="btn" style="visibility:hidden"> Logout </button></th>
							</tr>
							<tr ng-repeat="user in sessionConf.sessions">
								<td> {{user.username}} </td>
								<td> {{user.role}} </td>
								<td> {{user.loggedin}} </td>
								<td> {{user.ip}} </td>
								<td><button class="btn" data-id="{{$index}}" ng-click="sessionConf.kill($event)"> Logout </button></td>
							</tr>
						</table>
					</div>
				</div>
				<div class="containerWrap sessionItemWrap" style="top:60%">
					<div class="sessionHeading" data-toggle="collapse" data-target="#clientUsers-x">
						<h4>ICE Engine Clients</h4>
					</div>
					<div id="clientUsers" class="wrap scrollbar-inner">
						<table class = "table table-hover sessionTable">
							<tr>
								<th> Username </th>
								<th> Connection Mode </th>
								<th ng-if="true"> IP </th>
								<th><button class="btn" style="visibility:hidden"> Disconnect </button></th>
							</tr>
							<tr ng-repeat="user in sessionConf.clients">
								<td> {{user.username}} </td>
								<td> {{user.mode}} </td>
								<td ng-if="true"> {{user.ip}} </td>
								<td><button class="btn" data-id="{{$index}}" ng-click="sessionConf.kill($event)" > Disconnect </button></td>
							</tr>
						</table>
					</div>
				</div>
			</div>
			<!-- Action area -->
		</div>
		<!-- Session Management -->

		<!-- Preferences -->
		<div class="containerWrap" ng-if="tab == 'tabPreferences'">
			<!--Task Name-->
			<div id="page-taskName">
				<span>Preferences</span>
			</div>
			<!--Task Name-->
			<div class="container preferencesTbl">
				<table id="preferencesTable" class=" customtblWidth table">
					<thead>
						<tr>
							<th>Plugins/Modules</th>
							<th>Admin</th>
							<th>Test Engineer</th>
							<th>Test Lead</th>
							<th>Test Manager</th>
							<th>Tech Lead</th>
							<th>Business Analyst</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Admin</td>
							<td><input type="checkbox" value="" checked="checked" class='module_admin'></td>
							<td><input type="checkbox" value="" class='module_admin'></td>
							<td><input type="checkbox" value="" class='module_admin'></td>
							<td><input type="checkbox" value="" class='module_admin'></td>
							<td><input type="checkbox" value="" class='module_admin'></td>
							<td><input type="checkbox" value="" class='module_admin'></td>
						</tr>
						<tr>
							<td>ALM</td>
							<td><input type="checkbox" value="" class='module_admin'></td>
							<td><input type="checkbox" value="" class='module_admin'></td>
							<td><input type="checkbox" value="" checked="checked" class='module_admin'></td>
							<td><input type="checkbox" value="" checked="checked" class='module_admin'></td>
							<td><input type="checkbox" value="" class='module_admin'></td>
							<td><input type="checkbox" value="" class='module_admin'></td>
						</tr>
						<tr>
							<td>Automatic Path Generator</td>
							<td><input type="checkbox" value="" class='module_admin'></td>
							<td><input type="checkbox" checked="checked" value="" class='module_admin'></td>
							<td><input type="checkbox" checked="checked" value="" class='module_admin'></td>
							<td><input type="checkbox" value="" class='module_admin'></td>
							<td><input type="checkbox" value="" class='module_admin'></td>
							<td><input type="checkbox" value="" class='module_admin'></td>
						</tr>
						<!--<tr>
							<td>Dashboard</td>
							<td><input type="checkbox" value="" class='module_admin'></td>
							<td><input type="checkbox" value="" class='module_admin'></td>
							<td><input type="checkbox" value="" class='module_admin'></td>
							<td><input type="checkbox" checked="checked" value="" class='module_admin'></td>
							<td><input type="checkbox" value="" class='module_admin'></td>
							<td><input type="checkbox" value="" class='module_admin'></td>
						</tr>-->
						<!-- <tr>
							<td>Dead Code Identifier</td>
							<td><input type="checkbox" value="" class='module_admin'></td>
							<td><input type="checkbox" value="" class='module_admin'></td>
							<td><input type="checkbox" value="" class='module_admin'></td>
							<td><input type="checkbox" value="" class='module_admin'></td>
							<td><input type="checkbox" value="" class='module_admin'></td>
							<td><input type="checkbox" value="" class='module_admin'></td>
						</tr> -->
						<tr>
							<td>ICE</td>
							<td><input type="checkbox" value="" class='module_admin'></td>
							<td><input type="checkbox" checked="checked" value="" class='module_admin'></td>
							<td><input type="checkbox" checked="checked" value="" class='module_admin'></td>
							<td><input type="checkbox" value="" class='module_admin'></td>
							<td><input type="checkbox" value="" class='module_admin'></td>
							<td><input type="checkbox" value="" class='module_admin'></td>
						</tr>
						<tr>
							<td>Mindmap</td>
							<td><input type="checkbox" value="" class='module_admin'></td>
							<td><input type="checkbox" checked="checked" value="" class='module_admin'></td>
							<td><input type="checkbox" checked="checked" value="" class='module_admin'></td>
							<td><input type="checkbox" checked="checked" value="" class='module_admin'></td>
							<td><input type="checkbox" value="" class='module_admin'></td>
							<td><input type="checkbox" value="" class='module_admin'></td>
						</tr>
						<tr>
							<td>NeuronGraphs</td>
							<td><input type="checkbox" value="" class='module_admin'></td>
							<td><input type="checkbox" value="" class='module_admin'></td>
							<td><input type="checkbox" checked="checked" value="" class='module_admin'></td>
							<td><input type="checkbox" checked="checked" value="" class='module_admin'></td>
							<td><input type="checkbox" value="" class='module_admin'></td>
							<td><input type="checkbox" value="" class='module_admin'></td>
						</tr>
						<!-- <tr>
							<td>Oxbow Code Identifier</td>
							<td><input type="checkbox" value="" class='module_admin'></td>
							<td><input type="checkbox" value="" class='module_admin'></td>
							<td><input type="checkbox" value="" class='module_admin'></td>
							<td><input type="checkbox" value="" class='module_admin'></td>
							<td><input type="checkbox" value="" class='module_admin'></td>
							<td><input type="checkbox" value="" class='module_admin'></td>
						</tr> -->
						<tr>
							<td>Performance Testing</td>
							<td><input type="checkbox" value="" class='module_admin'></td>
							<td><input type="checkbox" value="" class='module_admin'></td>
							<td><input type="checkbox" checked="checked" value="" class='module_admin'></td>
							<td><input type="checkbox" value="" class='module_admin'></td>
							<td><input type="checkbox" checked="checked" value="" class='module_admin'></td>
							<td><input type="checkbox" value="" class='module_admin'></td>
						</tr>
						<tr>
							<td>Reports</td>
							<td><input type="checkbox" value="" class='module_admin'></td>
							<td><input type="checkbox" checked="checked" value="" class='module_admin'></td>
							<td><input type="checkbox" checked="checked" value="" class='module_admin'></td>
							<td><input type="checkbox" checked="checked" value="" class='module_admin'></td>
							<td><input type="checkbox" value="" class='module_admin'></td>
							<td><input type="checkbox" value="" class='module_admin'></td>
						</tr>
						<tr>
							<td>Utility</td>
							<td><input type="checkbox" value="" class='module_admin'></td>
							<td><input type="checkbox" checked="checked" value="" class='module_admin'></td>
							<td><input type="checkbox" checked="checked" value="" class='module_admin'></td>
							<td><input type="checkbox" checked="checked" value="" class='module_admin'></td>
							<td><input type="checkbox" checked="checked" value="" class='module_admin'></td>
							<td><input type="checkbox" value="" class='module_admin'></td>
						</tr>
						<tr>
							<td>Webocular</td>
							<td><input type="checkbox" value="" class='module_admin'></td>
							<td><input type="checkbox" value="" class='module_admin'></td>
							<td><input type="checkbox" checked="checked" value="" class='module_admin'></td>
							<td><input type="checkbox" checked="checked" value="" class='module_admin'></td>
							<td><input type="checkbox" value="" class='module_admin'></td>
							<td><input type="checkbox" value="" class='module_admin'></td>
						</tr>

					</tbody>
				</table>
			</div>
		</div>
		<!-- Preferences -->
		<!-- Assign Tokens -->
		<div class="containerWrap" ng-if="tab == 'tabToken'">
			<!--Task Name-->
			<div id="page-taskName">
				<span>Token Management</span>
			</div>
			<div class="adminActionBtn">
				<button title="Generate New Token" class="btn btn-md pull-right adminBtn" ng-click="generateCIusertokens($event)" style="margin-right:10px">Generate</button>
			</div>
			<div class="col-xs-9 form-group" style="width: 83%">
				<div class='userForm projectForm' style="display: inline-block;">
					<label class='domainTxt' style="width: 11%;">User</label>
					<select class="adminSelect form-control selectDomain" style="width: 71%" id="selAssignUser1">
						<option value="" disabled selected>Please Select User</option>
					</select>
					<span ng-show="userNameRequired" class="error-msg ng-cloak errorlbl">{{userNameRequired}}</span>
				</div>	
				<div class='userForm projectForm' style="display: inline-block;">
					<div class="tokeninfo">
						<label class='domainTxt' style="width: 11%;">Token name</label>
						<input type="text" id="tokenName" name="tokenName" placeholder="Enter token name" >
						<div class="tokenSuite" >
							<span class="datePicContainer">
								<input class="form-control fc-datePicker" type="text" title="Select Date" placeholder="Select Date" value="" readonly="">
								<img class="datepickerIconToken" src="../imgs/ic-datepicker.png">
							</span>
							<span class="timePicContainer">
								<input class="form-control fc-timePicker" type="text" value="" title="Select Time" placeholder="Select Time" readonly disabled/>
								<img class="timepickerIconToken" src="../imgs/ic-timepicker.png" />
							</span>
						</div>	
					</div>
				</div>
				<div class='userForm projectForm'>
					<label class='domainTxt' style="width: 11%;">Token  </label>
					<input type="text" id="generateNewToken" name="projectName" readonly="readonly" style="width: 71%">
					<!--<div class='domainTxt'>Domain</div>
					<select class="adminSelect form-control selectDomain" style="width: 91%" id="selAssignProject">
						<option value="" disabled selected>Please Select Your Domain</option>
					</select> -->

					<span ng-show="domainNameRequired" class="error-msg ng-cloak errorlbl">{{domainNameRequired}}</span>
				</div>
			</div>
			<div class="col-xs-9 form-group adminForm" style="height:90%">
				<div class="containerWrap sessionItemWrap">
					<div class="sessionHeading" data-toggle="collapse" data-target="#activeUsersToken-x">
						<h4>CI Tokens</h4>
					</div>
					<div id="activeUsersToken" class="wrap scrollbar-inner">
						<table class = "table table-hover sessionTable" id="tokensDetail">
							<tr>
								<th> Token Name </th>
								<th> Status </th>
								<th> Expiry </th>
								<th> Action </th>
							</tr>
							<tr ng-repeat="tokens in tokens.users">
								<td> {{tokens.name}} </td>
								<td> {{tokens.deactivated}} </td>
								<td> {{tokens.expireson }} </td>
								<td ng-if="tokens.deactivated == 'active'"><button class="btn" data-id="{{$index}}" ng-click="deactivate($event)" style="margin-left:-21%"> Deactivate </button></td>
								<td ng-if="tokens.deactivated != 'active'"></td>
							</tr>
						</table>
					</div>
				</div>
			</div>
		</div>
		<!-- Assign Tokens -->			
	</div>
	<!--Middle Panel-->

	<!--Right Panel-->
	<div id="right-dependencies-section">
		<!--Images Blocks-->
		<div class="thumbnail thumbnail-custom">
			<a class="slidePopup"> <img class="thumb-ic" title="Info"
				src="imgs/ic-info.png" alt="Project Info">
				<div class="caption">
					<p>Info</p>
				</div>
			</a>
			<!--Popup-->
			<div tabindex="0" id="window-pi" class="popupWrap">
				<h4 class="h4-custom closePopup">
					Information <img class="closePopup pull-right" src="imgs/ic-arrow.png" />
				</h4>
				<div class="popupContent projectInfoWrap"></div>
			</div>
			<!--Popup-->
		</div>
		<!--Images Blocks-->

		<!--Images Blocks-->
		<chatbot chatbot></chatbot>
		<!--Images Blocks-->
	</div>
	<!--Right Panel-->
</section>
<!--Content Area-->

<!--Footer-->
<footer footer id="footer" class="footer-global"></footer>
<!--Footer-->

<!-- Edit Global Model -->
<div class="modal fade" id="editGlobalModal" role="dialog" data-keyboard="false" data-backdrop="static">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title"></h4>
			</div>
			<div class="modal-body">
				<p><input maxlength="50" type="text" class="form-control form-control-custom preventSpecialChar" placeholder="" id="" /></p>
			</div>
			<div class="modal-footer">
				<button id='' type="button" class="btn btn-default btnGlobalSave validationBlur">Save</button>
			</div>
		</div>
	</div>
</div>
<!-- Edit Global Model -->

<!-- Delete Global Model  -->
<div class="modal fade" id="deleteGlobalModal" role="dialog" data-keyboard="false" data-backdrop="static">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title"></h4>
			</div>
			<div class="modal-body">
				<p>Are you sure you want to delete ? All task assignment information will be deleted for this user.</p>
			</div>
			<div class="modal-footer">
				<button id="deleteGlobalModalButton" type="button" class="btn btn-default btnGlobalYes" data-dismiss="modal">Yes</button>
				<button type="button" class="btn btn-default" data-dismiss="modal">No</button>
			</div>
		</div>
	</div>
</div>
<!-- Delete Global Model  -->

<!-- Assign project Model  -->
<div class="modal fade" id="assignProjectModal" role="dialog" data-keyboard="false" data-backdrop="static">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title"> Update Projects</h4>
			</div>
			<div class="modal-body">
				<p>All the tasks that has been assigned to this user will be removed from this user's queue from the project(s) which are being unassigned (if any). Do you want to proceed?</p>
			</div>
			<div class="modal-footer">
				<button id="assignProjectModalButton" type="button" class="btn btn-default" ng-click="assignProjects1($event)">Yes</button>
				<button type="button" class="btn btn-default" data-dismiss="modal">No</button>
			</div>
		</div>
	</div>
</div>
<!-- Assign project Model  -->

<!-- Admin Modal Box -->
<div class="modal fade" id="adminModal" role="dialog" data-keyboard="false" data-backdrop="static">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title"></h4>
			</div>
			<div class="modal-body">
				<p></p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Ok</button>
			</div>
		</div>
	</div>
</div>
<!-- Admin Modal Box -->
