<!--Header-->
<header header></header>
<!--Header-->

<!--Content Area-->
<section class="container-fluid container-fluid-inner">
	<!--Left Panel-->
	<div id="left-nav-section">
		<div class="scrollbar-macosx">
			<div id="left-top-section" style='border-bottom: 0px !important'>
				<ul>
					<li><span><a class='scrapeOnTxt'>Create</a></span></li>
					<li><a id='userTab' ng-click="tab = 'tabUser'" title="Create/Update User"
						class="selectBrowser" data-name="3"><span><img
								class='selectedIcon' src='imgs/user.png' alt='User' /></span>User</a></li>
					<li><a id='projectTab' ng-click="tab = 'tabProject'" title="Create/Update Project"
						class="selectBrowser" data-name="1"><span><img
								src='imgs/project.png' alt='Project' /></span>Project</a></li>
					<li><a id='assignProjectTab' ng-click="tab = 'tabAssignProject'" title="Assign Project"
					class="selectBrowser" data-name="1"><span><img
							src='imgs/project.png' alt='Project' /></span>Assign Projects</a></li>
					<li style="margin-bottom: 30px"><a id='preferencesTab' title="Preferences"
						ng-click="tab = 'tabPreferences'" class="selectBrowser"
						data-name="2"><span><img src='imgs/preferences.png'
								alt='Preferences' /></span>Preferences</a></li>
				</ul>
			</div>
			<div class='clear-both'></div>
		</div>
	</div>
	<!--Left Panel-->
	
	<!--Middle Panel-->
	<div id="middle-content-section">
		<div ng-if="tab == 'tabUser'">
			<!--Task Name-->
			<div id="page-taskName">
				<span>Create User</span>
			</div>
			<!--Task Name-->
			<!-- Button -->
			<div class="adminActionBtn">
				<button class="btn btn-md pull-right adminBtn" ng-click="editUserTab()" title="Edit User">Edit</button>
				<button class="btn btn-md pull-right adminBtn" ng-click="create_userCheck()" style="margin-right:10px" title="Create User">Create</button>
			</div>
			<!-- Button -->
			<!-- Action area -->
			<div class="col-xs-9 form-group adminForm">
				<div class='userForm adminControl'>
					<button class="btn btn-xs ldapBtn" ng-click="ldapFn()">LDAP</button>
					<input type="text" id="userName" name="userName"
						ng-model="userName" maxlength="50"
						class="form-control form-control-custom" placeholder="User Name"><span
						ng-show="userNameRequired" class="error-msg ng-cloak errorlbl">{{userNameRequired}}</span>
				</div>
				<div class='leftControl adminControl'>
					<input type="text" name="firstName" id="firstName"
						ng-model="firstName" maxlength="12"
						class="form-control form-control-custom" placeholder="First Name"><span
						ng-show="firstNameRequired" class="error-msg ng-cloak errorlbl">{{firstNameRequired}}</span>
				</div>
				<div class='rightControl adminControl'>
					<input type="text" name="lastName" id="lastName"
						ng-model="lastName" maxlength="12"
						class="form-control form-control-custom" placeholder="Last Name"><span
						ng-show="lastNameRequired" class="error-msg ng-cloak errorlbl">{{lastNameRequired}}</span>
				</div>
				<div class='leftControl adminControl'>
					<input type="password" name="passWord" id="password"
						ng-model="passWord" maxlength="12"
						class="form-control form-control-custom" placeholder="Password"
						autocomplete="off"><span ng-show="passwordRequired"
						class="error-msg error-msg-password ng-cloak errorlbl">{{passwordRequired}}</span>
				</div>
				<div class='rightControl adminControl'>
					<input type="password" name='confirmPassword' id='confirmPassword'
						ng-model="confirmPassword"
						class="form-control form-control-custom"
						placeholder="Confirm Password" autocomplete="off"><span
						ng-show="confirmPasswordRequired"
						class="error-msg error-msg-password ng-cloak errorlbl">{{confirmPasswordRequired}}</span>
				</div>
				<div class='adminControl'>
					<input type="email" name="email" id="email" ng-model="email"
						maxlength="50" class="form-control form-control-custom"
						placeholder="Email Id"><span ng-show="emailRequired"
						class="error-msg ng-cloak errorlbl">{{emailRequired}}</span>
				</div>
				<div>
					<div class="col-xs-6 selectRole">
						<label class="leftControl primaryRole">Primary Role</label> 
						<select class='adminSelect form-control'
							x-ng-model="role" id="userRoles"
							class="form-control rightControl selectControl">
							<option value="" disabled selected>Select User Role</option>
						</select> <span ng-show="roleRequired" class="error-msg ng-cloak errorlbl">{{roleRequired}}</span>
					</div>
				</div>
			</div>
			<!-- Action area -->
		</div>
		
		<!-- Edit User -->
		<div class="containerWrap" ng-if="tab == 'editUser'">
			<!--Task Name-->
			<div id="page-taskName">
				<span>Edit User</span>
			</div>
			<!--Task Name-->
			
			<!-- Button -->
			<div class="adminActionBtn">
				<button class="btn btn-md pull-right adminBtn" ng-click="updateUser()" title="Update User">Update</button>
			</div>
			<!-- Button -->
			
			<!-- Edit User Form -->
			<div class="col-xs-9 form-group adminForm">
				<div class='userForm adminControl'>
					<button class="btn btn-xs ldapBtn" style="top:2px" ng-click="ldapFn()">LDAP</button>
					<select ng-change="getUserData()" style="width: 87%" class='adminSelect selectlg form-control'
							x-ng-model="users" id="userSelect"
							class="form-control rightControl selectControl">
							<option value="" disabled selected>Select User</option>
					</select>
				</div>
				<div class='leftControl adminControl'>
					<input type="text" name="firstName" id="firstName"
						ng-model="firstName" maxlength="12"
						class="form-control form-control-custom" placeholder="First Name"><span
						ng-show="firstNameRequired" class="error-msg ng-cloak errorlbl">{{firstNameRequired}}</span>
				</div>
				<div class='rightControl adminControl'>
					<input type="text" name="lastName" id="lastName"
						ng-model="lastName" maxlength="12"
						class="form-control form-control-custom" placeholder="Last Name"><span
						ng-show="lastNameRequired" class="error-msg ng-cloak errorlbl">{{lastNameRequired}}</span>
				</div>
				<div class='leftControl adminControl'>
					<input type="password" name="passWord" id="password"
						ng-model="passWord" maxlength="12"
						class="form-control form-control-custom" placeholder="Password"
						autocomplete="off"><span ng-show="passwordRequired"
						class="error-msg error-msg-password ng-cloak errorlbl">{{passwordRequired}}</span>
				</div>
				<div class='rightControl adminControl'>
					<input type="password" name='confirmPassword' id='confirmPassword'
						ng-model="confirmPassword"
						class="form-control form-control-custom"
						placeholder="Confirm Password" autocomplete="off"><span
						ng-show="confirmPasswordRequired"
						class="error-msg error-msg-password ng-cloak errorlbl">{{confirmPasswordRequired}}</span>
				</div>
				<div class='adminControl'>
					<input type="email" name="email" id="email" ng-model="email"
						maxlength="50" class="form-control form-control-custom"
						placeholder="Email Id"><span ng-show="emailRequired"
						class="error-msg ng-cloak errorlbl">{{emailRequired}}</span>
				</div>
				<div>
					<div class="col-xs-6 selectRole">
						<label class="leftControl primaryRole">Primary Role</label> 
						<select class='adminSelect form-control'
							x-ng-model="role" id="userRoles"
							class="form-control rightControl selectControl">
							<option value="" disabled selected>Select User Role</option>
						</select> <span ng-show="roleRequired" class="error-msg ng-cloak errorlbl">{{roleRequired}}</span>
					</div>
				</div>
			</div>
			<!-- Edit User Form -->
		</div>
		<!-- Edit User -->

		<!-- Create Project -->
		<div class="containerWrap" ng-if="tab == 'tabProject'">
			<!--Task Name-->
			<div id="page-taskName">
				<span>Create Project</span>
			</div>
			<!--Task Name-->
			<!-- Button -->
			<div class="adminActionBtn">
				<button class="btn btn-md pull-right adminBtn" ng-click="editProjectTab()" style="background: #5e636b" title="Edit Project">Edit</button>
				<button class="btn btn-md pull-right adminBtn createProjectBtn" ng-click="create_project()" title="Create Project">Create</button>
			</div>
			<!-- Button -->
			<div class="col-xs-9 form-group" style="width: 83%">
				<div class='userForm projectForm'>
					<div class='domainTxt'>Domain</div>
					<select class="adminSelect form-control" style="width: 91%" id="selDomain">
						<option value="" disabled selected>Please Select Your Domain</option>
					</select> 
					<span ng-show="domainNameRequired" class="error-msg ng-cloak errorlbl">{{domainNameRequired}}</span>
				</div>
				<div class='userForm adminControl'>
					<input type="text" id="projectName" name="projectName"
						ng-model="projectName" maxlength="50"
						class="form-control form-control-custom"
						placeholder="Project Name"><span
						ng-show="projectNameRequired" class="error-msg ng-cloak errorlbl">{{projectNameRequired}}</span>
				</div>
				
				<div class='domainTxt appTypeTxt'>Application Type</div>
				
				<div class="appTypesContainer">
					<div class='projectTypes' data-app="Web" title="Web">
						<img src='imgs/web.png' alt='Web' />
						<label>Web</label>
					</div>
					<div class='projectTypes' data-app="Webservice" title="Web Service">
						<img src='imgs/webservice.png' alt='WebService' />
						<label>Web Services</label>
					</div>
					<div class='projectTypes' data-app="Mainframe" title="Mainframe">
						<img src='imgs/mainframe.png' alt='Mainframe' />
						<label>Mainframe</label>
					</div>
					<div class='projectTypes' data-app="Desktop" title="Desktop Apps">
						<img src='imgs/desktop.png' alt='Desktop' />
						<label>Desktop Apps</label>
					</div>
					<div class='projectTypes' data-app="DesktopJava" title="Oracle Apps">
						<img src='imgs/oracleApps.png' alt='Oracle Apps' />
						<label>Oracle Apps</label>
					</div>
					<div class='projectTypes' data-app="MobileApp" title="Mobile Apps">
						<img src='imgs/mobileApps.png' alt='Mobile Apps' />
						<label>Mobile Apps</label>
					</div>
					<div class='projectTypes' data-app="MobileWeb" title="Mobile Web">
						<img src='imgs/mobileWeb.png' alt='Mobile Web' />
						<label>Mobile Web</label>
					</div>
					<div class='projectTypes' data-app="SAP" title="SAP Apps">
						<img src='imgs/sapApps.png' alt='SAP Apps' />
						<label>SAP Apps</label>
					</div>
				</div>
			</div>
			
			<!-- Relase Cycle -->
			<div class="containerWrap relCycContainer">
				 <!-- Release Container -->
				 <div class="containerWrap releaseContainer rcContainer">
				 	<!-- Add Release -->
				 	<div class="addContainer"><span id="addRelease" title="Add Release"><img src="imgs/ic-add-sm.png" />Add Release</span></div>
				 	<!-- Add Release -->
				 	
				 	<!-- Releases List -->
				 	<ul id="releaseList" class="containerWrap scrollbar-inner relCycScroll">
				 	</ul>
				 	<!-- Releases List -->
				 </div>
				 <!-- Release Container -->
				 
				  <!-- Cycle Container -->
				 <div class="containerWrap cycleContainer rcContainer">
				 	<!-- Add Release -->
				 	<div class="addContainer"><span id="addCycle" title="Add Cycle"><img src="imgs/ic-add-sm.png" />Add Cycle</span></div>
				 	<!-- Add Release -->
				 	
				 	<!-- Cycle List -->
				 	<ul id="cycleList" class="containerWrap scrollbar-inner relCycScroll">
				 	</ul>
				 	<!-- Cycle List -->
				 </div>
				 <!-- Cycle Container -->
			</div>
			<!-- Relase Cycle -->
		</div>
		<!-- Create Project -->

		<!-- Assign Projects -->
		<div class="containerWrap" ng-if="tab == 'tabAssignProject'">
			<!--Task Name-->
			<div id="page-taskName">
				<span>Assign Projects</span>
			</div>
			<!--Task Name-->
			<div class="adminActionBtn">
				<button class="btn btn-md pull-right adminBtn" ng-click="assignProjects()" style="margin-right:10px">Save</button>
			</div>
			<div class="col-xs-9 form-group" style="width: 83%">
				<div class='userForm projectForm'>
					<div class='domainTxt'>User</div>
					<select class="adminSelect form-control selectDomain" style="width: 91%" id="selAssignUser">
						<option value="" disabled selected>Please Select User</option>
					</select> 
					<span ng-show="userNameRequired" class="error-msg ng-cloak errorlbl">{{userNameRequired}}</span>
				</div>
				<div class='userForm projectForm'>
					<div class='domainTxt'>Domain</div>
					<select class="adminSelect form-control selectDomain" style="width: 91%" id="selAssignProject">
						<option value="" disabled selected>Please Select Your Domain</option>
					</select> 
					<span ng-show="domainNameRequired" class="error-msg ng-cloak errorlbl">{{domainNameRequired}}</span>
				</div>
			</div>
			<!-- Assign Div -->
			<div class="col-xs-9 form-group" style="width: 100%">
			<div class="project-left2">				
					<!--Left Select Box-->
					<div class="wrap left-select scrollbar-inner">
						<!--Labels-->
						<label class="labelStyle1">All Projects</label>
						<!--Labels-->
						 
						<div class="seprator" style="margin-bottom:0px;">
							<!-- <select multiple id="allProjectEU" ng-model="allProjectNameEU" size="13" ng-options="p as p.ProjectName for p in projBox1 track by p.ProjectId"></select> -->
							<select multiple="" id="allProjectAP" ng-model="allProjectNameAP" size="" ng-options="p as p.ProjectName for p in projBox1 track by p.ProjectId" class="ng-pristine ng-untouched ng-valid"></select>
							<span ng-show="projectNameRequired" class="error-msg ng-binding ng-hide"></span>
						</div>
					</div>
					<!--Left Select Box-->
					
					<!--Center Input-->
					<div class="wrap wrap-editpro center-button">
						<button id="rightall" type="button" ng-click="rightall('#allProjectAP', '#assignedProjectAP')" class="" title="Move all to right"> &gt;&gt; </button>				
						<button type="button" id="rightgo" ng-click="rightgo('#allProjectAP', '#assignedProjectAP')" title="Move to right"> &gt; </button>			
						<button type="button" id="leftgo" ng-click="leftgo('#assignedProjectAP','#allProjectAP')" title="Move to left"> &lt; </button>			
						<button id="leftall" type="button" ng-click="leftall('#assignedProjectAP','#allProjectAP')" title="Move all to left"> &lt;&lt; </button>
					
						<!-- <input  id="moverightall" ng-click="moveAll(userBox1,userBox2)"  type="button" value=">>"/><br /> 
						<input id="moveright" type="button" value=">" ng-click="moveItem(userName[0], userBox1,userBox2)" /><br />
						<input id="move left" type="button" value="<" ng-click="moveItem(SelectedUsers[0], userBox2,userBox1)" /><br />
					    <input id="moveleftall" type="button" value="<<" ng-click="moveAll(userBox2,userBox1)" /> -->
					</div>
					<!--Center Input-->
					
					<!--Right Select Box-->
					<div class="wrap right-select">
						<!--Labels-->
						<label class="labelStyle1">Assign Projects</label>
						<!--Labels-->
						
						<!--Print Selected Domain-->
						<!--<div class="sltd-domain-print">Please Assign Projects</strong></div>-->
						<!--Print Selected Domain-->
						
						<div class="seprator" style="margin-bottom:0px;">
							<!-- <select size="13" multiple ng-model="assignedProjectNameEU" id="assignedProject" ng-options="p as p.ProjectName for p in projBox2 track by p.ProjectId"></select> -->
							<select size="" multiple="" ng-model="assignedProjectNameAP" id="assignedProjectAP" ng-options="p as p.ProjectName for p in projBox2 track by p.ProjectId" class="ng-pristine ng-untouched ng-valid"></select>
							<span ng-show="selectProjects" class="error-msg ng-binding ng-hide"></span>
						</div>
					</div>
					<!--Right Select Box-->
				</div>
				<!-- Assign Div -->
		</div>
	</div>
		<!-- Assign Projects -->

		<!-- Update Project -->
		<div class="containerWrap" ng-if="tab == 'editProject'">
			<!--Task Name-->
			<div id="page-taskName">
				<span>Update Project</span>
			</div>
			<!--Task Name-->
			<!-- Button -->
			<div class="adminActionBtn">
				<button class="btn btn-md pull-right adminBtn createProjectBtn" ng-click="update_project()">Update</button>
			</div>
			<!-- Button -->
			<div class="col-xs-9 form-group" style="width: 83%">
				<div class='userForm projectForm'>
					<div class='domainTxt'>Domain</div>
					<select class="adminSelect form-control" style="width: 91%" id="selDomainEdit">
						<option value="" disabled selected>Please Select Your Domain</option>
					</select> 
					<span ng-show="domainNameRequired" class="error-msg ng-cloak errorlbl">{{domainNameRequired}}</span>
				</div>
				<div class='userForm adminControl'>
					<div class='domainTxt'>Project</div>
					<select class="adminSelect form-control" style="width: 91%" id="selProject">
						<option value="" disabled selected>Please Select Your Project</option>
					</select> 
					<span ng-show="projectNameRequired" class="error-msg ng-cloak errorlbl">{{projectNameRequired}}</span>
				</div>
				
				<div class='domainTxt appTypeTxt'>Application Type</div>
				
				<div class="appTypesContainer">
					<div class='projectTypes' data-app="Web" title="Web">
						<img src='imgs/web.png' alt='Web' />
						<label>Web</label>
					</div>
					<div class='projectTypes' data-app="Webservice" title="Web Services">
						<img src='imgs/webservice.png' alt='WebService' />
						<label>Web Services</label>
					</div>
					<div class='projectTypes' data-app="Mainframe" title="Mainframe">
						<img src='imgs/mainframe.png' alt='Mainframe' />
						<label>Mainframe</label>
					</div>
					<div class='projectTypes' data-app="Desktop" title="Desktop Apps">
						<img src='imgs/desktop.png' alt='Desktop' />
						<label>Desktop Apps</label>
					</div>
					<div class='projectTypes' data-app="DesktopJava" title="Oracle Apps">
						<img src='imgs/oracleApps.png' alt='Oracle Apps' />
						<label>Oracle Apps</label>
					</div>
					<div class='projectTypes' data-app="MobileApp" title="Mobile Apps">
						<img src='imgs/mobileApps.png' alt='Mobile Apps' />
						<label>Mobile Apps</label>
					</div>
					<div class='projectTypes' data-app="MobileWeb" title="Mobile Web">
						<img src='imgs/mobileWeb.png' alt='Mobile Web' />
						<label>Mobile Web</label>
					</div>
					<div class='projectTypes' data-app="SAP" title="SAP Apps">
						<img src='imgs/sapApps.png' alt='SAP Apps' />
						<label>SAP Apps</label>
					</div>
				</div>
			</div>
			
			<!-- Relase Cycle -->
			<div id='updateReleaseCycle' class="containerWrap relCycContainer">
				 <!-- Release Container -->
				 <div class="containerWrap releaseContainer rcContainer">
				 	<!-- Add Release -->
				 	<div class="addContainer"><span id="addRelease" title="Add Release"><img src="imgs/ic-add-sm.png" />Add Release</span></div>
				 	<!-- Add Release -->
				 	
				 	<!-- Releases List -->
				 	<ul id="releaseList" class="containerWrap scrollbar-inner relCycScroll">
				 	</ul>
				 	<!-- Releases List -->
				 </div>
				 <!-- Release Container -->
				 
				  <!-- Cycle Container -->
				 <div class="containerWrap cycleContainer rcContainer">
				 	<!-- Add Release -->
				 	<div class="addContainer"><span id="addCycle" title="Add Cycle"><img src="imgs/ic-add-sm.png" />Add Cycle</span></div>
				 	<!-- Add Release -->
				 	
				 	<!-- Cycle List -->
				 	<ul id="cycleList" class="containerWrap scrollbar-inner relCycScroll">
				 	</ul>
				 	<!-- Cycle List -->
				 </div>
				 <!-- Cycle Container -->
			</div>
			<!-- Relase Cycle -->
		</div>
		<!-- Update Project -->

		<div ng-if="tab == 'tabPreferences'">
			<div id="page-taskName">
				<span>Preferences</span>
			</div>
			<div class="container preferencesTbl">      
				<table id="preferencesTable" class=" customtblWidth table">
					<thead>
					<tr>
						<th>Plugins/Modules</th>
						<th>Test Engineer</th>
						<th>Test Lead</th>
						<th>Test Manager</th>
						<th>Admin</th>
					</tr>
					</thead>
					<tbody>
					<tr>
						<td>Mindmap</td>
						<td><input type="checkbox" value="" class='plugin_mindmap'></td>
						<td><input type="checkbox" checked = "checked" value="" class='plugin_mindmap'></td>
						<td><input type="checkbox" checked = "checked" value="" class='plugin_mindmap'></td>
						<td><input type="checkbox" value="" class='plugin_mindmap'></td>
					</tr>
					<tr>
						<td>ICE</td>
						<td><input type="checkbox" checked = "checked" value="" class='plugin_ICE'></td>
						<td><input type="checkbox" checked = "checked" value="" class='plugin_ICE'></td>
						<td><input type="checkbox" value="" class='plugin_ICE'></td>
						<td><input type="checkbox" value="" class='plugin_ICE'></td>
					</tr>
					<tr>
						<td>Reports</td>
						<td><input type="checkbox" checked = "checked" value="" class='plugin_Reports'></td>
						<td><input type="checkbox" checked = "checked" value="" class='plugin_Reports'></td>
						<td><input type="checkbox" checked = "checked" value="" class='plugin_Reports'></td>
						<td><input type="checkbox" value="" class='plugin_Reports'></td>
					</tr>
					<tr>
						<td>Admin</td>
						<td><input type="checkbox" value="" class='module_admin'></td>
						<td><input type="checkbox" value="" class='module_admin'></td>
						<td><input type="checkbox" value="" class='module_admin'></td>
						<td><input type="checkbox" value="" checked = "checked" class='module_admin'></td>
					</tr>
					</tbody>
				</table>
				</div>
		</div>
	</div>
	<!--Middle Panel-->

	<!--Right Panel-->
	<div id="right-dependencies-section">
		<!--Images Blocks-->
		<div class="thumbnail thumbnail-custom">
			<a class="slidePopup"> <img class="thumb-ic" title="Info"
				src="imgs/ic-info.png" alt="Project Info">
				<div class="caption">
					<p>Info</p>
				</div>
			</a>
			<!--Popup-->
			<div tabindex="0" id="window-pi" class="popupWrap">
				<h4 class="h4-custom closePopup">
					Information <img class="closePopup pull-right"
						src="imgs/ic-arrow.png" />
				</h4>
				<div class="popupContent projectInfoWrap"></div>
			</div>
			<!--Popup-->
		</div>
		<!--Images Blocks-->

		<!--Images Blocks-->
		<div class="thumbnail thumbnail-custom thumbnail-custom-wiki">
			<a class="slide_popup slide_assist" href="#" title="Assist"> <img
				class="thumb-ic" src="imgs/ic-assist.png" alt="Assist">
				<div class="caption">
					<p>Assist</p>
				</div>
			</a>
			<!--Popup-->
			<div id="assistWindow" class="assistWrap">
				<h4 class="h4-custom h4-custom-assist">
					<span class="assist-left pull-left"> <img
						src="imgs/ic-message.png" />Assist
					</span> <span class="assist-right pull-right"> <img
						src="imgs/ic-up.png" class="animateAssistUp"
						style="margin-right: 10px" /> <img src="imgs/ic-close.png"
						class="animateAssistClose" />
					</span>
				</h4>
				<div class="assistContent">
					<!-- Chat Container -->
					<div
						class="chatContainer scrollbar-inner scrollbar-chatArea chatArea">
						<ul class="chatList">
							<li>Choose from the available browser icons from the action
								bar</li>
							<li>Enter the URL of the AUT (Application under test)</li>
							<li>Click on one of the options available in the Scrape
								Options window</li>
							<li>Identify the required objects</li>
							<li>Rename the objects as per the naming convention</li>
							<li>Click on the save button in the work area</li>
							<li>Click on submit to complete task.</li>
						</ul>
					</div>

					<div class="chatContainer">
						<textarea rows="3" cols="" class="chatTextArea form-control"
							placeholder="Ask Prof.J"></textarea>
						<button class="btn btn-md pull-right" title="Send">Send</button>
					</div>
					<!-- Chat Container -->
				</div>
			</div>
			<!--Popup-->
		</div>
		<!--Images Blocks-->
	</div>
	<!--Right Panel-->
</section>
<!--Content Area-->

<!--Footer-->
<footer footer id="footer" class="footer-global"></footer>
<!--Footer-->

<!-- Edit Global Model  -->
<div class="modal fade" id="editGlobalModal" role="dialog" data-keyboard="false" data-backdrop="static">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title"></h4>
			</div>
			<div class="modal-body">
				<p><input maxlength="50" type="text" class="form-control form-control-custom validationKeydown" placeholder="" id="" /></p>
			</div>
			<div class="modal-footer">
				<button id='' type="button" class="btn btn-default btnGlobalSave validationBlur" data-dismiss="modal">Save</button>
			</div>
		</div>
	</div>
</div>
<!-- Edit Global Model  -->

<!-- Edit Release Name  -->
<!-- <div class="modal fade" id="editReleaseNameModal" role="dialog" data-keyboard="false" data-backdrop="static">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Edit Release Name</h4>
			</div>
			<div class="modal-body">
				<p><input maxlength="50" type="text" class="form-control form-control-custom" placeholder="Enter New Release Name" id="releaseName" /></p>
			</div>
			<div class="modal-footer">
				<button id='updateReleaseName' type="button" class="btn btn-default" data-dismiss="modal">Save</button>
			</div>
		</div>
	</div>
</div> -->
<!-- Edit Release Name  -->


<!-- Delete Release -->
<div class="modal fade" id="deleteReleaseModal" role="dialog" data-keyboard="false" data-backdrop="static">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Delete Release</h4>
			</div>
			<div class="modal-body">
				<p>Are you sure you want to delete ?</p>
			</div>
			<div class="modal-footer">
				<button id='deleteReleaseYes' type="button" class="btn btn-default" data-dismiss="modal">Yes</button>
				<button type="button" class="btn btn-default" data-dismiss="modal">No</button>
			</div>
		</div>
	</div>
</div>
<!-- Delete Release -->


<!-- Edit Release Name  -->
<!-- <div class="modal fade" id="editCycleNameModal" role="dialog" data-keyboard="false" data-backdrop="static">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Edit Cycle Name</h4>
			</div>
			<div class="modal-body">
				<p><input  maxlength="50" type="text" class="form-control form-control-custom" placeholder="Enter New Release Name" id="cycleName" /></p>
			</div>
			<div class="modal-footer">
				<button id='updateCycleName' type="button" class="btn btn-default" data-dismiss="modal">Save</button>
			</div>
		</div>
	</div>
</div> -->
<!-- Edit Release Name  -->


<!-- Delete Release -->
<div class="modal fade" id="deleteCycleModal" role="dialog" data-keyboard="false" data-backdrop="static">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Delete Cycle</h4>
			</div>
			<div class="modal-body">
				<p>Are you sure you want to delete ?</p>
			</div>
			<div class="modal-footer">
				<button id='deleteCycleYes'  type="button" class="btn btn-default" data-dismiss="modal">Yes</button>
				<button type="button" class="btn btn-default" data-dismiss="modal">No</button>
			</div>
		</div>
	</div>
</div>
<!-- Delete Release -->


<!-- Edit User Success -->
<!-- <div class="modal fade" id="editUserSuccessModal" role="dialog" data-keyboard="false" data-backdrop="static">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Edit User</h4>
			</div>
			<div class="modal-body">
				<p>User has been edited successfully.</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Ok</button>
			</div>
		</div>
	</div>
</div> -->
<!-- Edit User Success -->


<!-- Edit User Fail -->
<!-- <div class="modal fade" id="editUserFailModal" role="dialog" data-keyboard="false" data-backdrop="static">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Edit User</h4>
			</div>
			<div class="modal-body">
				<p>Failed to edit user.</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Ok</button>
			</div>
		</div>
	</div>
</div> -->
<!-- Edit User Fail -->

<!-- Admin Modal Box  -->
	<div class="modal fade" id="adminModal" role="dialog" data-keyboard="false" data-backdrop="static">
	  <div class="modal-dialog modal-sm">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal">&times;</button>
	        <h4 class="modal-title"></h4>
	      </div>
	      <div class="modal-body">
	        <p></p>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Ok</button>
	      </div>
	    </div>
	  </div>
	</div>
<!-- Admin Modal Box  -->

	<!-- Add Release Modal Box  -->
	<!-- <div class="modal fade" id="addReleaseNameModal" role="dialog" data-keyboard="false" data-backdrop="static">
	  <div class="modal-dialog modal-sm">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal">&times;</button>
	        <h4 class="modal-title">Add Release</h4>
	      </div>
	      <div class="modal-body">
	        <div class="form-group"><input maxlength="50" id='releaseTxt' type="text" class="form-control form-control-custom" placeholder="Add Release Name"></div>
	      </div>
	      <div class="modal-footer">
	        <button id='addReleaseName' type="button" class="btn btn-default" data-dismiss="modal">Ok</button>
	      </div>
	    </div>
	  </div>
	</div> -->
	<!-- Add Release Modal Box   -->

		<!-- Add Cycle Modal Box  -->
	<!-- <div class="modal fade" id="addCycleNameModal" role="dialog" data-keyboard="false" data-backdrop="static">
	  <div class="modal-dialog modal-sm">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal">&times;</button>
	        <h4 class="modal-title">Add Cycle</h4>
	      </div>
	      <div class="modal-body">
	        <div class="form-group"><input  maxlength="50" id='cycleTxt' type="text" class="form-control form-control-custom" placeholder="Add Cycle Name"></div>
	      </div>
	      <div class="modal-footer">
	        <button id='addCycleName' type="button" class="btn btn-default" data-dismiss="modal">Ok</button>
	      </div>
	    </div>
	  </div>
	</div> -->
	<!-- Add Cycle Modal Box   -->