<section class="container-fluid login-block-fluid">
	<!--Background Image-->
	<img src="imgs/login-bg.png" class="login-bg-img" />
	<!--Background Image-->

	<!--Content Area-->
	<div class="row row-vh-middle">
		<!--Left Captions-->
		<div class="col-md-6">
			<div class="jumbotron jumbotron-nobg">
    			<h1>Hello.</h1>   
    			<h2>Welcome to Avo Assure!</h2>
				<h3>Login to Experience Intelligence</h3>
			</div>	
		</div>
		<!--Left Captions-->

		<div class="col-md-6">
			<div class="login-white-block" style="margin: 5% 12%">
				<!--Logo-->
				<div class="wrap row-center-logo"><img height="65" src="imgs/logo.png" /></div>
				<!--Logo-->

				<div class="wrap login-wrap">
					<span ng-show="loginValidation" class="absoluteError errorMessages">{{loginValidation}}
					<br><span ng-show="loginAgain">Click <a style="color:inherit;cursor:pointer" onclick="window.location.href='/'">here</a> to login again.</span>
					</span>
				</div>
			</div>
		</div>
	</div>
	<!--Content Area-->
</section>

<!--Footer-->
<footer id="footer" class="login-footer">
	<p class="text-right">
		Powered By <img class="f-logo" src="imgs/ftr-avo-logo.png" />
		<br />
		<span class="small">&copy; <span id="currentYear">2020</span> Avo Automation. All Rights Reserved</span>
	</p>
</footer>
<!--Footer-->
