          <div ng-controller='chatbotController' class="thumbnail thumbnail-custom thumbnail-custom-wiki">
         <a class="slide_popup slide_assist" href="#" title="Prof J">
            <img class="thumb-ic" src="imgs/ic-assist.png" alt="Assist">
            <div class="caption">
               <p>Assist</p>
            </div>
         </a>
         <!--Popup-->
         <div id="assistWindow" class="assistWrap">
            <h4 class="h4-custom h4-custom-assist">
               <span class="assist-left pull-left"> <img src="imgs/ic-message.png">Prof J
               </span> <span class="assist-right pull-right"> <img src="imgs/ic-up.png" class="animateAssistUp" style="margin-right: 10px"> <img src="imgs/ic-close.png" class="animateAssistClose">
               </span>
            </h4>
            <div class="assistContent">
                <!--==============================================================================-->
               <!-- Chat Container -->
               <div id="hello" class="scroll-wrapper chatContainer scrollbar-inner scrollbar-chatArea chatArea" style="position: relative;">
                  <div id='chatContainerBox' class="chatContainer scrollbar-inner scrollbar-chatArea chatArea scroll-content" style="height: 100px; margin-bottom: 0px; margin-right: 0px; max-height: none;">
                        <div class="assistFrom-them">
                            <p> Hello, I'm Prof J. I try to be helpful. (But I'm still just a bot. Sorry!) *Type keywords* and hit _enter_ to send your message. </p><br ng-if="($index+1)%1==0">
                        </div>
                        <div ng-repeat="c in conversation">
                            <div style="text-align: right">
                            <p ng-if="c.pos == 'assistFrom-me'" class="assistFrom-me">
                                {{c.text}}
                            </p>
                            </div>
                            <div >
                            <div ng-if="c.pos == 'assistFrom-them'" class="assistFrom-them">
                                <!-- 2 cases: 1. If server returned responses-->
                                <div ng-if="c.text && c.text[0][0] != -1 ">
                                    <p ng-if="c.type==0">
                                        Did you mean to ask about one of these? Please click any of the links below or type more keywords if you don't see the right option.</p>
                                    <p style="cursor:pointer" ng-repeat="x in c.text" ng-click = "displayAnswer($index)">
                                         <u>[{{$index + 1}}] {{x[1]}}</u>
                                    </p>
                                </div>
                                <p ng-if="c.text && c.text[0][0] == -1">{{c.text[0][1]}}</p>
                                <span ng-if="c.type == 1">{{c.text}}</span>
                                </div>
                            </div>
                        
            
                        </div>
                  </div>
                  <div class="scroll-element scroll-x">
                     <div class="scroll-element_outer">
                        <div class="scroll-element_size"></div>
                        <div class="scroll-element_track"></div>
                        <div class="scroll-bar"></div>
                     </div>
                  </div>
                  <div class="scroll-element scroll-y">
                     <div class="scroll-element_outer">
                        <div class="scroll-element_size"></div>
                        <div class="scroll-element_track"></div>
                        <div class="scroll-bar"></div>
                     </div>
                  </div>
               </div>
               <div class="chatContainer">
                  <input ng-model = "query" class="chatTextArea form-control"  style="border:2px solid #643693" ng-keypress="myFunct($event)" placeholder="Ask Prof.J">
                  <button ng-click="query=''" class="btn btn-md pull-left">Clear</button>
                  <button ng-click = "querySend()" class="btn btn-md pull-right">Send</button>
               </div>
               <!--==============================================================================-->
               <!-- Chat Container -->
            </div>
         </div>
         <!--Popup-->
      </div>
