<!--Header-->
<header header></header>
<!--Header-->

<!--Content Area-->
<section class="container-fluid container-fluid-inner" id="dashboard" >
  <div class="container " style="margin-top:40px">
    <div class="row">
      <div class="col-sm-3 col-sm-offset-2 section-1">
        <h4>Automation Percentage(%)</h4>
        <h2> 40 </h2>
      </div>
      <div class="col-sm-3 col-sm-offset-2 section-1">
        <h4>Total Execution Time(seconds)</h4>
        <h2 ng-bind="totalExTime" ng-click="showButtonsSection()" style="cursor:pointer">  </h2>
      </div>
    </div>
  </div>
  <div id="dashboardSection" ng-show="showButtons">
    <div class="btn-cotainer" >
      <button class="d-button" ng-class="{'actBtn': selBtn === 'ts'}" ng-click="updateBtn('ts')">Test Suites</button>
      <button class="d-button" ng-class="{'actBtn': selBtn === 'cy'}" ng-click="updateBtn('cy')">Cycles</button>
      <button class="d-button" ng-class="{'actBtn': selBtn === 'rl'}" ng-click="updateBtn('rl')">Releases</button>
      <button class="d-button" ng-class="{'actBtn': selBtn === 'pj'}" ng-click="updateBtn('pj')">Projects</button>
    </div>
  </div>
  <!-- <select class="d-dropdown" ng-model="selectedLevel" ng-options="x for x in levels" ng-change="update($index)">
</select> -->
</section>
<!--Content Area-->

<!--Footer-->
<footer footer id="footer" class="footer-global"></footer>
<!--Footer-->
