<!--Header-->
<header header></header>
<!--Header-->

<!--Content Area-->
<section class="container-fluid container-fluid-inner">
	<!--Left Panel-->
	<div id="left-nav-section">
		<div class="scrollbar-macosx">
			<div id="left-top-section">
				<ul>
					<li><span><a class='scrapeOnTxt'>Debug On</a></span></li>
					<li><a href='#' ng-click="initDebug(); $event.preventDefault(); $event.stopPropagation();"><span><img src='imgs/ic-ie.png' alt='Internet Explorer' /></span>Internet Explorer</a></li>
					<li><a href='#'><span><img src='imgs/ic-chrome.png' alt='Google Chrome' /></span>Google Chrome</a></li>
					<li><a href='#'><span><img src='imgs/ic-mozilla.png' alt='Mozilla Firefox' /></span>Mozilla Firefox</a></li>
					<li class="last"><span style="margin-bottom:-5px"><input id="enableAppend" type='checkbox' value=""></span><label for="enableAppend">Add Dependent Test Cases</label></li>
				</ul>
			</div>

			<div class='clear-both'></div>

			<div id="left-bottom-section">
				<ul>
					<li><a href='#'><span><img src='imgs/ic-import-script.png' alt='Import TestScript' /></span>Import Test Case</a></li>
					<li><a href='#'><span><img src='imgs/ic-export-script.png' alt='Export TestScript' /></span>Export Test Case</a></li>
				</ul>
			</div>
		</div>
	</div>
	<!--Left Panel-->

	<!--Middle Panel-->
	<div id="middle-content-section">
		<!--Task Name-->
		<div id="page-taskName">
			<span>AHRI-Identify objects related to login location screen</span>	
		</div>
		<!--Task Name-->
	</div>
	<!--Middle Panel-->

	<!--Right Panel-->
	<div id="right-dependencies-section">
		<!--Images Blocks-->
		<div class="thumbnail thumbnail-custom">
        	<a class="slidePopup">
          		<img class="thumb-ic" src="imgs/ic-encryption.png" alt="Encryption">
          		<div class="caption">
            		<p>Encryption</p>
          		</div>
        	</a>
			<!--Popup-->
			<div tabindex="0" id="window-filter" class="popupWrap popupWrap-filter">
				<h4 class="h4-custom closePopup">Encryption <img class="closePopup pull-right" src="imgs/ic-arrow.png" /></h4>
				<div class="popupContent">
					Encryption
				</div>
			</div>
			<!--Popup-->
      	</div>	
		<!--Images Blocks-->
		
		<!--Images Blocks-->
		<div class="thumbnail thumbnail-custom">
        	<a class="slidePopup">
          		<img class="thumb-ic" src="imgs/ic-screenshot.png" alt="Scrape Screenshot">
          		<div class="caption">
            		<p>Screenshot</p>
          		</div>
        	</a>
			<!--Popup-->
			<div tabindex="0" id="window-scrape-screenshotTs" class="popupWrap">
				<h4 class="h4-custom closePopup">Screenshot <img class="closePopup pull-right" src="imgs/ic-arrow.png" /></h4>
				<div class="popupContent">
					Screenshot Content
				</div>
			</div>
			<!--Popup-->
      	</div>
		<!--Images Blocks-->	

		<!--Images Blocks-->
		<div class="thumbnail thumbnail-custom">
        	<a class="slidePopup">
          		<img class="thumb-ic" src="imgs/ic-task.png" alt="Tasks">
          		<div class="caption">
            		<p>Tasks</p>
          		</div>
        	</a>
			<!--Popup-->
			<div tabindex="0" id="window-task" class="popupWrap">
				<h4 class="h4-custom closePopup">My task(s)<img class="closePopup pull-right" src="imgs/ic-arrow.png" /></h4>
				<div class="popupContent popupTasks">
					<div class="scrollbar-inner scrollbar-innerpages">
						<!--Tasks-->
						<div class="panel-group task-content-inner" id="accordion"></div>
						<!--Tasks-->
					</div>
				</div>
			</div>
			<!--Popup-->
      	</div>
		<!--Images Blocks-->

		<!--Images Blocks-->  		
		<div class="thumbnail thumbnail-custom">
        	<a class="slidePopup">
          		<img class="thumb-ic" src="imgs/ic-info.png" alt="Project Info">
          		<div class="caption">
            		<p>Info</p>
          		</div>
        	</a>
			<!--Popup-->
			<div tabindex="0" id="window-pi" class="popupWrap">
				<h4 class="h4-custom closePopup">Project Information <img class="closePopup pull-right" src="imgs/ic-arrow.png" /></h4>
				<div class="popupContent">
					<p class="proj-info-wrap">
						<span class="content-label">Project :</span>
						<span class="content">AHRI Implementation</span>
					</p>
					<p class="proj-info-wrap">
						<span class="content-label">Module :</span>
						<span class="content">AHRI Implementation_Module_1</span>
					</p>
					<p class="proj-info-wrap">
						<span class="content-label">Screen :</span>
						<span class="content">AHRI Implementation_Screen_1</span>
					</p>
				</div>
			</div>
			<!--Popup-->
      	</div>
		<!--Images Blocks-->

		<!--Images Blocks-->
		<div class="thumbnail thumbnail-custom thumbnail-custom-wiki">
        	<a class="slide_popup" href="#">
          		<img class="thumb-ic" src="imgs/ic-wiki.png" alt="Project Info">
          		<div class="caption">
            		<p>Wiki</p>
          		</div>
        	</a>
      	</div>
		<!--Images Blocks-->
	</div>
	<!--Right Panel-->
</section>	
<!--Content Area-->

<!--Footer-->
<footer footer id="footer" class="footer-global"></footer>
<!--Footer-->