<!--Header-->
<header header></header>
<!--Header-->

<!--Content Area-->
<section class="container-fluid container-fluid-inner">
	<!--Left Panel-->
	<div id="left-nav-section">
		<div class="scrollbar-macosx">
			<!-- Web -->
			<div id="left-top-section" ng-if="getScreenView == 'Web'">
				<ul>
					<li><span><a class='scrapeOnTxt'>Debug On</a></span></li>
					<li><a href='#' ng-click="debugTestCase_ICE('3',$event);" title="Debug on Internet Explorer"><span><img src='imgs/ic-ie.png' alt='Internet Explorer' /></span>Internet Explorer</a></li>
					<li><a href='#' ng-click="debugTestCase_ICE('1',$event);" title="Debug on Chrome"><span><img src='imgs/ic-chrome.png' alt='Google Chrome' /></span>Google Chrome</a></li>
					<li><a href='#' ng-click="debugTestCase_ICE('2',$event);" title="Debug on Firefox"><span><img src='imgs/ic-mozilla.png' alt='Mozilla Firefox' /></span>Mozilla Firefox</a></li>
					<li><a href='#' ng-click="debugTestCase_ICE('7',$event);" title="Debug on Microsoft Edge"><span><span><svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 250 265" height="37px" width="100%"><defs><style>.cls-1{fill:#eee9ff;}</style></defs><title>Launch Microsoft Edge</title><path class="cls-1" d="M310.83,169.32a119.87,119.87,0,0,0-239.66-4.2c15.13-19.57,28.31-32.52,48-45.77,20-13.51,45.93-20.77,71.88-20.06,24.5.67,44.33,20.1,44.33,44.61v12.83H146.57c-1-13.39,7.69-30.14,15.45-40.47,0,0-25.47,12.78-40.4,31.57a82.25,82.25,0,0,0-17.18,32A86.1,86.1,0,0,0,100.67,204h0c-1.91,39,15.77,75,49,94.58C210.71,334.47,288,294.64,288,294.64v-54.4c-38.4,18.49-95.6,26.69-124,3.56C150.76,233,147.2,219.11,146,204h164.8Zm0,0" transform="translate(-71.17 -49.44)"/></svg></span>Microsoft Edge</a></li>
					<li class="safariBrowser" style="display: none;"><a href='#' ng-click="debugTestCase_ICE('6',$event);" title="Debug on Safari"><span><img src='imgs/ic-safari.png' alt='Safari' /></span>Safari</a></li>
					<li class="last" title="Add Dependent Test Cases"><span style="margin-bottom:-5px"><input id="addDependent" type='checkbox' value=""></span><label class='addDependentTestCase' for="addDependent">Add Dependent Test Cases</label></li>
				</ul>
			</div>
			<!-- Web -->
			
			<!-- DesktopJava -->
			<div id="left-top-section" ng-if="getScreenView == 'DesktopJava'" class="ApptypeScreenView">
				<ul>
					<li><span><a class='scrapeOnTxt'>Debug On</a></span></li>
					<li><a href='#' ng-click="debugTestCase_ICE('1',$event);" title="OEBS Apps"><span><img src='imgs/ic-desktop.png' alt='OEBS Apps' /></span>OEBS Apps</a></li>
					<li class="last" title="Add Dependent Test Cases"><span style="margin-bottom:-5px"><input id="addDependent" type='checkbox' value=""></span><label class='addDependentTestCase' for="addDependent">Add Dependent Test Cases</label></li>
				</ul>
			</div>
			<!-- DesktopJava -->
			
			<!-- Desktop -->
			<div id="left-top-section" ng-if="getScreenView == 'Desktop'" class="ApptypeScreenView">
				<ul>
					<li><span><a class='scrapeOnTxt'>Debug On</a></span></li>
					<li><a href='#' ng-click="debugTestCase_ICE('1',$event);" title="Desktop Apps"><span><img src='imgs/ic-desktop.png' alt='Desktop Apps' /></span>Desktop Apps</a></li>
					<li class="last" title="Add Dependent Test Cases"><span style="margin-bottom:-5px"><input id="addDependent" type='checkbox' value=""></span><label class='addDependentTestCase' for="addDependent">Add Dependent Test Cases</label></li>
				</ul>
			</div>
			<!-- Desktop -->

			<!-- System -->
			<div id="left-top-section" ng-if="getScreenView == 'System'" class="ApptypeScreenView">
				<ul>
					<li><span><a class='scrapeOnTxt'>Debug On</a></span></li>
					<li><a href='#' ng-click="debugTestCase_ICE('1',$event);" title="System Apps"><span><img src='imgs/ic-desktop.png' alt='System Apps' /></span>System Apps</a></li>
				</ul>
			</div>
			<!-- System -->
			
			<!-- SAP -->
			<div id="left-top-section" ng-if="getScreenView == 'SAP'" class="ApptypeScreenView">
				<ul>
					<li><span><a class='scrapeOnTxt'>Debug On</a></span></li>
					<li><a href='#' ng-click="debugTestCase_ICE('1',$event);" title="SAP Apps"><span><img src='imgs/ic-desktop.png' alt='SAP Apps' /></span>SAP Apps</a></li>
					<li class="last" title="Add Dependent Test Cases"><span style="margin-bottom:-5px"><input id="addDependent" type='checkbox' value=""></span><label class='addDependentTestCase' for="addDependent">Add Dependent Test Cases</label></li>
				</ul>
			</div>
			<!-- SAP -->
			
			<!-- Webservice -->
			<div id="left-top-section" ng-if="getScreenView == 'Webservice'" class="ApptypeScreenView">
				<ul>
					<li><span><a class='scrapeOnTxt'>Debug On</a></span></li>
					<li><a href='#' ng-click="debugTestCase_ICE('1',$event);" title="Web Services"><span><img src='imgs/ic-webservice.png' alt='Webservices' /></span>Web Services</a></li>
					<li class="last" title="Add Dependent Test Cases"><span style="margin-bottom:-5px"><input id="addDependent" type='checkbox' value=""></span><label class='addDependentTestCase' for="addDependent">Add Dependent Test Cases</label></li>
				</ul>
			</div>
			<!-- Webservice -->
			
			<!-- Mobility -->
			<div id="left-top-section" ng-if="getScreenView == 'MobileApp'" class="ApptypeScreenView">
				<ul>
					<li><span><a class='scrapeOnTxt'>Debug On</a></span></li>
					<li><a href='#' ng-click="debugTestCase_ICE('1',$event);" title="Android Apps"><span><img src='imgs/ic-mobility.png' alt='Android Apps' /></span>Mobile Apps</a></li>
					<li class="last" title="Add Dependent Test Cases"><span style="margin-bottom:-5px"><input id="addDependent" type='checkbox' value=""></span><label class='addDependentTestCase' for="addDependent">Add Dependent Test Cases</label></li>
				</ul>
			</div>
			<!-- Mobility -->
			
			<!-- Mobile Web -->
			<div id="left-top-section" ng-if="getScreenView == 'MobileWeb'" class="ApptypeScreenView">
				<ul>
					<li><span><a class='scrapeOnTxt'>Debug On</a></span></li>
					<li><a href='#'  ng-click="debugTestCase_ICE($event);" title="Android Web"><span><img src='imgs/ic-mobility.png' alt='Android Web' /></span>Mobile Web</a></li>
					<li class="last"  title="Add Dependent Test Cases"><span style="margin-bottom:-5px"><input id="addDependent" type='checkbox' value=""></span><label class='addDependentTestCase' for="addDependent">Add Dependent Test Cases</label></li>
				</ul>
			</div>
			<!-- Mobile Web -->
			
			<!-- Mainframe -->
			<div id="left-top-section" ng-if="getScreenView == 'Mainframe'" class="ApptypeScreenView">
				<ul>
					<li><span><a class='scrapeOnTxt'>Debug On</a></span></li>
					<li><a href='#'  ng-click="debugTestCase_ICE($event);" title="Mainframe"><span><img src='imgs/ic-mainframe.png' alt='Mainframe' style="background-color: white; border-radius: 7px;"/></span>Mainframe</a></li>
					<li class="last"  title="Add Dependent Test Cases"><span style="margin-bottom:-5px"><input id="addDependent" type='checkbox' value=""></span><label class='addDependentTestCase' for="addDependent">Add Dependent Test Cases</label></li>
				</ul>
			</div>
			<!-- Mainframe -->
			
			<div class='clear-both'></div>
			
			<div id="left-bottom-section">
				<ul>
					<li><a href='#' ng-click="importTestCase($event)"  title="Import TestCase"><span><img src='imgs/ic-import-script.png' alt='Import TestCase' /></span>Import Test Case</a><input style="visibility: hidden;" type="file" id="importTestCaseFile" accept=".json"></li>
					<li style="visibility: hidden; display: none;"><a href='#' ng-click="importTestCase1($event)"></a><input style="visibility: hidden;" type="file" id="overWriteJson" accept=".json"></li>
					<li><a href='#' ng-click="exportTestCase($event)"  title="Export TestCase"><span><img src='imgs/ic-export-script.png' alt='Export TestScript' /></span>Export Test Case</a></li>
				</ul>
			</div>
		</div>
	</div>
	<!--Left Panel-->

	<!--Middle Panel-->
	<div id="middle-content-section">
		<!--Task Name-->
		<div id="page-taskName">
			<span></span>
		</div>
		<!--Task Name-->
		
		<!-- Table Action Buttons -->
		<div id="tableActionButtons">
		<span>
			<img class="btn btn-action" src="imgs/ic-jq-addstep.png" alt="Add Steps" onclick="addTestScriptRow(event)"  title="Add Test step">
			<img class="btn btn-action" src="imgs/ic-jq-editstep.png" alt="Edit Steps" onclick="editTestCaseRow(event)"  title="Edit Test step">
			<img class="btn btn-action" src="imgs/ic-jq-dragstep.png" alt="Drag Steps" onclick="rearrangeTestScriptRow(event)"  title="Drag & Drop Test step">
			<img class="btn btn-action" src="imgs/ic-jq-copystep.png" alt="Copy Steps" onclick="copyTestStep(event)"  title="Copy Test step">
			<img class="btn btn-action" src="imgs/ic-jq-pastestep.png" alt="Paste Steps" onclick="pasteTestStep(event)"  title="Paste Test step">
			<img class="btn btn-action" src="imgs/ic-jq-commentstep.png" alt="Comment Steps" onclick="commentStep(event)"  title="Skip Test step">
		</span>
		<span>
			<button class="btn btn-xs btn-xs-custom btn-xs-action" ng-click="updateTestCase_ICE($event)"  title="Save Test Case">Save</button>
		</span>
		<span>
			<button class="btn btn-xs btn-xs-custom btn-xs-action" onclick="deleteTestScriptRow(event)"  title="Delete Test step" style="margin-left: 0;">Delete</button>
			<button class="btn btn-md pull-right submitTaskBtn" style="margin-top: 2px;margin-right: 5px;" ng-click="submitTasksTestCase('submit')"  title="Submit Task">Submit</button>
			<button class="btn btn-md pull-right reassignTaskBtn" style="margin-top: 2px;display:none" ng-click="submitTasksTestCase('reassign')"  title="Reassign Task">Reassign</button>
		</span>
		</div>
		<!-- Table Action Buttons -->
		<div class="designTableDnd">
			<div class="scrollbar-inner designDataTable">
				<table id="jqGrid" class="designDataTable" cellspacing="0" cellpadding="0"></table>
			</div>
		</div>
		<!-- Table DnD -->
	</div>
	<!--Middle Panel-->

	<!--Right Panel-->
	<div id="right-dependencies-section">
		<!--Images Blocks-->
		<!-- <div class="thumbnail thumbnail-custom">
        	<a class="slidePopup"  title="Encryption">
          		<img class="thumb-ic" src="imgs/ic-encryption.png" alt="Encryption">
          		<div class="caption">
            		<p>Encryption</p>
          		</div>
        	</a>
			Popup
			<div tabindex="0" id="window-filter" class="popupWrap popupWrap-filter">
				<h4 class="h4-custom closePopup">Encryption <img class="closePopup pull-right" src="imgs/ic-arrow.png" /></h4>
				<div class="popupContent">
					Encryption
				</div>
			</div>
			Popup
      	</div>	 -->
		<!--Images Blocks-->
		
		<!--Images Blocks-->
		<div class="thumbnail thumbnail-custom">
        	<a class="slidePopup"  title="Screenshot">
          		<img class="thumb-ic" src="imgs/ic-screenshot.png" alt="Scrape Screenshot">
          		<div class="caption">
            		<p>Screenshot</p>
          		</div>
        	</a>
			<!--Popup-->
			<div tabindex="0" id="window-scrape-screenshotTs" class="popupWrap">
				<h4 class="h4-custom closePopup">Screenshot <img class="closePopup pull-right" src="imgs/ic-arrow.png" /></h4>
				<div class="scrollbar-inner scrollbar-screenshotTs popupContent-screenshot">
                   <div class="popupContent">
                       Screenshot Content
                   </div>
                </div>

			</div>
			<!--Popup-->
      	</div>
		<!--Images Blocks-->	

		<!--Images Blocks-->
		<div class="thumbnail thumbnail-custom">
        	<a class="slidePopup"  title="Tasks">
          		<img class="thumb-ic" src="imgs/ic-task.png" alt="Tasks">
          		<div class="caption">
            		<p>Tasks</p>
          		</div>
        	</a>
			<!--Popup-->
			<div tabindex="0" id="window-task" class="popupWrap">
				<h4 class="h4-custom closePopup">My task(s)<img class="closePopup pull-right" src="imgs/ic-arrow.png" /></h4>
				<div class="input-group">
						<span class="input-group-addon inputMyTask" id="basic-addon1"><img src="imgs/ic-search-icon.png"></span>
						<input type="text" class="form-control searchInputMyTask" placeholder="Search My task(s)" aria-describedby="basic-addon1">
				</div>
				<div class="popupContent popupTasks">
					<div class="scrollbar-inner scrollbar-innerpages">
						<!--Tasks-->
						<div class="panel-group task-content-inner" id="accordion"></div>
						<!--Tasks-->
					</div>
				</div>
			</div>
			<!--Popup-->
      	</div>
		<!--Images Blocks-->

		<!--Images Blocks-->  		
		<div class="thumbnail thumbnail-custom">
        	<a class="slidePopup"  title="Info">
          		<img class="thumb-ic" src="imgs/ic-info.png" alt="Project Info">
          		<div class="caption">
            		<p>Info</p>
          		</div>
        	</a>
			<!--Popup-->
			<div tabindex="0" id="window-pi" class="popupWrap">
				<h4 class="h4-custom closePopup">Information <img class="closePopup pull-right" src="imgs/ic-arrow.png" /></h4>
				<div class="popupContent projectInfoWrap"></div>
			</div>
			<!--Popup-->
      	</div>
		<!--Images Blocks-->

		<!--Images Blocks-->
      <chatbot chatbot></chatbot>
      <!--Images Blocks-->
		
		<!-- Global Modal  -->
       <div class="modal fade" id="globalModal" role="dialog" data-keyboard="false" data-backdrop="static">
         <div class="modal-dialog modal-sm">
           <div class="modal-content">
             <div class="modal-header">
               <button type="button" class="close" data-dismiss="modal">&times;</button>
               <h4 class="modal-title"></h4>
             </div>
             <div class="modal-body">
               <p style="color: black;"></p>
             </div>
             <div class="modal-footer">
               <button type="button" class="btn btn-default" data-dismiss="modal">Ok</button>
             </div>
           </div>
         </div>
       </div>
       <!-- Global Modal  -->
       
        <!-- Global Modal for Yes and No  -->
		<div class="modal fade" id="globalModalYesNo" role="dialog" data-keyboard="false" data-backdrop="static">
		  <div class="modal-dialog modal-sm">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal">&times;</button>
		        <h4 class="modal-title"></h4>
		      </div>
		      <div class="modal-body">
		        <p></p>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default" id="">Yes</button>
		        <button type="button" class="btn btn-default" data-dismiss="modal" >No</button>
		      </div>
		    </div>
		  </div>
		</div>
		<!-- Global Modal for Yes and No  -->
		
		<!-- Global Modal for Input field -->
	<div id="modalDialog-inputField" class="modal fade" role="dialog" data-keyboard="false" data-backdrop="static">
		<div class="modal-dialog modal-sm">
			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title"></h4>
				</div>
				<div class="modal-body">
					<!--Modal Content-->
					<form class="form-inline">
						<!--Inputs Seprators-->
						<div class="row row-modal">
							<!-- <div class="form-group">
								<label>Object Type</label>
								<select class="form-control"><option>Select</option></select>
							</div> -->						
							<div class="form-group" style="width: 100% !important;">
								<label id="labelContent" style="margin-bottom: 0px;"></label>
								<input type="text" class="form-control" id="getInputData" placeholder="Enter object name">
							</div>
							<div>
								<span id="errorMsgs1" class="errorMsg" style="display: none;"></span>
								<span id="errorMsgs2" class="errorMsg" style="display: none;"></span>
								<span id="errorMsgs3" class="errorMsg" style="display: none;"></span>
							</div>
						</div>
						<!--Inputs Seprators-->
					</form>
					<!--Modal Content-->
				</div>
				<div class="modal-footer">
					<!-- <button type="button" class="btn btn-default pull-left">Add More</button> -->
					<button type="button" class="btn btn-default" id="">Submit</button>
					<!-- <button type="button" class="btn btn-default">Reset</button> -->
				</div>
			</div>
		</div>
	</div>
	<!-- Global Modal for Input field -->
	
	<!-- Remarks Modal popup -->
	<div id="modalDialogRemarks" class="modal fade" role="dialog" data-keyboard="false" data-backdrop="static">
		<div class="modal-dialog modal-sm" style="width: 390px;">
			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Remarks</h4>
				</div>
				<div class="modal-body">
					<!--Modal Content-->
					<form class="form-inline">
						<!--Inputs Seprators-->
						<div class="row row-modal">
							<div class="form-group historyDetailsContainer" style="width: 100% !important; margin: 0 0 12px 0;">
								<label id="labelContentHistory" style="margin-bottom: 0px; color: black;">History</label>
								<div id="historyContent" class="historyContents"></div>								
							</div>
							<div class="form-group" style="width: 100% !important;">
								<label id="labelContent" style="margin-bottom: 0px; color: black;">Add Remarks</label>
								<textarea maxlength="50" class="form-control" id="getremarksData"></textarea>
							</div>
						</div>
						<!--Inputs Seprators-->
					</form>
					<!--Modal Content-->
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" id="btnaddRemarks">Submit</button>
				</div>
			</div>
		</div>
	</div>
	<!-- Remarks Modal popup -->
	</div>
	<!--Right Panel-->
</section>	
<!--Content Area-->

<!--Footer-->
<footer footer id="footer" class="footer-global"></footer>
<!--Footer-->

<!-- Submitting Task -->
<div class="modal fade" id="submitTasksTestCase" role="dialog" data-keyboard="false" data-backdrop="static">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Submit Task</h4>
			</div>
			<div class="modal-body">
				<p>Are you sure you want to submit the task ?</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal" ng-click="submit_task(stask,$event)">Yes</button>
				<button type="button" class="btn btn-default" data-dismiss="modal">No</button>
			</div>
		</div>
	</div>
</div>
<!-- Submitting Task -->

	<!-- Add Dependent Test Cases -->
	<div id="dialog-addDependentTestCase" class="modal fade" role="dialog" data-keyboard="false" data-backdrop="static">
		<div class="modal-dialog" class=''style="width: 500px">
			<!-- Modal content-->
			<div class="modal-content positioningModal">
			<div class="modal-header positioningModal">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Select Dependent Test Cases</h4>
			</div>
			<div class="modal-body modal-dependentTC positioningModal">
				<span class='errTestCase hide'>Please Select Dependent Test Case</span>
				<!-- Bind Test Cases -->
					<div id="dependentTestCasesContent" class="scrollbar-inner dependentTC"></div>
				<!-- Bind Test Cases -->
			</div>
			<div class="modal-footer positioningModal">
				<button ng-click="" type="button" id="debugOn" class="btn btn-default">Save Dependent Test Cases</button>
			</div>
			</div>
		</div>
	</div>
	<!-- Add Dependent Test Cases -->

<!-- Submitting Task Success -->
<div class="modal fade" id="globalTaskSubmit" role="dialog" data-keyboard="false" data-backdrop="static">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Submit Task</h4>
			</div>
			<div class="modal-body">
				<p>Task Submited Successfully</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default globalSubmit" data-dismiss="modal">Ok</button>
			</div>
		</div>
	</div>
</div>
<!-- Submitting Task Success -->
 <!-- reused Modal  -->
	<div class="modal fade" id="reUsedTestcaseModal" role="dialog" data-keyboard="false" data-backdrop="static">
	  <div class="modal-dialog modal-sm">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal">&times;</button>
	        <h4 class="modal-title">Save Testcase</h4>
	      </div>
	      <div class="modal-body">
	        <p></p>
	      </div>
	      <div class="modal-footer">
	        <button type="button"  class="btn btn-default" ng-click="saveTestcase($event)" >Yes</button>
	        <button type="button"  class="btn btn-default"  ng-click="noSaveTestcaseFn()" data-dismiss="modal">No</button>
	      </div>
	    </div>
	  </div>
	</div>
	<!-- reused Modal -->

 <!-- Modal Form  -->
	<div class="modal fade" id="globalModalForm" tabindex="-1" role="dialog" aria-labelledby="globalModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
		  <div class="modal-content">
			<div class="modal-header">
			  <h5 class="modal-title" id="globalModalLabel">New message</h5>
			  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			  </button>
			</div>
			<div class="modal-body">
			  <form class='stepDetailsContainer'></form>
			</div>
			<div class="modal-footer">
			  <button id='resetTestStepDetails' type="button" class="btn btn-secondary">Reset</button>
			  <button id='saveTestStepDetails' type="button" class="btn btn-primary">Save</button>
			</div>
		  </div>
		</div>
		</div>
		
<testcasetemplate testcasetemplate></testcasetemplate>