<!--Header-->
<header header></header>
<!--Header-->

<!--Content Area-->
<section class="container-fluid container-fluid-inner">
	<!--Left Panel-->
	<div id="left-nav-section">
		<div class="scrollbar-macosx">
			<!-- Apptype Web -->
			<div ng-if="getScreenView == 'Web'" id="left-top-section" class="webScreenView">
				<ul>
					<li><span><a class='scrapeOnTxt'>Scrape On</a></span></li>
					<li><a class='browserIcon' href='#'  title="Launch Internet Explorer" ng-class="enbledChecked ? 'enableActions' : 'disableActions'" ng-click="initScraping($event, 'ie'); $event.preventDefault(); $event.stopPropagation();"><span><img src='imgs/ic-ie.png' alt='Internet Explorer' /></span>Internet Explorer</a></li>
					<li><a class='browserIcon' href='#'  title="Launch Google Chrome" ng-class="enbledChecked ? 'enableActions' : 'disableActions'" ng-click="initScraping($event, 'chrome'); $event.preventDefault(); $event.stopPropagation();"><span><img src='imgs/ic-chrome.png' alt='Google Chrome' /></span>Google Chrome</a></li>
					<li class="safariBrowser browserIcon" style="display: none;"><a href='#'  title="Launch Safari" ng-class="enbledChecked ? 'enableActions' : 'disableActions'" ng-click="initScraping($event, 'safari'); $event.preventDefault(); $event.stopPropagation();"><span><img src='imgs/ic-safari.png' alt='Safari' /></span>Safari</a></li>
					<li><a class='browserIcon' href='#'  title="Launch Mozilla Firefox" ng-class="enbledChecked ? 'enableActions' : 'disableActions'" ng-click="initScraping($event, 'mozilla'); $event.preventDefault(); $event.stopPropagation();"><span><img src='imgs/ic-mozilla.png' alt='Mozilla Firefox' /></span>Mozilla Firefox</a></li>
					<li class="last"  title="Enable Append"><span style="margin-bottom:-5px"><input ng-model="enbledChecked" id="enableAppend" type='checkbox' value=""></span><label for="enableAppend">Append</label></li>
				</ul>
			</div>
			<!-- Apptype Web -->

			<!-- Apptype Desktop -->
			<div ng-if="getScreenView == 'Desktop'" id="left-top-section" class="ApptypeScreenView">
				<ul>
					<li><span><a class='scrapeOnTxt'>Scrape On</a></span></li>
					<li><a class='browserIcon' href='#'  title="Desktop Apps" ng-class="enbledChecked ? 'enableActions' : 'disableActions'" data-toggle="modal" ng-click="initScrape($event); $event.preventDefault(); $event.stopPropagation();"><span><img src='imgs/ic-desktop.png' alt='Desktop Apps' /></span>Desktop Apps</a></li>
					<li class="last"  title="Append Objects"><span style="margin-bottom:-5px"><input ng-model="enbledChecked" id="enableAppend" type='checkbox' value=""></span><label for="enableAppend">Append</label></li>
				</ul>
			</div>
			<!-- Apptype Desktop -->

			<!-- Apptype SAP -->
			<div ng-if="getScreenView == 'SAP'" id="left-top-section" class="ApptypeScreenView">
				<ul>
					<li><span><a class='scrapeOnTxt'>Scrape On</a></span></li>
					<li><a class='browserIcon' href='#'  title="SAP Apps" ng-class="enbledChecked ? 'enableActions' : 'disableActions'" data-toggle="modal" ng-click="initScrape($event); $event.preventDefault(); $event.stopPropagation();"><span><img src='imgs/ic-desktop.png' alt='SAP Apps' /></span>SAP Apps</a></li>
					<li class="last"  title="Append Objects"><span style="margin-bottom:-5px"><input ng-model="enbledChecked" id="enableAppend" type='checkbox' value=""></span><label for="enableAppend">Append</label></li>
				</ul>
			</div>
			<!-- Apptype SAP -->

			<!-- Apptype OEBS -->
			<div ng-if="getScreenView == 'DesktopJava'" id="left-top-section" class="ApptypeScreenView">
				<ul>
					<li><span><a class='scrapeOnTxt'>Scrape On</a></span></li>
					<li><a class='browserIcon' href='#'  title="OEBS Apps" ng-class="enbledChecked ? 'enableActions' : 'disableActions'" data-toggle="modal" ng-click="initScrape($event); $event.preventDefault(); $event.stopPropagation();"><span><img src='imgs/ic-desktop.png' alt='OEBS Apps' /></span>OEBS Apps</a></li>
					<li class="last"  title="Append Objects"><span style="margin-bottom:-5px"><input ng-model="enbledChecked" id="enableAppend" type='checkbox' value=""></span><label for="enableAppend">Append</label></li>
				</ul>
			</div>
			<!-- Apptype OEBS -->

			<!-- Apptype Mobilty -->
			<div ng-if="getScreenView == 'MobileApp'" id="left-top-section" class="ApptypeScreenView">
				<ul>
					<li><span><a class='scrapeOnTxt'>Scrape On</a></span></li>
					<li><a class='browserIcon' href='#'  title="Android Apps" ng-class="enbledChecked ? 'enableActions' : 'disableActions'" data-toggle="modal" ng-click="initScrape($event); $event.preventDefault(); $event.stopPropagation();"><span><img src='imgs/ic-mobility.png' alt='Mobile Apps' /></span>Mobile Apps</a></li>
					<li class="last"  title="Append Objects"><span style="margin-bottom:-5px"><input ng-model="enbledChecked" id="enableAppend" type='checkbox' value=""></span><label for="enableAppend">Append</label></li>
				</ul>
			</div>
			<!-- Apptype Mobilty -->

			<!-- Apptype Mobilty -->
			<div ng-if="getScreenView == 'MobileWeb'" id="left-top-section" class="ApptypeScreenView">
				<ul>
					<li><span><a class='scrapeOnTxt'>Scrape On</a></span></li>
					<li><a class='browserIcon' href='#'  title="Android Web" ng-class="enbledChecked ? 'enableActions' : 'disableActions'" data-toggle="modal" ng-click="initScrape($event); $event.preventDefault(); $event.stopPropagation();"><span><img src='imgs/ic-mobility.png' alt='Mobile Web' /></span>Mobile Web</a></li>
					<li class="last"  title="Append Objects"><span style="margin-bottom:-5px"><input ng-model="enbledChecked" id="enableAppend" type='checkbox' value=""></span><label for="enableAppend">Append</label></li>
				</ul>
			</div>
			<!-- Apptype Mobilty -->

			<!-- Apptype Webservice -->
			<div style="border-bottom:0" ng-if="getScreenView == 'Webservice'" id="left-top-section" class="ApptypeScreenView">
				<ul>
					<li><span><a class='scrapeOnTxt'>Scrape On</a></span></li>
					<li><a class='browserIcon' href='#'  title="Web Services" ng-class="enbledWS ? 'enableActionsWS' : 'disableActionsWS'" data-toggle="modal" ng-click="initScrapeWS($event); $event.preventDefault(); $event.stopPropagation();"><span><img src='imgs/ic-webservice.png' alt='Webservices' /></span>Web Services</a></li>
					<li class="last"  title="Edit"><span style="margin-bottom:-5px"><input ng-model="enbledWS" id="enbledWS" type='checkbox' value=""></span><label for="enbledWS">Edit</label></li>
				</ul>
			</div>
			<!-- Apptype Webservice -->

			<div class='clear-both'></div>

			<div ng-class="getScreenView == 'Webservice' ? 'hideContainer' : 'showContainer'" id="left-bottom-section">
				<ul>
					<li><a ng-click="addObj()" href='#'  title="Add Objects" class="addObject"><span><img src='imgs/ic-addobject.png' alt='Add Object' /></span>Add Object</a></li>
					<li class='generateObj'><a ng-click="generateMapObj()" href='#'  title="Map Objects" class="generateObj"><span><img src='imgs/ic-mapobject.png' alt='Map Object' /></span>Map Object</a></li>
					<li class='compareObjects'><a ng-click="compareObj()" href='#'  title="Compare Objects" class="compareObject"><span><img src='imgs/ic-compareobject.png' alt='Compare Object' /></span>Compare Object</a></li>
				</ul>
			</div>
		</div>
	</div>
	<!--Left Panel-->

	<!--Middle Panel-->
	<div id="middle-content-section">
		<!--Task Name-->
		<div id="page-taskName"></div>
		<!--Task Name-->
			<div class='saveCompareDiv'><button style='display:none;' id='saveComparedObjects' title="Update and Save Objects" class="btn btn-md saveComapredObj" ng-click="updateComparedObjects()">Update</button><button style='display:none;' id='viewscrapedObjects' title="Cancel Update" class="btn btn-md" ng-click="">Cancel</button></div>

	<div class='scrollbar-inner scrollbar-compare' ng-show="compareFlag">
		<div class='parentCompareObj'>
		<!---- Compare Object Div ------>
		<div class="panel panel-default compareObj" id='compareChangedObjectsBox' style='display:none;'>
				<div class="panel-heading compareObjHeading">
					<h3 class="panel-title"><input title='selectAll' class='checkStyleComparebox'  type='checkbox' name='selectAllChanged' />Changed Objects</h3>
				</div>
				<div class="panel-body compareObjPanelBody">
					<ul id='changedOrdList' class='changedObjOrdList'></ul>
				</div>
		</div>
		<div class="panel panel-default compareObj" id='compareUnchangedObjectsBox' style='display:none;'>
				<div class="panel-heading compareObjHeading">
					<h3 class="panel-title">Unchanged Objects</h3>
				</div>
				<div class="panel-body compareObjPanelBody">
					<ul id='unchangedOrdList' class='unchangedObjOrdList'></ul>
				</div>
		</div>
		<div class="panel panel-default compareObj" id='compareNotFoundObjectsBox' style='display:none;'>
				<div class="panel-heading compareObjHeading">
					<h3 class="panel-title">Objects Not Found</h3>
				</div>
				<div class="panel-body compareObjPanelBody">
					<ul id='notfoundOrdList' class='notfoundObjOrdList'></ul>
				</div>
		</div>
	</div>
	</div>
		<!---- Compare Object Div ------>
		<!-- Specificly Webservice Screen -->
		<div ng-class="getScreenView == 'Webservice' ? 'showContainer' : 'hideContainer'" class="WebServcieScreen">
			<!-- Top -->
			<div class="wsdlRow wsdlContainer">
				<div class="wsdlUrlMethod">
					<label>WSDL</label>
					<span class="wsdlInputButton">
						<input type="text" class="form-control wsldInput" placeholder="Enter WSDL Url" ng-model="wsldInput" id="wsldInput" />
						<button ng-click="launchWSDLGo()" class="btn btn-md launchWSDL">Go</button>
					</span>

					<span class="wsdlInputButton wsdlSelectButton">
						<select class="form-control wsldSelect" id="wsldSelect">
							<option value disabled selected>Select Operation</option>
						</select>
					</span>
				</div>

				<!-- Submit Task Button-->
				<button class="btn btn-md pull-right reassignTaskBtn " style="margin-top: 2px;display:none" ng-click="submitTasksScreen('reassign')"  title="Reassign Task">Reassign</button>
				<button  class="btn btn-md pull-right submitTaskBtn submitTaskBtn-abs" ng-click="submitTasksScreen('submit')"  title="Submit">Submit</button>
				<!-- Submit Task Button-->
			</div>
			<!-- Top -->

			<!-- Middle -->
			<div class="wsdlRow wsdlActions">
				<div id="wsdlActionsButton">
					<button ng-click="showWsdlRequest()" id="showWsdlRequest" class="btn btn-xs btn-xs-custom pull-left"  title="Request">Request</button>
					<button ng-click="showWsdlResponse()" id="showWsdlResponse" class="btn btn-xs btn-xs-custom pull-left"  title="Response">Response</button>
					<button ng-click="saveWS()" class="btn btn-xs btn-xs-custom pull-left saveWS"  title="Save">Save</button>
					<input ng-model="endPointURL" id="endPointURL" type="text" class="endPointURL form-control pull-left" placeholder="End Point URL"/>
					<select ng-model="wsdlMethods" id="wsdlMethods" class="form-control wsdlMethods pull-left">
						<option value="" selected>Select Method</option>
						<option value="GET">GET</option>
						<option value="POST">POST</option>
						<option value="HEAD">HEAD</option>
						<option value="PUT">PUT</option>
						<option value="DELETE">DELETE</option>
					</select>
					<input id="wsdlOperation" ng-model="wsdlOperation" type="text" class="wsdlOperation form-control pull-left" placeholder="Operation"/>
					<button style="padding: 2px 25px" class="btn btn-md pull-right" ng-click="wsdlAdd()"  title="Add">Add</button>
				</div>
			</div>
			<!-- Middle -->

			<!-- Bottom -->
			<div class="wsdlRow wsdlRqstRspns">
				<!-- requestWrap -->
				<div id="wsdlRequest" class="wsdlRqstRspnsWrap wsdlRqstWrap">
					<textarea id="wsdlRequestHeader" class="wsdlTextAreaHeader" placeholder="Request Header"></textarea>
					<textarea id="wsdlRequestBody" class="wsdlTextAreaBody" placeholder="Request Body"></textarea>
				</div>
				<!-- requestWrap -->

				<!-- responseWrap -->
				<div id="wsdlResponse" class="wsdlRqstRspnsWrap wsdlRspnsWrap">
					<textarea id="wsdlResponseHeader" class="wsdlTextAreaHeader" placeholder="Response Header"></textarea>
					<textarea id="wsdlResponseBody" class="wsdlTextAreaBody" placeholder="Response Body"></textarea>
				</div>
				<!-- responseWrap -->
			</div>
			<!-- Bottom -->
		</div>
		<!-- Specificly Webservice Screen -->

		<!-- Submit Task Button-->
		<button class="btn btn-md pull-right reassignTaskBtn " style="float: right !important;display:none" ng-click="submitTasksScreen('reassign')"  title="Reassign Task">Reassign</button>
		<button ng-class="getScreenView == 'Webservice' ? 'hideContainer' : 'showContainer'" style="position: relative !important; left:-5px" class="btn btn-md pull-right submitTaskBtn" ng-click="submitTasksScreen('submit')"  title="Submit Task">Submit</button>
		<!--<button ng-class="getScreenView == 'Webservice' ? 'hideContainer' : 'showContainer'" class="btn btn-md pull-right submitTaskBtn" ng-click="submitTasksScreen()"  title="Submit Task">Submit</button>-->
		<!-- Submit Task Button-->

		<!--Scrape Tree-->
		<div ng-class="getScreenView == 'Webservice' ? 'hideContainer' : 'showContainer'" id="finalScrap" class="wrap scrollbar-inner fsScroll"></div>
		<!--Scrape Tree-->
	</div>
	<!--Middle Panel-->

	<!--Right Panel-->
	<div id="right-dependencies-section">
		<!--Images Blocks-->
		<div ng-class="getScreenView == 'Webservice' ? 'hideContainer' : 'showContainer'" class="thumbnail thumbnail-custom">
        	<a class="slidePopup"  title="Screenshot">
          		<img class="thumb-ic" src="imgs/ic-screenshot.png" alt="Scrape Screenshot">
          		<div class="caption">
            		<p>Screenshot</p>
          		</div>
        	</a>
			<!--Popup-->
			<div tabindex="0" id="window-scrape-screenshot" class="popupWrap">
				<h4 class="h4-custom closePopup">Screenshot <img class="closePopup pull-right" src="imgs/ic-arrow.png" /></h4>
				<div class="scrollbar-inner scrollbar-screenshot popupContent-screenshot">
					<div class="popupContent">
						Screenshot Content
					</div>
				</div>
			</div>
			<!--Popup-->
      	</div>
		<!--Images Blocks-->

		<!--Images Blocks-->
		<div ng-class="getScreenView == 'Webservice' ? 'hideContainer' : 'showContainer'" class="thumbnail thumbnail-custom">
        	<a class="slidePopup"  title="Filter">
          		<img class="thumb-ic" src="imgs/ic-filter.png" alt="Filter Objects">
          		<div class="caption">
            		<p>Filter</p>
          		</div>
        	</a>
			<!--Popup-->
			<div tabindex="0" id="window-filter" class="popupWrap popupWrap-filter">
				<h4 class="h4-custom closePopup">Filters <img class="closePopup pull-right" src="imgs/ic-arrow.png" /></h4>
				<div class="popupContent popupContent-filter">
				<div id ='selectAllFilters'><label><input title="Select all" type="checkbox" class="checkStyleboxFilter"><span class='selectAllTxt'>Select all</span></label></div>
					<div><span class='popupContent-default filterObjects' data-tag="button">Button</span></div>
					<div><span class='popupContent-default filterObjects' data-tag="checkbox">Checkbox</span></div>
					<div><span class='popupContent-default filterObjects' data-tag="select">Dropdown</span></div>
					<div><span class='popupContent-default filterObjects' data-tag="img">Image</span></div>
					<div><span class='popupContent-default filterObjects' data-tag="a">Link</span></div>
					<div><span class='popupContent-default filterObjects' data-tag="radiobutton">Radio Button</span></div>
					<div><span class='popupContent-default filterObjects' data-tag="input">Text Box</span></div>
					<!-- <div><span class='popupContent-default filterObjects' data-tag="Element">Element</span></div> -->
					<div><span class='popupContent-default filterObjects' data-tag="list">List Box</span></div>
					<div><span class='popupContent-default filterObjects' data-tag="table">Table</span></div>
					<div><span class='popupContent-default filterObjects' data-tag="others">Others</span></div>
					<div style='width:auto;'><span class='popupContent-default filterObjects' data-tag="duplicateCustnames">Duplicate Custnames</span></div>
					<!-- <div><span class='popupContent-default filterObjects' data-tag="internalframe">Internal frame</span></div>
					<div><span class='popupContent-default filterObjects' data-tag="tab">Tab</span></div>
					<div><span class='popupContent-default filterObjects' data-tag="datepicker">Date Picker</span></div> -->
				</div>
			</div>
			<!--Popup-->
      	</div>
		<!--Images Blocks-->

		<!--Images Blocks-->
		<div class="thumbnail thumbnail-custom">
        	<a class="slidePopup"  title="Tasks">
          		<img class="thumb-ic" src="imgs/ic-task.png" alt="Tasks">
          		<div class="caption">
            		<p>Tasks</p>
          		</div>
        	</a>
			<!--Popup-->
			<div tabindex="0" id="window-task" class="popupWrap">
				<h4 class="h4-custom closePopup">My task(s)<img class="closePopup pull-right" src="imgs/ic-arrow.png" /></h4>
				<div class="input-group">
						<span class="input-group-addon inputMyTask" id="basic-addon1"><img src="imgs/ic-search-icon.png"></span>
						<input type="text" class="form-control searchInputMyTask" placeholder="Search My task(s)" aria-describedby="basic-addon1">
				</div>
				<div class="popupContent popupTasks">
					<div class="scrollbar-inner scrollbar-innerpages">
						<!--Tasks-->
						<div class="panel-group task-content-inner" id="accordion"></div>
						<!--Tasks-->
					</div>
				</div>
			</div>
			<!--Popup-->
      	</div>
		<!--Images Blocks-->

		<!--Images Blocks-->
		<div class="thumbnail thumbnail-custom">
        	<a class="slidePopup"  title="Info">
          		<img class="thumb-ic" src="imgs/ic-info.png" alt="Project Info">
          		<div class="caption">
            		<p>Info</p>
          		</div>
        	</a>
			<!--Popup-->
			<div tabindex="0" id="window-pi" class="popupWrap">
				<h4 class="h4-custom closePopup">Information <img class="closePopup pull-right" src="imgs/ic-arrow.png" /></h4>
				<div class="popupContent projectInfoWrap"></div>
			</div>
			<!--Popup-->
      	</div>
		<!--Images Blocks-->

		<!--Images Blocks-->
      <chatbot chatbot></chatbot>
      <!--Images Blocks-->
	</div>
	<!--Right Panel-->
</section>
<!--Content Area-->

<!--Footer-->
<footer footer id="footer" class="footer-global"></footer>
<!--Footer-->

<!--Bootstrap Popup-->
	<!-- Add Object -->
	<div id="dialog-addObject" class="modal fade" role="dialog" data-keyboard="false" data-backdrop="static">
		<div class="modal-dialog" style="width: 700px">
			<!-- Modal content-->
			<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" ng-click="removeAddObjectSelection()" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Add Object</h4>
			</div>
			<div class="modal-body modal-body-add_obj">
				<!-- Add Button -->
				<div class="row addObjTopWrap">
					<span ng-show="errorMessage" class="error-msg-abs ng-cloak addObjeError">{{errorMessage}}</span>
					<button ng-click="addMoreObject()" type="button" id="addMoreObjRow" class="btn btn-default btn-no-bg pull-left"><img src="imgs/ic-add.png" /> Add</button>
				</div>
				<!-- Add Button -->

				<!--Modal Content-->
				<form class="form-inline scrollbar-inner addObjectScroll" id="addObjContainer"></form>
				<!--Modal Content-->
			</div>
			<div class="modal-footer">
				<button ng-click="resetTextFields()" type="button" id="resetObjRow" class="btn btn-default">Reset</button>
				<button ng-click="submitCustomObject($event)" type="button" id="rubmitObjRow" class="btn btn-default">Submit</button>
			</div>
			</div>
		</div>
	</div>
	<!-- Add Object -->

	<!-- Map Object -->
	<div id="dialog-mapObject" class="modal fade mapObjectModal" role="dialog" data-keyboard="false" data-backdrop="static">
		<div class="modal-dialog" style="width: 700px">
			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" ng-click = "removeMapObjectSelection()" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Map Object</h4>
				</div>
				<div class="modal-body">
					<p class="labelAsHeading">Please select the objects to drag and drop</p>

					<!-- Left Scraped Object -->
					<div id="leftScrapedObjects" class="mapObjContainer" style="width: 45%; margin-left: 30px; margin-right: 15%;">
						<p class="labelAsHeading">Scraped Objects</p>
						<!-- Data Appends Here -->
						<ul id="scrapedObjforMap" class="scrollbar-inner ObjforMapScroll"></ul>
						<!-- Data Appends Here -->
					</div>
					<!-- Left Scraped Object -->

					<!-- Right Custom Object -->
					<div id="rightCustomObjects" class="mapObjContainer" style="width:30%">
						<p class="labelAsHeading">Custom Objects</p>
						<!-- Data Appends Here -->
						<div id="customObjforMap"></div>
						<!-- Data Appends Here -->
					</div>
					<!-- Right Custom Object -->
				</div>
				<div class="modal-footer">
					<span class="error-msg-abs error-msg-abs3 ng-cloak submitObjectWarning error-mapObj">Please select atleast one object to Map</span>
					<span class="error-msg-abs error-msg-abs3 ng-cloak noObjectToMap">Please add custom object to Map</span>
					<span class="error-msg-abs error-msg-abs3 ng-cloak objectExistMap">Object already merged</span>
					<button type="button"  class="btn btn-default showAllObjects" >Show all Objects</button>
					<button type="button" disabled class="btn btn-default unlinkButton" ng-click="unlinkMapObj()">Un-link</button>
					<button id='submitMapObj' type="button" class="btn btn-default" ng-click="submitMapObject($event)">Submit</button>
				</div>
			</div>
		</div>
	</div>
	<!-- Map Object -->

	<!-- Global Modal  -->
       <div class="modal fade" id="globalModal" role="dialog" data-keyboard="false" data-backdrop="static">
         <div class="modal-dialog modal-sm">
           <div class="modal-content">
             <div class="modal-header">
               <button type="button" class="close" data-dismiss="modal">&times;</button>
               <h4 class="modal-title"></h4>
             </div>
             <div class="modal-body">
               <p></p>
             </div>
             <div class="modal-footer">
               <button type="button" class="btn btn-default" data-dismiss="modal">Ok</button>
             </div>
           </div>
         </div>
       </div>
       <!-- Global Modal  -->

	 <!-- DeleteObjects Modal  -->
	<div class="modal fade" id="deleteObjectsModal" role="dialog" data-keyboard="false" data-backdrop="static">
	  <div class="modal-dialog modal-sm">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal">&times;</button>
	        <h4 class="modal-title">Delete</h4>
	      </div>
	      <div class="modal-body">
	        <p></p>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" ng-click="del_Objects($event)">Yes</button>
	        <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
	      </div>
	    </div>
	  </div>
	</div>
	<!-- DeleteObjects Modal  -->

	<!-- Submitting Task -->
	<div class="modal fade" id="submitTasksScreen" role="dialog" data-keyboard="false" data-backdrop="static">
		<div class="modal-dialog modal-sm">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Submit Task</h4>
				</div>
				<div class="modal-body">
					<p>Are you sure you want to submit the task ?</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal" ng-click="submit_task(stask,$event)">Yes</button>
					<button type="button" class="btn btn-default" data-dismiss="modal">No</button>
				</div>
			</div>
		</div>
	</div>
	<!-- Submitting Task -->

	<!-- Desktop Launch Popup -->
	<div class="modal fade" id="launchDesktopApps" role="dialog" data-keyboard="false" data-backdrop="static">
		<div class="modal-dialog modal-md">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Launch Application</h4>
				</div>
				<div class="modal-body">
					<p><input class='launchPopupInput form-control' type='text' placeholder='Enter window name' id='desktopPath'/></p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default btn-default-modal" ng-click="initScraping($event)">Launch</button>
				</div>
			</div>
		</div>
	</div>
	<!-- Desktop Launch Popup -->

	<!-- SAP Launch Popup -->
	<div class="modal fade" id="launchSAPApps" role="dialog" data-keyboard="false" data-backdrop="static">
		<div class="modal-dialog modal-md">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Launch Application</h4>
				</div>
				<div class="modal-body">
					<p><input class='launchPopupInput form-control' type='text' placeholder='Enter the .exe path;App Name' id='SAPPath'/></p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default btn-default-modal" ng-click="initScraping($event)">Launch</button>
				</div>
			</div>
		</div>
	</div>
	<!-- SAP Launch Popup -->

	<!-- OEBS Launch Popup -->
	<div class="modal fade" id="launchOEBSApps" role="dialog" data-keyboard="false" data-backdrop="static">
		<div class="modal-dialog modal-md">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Launch Application</h4>
				</div>
				<div class="modal-body">
					<p><input class='launchPopupInput form-control' type='text' placeholder='Enter window name' id='OEBSPath'/></p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default btn-default-modal" ng-click="initScraping($event)">Launch</button>
				</div>
			</div>
		</div>
	</div>
	<!-- OEBS Launch Popup -->

	<!-- Mobility App Launch Popup -->
	<div class="modal fade" id="launchMobilityApps" role="dialog" data-keyboard="false" data-backdrop="static">
		<div class="modal-dialog modal-md">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Launch Application</h4>
				</div>
				<div class="modal-body">
					<div class="leftAlign">
						<p><input class='launchPopupInput form-control' type='text' placeholder='Enter Application path' id='mobilityAPKPath'/></p>
						<p><input class='launchPopupInput form-control' type='text' placeholder='Enter mobile serial number' id='mobilitySerialPath'/></p>
						<p><input class='launchPopupInput form-control' type='text' placeholder='Enter Device Name' id='mobilityDeviceName'/></p>
						<p><input class='launchPopupInput form-control' type='text' placeholder='Enter iOS Version' id='mobilityiOSVersion'/></p>
						<p><input class='launchPopupInput form-control' type='text' placeholder='Enter UDID' id='mobilityUDID'/></p>
					</div>

					<div class="rightAlign"><span class="androidIcon"></span></div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default btn-default-modal" ng-click="initScraping($event)">Launch</button>
				</div>
			</div>
		</div>
	</div>
	<!-- Mobility App Launch Popup -->

	<!-- Mobility Web Launch Popup -->
	<div class="modal fade" id="launchMobilityWeb" role="dialog" data-keyboard="false" data-backdrop="static">
		<div class="modal-dialog modal-md">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Launch Application</h4>
				</div>
				<div class="modal-body">
					<div class="leftAlign">
						<p><input class='launchPopupInput form-control' type='text' placeholder='AndroidDeviceSerialNumber/iOSDeviceName' id='mobilityWebSerialNo'/></p>
						<p><input class='launchPopupInput form-control' type='text' placeholder='Android/iOSVersion;UDID(for iOS device only)' id='mobilityAndroidVersion'/></p>
					</div>

					<div class="rightAlign"><span class="androidIcon"></span></div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default btn-default-modal" ng-click="initScraping($event)">Launch</button>
				</div>
			</div>
		</div>
	</div>
	<!-- Mobility Web Launch Popup -->

	<!-- HiddenTagModal  -->
	<div class="modal fade" id="hiddenTagBox" role="dialog" data-keyboard="false" data-backdrop="static">
	  <div class="modal-dialog modal-sm">

	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal">&times;</button>
	        <h4 class="modal-title">Highlight Error</h4>
	      </div>
	      <div class="modal-body">
	        <p>Cannot highlight as the element is hidden.</p>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Ok</button>
	      </div>
	    </div>
	  </div>
	</div>
	<!-- HiddenTagModal Modal  -->
	<!-- compareModal  -->
	<div class="modal fade" id="compareBox" role="dialog" data-keyboard="false" data-backdrop="static">
	  <div class="modal-dialog modal-sm">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal">&times;</button>
	        <h4 class="modal-title">Compared Objects</h4>
	      </div>
	      <div class="modal-body">
	        <p></p>
	      </div>
	      <div class="modal-footer">
	        <button type="button" id='btnNavDesign' class="btn btn-default" data-dismiss="modal">Ok</button>
	      </div>
	    </div>
	  </div>
	</div>
	<!-- compareModal  -->
	<!-- Submitting Task Success -->
<div class="modal fade" id="globalTaskSubmit" role="dialog" data-keyboard="false" data-backdrop="static">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Submit Task</h4>
			</div>
			<div class="modal-body">
				<p>Task Submited Successfully</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default globalSubmit" data-dismiss="modal">Ok</button>
			</div>
		</div>
	</div>
</div>
<!-- Submitting Task Success -->	
 <!-- reused Modal  -->
	<div class="modal fade" id="reUsedObjectsModal" role="dialog" data-keyboard="false" data-backdrop="static">
	  <div class="modal-dialog modal-sm">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal">&times;</button>
	        <h4 class="modal-title">Save scraped data</h4>
	      </div>
	      <div class="modal-body">
	        <p></p>
	      </div>
	      <div class="modal-footer">
	        <button type="button" id='saveYes' class="btn btn-default" ng-click="saveScrapedObjects()" >Yes</button>
	        <button type="button" id='saveNo' class="btn btn-default"  ng-click="noSaveScrapedObjects()" data-dismiss="modal">No</button>
	      </div>
	    </div>
	  </div>
	</div>
	<!-- reused Modal -->
	<!-- Save ScrapedObbjects Confirmation Modal  -->
	<div class="modal fade" id="saveConfirmObjects" role="dialog" data-keyboard="false" data-backdrop="static">
	  <div class="modal-dialog modal-sm">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal">&times;</button>
	        <h4 class="modal-title">Save Scraped data</h4>
	      </div>
	      <div class="modal-body">
	        <p></p>
	      </div>
	      <div class="modal-footer">
	        <button type="button" id ='saveElements' class="btn btn-default">Yes</button>
	        <button type="button" id='noSaveElements' class="btn btn-default" data-dismiss="modal">No</button>
	      </div>
	    </div>
	  </div>
	</div>
	<!-- DeleteObjects Modal  -->

	<!-- Compare Object Modal  -->
	<div class="modal fade" id="compareObjectModal" role="dialog" data-keyboard="false" data-backdrop="static">
		<div class="modal-dialog modal-sm" style='width:auto;'>
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" ng-click="removeCompareSelection()" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Compare Objects</h4>
				</div>
				<div class="modal-body" style='height:90px;'>
					<p>
						<span>Select one of the browsers below to compare objects</span>
						<ul class="browserInlineIcons"> 
							<li><a href="#" title="Launch Internet Explorer" ng-click="initScraping($event, 'ie'); $event.preventDefault(); $event.stopPropagation();" class=""><span><img class="inline-ie-img" src="imgs/ic-reports-ie.png" alt="Internet Explorer"></span></a></li>
							<li><a href="#" title="Launch Google Chrome" ng-click="initScraping($event, 'chrome'); $event.preventDefault(); $event.stopPropagation();" class=""><span><img  class="inline-chrome-img" src="imgs/ic-reports-chrome.png" alt="Google Chrome"></span></a></li>
							<li class="safariBrowser" style="display: none;"><a href="#" title="Launch Safari" ng-click="initScraping($event, 'safari'); $event.preventDefault(); $event.stopPropagation();" ><span><img class="inline-safari-img" src="imgs/ic-reports-safari.png" alt="Safari"></span></a></li>
							<li><a href="#" title="Launch Mozilla Firefox" ng-click="initScraping($event, 'mozilla'); $event.preventDefault(); $event.stopPropagation();" class=""><span><img  class="inline-firefox-img" src="imgs/ic-reports-firefox.png" alt="Mozilla Firefox"></span></a></li>
						</ul>
					</p>
				</div>
				<div class="modal-footer">
					<button type="button" ng-click="removeCompareSelection()" class="btn btn-default" data-dismiss="modal">Cancel</button>
				</div>
			</div>
		</div>
	</div>
	<!-- Compare Object Modal  -->

<!--Bootstrap Popup-->
<script id="handlebar-template-testcase" type="text/x-handlebars-template">
	<style>
			body{font-family: 'LatoWeb', sans-serif; height: 98%; margin: 0;}
			.mainContainer{
					float: left;
					padding: 5px;
					width: calc(100% - 12px);
			}
			.leftSummary{width: 50%; float: left; padding: 25px 0 25px 25px; font-size: 14px;}
			.leftSummary label{
					text-align: left;
					float: left;
					width: 29%;
					padding-right: 5px;
					padding-bottom: 5px;
			}
			.leftSummary span{
					float: left;
					width: 64%;
					padding-bottom: 5px;
					font-weight: bold;
			}
			.midContainer{
					border-collapse: collapse;
					border: 1px solid #cfcfcf;
					width: 100%;
					float: left;
					margin: 1% 0;
					font-size: 14px;
			}
			.midContainer td{padding-top: 5px; border: 1px solid #cfcfcf;float: left;}
			.midContainer td label{
					text-align: right;
					float: left;
					width: 35%;
					font-family: 'LatoWeb',sans-serif;
					padding-right: 5px;
					padding-bottom: 5px;
			}
			.reportsDetails{border: 1px solid #cfcfcf;     background-color: #dfd0fa; font-size: 15px;}
			.reportsDetails th:nth-child(1),.rDid{width: 4%;  word-break: break-word; }
			.reportsDetails th:nth-child(2),.rDstep{width: 5%;  word-break: break-word;}
			.reportsDetails th:nth-child(3),.rDstepDes{width: 12%; word-break: break-word; text-align:left}
			.reportsDetails th:nth-child(4),.rDstatus{width: 5%; word-break: break-word; text-align:left}
			.reportsDetails th:nth-child(5),.rDellaps{width: 5.5%; word-break: break-word; text-align:left}
			.reportsDetails th:nth-child(6),.rDcomments{width: 9%; word-break: break-word; text-align:left}
			.reportsDetails th:nth-child(7),.rDremarks{width: 9%; word-break: break-word; text-align:left}
			.reportsDetails th:nth-child(8),.rDActualRes{width: 9%; word-break: break-word; text-align:left}
			.reportsDetails th:nth-child(9),.rDExpectedRes{width: 7%; word-break: break-word; text-align:left}
			.maintabCont{float: left; width: 100%; border: 1px solid #dcdcdc; height: 49%;}
			.tabCont{display: table-cell; border-bottom: 1px solid #ececec; border-right: 1px solid #ececec;word-wrap:break-word}
			.reportsDetail{line-height: 2; text-align: center; height: calc(100% - 35px); overflow: auto;font-size: 14px;}
			.reportsDetail tr { page-break-inside: avoid; }
			.rDstepDes{text-align: left; word-break: break-word;}
			.reportsDetail tr.reportdetailsrow:nth-child(even){background: #f9f9f9;}
			.reportdetailsrow td{padding-top: 9px;}
			@media screen and (max-height: 675px) {
					.reportsDetail{
							height: 174px;
					}
			}
			.reportsDetails th,td
			{
					text-align: left !important;
					padding: 2px;
					width: 10%;
			}
			.pdfReport{
					float:left;
					width: 100%;
					table-layout: table;
			}
			.latobold{
					font-weight: bold;
			}
	</style>
	
	
	<div class="mainContainer">
			{{#each name}}
	
			<div class="leftSummary">
					<h3>Details</h3>
					<label>Testcase</label><span>: {{testcasename}}</span><br/>
			</div>
			{{/each}}
			<div class="maintabCont">
					<table class='pdfReport' style="width: 100%;" >
							<thead class="reportsDetails">
									<tr><th>S. No.</th>
											<th>Object Name</th>
											<th>Keyword</th>
											<th>Input</th>
											<th>Output</th></tr>
							</thead>
							<tbody class="reportsDetail" >
									{{#each rows}}
										<tr style="width: 100%;" class="reportdetailsrow">
											<td>{{stepNo}}</td>
											<td>{{custname}}</td>
											<td>{{keywordVal}}</td>
											<td>{{inputVal}}</td>
											<td>{{outputVal}}</td>
										</tr>                
	
									{{/each}}
							</tbody>
					</table>
	
			</div>
	</div>
	</script>