<!--Header-->
<header header></header>
<!--Header-->

<!--Content Area-->
<section class="container-fluid container-fluid-inner">
	<!--Left Panel-->
	<div id="left-nav-section">
		<div class="scrollbar-macosx">
			<div id="left-top-section">
				<ul>
					<li><span><a class='scrapeOnTxt'>Scrape On</a></span></li>
					<li><a href='#' ng-class="enbledChecked ? 'enableActions' : 'disableActions'" ng-click="initScraping($event, 'ie'); $event.preventDefault(); $event.stopPropagation();"><span><img src='imgs/ic-ie.png' alt='Internet Explorer' /></span>Internet Explorer</a></li>
					<li><a href='#' ng-class="enbledChecked ? 'enableActions' : 'disableActions'" ng-click="initScraping($event, 'chrome'); $event.preventDefault(); $event.stopPropagation();"><span><img src='imgs/ic-chrome.png' alt='Google Chrome' /></span>Google Chrome</a></li>
					<li><a href='#' ng-class="enbledChecked ? 'enableActions' : 'disableActions'" ng-click="initScraping($event, 'mozilla'); $event.preventDefault(); $event.stopPropagation();"><span><img src='imgs/ic-mozilla.png' alt='Mozilla Firefox' /></span>Mozilla Firefox</a></li>
					<li class="last"><span style="margin-bottom:-5px"><input ng-model="enbledChecked" id="enableAppend" type='checkbox' value=""></span><label for="enableAppend">Append</label></li>
				</ul>
			</div>

			<div class='clear-both'></div>

			<div id="left-bottom-section">
				<ul>
					<li><a data-toggle="modal" data-target="#dialog-addObject" href='#'><span><img src='imgs/ic-addobject.png' alt='Add Object' /></span>Add Object</a></li>
					<li><a data-toggle="modal" data-target="#dialog-mapObject" href='#'><span><img src='imgs/ic-mapobject.png' alt='Map Object' /></span>Map Object</a></li>
				</ul>
			</div>
		</div>
	</div>
	<!--Left Panel-->

	<!--Middle Panel-->
	<div id="middle-content-section">
		<!--Task Name-->
		<div id="page-taskName"></div>
		<!--Task Name-->
		
		<!-- Submit Task Button-->
		<button class="btn btn-md pull-right submitTaskBtn" ng-click="submitTasksScreen()">Submit</button>
		<!-- Submit Task Button-->

		<!--Scrape Tree-->
		<div id="finalScrap" class="wrap scrollbar-inner fsScroll"></div>
		<!--Scrape Tree-->
	</div>
	<!--Middle Panel-->

	<!--Right Panel-->
	<div id="right-dependencies-section">
		<!--Images Blocks-->
		<div class="thumbnail thumbnail-custom">
        	<a class="slidePopup">
          		<img class="thumb-ic" src="imgs/ic-screenshot.png" alt="Scrape Screenshot">
          		<div class="caption">
            		<p>Screenshot</p>
          		</div>
        	</a>
			<!--Popup-->
			<div tabindex="0" id="window-scrape-screenshot" class="popupWrap">
				<h4 class="h4-custom closePopup">Screenshot <img class="closePopup pull-right" src="imgs/ic-arrow.png" /></h4>
				<div class="scrollbar-inner scrollbar-screenshot popupContent-screenshot">
					<div class="popupContent">
						Screenshot Content
					</div>
				</div>
			</div>
			<!--Popup-->
      	</div>
		<!--Images Blocks-->

		<!--Images Blocks-->
		<div class="thumbnail thumbnail-custom">
        	<a class="slidePopup">
          		<img class="thumb-ic" src="imgs/ic-filter.png" alt="Filter Objects">
          		<div class="caption">
            		<p>Filter</p>
          		</div>
        	</a>
			<!--Popup-->
			<div tabindex="0" id="window-filter" class="popupWrap popupWrap-filter">
				<h4 class="h4-custom closePopup">Filters <img class="closePopup pull-right" src="imgs/ic-arrow.png" /></h4>
				<div class="popupContent popupContent-filter">
				<div id ='selectAllFilters'><label><input title="Select all" type="checkbox" class="checkStyleboxFilter"><span class='selectAllTxt'>Select all</span></label></div>
					<div><span class='popupContent-default filterObjects' data-tag="button">Button</span></div>
					<div><span class='popupContent-default filterObjects' data-tag="checkbox">Checkbox</span></div>
					<div><span class='popupContent-default filterObjects' data-tag="select">Dropdown</span></div>
					<div><span class='popupContent-default filterObjects' data-tag="img">Image</span></div>
					<div><span class='popupContent-default filterObjects' data-tag="a">Link</span></div>
					<div><span class='popupContent-default filterObjects' data-tag="radiobutton">Radio Button</span></div>
					<div><span class='popupContent-default filterObjects' data-tag="input">Text Box</span></div>
					<div><span class='popupContent-default filterObjects' data-tag="Element">Element</span></div>
					<div><span class='popupContent-default filterObjects' data-tag="list">List</span></div>
					<div><span class='popupContent-default filterObjects' data-tag="table">Table</span></div>
				</div>
			</div>
			<!--Popup-->
      	</div>	
		<!--Images Blocks-->	

		<!--Images Blocks-->
		<div class="thumbnail thumbnail-custom">
        	<a class="slidePopup">
          		<img class="thumb-ic" src="imgs/ic-task.png" alt="Tasks">
          		<div class="caption">
            		<p>Tasks</p>
          		</div>
        	</a>
			<!--Popup-->
			<div tabindex="0" id="window-task" class="popupWrap">
				<h4 class="h4-custom closePopup">My task(s)<img class="closePopup pull-right" src="imgs/ic-arrow.png" /></h4>
				<div class="popupContent popupTasks">
					<div class="scrollbar-inner scrollbar-innerpages">
						<!--Tasks-->
						<div class="panel-group task-content-inner" id="accordion"></div>
						<!--Tasks-->
					</div>
				</div>
			</div>
			<!--Popup-->
      	</div>
		<!--Images Blocks-->

		<!--Images Blocks-->  		
		<div class="thumbnail thumbnail-custom">
        	<a class="slidePopup">
          		<img class="thumb-ic" src="imgs/ic-info.png" alt="Project Info">
          		<div class="caption">
            		<p>Info</p>
          		</div>
        	</a>
			<!--Popup-->
			<div tabindex="0" id="window-pi" class="popupWrap">
				<h4 class="h4-custom closePopup">Information <img class="closePopup pull-right" src="imgs/ic-arrow.png" /></h4>
				<div class="popupContent projectInfoWrap"></div>
			</div>
			<!--Popup-->
      	</div>
		<!--Images Blocks-->

		<!--Images Blocks-->
		<div class="thumbnail thumbnail-custom thumbnail-custom-wiki">
        	<a class="slide_popup slide_assist" href="#">
          		<img class="thumb-ic" src="imgs/ic-assist.png" alt="Assist">
          		<div class="caption">
            		<p>Assist</p>
          		</div>
        	</a>
        	<!--Popup-->
			<div id="assistWindow" class="assistWrap">
				<h4 class="h4-custom h4-custom-assist">
					<span class="assist-left pull-left"> <img
						src="imgs/ic-message.png" />Assist
					</span> <span class="assist-right pull-right"> <img
						src="imgs/ic-up.png" class="animateAssistUp" style="margin-right: 10px" /> <img
						src="imgs/ic-close.png" class="animateAssistClose" />
					</span>
				</h4>
				<div class="assistContent">
					<!-- Chat Container -->
					<div class="chatContainer scrollbar-inner scrollbar-chatArea chatArea">
						<ul class="chatList">
							<li>Choose from the available browser icons from the action bar</li>
							<li>Enter the URL of the AUT (Application under test)</li>
							<li>Click on one of the options available in the Scrape Options
								window</li>
							<li>Identify the required objects</li>
							<li>Rename the objects as per the naming convention</li>
							<li>Click on the save button in the work area</li>
							<li>Click on submit to complete task.</li>
						</ul>
					</div>
			
					<div class="chatContainer">
						<textarea rows="3" cols="" class="chatTextArea form-control"
							placeholder="Ask Prof.J"></textarea>
						<button class="btn btn-md pull-right">Send</button>
					</div>
					<!-- Chat Container -->
				</div>
			</div>
			<!--Popup-->
      	</div>
		<!--Images Blocks-->
	</div>
	<!--Right Panel-->
</section>	
<!--Content Area-->

<!--Footer-->
<footer footer id="footer" class="footer-global"></footer>
<!--Footer-->

<!--Bootstrap Popup-->
	<!-- Add Object -->
	<div id="dialog-addObject" class="modal fade" role="dialog" data-keyboard="false" data-backdrop="static">
		<div class="modal-dialog">
			<!-- Modal content-->
			<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Add Objects</h4>
			</div>
			<div class="modal-body modal-body-add_obj">
				<!--Modal Content-->
				<form class="form-inline">
					<!--Inputs Seprators-->
					<div class="row row-modal">
						<div class="form-group">
							<label>Object Type</label>
							<select class="form-control"><option>Select</option></select>
						</div>
						
						<div class="form-group">
							<label>Object Name</label>
							<input type="text" class="form-control" placeholder="Enter object name">
						</div>

						<img title="delete-row" src="imgs/ic-delete.png" />
					</div>
					<!--Inputs Seprators-->

					<!--Inputs Seprators-->
					<div class="row row-modal">
						<div class="form-group">
							<label>Object Type</label>
							<select class="form-control"><option>Select</option></select>
						</div>

						<div class="form-group">
							<label>Object Name</label>
							<input type="text" class="form-control" placeholder="Enter object name">
						</div>

						<img title="delete-row" src="imgs/ic-delete.png" />
					</div>
					<!--Inputs Seprators-->

					<!--Inputs Seprators-->
					<div class="row row-modal">
						<div class="form-group">
							<label>Object Type</label>
							<select class="form-control"><option>Select</option></select>
						</div>
						
						<div class="form-group">
							<label>Object Name</label>
							<input type="text" class="form-control" placeholder="Enter object name">
						</div>

						<img title="delete-row" src="imgs/ic-delete.png" />
					</div>
					<!--Inputs Seprators-->
				</form>
				<!--Modal Content-->
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default pull-left">Add More</button>
				<button type="button" class="btn btn-default">Submit</button>
				<button type="button" class="btn btn-default">Reset</button>
			</div>
			</div>
		</div>
	</div>
	<!-- Add Object -->

	<!-- Map Object -->
	<div id="dialog-mapObject" class="modal fade" role="dialog" data-keyboard="false" data-backdrop="static">
		<div class="modal-dialog">
			<!-- Modal content-->
			<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Map Objects</h4>
			</div>
			<div class="modal-body">
				<p>Some text in the modal.</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
			</div>
		</div>
	</div>
	<!-- Map Object -->
    <!-- HiddenTagModal  -->
	<div class="modal fade" id="hiddenTagBox" role="dialog" data-keyboard="false" data-backdrop="static">
	  <div class="modal-dialog modal-sm">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal">&times;</button>
	        <h4 class="modal-title">Highlight Error</h4>
	      </div>
	      <div class="modal-body">
	        <p>Cannot highlight as the element is hidden.</p>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Ok</button>
	      </div>
	    </div>
	  </div>
	</div>
	<!-- HiddenTagModal Modal  -->
	<!-- Global Modal  -->
       <div class="modal fade" id="globalModal" role="dialog" data-keyboard="false" data-backdrop="static">
         <div class="modal-dialog modal-sm">
           <div class="modal-content">
             <div class="modal-header">
               <button type="button" class="close" data-dismiss="modal">&times;</button>
               <h4 class="modal-title"></h4>
             </div>
             <div class="modal-body">
               <p></p>
             </div>
             <div class="modal-footer">
               <button type="button" class="btn btn-default" data-dismiss="modal">Ok</button>
             </div>
           </div>
         </div>
       </div>
       <!-- Global Modal  -->
	 <!-- DeleteObjects Modal  -->
	<div class="modal fade" id="deleteObjectsModal" role="dialog" data-keyboard="false" data-backdrop="static">
	  <div class="modal-dialog modal-sm">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal">&times;</button>
	        <h4 class="modal-title">Delete</h4>
	      </div>
	      <div class="modal-body">
	        <p>Are you sure you want to delete objects ?</p>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" ng-click="del_Objects()">Yes</button>
	        <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
	      </div>
	    </div>
	  </div>
	</div>
	<!-- DeleteObjects Modal  -->
	
	<!-- Submitting Task -->
<div class="modal fade" id="submitTasksScreen" role="dialog" data-keyboard="false" data-backdrop="static">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Submit Task</h4>
			</div>
			<div class="modal-body">
				<p>Are you sure you want to submit the task ?</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Yes</button>
				<button type="button" class="btn btn-default" data-dismiss="modal">No</button>
			</div>
		</div>
	</div>
</div>
<!-- Submitting Task -->
<!--Bootstrap Popup-->