<!--Header-->
<header header></header>
<!--Header-->

<!--Content Area-->
<section class="container-fluid container-fluid-inner">
	<!--Left Panel-->
	<div id="left-nav-section">
		<div class="scrollbar-macosx">
			<!-- Web -->
			<div id="left-top-section" ng-if="getScreenView == 'Web'">
				<ul>
					<li><span><a class='scrapeOnTxt'>Debug On</a></span></li>
					<li><a href='#' ng-click="debugTestCase_ICE('3');" title="Debug on Internet Explorer"><span><img src='imgs/ic-ie.png' alt='Internet Explorer' /></span>Internet Explorer</a></li>
					<li><a href='#' ng-click="debugTestCase_ICE('1');" title="Debug on Chrome"><span><img src='imgs/ic-chrome.png' alt='Google Chrome' /></span>Google Chrome</a></li>
					<li><a href='#' ng-click="debugTestCase_ICE('2');" title="Debug on Firefox"><span><img src='imgs/ic-mozilla.png' alt='Mozilla Firefox' /></span>Mozilla Firefox</a></li>
					<li class="last" title="Add Dependent Test Cases"><span style="margin-bottom:-5px"><input id="addDependent" type='checkbox' value=""></span><label class='addDependentTestCase' for="addDependent">Add Dependent Test Cases</label></li>
				</ul>
			</div>
			<!-- Web -->
			
			<!-- DesktopJava -->
			<div id="left-top-section" ng-if="getScreenView == 'DesktopJava'" class="ApptypeScreenView">
				<ul>
					<li><span><a class='scrapeOnTxt'>Debug On</a></span></li>
					<li><a href='#' ng-click="debugTestCase_ICE('1');" title="OEBS Apps"><span><img src='imgs/ic-desktop.png' alt='OEBS Apps' /></span>OEBS Apps</a></li>
					<li class="last" title="Add Dependent Test Cases"><span style="margin-bottom:-5px"><input id="addDependent" type='checkbox' value=""></span><label class='addDependentTestCase' for="addDependent">Add Dependent Test Cases</label></li>
				</ul>
			</div>
			<!-- DesktopJava -->
			
			<!-- Desktop -->
			<div id="left-top-section" ng-if="getScreenView == 'Desktop'" class="ApptypeScreenView">
				<ul>
					<li><span><a class='scrapeOnTxt'>Debug On</a></span></li>
					<li><a href='#' ng-click="debugTestCase_ICE('1');" title="Desktop Apps"><span><img src='imgs/ic-desktop.png' alt='Desktop Apps' /></span>Desktop Apps</a></li>
					<li class="last" title="Add Dependent Test Cases"><span style="margin-bottom:-5px"><input id="addDependent" type='checkbox' value=""></span><label class='addDependentTestCase' for="addDependent">Add Dependent Test Cases</label></li>
				</ul>
			</div>
			<!-- Desktop -->
			
			<!-- SAP -->
			<div id="left-top-section" ng-if="getScreenView == 'SAP'" class="ApptypeScreenView">
				<ul>
					<li><span><a class='scrapeOnTxt'>Debug On</a></span></li>
					<li><a href='#' ng-click="debugTestCase_ICE('1');" title="SAP Apps"><span><img src='imgs/ic-desktop.png' alt='SAP Apps' /></span>SAP Apps</a></li>
					<li class="last" title="Add Dependent Test Cases"><span style="margin-bottom:-5px"><input id="addDependent" type='checkbox' value=""></span><label class='addDependentTestCase' for="addDependent">Add Dependent Test Cases</label></li>
				</ul>
			</div>
			<!-- SAP -->
			
			<!-- Webservice -->
			<div id="left-top-section" ng-if="getScreenView == 'Webservice'" class="ApptypeScreenView">
				<ul>
					<li><span><a class='scrapeOnTxt'>Debug On</a></span></li>
					<li><a href='#' ng-click="debugTestCase_ICE('1');" title="Web Services"><span><img src='imgs/ic-webservice.png' alt='Webservices' /></span>Web Services</a></li>
					<li class="last" title="Add Dependent Test Cases"><span style="margin-bottom:-5px"><input id="addDependent" type='checkbox' value=""></span><label class='addDependentTestCase' for="addDependent">Add Dependent Test Cases</label></li>
				</ul>
			</div>
			<!-- Webservice -->
			
			<!-- Mobility -->
			<div id="left-top-section" ng-if="getScreenView == 'MobileApp'" class="ApptypeScreenView">
				<ul>
					<li><span><a class='scrapeOnTxt'>Debug On</a></span></li>
					<li><a href='#' ng-click="debugTestCase_ICE('1');" title="Android Apps"><span><img src='imgs/ic-mobility.png' alt='Android Apps' /></span>Android Apps</a></li>
					<li class="last" title="Add Dependent Test Cases"><span style="margin-bottom:-5px"><input id="addDependent" type='checkbox' value=""></span><label class='addDependentTestCase' for="addDependent">Add Dependent Test Cases</label></li>
				</ul>
			</div>
			<!-- Mobility -->
			
			<!-- Mobile Web -->
			<div id="left-top-section" ng-if="getScreenView == 'MobileWeb'" class="ApptypeScreenView">
				<ul>
					<li><span><a class='scrapeOnTxt'>Debug On</a></span></li>
					<li><a href='#'  ng-click="debugTestCase_ICE();" title="Android Web"><span><img src='imgs/ic-mobility.png' alt='Android Web' /></span>Android Web</a></li>
					<li class="last"  title="Add Dependent Test Cases"><span style="margin-bottom:-5px"><input id="addDependent" type='checkbox' value=""></span><label class='addDependentTestCase' for="addDependent">Add Dependent Test Cases</label></li>
				</ul>
			</div>
			<!-- Mobile Web -->
			
			<div class='clear-both'></div>
			
			<div id="left-bottom-section">
				<ul>
					<li><a href='#' ng-click="importTestCase()"  title="Import TestCase"><span><img src='imgs/ic-import-script.png' alt='Import TestCase' /></span>Import Test Case</a><input style="visibility: hidden;" type="file" id="importTestCaseFile" accept=".json"></li>
					<li style="visibility: hidden; display: none;"><a href='#' ng-click="importTestCase1()"></a><input style="visibility: hidden;" type="file" id="overWriteJson" accept=".json"></li>
					<li><a href='#' ng-click="exportTestCase()"  title="Export TestCase"><span><img src='imgs/ic-export-script.png' alt='Export TestScript' /></span>Export Test Case</a></li>
				</ul>
			</div>
		</div>
	</div>
	<!--Left Panel-->

	<!--Middle Panel-->
	<div id="middle-content-section">
		<!--Task Name-->
		<div id="page-taskName">
			<span></span>
		</div>
		<!--Task Name-->
		
		<!-- Table Action Buttons -->
		<div id="tableActionButtons">
		<span>
			<img class="btn btn-action" src="imgs/ic-jq-addstep.png" alt="Add Steps" onclick="addTestScriptRow()"  title="Add Test step">
			<img class="btn btn-action" src="imgs/ic-jq-editstep.png" alt="Edit Steps" onclick="editTestCaseRow()"  title="Edit Test step">
			<img class="btn btn-action" src="imgs/ic-jq-dragstep.png" alt="Drag Steps" onclick="rearrangeTestScriptRow()"  title="Drag & Drop Test step">
			<img class="btn btn-action" src="imgs/ic-jq-copystep.png" alt="Copy Steps" onclick="copyTestStep()"  title="Copy Test step">
			<img class="btn btn-action" src="imgs/ic-jq-pastestep.png" alt="Paste Steps" onclick="pasteTestStep()"  title="Paste Test step">
			<img class="btn btn-action" src="imgs/ic-jq-commentstep.png" alt="Comment Steps" onclick="commentStep(event)"  title="Skip Test step">
		</span>
		<span>
			<button class="btn btn-xs btn-xs-custom btn-xs-action" ng-click="updateTestCase_ICE()"  title="Save Test Case">Save</button>
		</span>
		<span>
			<button class="btn btn-xs btn-xs-custom btn-xs-action" onclick="deleteTestScriptRow()"  title="Delete Test step" style="margin-left: 0;">Delete</button>
			<button class="btn btn-md pull-right submitTaskBtn" style="margin-top: 2px" ng-click="submitTasksTestCase()"  title="Submit Task">Submit</button>
		</span>
		</div>
		<!-- Table Action Buttons -->
		<div class="designTableDnd">
			<div class="scrollbar-inner designDataTable">
				<table id="jqGrid" class="designDataTable" cellspacing="0" cellpadding="0"></table>
			</div>
		</div>
		<!-- Table DnD -->
	</div>
	<!--Middle Panel-->

	<!--Right Panel-->
	<div id="right-dependencies-section">
		<!--Images Blocks-->
		<div class="thumbnail thumbnail-custom">
        	<a class="slidePopup"  title="Encryption">
          		<img class="thumb-ic" src="imgs/ic-encryption.png" alt="Encryption">
          		<div class="caption">
            		<p>Encryption</p>
          		</div>
        	</a>
			<!--Popup-->
			<div tabindex="0" id="window-filter" class="popupWrap popupWrap-filter">
				<h4 class="h4-custom closePopup">Encryption <img class="closePopup pull-right" src="imgs/ic-arrow.png" /></h4>
				<div class="popupContent">
					Encryption
				</div>
			</div>
			<!--Popup-->
      	</div>	
		<!--Images Blocks-->
		
		<!--Images Blocks-->
		<div class="thumbnail thumbnail-custom">
        	<a class="slidePopup"  title="Screenshot">
          		<img class="thumb-ic" src="imgs/ic-screenshot.png" alt="Scrape Screenshot">
          		<div class="caption">
            		<p>Screenshot</p>
          		</div>
        	</a>
			<!--Popup-->
			<div tabindex="0" id="window-scrape-screenshotTs" class="popupWrap">
				<h4 class="h4-custom closePopup">Screenshot <img class="closePopup pull-right" src="imgs/ic-arrow.png" /></h4>
				<div class="scrollbar-inner scrollbar-screenshotTs popupContent-screenshot">
                   <div class="popupContent">
                       Screenshot Content
                   </div>
                </div>

			</div>
			<!--Popup-->
      	</div>
		<!--Images Blocks-->	

		<!--Images Blocks-->
		<div class="thumbnail thumbnail-custom">
        	<a class="slidePopup"  title="Tasks">
          		<img class="thumb-ic" src="imgs/ic-task.png" alt="Tasks">
          		<div class="caption">
            		<p>Tasks</p>
          		</div>
        	</a>
			<!--Popup-->
			<div tabindex="0" id="window-task" class="popupWrap">
				<h4 class="h4-custom closePopup">My task(s)<img class="closePopup pull-right" src="imgs/ic-arrow.png" /></h4>
				<div class="popupContent popupTasks">
					<div class="scrollbar-inner scrollbar-innerpages">
						<!--Tasks-->
						<div class="panel-group task-content-inner" id="accordion"></div>
						<!--Tasks-->
					</div>
				</div>
			</div>
			<!--Popup-->
      	</div>
		<!--Images Blocks-->

		<!--Images Blocks-->  		
		<div class="thumbnail thumbnail-custom">
        	<a class="slidePopup"  title="Info">
          		<img class="thumb-ic" src="imgs/ic-info.png" alt="Project Info">
          		<div class="caption">
            		<p>Info</p>
          		</div>
        	</a>
			<!--Popup-->
			<div tabindex="0" id="window-pi" class="popupWrap">
				<h4 class="h4-custom closePopup">Information <img class="closePopup pull-right" src="imgs/ic-arrow.png" /></h4>
				<div class="popupContent projectInfoWrap"></div>
			</div>
			<!--Popup-->
      	</div>
		<!--Images Blocks-->

		<!--Images Blocks-->
		<div class="thumbnail thumbnail-custom thumbnail-custom-wiki">
        	<a class="slide_popup slide_assist" href="#"  title="Assist">
          		<img class="thumb-ic" src="imgs/ic-assist.png" alt="Assist">
          		<div class="caption">
            		<p>Assist</p>
          		</div>
        	</a>
        	<!--Popup-->
			<div id="assistWindow" class="assistWrap">
				<h4 class="h4-custom h4-custom-assist">
					<span class="assist-left pull-left"> <img
						src="imgs/ic-message.png" />Assist
					</span> <span class="assist-right pull-right"> <img
						src="imgs/ic-up.png" class="animateAssistUp" style="margin-right: 10px" /> <img
						src="imgs/ic-close.png" class="animateAssistClose" />
					</span>
				</h4>
				<div class="assistContent">
					<!-- Chat Container -->
					<div class="chatContainer scrollbar-inner scrollbar-chatArea chatArea">
						<ul class="chatList">
							<li>Choose from the available browser icons from the action bar</li>
							<li>Enter the URL of the AUT (Application under test)</li>
							<li>Click on one of the options available in the Scrape Options
								window</li>
							<li>Identify the required objects</li>
							<li>Rename the objects as per the naming convention</li>
							<li>Click on the save button in the work area</li>
							<li>Click on submit to complete task.</li>
						</ul>
					</div>
			
					<div class="chatContainer">
						<textarea rows="3" cols="" class="chatTextArea form-control"
							placeholder="Ask Prof.J"></textarea>
						<button class="btn btn-md pull-right">Send</button>
					</div>
					<!-- Chat Container -->
				</div>
			</div>
			<!--Popup-->
      	</div>
		<!--Images Blocks-->
		
		<!-- Global Modal  -->
       <div class="modal fade" id="globalModal" role="dialog" data-keyboard="false" data-backdrop="static">
         <div class="modal-dialog modal-sm">
           <div class="modal-content">
             <div class="modal-header">
               <button type="button" class="close" data-dismiss="modal">&times;</button>
               <h4 class="modal-title"></h4>
             </div>
             <div class="modal-body">
               <p style="color: black;"></p>
             </div>
             <div class="modal-footer">
               <button type="button" class="btn btn-default" data-dismiss="modal">Ok</button>
             </div>
           </div>
         </div>
       </div>
       <!-- Global Modal  -->
       
        <!-- Global Modal for Yes and No  -->
		<div class="modal fade" id="globalModalYesNo" role="dialog" data-keyboard="false" data-backdrop="static">
		  <div class="modal-dialog modal-sm">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal">&times;</button>
		        <h4 class="modal-title"></h4>
		      </div>
		      <div class="modal-body">
		        <p></p>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default" id="">Yes</button>
		        <button type="button" class="btn btn-default" data-dismiss="modal" >No</button>
		      </div>
		    </div>
		  </div>
		</div>
		<!-- Global Modal for Yes and No  -->
		
		<!-- Global Modal for Input field -->
	<div id="modalDialog-inputField" class="modal fade" role="dialog" data-keyboard="false" data-backdrop="static">
		<div class="modal-dialog modal-sm">
			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title"></h4>
				</div>
				<div class="modal-body">
					<!--Modal Content-->
					<form class="form-inline">
						<!--Inputs Seprators-->
						<div class="row row-modal">
							<!-- <div class="form-group">
								<label>Object Type</label>
								<select class="form-control"><option>Select</option></select>
							</div> -->						
							<div class="form-group" style="width: 100% !important;">
								<label id="labelContent" style="margin-bottom: 0px;"></label>
								<input type="text" class="form-control" id="getInputData" placeholder="Enter object name">
							</div>
							<div>
								<span id="errorMsgs1" class="errorMsg" style="display: none;"></span>
								<span id="errorMsgs2" class="errorMsg" style="display: none;"></span>
								<span id="errorMsgs3" class="errorMsg" style="display: none;"></span>
							</div>
						</div>
						<!--Inputs Seprators-->
					</form>
					<!--Modal Content-->
				</div>
				<div class="modal-footer">
					<!-- <button type="button" class="btn btn-default pull-left">Add More</button> -->
					<button type="button" class="btn btn-default" id="">Submit</button>
					<!-- <button type="button" class="btn btn-default">Reset</button> -->
				</div>
			</div>
		</div>
	</div>
	<!-- Global Modal for Input field -->
	
	<!-- Remarks Modal popup -->
	<div id="modalDialogRemarks" class="modal fade" role="dialog" data-keyboard="false" data-backdrop="static">
		<div class="modal-dialog modal-sm">
			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title"></h4>
				</div>
				<div class="modal-body">
					<!--Modal Content-->
					<form class="form-inline">
						<!--Inputs Seprators-->
						<div class="row row-modal">					
							<div class="form-group" style="width: 100% !important;">
								<label id="labelContent" style="margin-bottom: 0px; color: black;"></label>
								<textarea class="form-control" id="getremarksData"></textarea>
							</div>
						</div>
						<!--Inputs Seprators-->
					</form>
					<!--Modal Content-->
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" id="">Submit</button>
				</div>
			</div>
		</div>
	</div>
	<!-- Remarks Modal popup -->
	</div>
	<!--Right Panel-->
</section>	
<!--Content Area-->

<!--Footer-->
<footer footer id="footer" class="footer-global"></footer>
<!--Footer-->

<!-- Submitting Task -->
<div class="modal fade" id="submitTasksTestCase" role="dialog" data-keyboard="false" data-backdrop="static">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Submit Task</h4>
			</div>
			<div class="modal-body">
				<p>Are you sure you want to submit the task ?</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal" onclick="submit_task()">Yes</button>
				<button type="button" class="btn btn-default" data-dismiss="modal">No</button>
			</div>
		</div>
	</div>
</div>
<!-- Submitting Task -->

	<!-- Add Dependent Test Cases -->
	<div id="dialog-addDependentTestCase" class="modal fade" role="dialog" data-keyboard="false" data-backdrop="static">
		<div class="modal-dialog" class=''style="width: 500px">
			<!-- Modal content-->
			<div class="modal-content positioningModal">
			<div class="modal-header positioningModal">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Select Dependent Test Cases</h4>
			</div>
			<div class="modal-body modal-dependentTC positioningModal">
				<span class='errTestCase hide'>Please Select Dependent Test Case</span>
				<!-- Bind Test Cases -->
					<div id="dependentTestCasesContent" class="scrollbar-inner dependentTC"></div>
				<!-- Bind Test Cases -->
			</div>
			<div class="modal-footer positioningModal">
				<button ng-click="" type="button" id="debugOn" class="btn btn-default">Save Dependent Test Cases</button>
			</div>
			</div>
		</div>
	</div>
	<!-- Add Dependent Test Cases -->
