<!--Header-->
<header header></header>
<!--Header-->

<!--Content Area-->
<section class="container-fluid container-fluid-inner">
	<!--Left Panel-->
	<div id="left-nav-section">
		<div class="scrollbar-macosx">
			<div id="left-top-section">
				<ul>
					<li><span><a class='scrapeOnTxt' href='#'>Scrape On</a></span></li>
					<li><a href='#' ng-click="initScraping('1'); $event.preventDefault(); $event.stopPropagation();"><span><img src='imgs/ic-ie.png' alt='Internet Explorer' /></span>Internet Explorer</a></li>
					<li><a href='#' ng-click="initScraping('2'); $event.preventDefault(); $event.stopPropagation();"><span><img src='imgs/ic-chrome.png' alt='Google Chrome' /></span>Google Chrome</a></li>
					<li><a href='#' ng-click="initScraping('3'); $event.preventDefault(); $event.stopPropagation();"><span><img src='imgs/ic-mozilla.png' alt='Mozilla Firefox' /></span>Mozilla Firefox</a></li>
					<li class="last"><span style="margin-bottom:-5px"><input ng-model="enbledChecked" id="enableAppend" type='checkbox' value=""></span><label for="enableAppend">Append</label></li>
				</ul>
			</div>

			<div class='clear-both'></div>

			<div id="left-bottom-section">
				<ul>
					<li><a data-toggle="modal" data-target="#dialog-addObject" href='#'><span><img src='imgs/ic-addobject.png' alt='Add Object' /></span>Add Object</a></li>
					<li><a data-toggle="modal" data-target="#dialog-mapObject" href='#'><span><img src='imgs/ic-mapobject.png' alt='Map Object' /></span>Map Object</a></li>
				</ul>
			</div>
		</div>
	</div>
	<!--Left Panel-->

	<!--Middle Panel-->
	<div id="middle-content-section">
		<!--Task Name-->
		<div id="page-taskName">
			<span>AHRI-Identify objects related to login location screen</span>	
		</div>
		<!--Task Name-->

		<!--Scrape Tree-->
		<div id="finalScrap" class="wrap"></div>
		<!--Scrape Tree-->
	</div>
	<!--Middle Panel-->

	<!--Right Panel-->
	<div id="right-dependencies-section">
		<!--Images Blocks-->
		<div class="thumbnail thumbnail-custom">
        	<a class="slidePopup">
          		<img class="thumb-ic" src="imgs/ic-screenshot.png" alt="Scrape Screenshot">
          		<div class="caption">
            		<p>Screenshot</p>
          		</div>
        	</a>
			<!--Popup-->
			<div tabindex="0" id="window-scrape-screenshot" class="popupWrap">
				<h4 class="h4-custom closePopup">Screenshot <img class="closePopup pull-right" src="imgs/ic-arrow.png" /></h4>
				<div class="popupContent">
					Screenshot Content
				</div>
			</div>
			<!--Popup-->
      	</div>
		<!--Images Blocks-->

		<!--Images Blocks-->
		<div class="thumbnail thumbnail-custom">
        	<a class="slidePopup">
          		<img class="thumb-ic" src="imgs/ic-filter.png" alt="Filter Objects">
          		<div class="caption">
            		<p>Filter</p>
          		</div>
        	</a>
			<!--Popup-->
			<div tabindex="0" id="window-filter" class="popupWrap popupWrap-filter">
				<h4 class="h4-custom closePopup">Filter <img class="closePopup pull-right" src="imgs/ic-arrow.png" /></h4>
				<div class="popupContent popupContent-filter">
				<div id ='selectAllFilters'><label><input title="Select all" type="checkbox" class="checkStyleboxFilter"><span class='selectAllTxt'>Select all</span></label></div>
					<div><span class='popupContent-default'>Button</span></div>
					<div><span class='popupContent-default'>Checkbox</span></div>
					<div><span class='popupContent-default'>Dropdown</span></div>
					<div><span class='popupContent-default'>Image</span></div>
					<div><span class='popupContent-default'>Link</span></div>
					<div><span class='popupContent-default'>Radio Button</span></div>
					<div><span class='popupContent-default'>Text Box</span></div>
					<div><span class='popupContent-default'>Element</span></div>
				</div>
			</div>
			<!--Popup-->
      	</div>	
		<!--Images Blocks-->	

		<!--Images Blocks-->
		<div class="thumbnail thumbnail-custom">
        	<a class="slidePopup">
          		<img class="thumb-ic" src="imgs/ic-task.png" alt="Tasks">
          		<div class="caption">
            		<p>Your Tasks</p>
          		</div>
        	</a>
			<!--Popup-->
			<div tabindex="0" id="window-task" class="popupWrap">
				<h4 class="h4-custom closePopup">Tasks <img class="closePopup pull-right" src="imgs/ic-arrow.png" /></h4>
				<div class="popupContent popupTasks">
					<div class="scrollbar-inner scrollbar-innerpages">
						<!--Tasks-->
						<div class="panel-group task-content-inner" id="accordion"></div>
						<!--Tasks-->
					</div>
				</div>
			</div>
			<!--Popup-->
      	</div>
		<!--Images Blocks-->

		<!--Images Blocks-->  		
		<div class="thumbnail thumbnail-custom">
        	<a class="slidePopup">
          		<img class="thumb-ic" src="imgs/ic-info.png" alt="Project Info">
          		<div class="caption">
            		<p>Info</p>
          		</div>
        	</a>
			<!--Popup-->
			<div tabindex="0" id="window-pi" class="popupWrap">
				<h4 class="h4-custom closePopup">Project Information <img class="closePopup pull-right" src="imgs/ic-arrow.png" /></h4>
				<div class="popupContent">
					<p class="proj-info-wrap">
						<span class="content-label">Project :</span>
						<span class="content">AHRI Implementation</span>
					</p>
					<p class="proj-info-wrap">
						<span class="content-label">Module :</span>
						<span class="content">AHRI Implementation_Module_1</span>
					</p>
					<p class="proj-info-wrap">
						<span class="content-label">Screen :</span>
						<span class="content">AHRI Implementation_Screen_1</span>
					</p>
				</div>
			</div>
			<!--Popup-->
      	</div>
		<!--Images Blocks-->

		<!--Images Blocks-->
		<div class="thumbnail thumbnail-custom thumbnail-custom-wiki">
        	<a class="slide_popup" href="#">
          		<img class="thumb-ic" src="imgs/ic-wiki.png" alt="Project Info">
          		<div class="caption">
            		<p>Wiki</p>
          		</div>
        	</a>
      	</div>
		<!--Images Blocks-->
	</div>
	<!--Right Panel-->
</section>	
<!--Content Area-->

<!--Footer-->
<footer footer id="footer" class="footer-global"></footer>
<!--Footer-->

<!--Bootstrap Popup-->
	<!-- Add Object -->
	<div id="dialog-addObject" class="modal fade" role="dialog" data-keyboard="false" data-backdrop="static">
		<div class="modal-dialog">
			<!-- Modal content-->
			<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Add Objects</h4>
			</div>
			<div class="modal-body modal-body-add_obj">
				<!--Modal Content-->
				<form class="form-inline">
					<!--Inputs Seprators-->
					<div class="row row-modal">
						<div class="form-group">
							<label>Object Type</label>
							<select class="form-control"><option>Select</option></select>
						</div>
						
						<div class="form-group">
							<label>Object Name</label>
							<input type="text" class="form-control" placeholder="Enter object name">
						</div>

						<img title="delete-row" src="imgs/ic-delete.png" />
					</div>
					<!--Inputs Seprators-->

					<!--Inputs Seprators-->
					<div class="row row-modal">
						<div class="form-group">
							<label>Object Type</label>
							<select class="form-control"><option>Select</option></select>
						</div>

						<div class="form-group">
							<label>Object Name</label>
							<input type="text" class="form-control" placeholder="Enter object name">
						</div>

						<img title="delete-row" src="imgs/ic-delete.png" />
					</div>
					<!--Inputs Seprators-->

					<!--Inputs Seprators-->
					<div class="row row-modal">
						<div class="form-group">
							<label>Object Type</label>
							<select class="form-control"><option>Select</option></select>
						</div>
						
						<div class="form-group">
							<label>Object Name</label>
							<input type="text" class="form-control" placeholder="Enter object name">
						</div>

						<img title="delete-row" src="imgs/ic-delete.png" />
					</div>
					<!--Inputs Seprators-->
				</form>
				<!--Modal Content-->
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default pull-left">Add More</button>
				<button type="button" class="btn btn-default">Submit</button>
				<button type="button" class="btn btn-default">Reset</button>
			</div>
			</div>
		</div>
	</div>
	<!-- Add Object -->

	<!-- Map Object -->
	<div id="dialog-mapObject" class="modal fade" role="dialog" data-keyboard="false" data-backdrop="static">
		<div class="modal-dialog">
			<!-- Modal content-->
			<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Map Objects</h4>
			</div>
			<div class="modal-body">
				<p>Some text in the modal.</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
			</div>
		</div>
	</div>
	<!-- Map Object -->
<!--Bootstrap Popup-->