<!--Header-->
<header header></header>
<!--Header-->

<!--Content Area-->
<section class="container-fluid container-fluid-inner">
	<!--Left Panel-->
	<div id="left-nav-section">
		<div class="scrollbar-macosx">
			<div id="left-top-section">
				<ul>
					<li><span><a class='scrapeOnTxt'>Execute On</a></span></li>
					<li><a class="selectBrowser" data-name="3"><span><img src='imgs/ic-ie.png' alt='Internet Explorer' /></span>Internet Explorer</a></li>
					<li><a class="selectBrowser" data-name="1"><span><img src='imgs/ic-chrome.png' alt='Google Chrome' /></span>Google Chrome</a></li>
					<li style="margin-bottom: 30px"><a class="selectBrowser" data-name="2"><span><img src='imgs/ic-mozilla.png' alt='Mozilla Firefox' /></span>Mozilla Firefox</a></li>
				</ul>
			</div>

			<div class='clear-both'></div>

			<div id="left-bottom-section" class="lbs-single">
				<ul>
					<li><a href='/scheduling'><span><img src='imgs/ic-scheduling.png' alt='Scheduling' /></span>Schedule</a></li>
				</ul>
			</div>
		</div>
	</div>
	<!--Left Panel-->

	<!--Middle Panel-->
	<div id="middle-content-section">
		<!--Task Name-->
		<div id="page-taskName">
			<span>AHRI-Identify objects related to login location screen</span>	
		</div>
		<!--Task Name-->
		
		<!--Page Contents-->
		<div id="pageContent">
			<!-- Table Buttons -->
			<div id="tableActionButtons">
				<button class="btn btn-xs btn-xs-custom" ng-click="updateTestSuite()">Save</button>
				<button class="btn btn-xs btn-xs-custom">Configure</button>
				<button class="btn btn-md pull-right executeBtn" ng-click="ExecuteTestSuite()">Execute</button>
				<button disabled class="btn btn-md pull-right scheduleBtn" style="margin-right:10px">Schedule</button>
			</div>
			<!-- Table Buttons -->
			
			<!-- Table DnD -->
			<div class="executionTableDnd">
				<div class="scrollbar-inner exeDataTable">
					<table id="executionDataTable" class="executionDataTable" cellspacing="0" cellpadding="0">
						<thead>
							<tr>
								<th style="width: 4%" id="contextmenu"></th>
								<th style="width: 3%; padding: 5px 0px"><i class="fa fa-ban" title="Do Not Execute" aria-hidden="true" style="font-size: 14px;"></i><input id='parentExecute' class="d-execute" type="checkbox" /></th>
								<th style="width: 25%; text-align:left; border-right: 1px solid #fff;">Scenario Name</th>
		  						<th style="width: 22%; border-right: 1px solid #fff">Data Parameterization</th>
								<th style="width: 15%; border-right: 1px solid #fff">Condition</th>
								<th style="width: 23%; border-right: 1px solid #fff">Project Name</th>
								<th style="width: 8%; text-align: center;">ALM</th>
							</tr>
						</thead>
						<tbody></tbody>
					</table>
				</div>
			</div>
			<!-- Table DnD -->
		</div>
		<!--Page Contents-->
	</div>
	<!--Middle Panel-->

	<!--Right Panel-->
	<div id="right-dependencies-section">
		<!--Images Blocks-->
		<div class="thumbnail thumbnail-custom">
        	<a class="slidePopup">
          		<img class="thumb-ic" src="imgs/ic-task.png" alt="Tasks">
          		<div class="caption">
            		<p>Tasks</p>
          		</div>
        	</a>
			<!--Popup-->
			<div tabindex="0" id="window-task" class="popupWrap">
				<h4 class="h4-custom closePopup">My task(s)<img class="closePopup pull-right" src="imgs/ic-arrow.png" /></h4>
				<div class="popupContent popupTasks">
					<div class="scrollbar-inner scrollbar-innerpages">
						<!--Tasks-->
						<div class="panel-group task-content-inner" id="accordion"></div>
						<!--Tasks-->
					</div>
				</div>
			</div>
			<!--Popup-->
      	</div>
		<!--Images Blocks-->

		<!--Images Blocks-->  		
		<div class="thumbnail thumbnail-custom">
        	<a class="slidePopup">
          		<img class="thumb-ic" src="imgs/ic-info.png" alt="Project Info">
          		<div class="caption">
            		<p>Info</p>
          		</div>
        	</a>
			<!--Popup-->
			<div tabindex="0" id="window-pi" class="popupWrap">
				<h4 class="h4-custom closePopup">Project Information <img class="closePopup pull-right" src="imgs/ic-arrow.png" /></h4>
				<div class="popupContent projectInfoWrap"></div>
			</div>
			<!--Popup-->
      	</div>
		<!--Images Blocks-->

		<!--Images Blocks-->
		<div class="thumbnail thumbnail-custom thumbnail-custom-wiki">
        	<a class="slide_popup" href="#">
          		<img class="thumb-ic" src="imgs/ic-wiki.png" alt="Project Info">
          		<div class="caption">
            		<p>Wiki</p>
          		</div>
        	</a>
      	</div>
		<!--Images Blocks-->
	</div>
	<!--Right Panel-->
</section>	
<!--Content Area-->

<!--Footer-->
<footer footer id="footer" class="footer-global"></footer>
<!--Footer-->

<!-- Save TestSuite -->
<div class="modal fade" id="saveSuitesModal" role="dialog" data-keyboard="false" data-backdrop="static">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Save Test Suite</h4>
			</div>
			<div class="modal-body">
				<p>Test suite save successfully.</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Ok</button>
			</div>
		</div>
	</div>
</div>
<!-- Save TestSuite -->

<!-- Select Browser for Execution -->
<div class="modal fade" id="selectBrowserAlert" role="dialog" data-keyboard="false" data-backdrop="static">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Execute Test Suite</h4>
			</div>
			<div class="modal-body">
				<p>Please select a browser</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Ok</button>
			</div>
		</div>
	</div>
</div>
<!-- Select Browser for Execution -->

<!-- Select Scenario for Execution -->
<div class="modal fade" id="selectScenarioAlert" role="dialog" data-keyboard="false" data-backdrop="static">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Execute Test Suite</h4>
			</div>
			<div class="modal-body">
				<p>Please select atleast one scenario(s) to execute</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Ok</button>
			</div>
		</div>
	</div>
</div>
<!-- Select Scenario for Execution -->

<!-- Execution Done -->
<div class="modal fade" id="executionCompleted" role="dialog" data-keyboard="false" data-backdrop="static">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Execute Test Suite</h4>
			</div>
			<div class="modal-body">
				<p>Execution completed successfully. <br /> Go to <a href="#">Reports</a></p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Ok</button>
			</div>
		</div>
	</div>
</div>
<!-- Execution Done -->