<!--Header-->
<header header></header>
<!--Header-->

<!--Content Area-->
<section class="container-fluid container-fluid-inner">
	<!--Left Panel-->
	<div id="left-nav-section">
		<div class="scrollbar-macosx">
			<div id="left-top-section" ng-if="getScreenView == 'Web' || getScreenView == 'Desktop' || getScreenView == 'MobileApp' || getScreenView == 'Webservice' || getScreenView == 'DesktopJava' || getScreenView == 'MobileWeb'">
				<ul>
					<li><span><a class='scrapeOnTxt'>Execute On</a></span></li>
					<li><a class="selectBrowser" data-name="3"  title="Execute on IE"><span><img src='imgs/ic-ie.png' alt='Internet Explorer' /></span>Internet Explorer</a></li>
					<li><a class="selectBrowser" data-name="1"  title="Execute on Chrome"><span><img src='imgs/ic-chrome.png' alt='Google Chrome' /></span>Google Chrome</a></li>
					<li class="safariBrowser" style="display: none;"><a class="selectBrowser" data-name="6"  title="Execute on Safari"><span><img src='imgs/ic-safari.png' alt='Safari' /></span>Safari</a></li>
					<li style="margin-bottom: 30px"><a class="selectBrowser" data-name="2"  title="Execute on Mozilla Firefox"><span><img src='imgs/ic-mozilla.png' alt='Mozilla Firefox' /></span>Mozilla Firefox</a></li>
				</ul>
			</div>
			
			<div id="left-top-section" ng-if="getScreenView == 'SAP'" class="ApptypeScreenView">
				<ul>
					<li><span><a class='scrapeOnTxt'>Execute On</a></span></li>
					<li><a class="selectBrowser" data-name="1"  title="Execute on SAP Apps"><span><img src='imgs/ic-desktop.png' alt='SAP Apps' /></span>SAP Apps</a></li>
				</ul>
			</div>

			<!-- Mainframe -->
			<div id="left-top-section" ng-if="getScreenView == 'Mainframe'" class="ApptypeScreenView">
				<ul>
					<li><span><a class='scrapeOnTxt'>Execute On</a></span></li>
					<li><a class="selectBrowser" data-name="1"  title="Execute Mainframe"><span><img src='imgs/ic-mainframe.png' alt='Mainframe' style="background-color: white; border-radius: 7px;"/></span>Mainframe</a></li>
				</ul>
			</div>

			<div class='clear-both'></div>

			<div id="left-bottom-section" class="lbs-single">
				<ul>
					<li><a href='#' onclick="p_redirect('scheduling')" title="Scheduling"><span><img src='imgs/ic-scheduling.png' alt='Scheduling' /></span>Schedule</a></li>
				</ul>
			</div>
		</div>
	</div>
	<!--Left Panel-->

	<!--Middle Panel-->
	<div id="middle-content-section" class='oveflowMisdSection'>
		<!--Task Name-->
		<div id="page-taskName">
			<span>Execution</span>	
		</div>
		<!--Task Name-->
		
		<!--Page Contents-->
		<div id="pageContent">
			<!-- Table Buttons -->
			<div id="tableActionButtons">
				<div><span class='parentBatchContainer'><input title='Select Batch' type='checkbox' class='checkStylebox checkParentBatch' /><span class='parentObject'>Select Batch</span></span></div>
				<button id="excSaveBtn" class="btn btn-xs btn-xs-custom btnPanel" ng-click="updateTestSuite()"  title="Save">Save</button>
				<button disabled class="btn btn-xs btn-xs-custom btnPanel"  title="Configure">Configure</button>
				<button class="btn btn-xs btn-xs-custom btnPanel" id='syncScenario' title='Sync Test Scenario' disabled><!--<img src='../imgs/ic-alm.png'/>-->ALM</button>
				<button class="btn btn-md pull-right submitTaskBtn" ng-click="submitTaskExecution()"  title="Submit Task">Submit</button>
				<button class="btn btn-md pull-right reassignTaskBtn" style="display:None" ng-click="submitTaskExecution('reassign')"  title="Reassign Task">Reassign</button>
				<button class="btn btn-md pull-right executeBtn" style="margin-right:10px" ng-click="ExecuteTestSuite()"  title="Execute">Execute</button>
				<!--<button disabled class="btn btn-md pull-right scheduleBtn" style="margin-right:10px"  title="Schedule">Schedule</button>-->
			</div>
			<!-- Table Buttons -->
			
			<!-- Table DnD -->
		 <div class='scrollbar-inner batchSuites'>
			<div class="executionTableDnd">
				<!--<div class="scrollbar-inner exeDataTable">
					<table id="executionDataTable" class="executionDataTable" cellspacing="0" cellpadding="0">
						<thead>
							<tr>
								<th style="width: 4%" id="contextmenu"></th>
								<th style="width: 3%; padding: 5px 0px"><i class="fa fa-ban" title="Do Not Execute" aria-hidden="true" style="font-size: 14px;"></i><input id='parentExecute' class="d-execute" type="checkbox" /></th>
								<th style="width: 25%; text-align:left; border-right: 1px solid #fff;">Scenario Name</th>
		  						<th style="width: 22%; border-right: 1px solid #fff">Data Parameterization</th>
								<th style="width: 15%; border-right: 1px solid #fff">Condition</th>
								<th style="width: 23%; border-right: 1px solid #fff">Project Name</th>
								<th style="width: 8%; text-align: center;">ALM</th>
							</tr>
						</thead>
						<tbody></tbody>
					</table>
				</div>-->
			</div>
	   </div>
			<!-- Table DnD -->
		</div>
		<!--Page Contents-->
	</div>
	<!--Middle Panel-->

	<!--Right Panel-->
	<div id="right-dependencies-section">
		<!--Images Blocks-->
		<div class="thumbnail thumbnail-custom">
        	<a class="slidePopup"  title="Tasks">
          		<img class="thumb-ic" src="imgs/ic-task.png" alt="Tasks">
          		<div class="caption">
            		<p>Tasks</p>
          		</div>
        	</a>
			<!--Popup-->
			<div tabindex="0" id="window-task" class="popupWrap">
				<h4 class="h4-custom closePopup">My task(s)<img class="closePopup pull-right" src="imgs/ic-arrow.png" /></h4>
				<div class="input-group">
						<span class="input-group-addon inputMyTask" id="basic-addon1"><img src="imgs/ic-search-icon.png"></span>
						<input type="text" class="form-control searchInputMyTask" placeholder="Search My task(s)" aria-describedby="basic-addon1">
				</div>
				<div class="popupContent popupTasks">
					<div class="scrollbar-inner scrollbar-innerpages">
						<!--Tasks-->
						<div class="panel-group task-content-inner" id="accordion"></div>
						<!--Tasks-->
					</div>
				</div>
			</div>
			<!--Popup-->
      	</div>
		<!--Images Blocks-->

		<!--Images Blocks-->  		
		<div class="thumbnail thumbnail-custom">
        	<a class="slidePopup"  title="Info">
          		<img class="thumb-ic" src="imgs/ic-info.png" alt="Project Info">
          		<div class="caption">
            		<p>Info</p>
          		</div>
        	</a>
			<!--Popup-->
			<div tabindex="0" id="window-pi" class="popupWrap">
				<h4 class="h4-custom closePopup">Information <img class="closePopup pull-right" src="imgs/ic-arrow.png" /></h4>
				<div class="popupContent projectInfoWrap"></div>
			</div>
			<!--Popup-->
      	</div>
		<!--Images Blocks-->

	  <!--Images Blocks-->
      <chatbot chatbot></chatbot>
      <!--Images Blocks-->
	</div>
	<!--Right Panel-->
</section>	
<!--Content Area-->

<!--Footer-->
<footer footer id="footer" class="footer-global"></footer>
<!--Footer-->

<!-- Global Popup -->
<div class="modal fade" id="executeGlobalModal" role="dialog" data-keyboard="false" data-backdrop="static">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title"></h4>
			</div>
			<div class="modal-body">
				<p></p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default btn-accept" data-dismiss="modal">Ok</button>
			</div>
		</div>
	</div>
</div>
<!-- Global Popup -->

<!-- Execution Done -->
<div class="modal fade" id="executionCompleted" role="dialog" data-keyboard="false" data-backdrop="static">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Execute Test Suite</h4>
			</div>
			<div class="modal-body">
				<p>Execution completed successfully. <br /> Go to <a style="color: #643693; font-family: 'LatoWebHeavy'" href="#" onclick="p_redirect('p_Reports')">Reports</a></p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Ok</button>
			</div>
		</div>
	</div>
</div>
<!-- Execution Done -->

<!-- Execution Terminated -->
<div class="modal fade" id="executionTerminated" role="dialog" data-keyboard="false" data-backdrop="static">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Execute Test Suite</h4>
			</div>
			<div class="modal-body">
				<p>Execution terminated - By User/Program <br /> Go to <a style="color: #643693; font-family: 'LatoWebHeavy'" href="#" onclick="p_redirect('p_Reports')">Reports</a></p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Ok</button>
			</div>
		</div>
	</div>
</div>
<!-- Execution Terminated -->

<!-- Submitting Task -->
<div class="modal fade" id="submitTasksExecution" role="dialog" data-keyboard="false" data-backdrop="static">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Submit Task</h4>
			</div>
			<div class="modal-body">
				<p>Are you sure you want to submit the task ?</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default btn-default-yes" onclick="submit_task()"  data-dismiss="modal">Yes</button>
				<button type="button" class="btn btn-default" data-dismiss="modal">No</button>
			</div>
		</div>
	</div>
</div>
<!-- Submitting Task -->

<!-- Submitting Task Success -->
<div class="modal fade" id="globalTaskSubmit" role="dialog" data-keyboard="false" data-backdrop="static">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Submit Task</h4>
			</div>
			<div class="modal-body">
				<p>Task Submited Successfully</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default globalSubmit" data-dismiss="modal">Ok</button>
			</div>
		</div>
	</div>
</div>
<!-- Submitting Task Success -->

<!-- Location Details -->
<div class="modal fade" id="modalScenarioDetails" role="dialog" data-keyboard="false" data-backdrop="static">
	<div class="modal-dialog modal-md modalScenarioDetails">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title"></h4>
			</div>
			<div class="modal-body">
				<!-- Heading Part -->
				<div class="scenarioDetails scenarioDetailsHeading">
					<div class="sDInnerContents">Test Case Name</div>
					<div class="sDInnerContents">Screen Name</div>
					<div class="sDInnerContents">Project Name</div>
				</div>
				<!-- Heading Part -->
				
				<!-- Content Area -->
				<div id="scenarioDetailsContent" class="scenarioDetails scenarioDetailsContent scrollbar-inner"></div>
				<!-- Content Area -->
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Ok</button>
			</div>
		</div>
	</div>
</div>
<!-- Location Details -->

<!-- Location Suite Details -->
<div class="modal fade" id="modalSuiteDetails" role="dialog" data-keyboard="false" data-backdrop="static">
	<div class="modal-dialog modal-md modalScenarioDetails" style="width: 530px;">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title"></h4>
			</div>
			<div class="modal-body">
				<!-- Heading Part -->
				<div class="scenarioDetails scenarioDetailsHeading">
					<div class="sDInnerContents" style="width: 50%;">Scenario Name</div>
					<div class="sDInnerContents" style="width: 50%;">Project Name</div>
				</div>
				<!-- Heading Part -->
				
				<!-- Content Area -->
				<div id="suiteDetailsContent" class="scenarioDetails scenarioDetailsContent scrollbar-inner"></div>
				<!-- Content Area -->
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Ok</button>
			</div>
		</div>
	</div>
</div>
<!-- Location Suite Details -->

<!-- ALM Window -->
<div class="modal fade" id="ALMSyncWindow" role="dialog" data-keyboard="false" data-backdrop="static">
	<div class="modal-dialog modal-md" style="width:700px">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">ALM</h4>
			</div>
			<div class="modal-body">
				<div class="popupWrapRow">
				<!-- Top -->
				<div class="textFieldsContainer">
					<p>
						<input type="text" class="form-control form-control-custom" placeholder="Enter ALM Url" ng-model="almURL" id="almURL" />
					</p>
					<p class="halfWrap" style="margin-right: 3%">
						<input type="text" class="form-control form-control-custom" placeholder="Enter User Name" ng-model="almUserName" id="almUserName" />
					</p>
					<p class="halfWrap">
						<input type="password" class="form-control form-control-custom" placeholder="Enter Password" ng-model="almPassword" id="almPassword" />
					</p>
					<p align="right">
						<span class="error-msg-exeQc"></span>
						<button type="button" class="btn btn-default btn-default-modal almQclogin" ng-click="saveQcCredentials()">Save</button>
					</p>
				</div>
				<!-- Top -->
				
				<!-- Bottom -->
				<!--<div class="textFieldsContainer">
					<p class="halfWrap" style="margin-right: 3%">
						<input type="text" class="form-control form-control-custom" placeholder="Enter Domain Name" ng-model="almDomainName" id="almDomainName" />
					</p>
					<p class="halfWrap">
						<input type="password" class="form-control form-control-custom" placeholder="Enter Project Name" ng-model="almProjectName" id="almProjectName" />
					</p>
					<p class="halfWrap" style="margin-right: 3%">
						<input type="text" class="form-control form-control-custom" placeholder="Enter Testset Name" ng-model="almTestSetName" id="almTestSetName" />
					</p>
					<p class="halfWrap">
						<input type="password" class="form-control form-control-custom" placeholder="Enter Testcase Name" ng-model="almTestCaseName" id="almTestCaseName" />
					</p>
					<p>
						<input type="text" class="form-control form-control-custom" placeholder="Enter Folder Name" ng-model="almFolderPath" id="almFolderPath" />
					</p>
					<p align="right">
						<span class="error-msg-abs error-msg-abs2" ng-show="errorMessage3">{{errorMessage3}}</span>
						<button type="button" class="btn btn-default btn-default-modal" ng-click="saveQcScenarioDetails()">Save</button>
					</p>
				</div>-->
				<!-- Bottom -->
				</div>
			</div>
		</div>
	</div>
</div>
<!-- ALM Window -->