<!--Header-->
<header header></header>
<!--Header-->

<!--Content Area-->
<section class="container-fluid container-fluid-inner" id="main-content-section">

	<!--Left Panel-->

	<div class="ct-side fl-left" id="ct-lSide">
	<div id="left-nav-section" style='z-index:999;' class='left-sec-mindmap lsSlide'>
		<div class="scrollbar-macosx">
			<div id="left-top-section" ng-if="ComplexityScreenView == true" class="ComplexityScreenView">
				<ul>
					<li><span><a class='openFileintxt'>Open File</a></span></li>
					<li><a href='#'  title="Notepad++"  data-toggle="modal" ng-click="openFileInEditor($event,'notepad++'); $event.preventDefault(); $event.stopPropagation();"><span><img src='imgs/ic-desktop.png' alt='Notepad++' /></span>Notepad++</a></li>
				</ul>
			</div>
			<div id="left-top-section" ng-if="ClassDiagramView == true" class="ComplexityScreenView">
				<ul>
					<li><a class='browserIcon' href='#' title="Deadcode Identifier" ng-click="runDeadcodeIdentifier($event); $event.preventDefault(); $event.stopPropagation();"><span><img src='imgs/ic-desktop.png' alt='Deadcode Identifier' /></span>Deadcode Identifier</a></li>
				</ul>
			</div>
		</div>
     </div>
     <div  ng-show="enableToggleSidebars"  id='ct-expand-left-apg' class="ct-expand ct-rev" ng-click="toggleLeftSidebar()"></div>
   </div>
	<!--Left Panel-->

	<!--Middle Panel-->
	<div id="middle-content-section">
		<!--Task Name-->
			<div id="page-taskName">
				<span style="cursor:pointer; position : relative" ng-click="showFlowGraphHome($event)">Automated Path Generator</Flowgraph></span>
			</div>
			<!--Task Name-->
			<!-- Generate DIV -->
		<div ng-hide="hideBaseContent.message == 'true'">

			<div class="url-div">
			<form name="flowgraph_form">
				<span><b> Version:</b></span>
				<select class='urlInput version'  id="version" required>
						<option value="" disabled>Select</option>
						<option value = "1">Java 1.3</option>
						<option value = "2">Java 1.4</option>
						<option value = "3">Java 1.5</option>
						<option value = "4">Java 1.6</option>
						<option value = "5">Java 1.7</option>
						<option value = "6" selected>Java 1.8</option>
				</select>
				<br>
				<br>
				<span><b>Path:</b></span>
				<input name="pathInput" type="text" ng-model="text" class="pathInput" id="path" placeholder="Enter Path of Folder/Zip/File" required> 
				<button ng-if="flowgraph_form.pathInput.$invalid" disabled class="btn btn-md pull-right pairwise-GenBtn" ng-click="executeGenerate($event)">Generate</button>
				<button ng-if="flowgraph_form.pathInput.$valid" class="btn btn-md pull-right pairwise-GenBtn" ng-click="executeGenerate($event)">Generate</button>
			</form>
			</div>
			
			<div class="crawl-result" >
				<br>
			</div>
		</div>
		
		<div ng-hide="hideBaseContent.message == 'false'" id="progress-canvas">
			<div id="slider-container">
				<div id="crawler-slider"></div>
				<div style="clear:both"></div>
			</div>
		</div>
		<div class="overlay"></div>
		<div  id="apg-cd-canvas"></div>
		<div  id="apg-dfd-canvas"></div>
		<div id="complexity-canvas">
			<h4 class="heading-bold">Class Level Complexity Info: </h4>
			<p>Class Name: {{ccname}} </p> 
			<p>Class Complexity : {{cc}}</p>
			<p>No. of Method : {{cmethod}}</p> 
			<p> Weighted Method Class Complexity : {{wmcc}} </p>
			<br>
			<h4 class="heading-bold">Method Level Complexity Info:  
			</h4>
			<div >
				Weighted Method Class Complexity : <button type="button" class="btn btn-primary btn-md" id="wmcCalculate" ng-click="wmcCalculate($event)">Calculate!</button>
			</div>
			<div class='divMethodContainer'>
				<table id='tblMethodLevel'>
					<thead>
						<tr>
						<th>Method Name</th>
						<th>Method Complexity</th>
						<th>Decision Points</th>
						<th>Minimum Testcases</th>
						<th>Complexity Weightage(In %)</th>
						</tr>
					</thead>
					<tbody>
						</tbody>
				</table>
			</div>
		</div>
	</div>
	<!--Middle Panel-->
	
	<!-- Right Section --> 
   <div class="ct-side fl-right" id="ct-rSide"> 
   <div id="right-dependencies-section" class="rsSlide" style='z-index:999'>
          <div ng-class="enableDataflow ? 'enableActions' : 'disableActions'" class="thumbnail thumbnail-custom" id="screenshot_div">
        	<a class="slidePopup"  title="Screenshot" ng-click="disableButton($event) ">
          		<img class="thumb-ic" src="imgs/ic-screenshot.png" alt="Data-flow" id="screenshot_img">
          		<div class="caption">
            		<p>Data-flow</p>
          		</div>
        	</a>
			<!--Popupdata-flow-popup-->
			<div tabindex="0" id="data-flow-window" class="popupWrap" style="opacity: 0; right: 70px; z-index: 0; pointer-events: none; display: block;">
				<h4 class="h4-custom closePopup">Data-flow <img class="closePopup pull-right" src="imgs/ic-arrow.png" /></h4>
				<div class="scrollbar-screenshot popupContent-screenshot" >
					<div class="popupContent" id="method-flow">
						
					</div>
				</div>
			</div>
			<!--Popup-->
      	</div>
		  <div ng-if="enableToggleSidebars" class="thumbnail thumbnail-custom">
      <!--<div class="thumbnail thumbnail-custom">-->
         <a class="slidePopup" ng-click ="fullScreen()" id="fullscr" title="full screen">
            <img class="thumb-ic" src="imgs/fscr.png" alt="full screen" style="height: 55px;">
            <div class="caption">
               <p>Full Screen</p>
            </div>
         </a>
      </div>

		<!--Images Blocks-->
		<div class="thumbnail thumbnail-custom">
        	<a class="slidePopup"  title="Tasks">
          		<img class="thumb-ic" src="imgs/ic-task.png" alt="Tasks">
          		<div class="caption">
            		<p>Tasks</p>
          		</div>
        	</a>
			<!--Popup-->
			<div tabindex="0" id="window-task" class="popupWrap">
				<h4 class="h4-custom closePopup">My task(s)<img class="closePopup pull-right" src="imgs/ic-arrow.png" /></h4>
				<div class="input-group">
						<span class="input-group-addon inputMyTask" id="basic-addon1"><img src="imgs/ic-search-icon.png"></span>
						<input type="text" class="form-control searchInputMyTask" placeholder="Search My task(s)" aria-describedby="basic-addon1">
				</div>
				<div class="popupContent popupTasks">
					<div class="scrollbar-inner scrollbar-innerpages">
						<!--Tasks-->
						<div class="panel-group task-content-inner" id="accordion"></div>
						<!--Tasks-->
					</div>
				</div>
			</div>
			<!--Popup-->
      	</div>
		<!--Images Blocks-->

		<!--Images Blocks-->
		<div class="thumbnail thumbnail-custom">
        	<a class="slidePopup"  title="Info">
          		<img class="thumb-ic" src="imgs/ic-info.png" alt="Project Info">
          		<div class="caption">
            		<p>Info</p>
          		</div>
        	</a>
			<!--Popup-->
			<div tabindex="0" id="window-pi" class="popupWrap">
				<h4 class="h4-custom closePopup">Information <img class="closePopup pull-right" src="imgs/ic-arrow.png" /></h4>
				<div class="popupContent projectInfoWrap"></div>
			</div>
			<!--Popup-->
      	</div>
		<!--Images Blocks-->
		
		<!--<div ng-class="enableFilter ? 'enableActions' : 'disableActions'" class="thumbnail thumbnail-custom" ng-click="disableButton($event)">
        	<a class="slidePopup"  title="Filter">
          		<img class="thumb-ic" src="imgs/ic-filter.png" alt="Filter Objects">
          		<div class="caption">
            		<p>Filter</p>
          		</div>
        	</a>
			<div tabindex="0" id="window-filter" class="popupWrap popupWrap-filter">
				<h4 class="h4-custom closePopup">Filters <img class="closePopup pull-right" src="imgs/ic-arrow.png" /></h4>
				<div class="popupContent popupContent-filter">
				<div id ='selectAllFilters'><label><input title="Select all" type="checkbox" class="checkStyleboxFilter"><span class='selectAllTxt'>Select all</span></label></div>
					<div><span class='popupContent-default filterObjects' data-tag="association">Association</span></div>
					<div><span class='popupContent-default filterObjects' data-tag="extends">Generalization</span></div>
					<div><span class='popupContent-default filterObjects' data-tag="implements">Realization</span></div>
				</div>
			</div>
      	</div>-->
      <!--Images Blocks-->
      <chatbot chatbot></chatbot>
      <!--Images Blocks-->
   </div>
   
      <div  ng-show="enableToggleSidebars" id='ct-expand-right-apg' class="ct-expand ct-rev" ng-click="toggleRightSidebar()"></div>
   </div>
	
</section>
<!--Content Area-->

<!--Footer-->
<footer footer id="footer" class="footer-global"></footer>
<!--Footer-->
	<!-- Global Modal  -->
       <div class="modal fade" id="globalModal" style="z-index: 10000" role="dialog" data-keyboard="false" data-backdrop="static">
         <div class="modal-dialog modal-sm">
           <div class="modal-content">
             <div class="modal-header">
               <button type="button" class="close" data-dismiss="modal">&times;</button>
               <h4 class="modal-title"></h4>
             </div>
             <div class="modal-body">
               <p></p>
             </div>
             <div class="modal-footer">
               <button type="button" class="btn btn-default" data-dismiss="modal">Ok</button>
             </div>
           </div>
         </div>
       </div>
       <!-- Global Modal  -->