<!--Header-->
<header header></header>
<!--Header-->

<!--Content Area-->
<section class="container-fluid container-fluid-inner">

	<!--Left Panel-->
	<div id="left-nav-section">
		<div class="scrollbar-macosx">
			<!-- Apptype Desktop -->
			<div id="left-top-section" ng-if="ComplexityScreenView == true" class="ComplexityScreenView">
				<ul>
					<li><span><a class='openFileintxt'>Open File</a></span></li>
					<li><a href='#'  title="Notepad++"  data-toggle="modal" ng-click="openFileInEditor($event,'notepad++'); $event.preventDefault(); $event.stopPropagation();"><span><img src='imgs/ic-desktop.png' alt='Notepad++' /></span>Notepad++</a></li>
					<!-- <li class="last"  title="Append Objects"><span style="margin-bottom:-5px"><input ng-model="enbledChecked" id="enableAppend" type='checkbox' value=""></span><label for="enableAppend">Append</label></li> -->
				</ul>
			</div>
			<!-- Apptype Desktop -->
		</div>
	</div> 
	<!--Left Panel-->

	<!--Middle Panel-->
	<div id="middle-content-section">
		<!--Task Name-->
			<div id="page-taskName">
				<!--<span style="cursor:pointer" ng-click="showWeboccularHome()">Flowgraph</Flowgraph></span>-->
				<span style="cursor:pointer" ng-click="showFlowGraphHome()">Automated Path Generator</Flowgraph></span>
			</div>
			<!--Task Name-->
			<!-- Generate DIV -->
		<div ng-hide="hideBaseContent.message == 'true'">

			<div class="url-div">
			<form name="flowgraph_form">
				<span><b> Version:</b></span>
				<select class='urlInput version'  id="version" required>
						<option value="" disabled>Select</option>
						<option value = "1">Java 1.3</option>
						<option value = "2">Java 1.4</option>
						<option value = "3">Java 1.5</option>
						<option value = "4">Java 1.6</option>
						<option value = "5">Java 1.7</option>
						<option value = "6" selected>Java 1.8</option>
				</select>
				<br>
				<br>
				<span><b>Path:</b></span>
				<input name="pathInput" type="text" ng-model="text" class="pathInput" id="path" placeholder="Enter Path of Folder/Zip/File" required> 
				<button ng-if="flowgraph_form.pathInput.$invalid" disabled class="btn btn-md pull-right pairwise-GenBtn" ng-click="executeGenerate()">Generate</button>
				<button ng-if="flowgraph_form.pathInput.$valid" class="btn btn-md pull-right pairwise-GenBtn" ng-click="executeGenerate()">Generate</button>
			</form>
			</div>

			<!-- <div class="url-div">
				<form name="flowgraph_form">
					<span><b>Path:</b></span>
					<input name="pathInput" type="text" ng-model="text" class="pathInput" id="path" placeholder="Enter Path of Folder/Zip/File" required> 
					<button ng-if="flowgraph_form.pathInput.$invalid" disabled class="btn btn-md pull-right pairwise-GenBtn" ng-click="executeGenerate()">Generate</button>
					<button ng-if="flowgraph_form.pathInput.$valid" class="btn btn-md pull-right pairwise-GenBtn" ng-click="executeGenerate()">Generate</button>
				</form>
			</div> -->
			
			<div class="crawl-result" >
				<br>
			</div>
		</div>
		
		<div ng-hide="hideBaseContent.message == 'false'" id="progress-canvas">
			<div id="slider-container">
				<div id="crawler-slider"></div>
				<div style="clear:both"></div>
			</div>
		</div>
		<div class="overlay"></div>
		<div  id="apg-cd-canvas"></div>
		<div  id="apg-dfd-canvas"></div>
		<div id="complexity-canvas">
			<h4 class="heading-bold">Class Level Complexity Info: </h4>
			<p>Class Name: {{ccname}} </p> 
			<p>Class Complexity : {{cc}}</p>
			<p>No. of Method :{{cmethod}}</p> 
			<h4 class="heading-bold">Method Level Complexity Info: </h4>
			<div class='divMethodContainer'>
				<table id='tblMethodLevel'>
					<thead>
						<tr>
						<th>Method Name</th>
						<th>Method Complexity</th>
						<th>Minimum No. of Testcases</th>
						</tr>
					</thead>
					<tbody>
						</tbody>
				</table>
			</div>
		</div>
		<div id="report-canvas"></div>
	</div>
	<!--Middle Panel-->

	<!--Right Panel-->
	<div id="right-dependencies-section">

		<!--Images Blocks-->
		<div class="thumbnail thumbnail-custom">
        	<a class="slidePopup"  title="Tasks">
          		<img class="thumb-ic" src="imgs/ic-task.png" alt="Tasks">
          		<div class="caption">
            		<p>Tasks</p>
          		</div>
        	</a>
			<!--Popup-->
			<div tabindex="0" id="window-task" class="popupWrap">
				<h4 class="h4-custom closePopup">My task(s)<img class="closePopup pull-right" src="imgs/ic-arrow.png" /></h4>
				<div class="input-group">
						<span class="input-group-addon inputMyTask" id="basic-addon1"><img src="imgs/ic-search-icon.png"></span>
						<input type="text" class="form-control searchInputMyTask" placeholder="Search My task(s)" aria-describedby="basic-addon1">
				</div>
				<div class="popupContent popupTasks">
					<div class="scrollbar-inner scrollbar-innerpages">
						<!--Tasks-->
						<div class="panel-group task-content-inner" id="accordion"></div>
						<!--Tasks-->
					</div>
				</div>
			</div>
			<!--Popup-->
      	</div>
		<!--Images Blocks-->

		<!--Images Blocks-->
		<div class="thumbnail thumbnail-custom">
        	<a class="slidePopup"  title="Info">
          		<img class="thumb-ic" src="imgs/ic-info.png" alt="Project Info">
          		<div class="caption">
            		<p>Info</p>
          		</div>
        	</a>
			<!--Popup-->
			<div tabindex="0" id="window-pi" class="popupWrap">
				<h4 class="h4-custom closePopup">Information <img class="closePopup pull-right" src="imgs/ic-arrow.png" /></h4>
				<div class="popupContent projectInfoWrap"></div>
			</div>
			<!--Popup-->
      	</div>
		<!--Images Blocks-->

		<!--Images Blocks-->
		<div class="thumbnail thumbnail-custom thumbnail-custom-wiki">
        	<a class="slide_popup slide_assist" href="#"  title="Assist">
          		<img class="thumb-ic" src="imgs/ic-assist.png" alt="Assist">
          		<div class="caption">
            		<p>Assist</p>
          		</div>
        	</a>
        	<!--Popup-->
			<div id="assistWindow" class="assistWrap">
				<h4 class="h4-custom h4-custom-assist">
					<span class="assist-left pull-left"> <img
						src="imgs/ic-message.png" />Assist
					</span> <span class="assist-right pull-right"> <img
						src="imgs/ic-up.png" class="animateAssistUp" style="margin-right: 10px" /> <img
						src="imgs/ic-close.png" class="animateAssistClose" />
					</span>
				</h4>
				<div class="assistContent">
					<!-- Chat Container -->
					<div class="chatContainer scrollbar-inner scrollbar-chatArea chatArea">
						<ul class="chatList">
							<li>Choose from the available browser icons from the action bar</li>
							<li>Enter the URL of the AUT (Application under test)</li>
							<li>Click on one of the options available in the Scrape Options
								window</li>
							<li>Identify the required objects</li>
							<li>Rename the objects as per the naming convention</li>
							<li>Click on the save button in the work area</li>
							<li>Click on submit to complete task.</li>
						</ul>
					</div>

					<div class="chatContainer">
						<textarea rows="3" cols="" class="chatTextArea form-control"
							placeholder="Ask Prof.J"></textarea>
						<button class="btn btn-md pull-right">Send</button>
					</div>
					<!-- Chat Container -->
				</div>
			</div>
			<!--Popup-->
      	</div>
		<!--Images Blocks-->
	</div>
	<!--Right Panel-->
</section>
<!--Content Area-->

<!--Footer-->
<footer footer id="footer" class="footer-global"></footer>
<!--Footer-->
	<!-- Global Modal  -->
       <div class="modal fade" id="globalModal" role="dialog" data-keyboard="false" data-backdrop="static">
         <div class="modal-dialog modal-sm">
           <div class="modal-content">
             <div class="modal-header">
               <button type="button" class="close" data-dismiss="modal">&times;</button>
               <h4 class="modal-title"></h4>
             </div>
             <div class="modal-body">
               <p></p>
             </div>
             <div class="modal-footer">
               <button type="button" class="btn btn-default" data-dismiss="modal">Ok</button>
             </div>
           </div>
         </div>
       </div>
       <!-- Global Modal  -->