<div ng-controller='headerController' class="container-fluid container-fluid-spacing">
    <!--left Logo-->
    <div class="logoPart">
        <img width="160" src="imgs/logo.png" />
    </div>
    <!--left Logo-->

    <!--Right Navigation-->
    <div class="dropdown dropdown-userPart">
        <div class="col-md-6">
            <button class="btn dropdown-toggle dropdown-userrole" type="button" data-toggle="dropdown">
                <span><img class="header-ic" src="imgs/ic-switch-user.png" /></span>
                <span class='userInfo'>Switch Role</span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="#" data-toggle="modal" data-target="#switchRoleModal">Test Engineer</a></li>
                <!--<li><a href="#" data-toggle="modal" data-target="#switchRoleModal">Test Lead</a></li>-->
            </ul>
        </div>

        <div class="col-md-6">
            <button class="btn dropdown-toggle dropdown-userinfo" type="button" data-toggle="dropdown"><span id='displayUsername' class='userInfo'></span> 
                <span class="ic-caret"><img class="header-ic" src="imgs/ic-user-nav.png" /></span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="#" class='userRole'>Test Manager</a></li>
                <li class="divider"></li>
                <li><a href="#" ng-click ="$event.preventDefault(); logout();">Logout</a></li>
            </ul>
        </div>
    </div>
    <!--Right Navigation-->
    <!-- SwitchRole Modal  -->
  <div class="modal fade" id="switchRoleModal" role="dialog" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Modal Header</h4>
        </div>
        <div class="modal-body">
          <p>Are you sure you want to switch role ?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" ng-click="switchRole_Yes()">Yes</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
        </div>
      </div>
    </div>
  </div>

</div>
