<header header></header>
<div id="ct-page">
   <!-- Left Section -->
   <div class="ct-side fl-left" id="ct-lSide">
      <div id="left-nav-section" style='z-index:9999;' class='left-sec-mindmap'>
         <div class="scroll-wrapper scrollbar-macosx" style="position: relative;">
            <div class="scrollbar-macosx scroll-content" style="height: auto; margin-bottom: 0px; margin-right: 0px; max-height: 410px;">
               <div class="clear-both"></div>
               <div id="left-top-section" class="mindmap-left-section" style="top: 150px !important;">
                  <ul>
                     <li><a id='reqImg1' ng-click="tab = 'tabRequirement'; createMapsCall()" href="#" title="Requirement"><span><img id='reqImg' class="highlightImg selectedIcon" src="images_mindmap/requirement.png" alt="Requirement"></span>Requirement</a></li>
                     <li>
                        <a id='createImg1' ng-click="tab = 'mindmapCreateOption'; createMapsCall()" href="#" title="Create"><span ><img id='createImg' class="highlightImg highlightImg1" src="images_mindmap/create.png" alt="Create"></span>Create</a>
                        <!--<span  class="ct-expand ct-show-left">
                        </span>-->
                     </li>
                     <li><a id='assignImg1' ng-click="tab = 'tabAssign'; createMapsCall()" href="#" title="Assign"><span><img id='assignImg' class="highlightImg highlightImg1" src="images_mindmap/assign.png" alt="Assign"></span>Assign</a></li>
                  </ul>
               </div>
            </div>
            <div class="scroll-element scroll-x">
               <div class="scroll-element_outer">
                  <div class="scroll-element_size"></div>
                  <div class="scroll-element_track"></div>
                  <div class="scroll-bar" style="width: 96px;"></div>
               </div>
            </div>
            <div class="scroll-element scroll-y">
               <div class="scroll-element_outer">
                  <div class="scroll-element_size"></div>
                  <div class="scroll-element_track"></div>
                  <div class="scroll-bar" style="height: 96px;"></div>
               </div>
            </div>
         </div>
         <div id='ct-collapse' class="ct-expand">
      </div>
      </div>
      <div id='ct-expand' class="ct-expand">
      </div>
   </div>
   <!-- Left Section -->
   <!-- Mid Section -->
   <div class="createFirstContainer" ng-if="tab == 'mindmapCreateOption'">
   		<div class="createOptionContainer">
   			<div ng-click="createMap('tabCreate'); tab = 'tabCreate'; createMapsCall()" title="Create New"><img alt="Create New" class="" src="images_mindmap/ic-create-newMindmap.png"><label>Create New</label></div>
   			<div ng-click="createMap('mindmapEndtoEndModules'); tab = 'mindmapEndtoEndModules'; createMapsCall()" title="End to End flow"><img alt="End to End flow" class="" src="images_mindmap/ic-endtoendFlow.png"><label>End to End Flow</label></div>
   			<div title="Import from Excel"><img alt="Import from Excel" class="" src="images_mindmap/ic-importfromexcel-mindmap.png"><label>Import from Excel</label></div>
   		</div>
   </div>   
   <div id="ct-main-e2e" class="fl-left" ng-if="tab == 'mindmapEndtoEndModules'">
        <div class="endtoend-modulesContainer" ng-if="tab == 'mindmapEndtoEndModules'">
                <div class="endtoend-modules-left endtoend-module-upperSection">
                    <div class="endtoend-modules-left-upper">
                        <select class="makeElementFloatleft" id="selectProjectEtem">
                            <option value="" disabled selected>Please Select Project</option>
                            <option value="project1">Project1</option>
                            <option value="project2">Project2</option>
                        </select>
                        <input type="text" class="makeElementFloatleft" id="eteSearchModules"/><img alt="Search Icon" class="searchModuleimg" src="imgs/ic-search-icon.png">
                        <span class="eteLabel makeElementFloatleft">End to End Modules</span>
                    </div>
                    <div class="scrollbar-inner endtoend-modules-left-lower makeElementFloatleft" id="etemModuleContainer"></div>
                </div>
                <div class="endtoend-modules-right endtoend-module-upperSection">
                    <div class="endtoend-modules-right-upper">
                        <label class="makeElementFloatleft">Scenarios</label>
                        <input type="text" class="makeElementFloatleft" id="eteSearchScenarios"/><img alt="Search Icon" class="searchModuleimg" src="imgs/ic-search-icon.png">
                    </div>
                    <div class="endtoend-modules-right-lower makeElementFloatleft">
                        <div class="scrollbar-inner endtoend-modules-rightfirst-lower makeElementFloatleft" id="eteScenarioContainer"></div>
                        <button class="createNew-ete">CreateNew</button>
                        <button class="addScenarios-ete">Add</button>
                    </div>
                </div>
                <span class="suitedropdownicon"><img alt="Collapse Icon" class="iconSpace collapseEte" src="imgs/ic-collapse.png"></span>
        </div>
        <div class="ct-canvas-Container" id="ct-canvas">
            <!--<img alt="Create New" class="createcontainericon" src="images_mindmap/ic-create-newMindmap.png">
            <label class="createcontainerlabel">Create New</label>-->
        </div>
   </div>
   <div id="ct-main" class="fl-left">
      <div id="ct-projectList">
         <div class="ct-project"></div>
         <div class="ct-expand"></div>
      </div>
      <div ng-if="tab == 'tabRequirement'" id="page-taskName" class="showContainer" style="width:0px !important"><span class="taskname taskTitle">Requirement</span></div>
      <div ng-if="tab == 'tabRequirement'" class='clear-both'></div>
      <div ng-if="tab == 'tabRequirement'" class="content-div content-div-req"></div>
      <div ng-if="tab == 'tabRequirement'" class="content-div content-div-req"></div>
      <div ng-if="tab == 'tabRequirement'" class="content-div content-div-req"></div>
      <div ng-if="tab == 'tabRequirement'" class="content-div content-div-req"></div>
       <div class="selectProject"><label class="selectProjectLabel">Select Project:</label>
             <select class="project-list"></select>
         </div>
      <div ng-if="tab == 'tabCreate'" id="ct-moduleBox" class="ct-moduleBoxOptional tabCreate">         
         <div class="ct-nodeBox"></div>
         <span id='ctExpandCreate' class=''><img alt="Collapse Icon" class="iconSpaceArrow" src="imgs/ic-collapse.png"></span>
         <!--<div id="ctExpandCreate" class="ct-expand"></div>-->
      </div>
      <div ng-if="tab == 'tabAssign'" id="ct-AssignBox" class="ct-moduleBoxOptional tabAssign">
         <div class="ct-nodeBox"></div>
        <span id='ctExpandAssign' class=''><img alt="Collapse Icon" class="iconSpaceArrow" src="imgs/ic-collapse.png"></span>
         <!--<div id="ctExpandAssign" class="ct-expand"></div>-->
      </div>
      <div ng-if="tab == 'tabAssign'" id="ct-canvasforAssign" class="tabAssign">
            <!--<div class="ct-tileBox">
                <div class="ct-tile">
                <svg class="ct-svgTile" height="150px" width="150px">
                    <g>
                        <circle cx="75" cy="75" r="30"></circle>
                        <path d="M75,55L75,95"></path>
                        <path d="M55,75L95,75"></path>
                    </g>
                </svg>
                </div>
                <span class="ct-text">Create Mindmap</span>
            </div>-->
      </div>
      <div ng-if="tab == 'tabCreate'" id="ct-canvas" class="tabCreate">
         <!--<div class="ct-tileBox">
            <div class="ct-tile">
               <svg class="ct-svgTile" height="150px" width="150px">
                  <g>
                     <circle cx="75" cy="75" r="30"></circle>
                     <path d="M75,55L75,95"></path>
                     <path d="M55,75L95,75"></path>
                  </g>
               </svg>
            </div>
            <span class="ct-text">Create Mindmap</span>
         </div>-->
      </div>
   </div>
   <!-- Mid Section -->  
   <!-- Right Section --> 
   <div class="ct-side fl-right" id="ct-rSide"> 
   <div id="right-dependencies-section" class="rsSlide" style='z-index:9999'>
      <!--Images Blocks-->
      <div class="thumbnail thumbnail-custom">
         <a class="slidePopup" title="Tasks">
            <img class="thumb-ic" src="imgs/ic-task.png" alt="Tasks">
            <div class="caption">
               <p>Tasks</p>
            </div>
         </a>
         <!--Popup-->
         <div tabindex="0" id="window-task" class="popupWrap">
				<h4 class="h4-custom closePopup">My task(s)<img class="closePopup pull-right" src="imgs/ic-arrow.png" /></h4>
				<div class="input-group">
						<span class="input-group-addon inputMyTask" id="basic-addon1"><img src="imgs/ic-search-icon.png"></span>
						<input type="text" class="form-control searchInputMyTask" placeholder="Search My task(s)" aria-describedby="basic-addon1">
				</div>
				<div class="popupContent popupTasks">
					<div class="scrollbar-inner scrollbar-innerpages">
						<!--Tasks-->
						<div class="panel-group task-content-inner" id="accordion"></div>
						<!--Tasks-->
					</div>
				</div>
			</div>
         <!--Popup-->
      </div>
      <!--Images Blocks-->
      <!--Images Blocks-->  		
      <div class="thumbnail thumbnail-custom">
         <a class="slidePopup" title="Info">
            <img class="thumb-ic" src="imgs/ic-info.png" alt="Project Info">
            <div class="caption">
               <p>Info</p>
            </div>
         </a>
         <!--Popup-->
         <div tabindex="0" id="window-pi" class="popupWrap">
            <h4 class="h4-custom closePopup">Information <img class="closePopup pull-right" src="imgs/ic-arrow.png"></h4>
            <div class="popupContent projectInfoWrap">
               <p class="proj-info-wrap"></p>
            </div>
         </div>
         <!--Popup-->
      </div>
      <!--Images Blocks-->
         <!--<div class="ct-show-right">
                        </div>-->
      <!--Images Blocks-->
      <div class="thumbnail thumbnail-custom thumbnail-custom-wiki">
         <a class="slide_popup slide_assist" href="#" title="Assist">
            <img class="thumb-ic" src="imgs/ic-assist.png" alt="Assist">
            <div class="caption">
               <p>Assist</p>
            </div>
         </a>
         <!--Popup-->
         <div id="assistWindow" class="assistWrap">
            <h4 class="h4-custom h4-custom-assist">
               <span class="assist-left pull-left"> <img src="imgs/ic-message.png">Assist
               </span> <span class="assist-right pull-right"> <img src="imgs/ic-up.png" class="animateAssistUp" style="margin-right: 10px"> <img src="imgs/ic-close.png" class="animateAssistClose">
               </span>
            </h4>
            <div class="assistContent">
               <!-- Chat Container -->
               <div class="scroll-wrapper chatContainer scrollbar-inner scrollbar-chatArea chatArea" style="position: relative;">
                  <div class="chatContainer scrollbar-inner scrollbar-chatArea chatArea scroll-content" style="height: 100px; margin-bottom: 0px; margin-right: 0px; max-height: none;">
                     <ul class="chatList">
                        <li>Choose from the available browser icons from the action bar</li>
                        <li>Enter the URL of the AUT (Application under test)</li>
                        <li>Click on one of the options available in the Scrape Options
                           window
                        </li>
                        <li>Identify the required objects</li>
                        <li>Rename the objects as per the naming convention</li>
                        <li>Click on the save button in the work area</li>
                        <li>Click on submit to complete task.</li>
                     </ul>
                  </div>
                  <div class="scroll-element scroll-x">
                     <div class="scroll-element_outer">
                        <div class="scroll-element_size"></div>
                        <div class="scroll-element_track"></div>
                        <div class="scroll-bar"></div>
                     </div>
                  </div>
                  <div class="scroll-element scroll-y">
                     <div class="scroll-element_outer">
                        <div class="scroll-element_size"></div>
                        <div class="scroll-element_track"></div>
                        <div class="scroll-bar"></div>
                     </div>
                  </div>
               </div>
               <div class="chatContainer">
                  <textarea rows="3" cols="" class="chatTextArea form-control" placeholder="Ask Prof.J"></textarea>
                  <button class="btn btn-md pull-right">Send</button>
               </div>
               <!-- Chat Container -->
            </div>
         </div>
         <!--Popup-->
      </div>
      <!--Images Blocks-->
   </div>
   
      <div id='ct-expand-right' class="ct-expand"></div>
   </div>
   <!-- Right Section -->  
</div>

<!-- MIndmaps -->
<div class="modal fade" id="mindmapGlobalDialog" role="dialog" data-keyboard="false" data-backdrop="static">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title"></h4>
			</div>
			<div class="modal-body">
				<p></p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Ok</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="SaveStructure" role="dialog" data-keyboard="false" data-backdrop="static">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Save Structure</h4>
			</div>
			<div class="modal-body">
				<p>'Unsaved work will be lost if you continue.<br/>Continue?'</p>
			</div>
			<div class="modal-footer">
				<button id='yes' type="button" class="btn btn-default" data-dismiss="modal">Yes</button>
				<button id='no' type="button" class="btn btn-default" data-dismiss="modal">No</button>
			</div>
		</div>
	</div>
</div>
<!-- MIndmaps -->

<!--Footer-->
<footer footer id="footer" class="footer-global"></footer>
<!--Footer-->