<section class="container-fluid login-block-fluid">
	<!--Background Image-->
	<img src="imgs/login-bg.png" class="login-bg-img" />
	<!--Background Image-->

	<!--Content Area-->
	<div class="row row-vh-middle">
		<!--Left Captions-->
		<div class="col-md-6">
			<div class="jumbotron jumbotron-nobg">
    			<h1>Hello.</h1>   
    			<h2>Welcome to Avo Assure!</h2>
				<h3>Login to Experience Intelligence</h3>
			</div>	
		</div>
		<!--Left Captions-->

		<!--Right Login Block-->
		<div class="col-md-6">
			<div class="login-white-block">
				<!--Logo-->
				<div class="wrap row-center-logo"><img height="65" src="imgs/logo.png" /></div>
				<!--Logo-->

				<!--Login Form-->
				<div class="wrap login-wrap" ng-if="!restartForm">
					<form>
						<div class="input-group">
							<span class="input-group-addon ic-username"><img src="imgs/ic-username.png" /></span>
							<input ng-model="ud.userName" ng-change="hideLogin()" type="text" id="userName" class="form-control" name="username" placeholder="Username">
							<span ng-if="!showLogin" class="input-group-addon fa fa-arrow-circle-right" ng-click="checkUser()" style="color:#a0a0a0;font-size:25px"> </span>
						</div>
						<div class="input-group" style="margin-bottom: 10px;" ng-if="showLogin">
							<span class="input-group-addon ic-password"><img src="imgs/ic-password.png" /></span>
							<input ng-model="ud.password" ng-trim="false" id="passWord" type="{{inputType}}" class="form-control" name="password" placeholder="Password" autocomplete="off">
							<span class="input-group-addon ic-password fa {{showHideClass}}" style="color:#a0a0a0;font-size:20px" ng-click="showPassword()"> </span>
						</div>
						<span ng-show="loginValidation" class="absoluteError errorMessages" style="transform:translateY(-100%)">{{loginValidation}}
							<span ng-show="lockedOut" class="errorMessages">Click <a style="color:inherit;cursor:pointer;text-decoration: underline;" ng-click="unlockAccountEmail()"><b>here</b></a> to unlock.</span>
						</span>
						<div ng-if="showLogin" class="helplinks">
							<a id="forgotPassword" style="float:right;cursor:pointer" ng-click="forgotPasswordEmail()">Forgot Password?</a>
						</div>
						<button id="loginButton" ng-if="showLogin" ng-click="check_credentials('/plugin', $event)" type="submit" class="btn btn-block" ng-disabled="requested==true">Login</button>
						<button id="unlockButton" style="margin-top:55px" ng-if="unlockCond" ng-click="unlock('/plugin', $event)" type="submit" class="btn btn-block">Unlock</button>
					</form>
				</div>
				<div class="wrap login-wrap" ng-if="restartForm">
					<button ng-repeat="server in serverList" ng-click="restartServer($index, server.name)" ng-disabled="!server.active" style="font-size:25px;margin-bottom:35px" type="submit" class="btn btn-block">Restart {{server.name}}</button>
				</div>
				<!--Login Form-->
			</div>
		</div>
		<!--Right Login Block-->
	</div>
	<!--Content Area-->
</section>

<!--Footer-->
<footer id="footer" class="login-footer">
	<p class="text-right">
		Powered By <img class="f-logo" src="imgs/ftr-avo-logo.png" />
		<br />
		<span class="small">&copy; <span id="currentYear">2021</span> Avo Automation. All Rights Reserved</span>
	</p>
</footer>
<!--Footer-->

<!--Modal Box-->
<div class="modal fade" id="popupModal" role="dialog" data-keyboard="false" data-backdrop="static">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title"></h4>
			</div>
			<div class="modal-body">
				<p></p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Ok</button>
			</div>
		</div>
	</div>
</div>
<!--Modal Box-->

<div class="modal fade" id="changePassPopup" role="dialog" data-keyboard="false" data-backdrop="static">
	<div class="modal-dialog modal-sm resetModal">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" ng-click="resetAllFields($event)">&times;</button>
				<h4 class="modal-title">Change Password</h4>
			</div>
			<div class="modal-body">
			  <div class="login-wrap">
				<div class="input-group resetModalchild">
					<input ng-model="currpassword" type="password" maxlength="16" class="fpcurrpass reset-control spaceRegex passwordRegex" name="currpassword" placeholder="Current Password" autocomplete="off">
				</div>
				<div class="input-group resetModalchild">
					<input ng-model="newpassword" type="password" maxlength="16" class="fpnewpass reset-control spaceRegex passwordRegex" name="newpassword" placeholder="New Password" autocomplete="off">
				</div>
				<div class="input-group resetModalchild">
					<input ng-model="confpassword" type="password" maxlength="16" class="fpconfpass reset-control spaceRegex passwordRegex" name="confpassword" placeholder="Confirm Password" autocomplete="off">
				</div>
				<span ng-show="passwordValidation" class="errorMessages">{{passwordValidation}}</span>
			  </div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" ng-click="resetAllFields($event)">Clear</button>
				<button type="button" class="btn btn-default" ng-click="changePwd($event)">Submit</button>
			</div>
		</div>
	</div>
</div>
<!-- Popup for Reset password -->


    <!-- Popup for successful reset of password -->
    <div class="modal fade" id="changeSuccessPopup" role="dialog" data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Change Password</h4>
                </div>
                <div class="modal-body">
                    <p>Password change successful! Please login with new password</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" ng-click="resetSuccess($event)">OK</button>
                </div>
            </div>
        </div>
    </div>
	<!-- Popup for successful reset of password -->
	
	<!-- Popup for successful email sent -->
    <div class="modal fade" id="forgotPassEmailSuccess" role="dialog" data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Forgot Password</h4>
                </div>
                <div class="modal-body">
                    <p>Successfully sent an email to reset your password! Please login with the temporary password sent in the email</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" ng-click="resetSuccess($event)">OK</button>
                </div>
            </div>
        </div>
    </div>
	<!-- Popup for successful email sent -->

	<!-- Popup for successful email sent -->
    <div class="modal fade" id="unlockAccEmailSuccess" role="dialog" data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Unlock Account</h4>
                </div>
                <div class="modal-body">
                    <p>Successfully sent an email! Please unlock the account using verification password sent in the email</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" ng-click="closeSuccess($event)">OK</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Popup for successful email sent -->
	
	<!-- Popup for successful unlock account -->
    <div class="modal fade" id="unlockAccSuccess" role="dialog" data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Unlock Account</h4>
                </div>
                <div class="modal-body">
                    <p>Successfully unlocked the user account! Please login again</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" ng-click="resetSuccess($event)">OK</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Popup for successful unlock account -->
