<header header></header>
<section class="container-fluid pluginSection">
	<!--Background Image-->
	<img src="imgs/light-bg.png" class="bg-img "/>
	<!--Background Image-->

	<!--Content Area-->
	<div class="container container-plugins">
		<div class="col-md-12"><h1 class="heading-center-light h1-header-margin"></h1></div>
		
		<div class="col-md-12">
			<!--Left Plugins-->
			<div class="col-md-7">
				<h2 class="heading-light">Available Plugins</h2>
				<div id="plugin-container" class="col-md-12 plugin-container"></div>
			</div>
			<!--Left Plugins-->

			<!--Seprator-->
			<div class="border-seprator"></div>
			<!--Seprator-->

			<!--Right Tasks-->
			<div class="col-md-5 pluginTaskBlock">
				<!--Task Heading Part-->
				<!--<div>
					<input id="uploadTasks" ng-click="getTask()" type="submit" value="Upload Tasks">
					<input name="Select File" style="z-index:-1; display: none;" type="file" id="fileInputJson" accept=".json">
				</div>-->
				<div class="col-md-12 task-bar">
					<span class="task-heading">My task(s)</span>
					<ul class="list-inline list-inline-right">
						<li class="list-inline-item" style="margin-right:15px"><span class="color-block color-block-blue"></span> Daily</li>
						<li class="list-inline-item"><span class="color-block color-block-yellow"></span> Weekly</li>
					</ul>
				</div>
				<!--Task Heading Part-->

				<!--Task Content Part-->
				<div class="scrollbar-inner pluginTask">
				<div class="col-md-12 task-content">
					<div class="panel-group plugin-taks-listing" id="accordion"></div> 
				</div>
				<!--Task Content Part-->
			</div>
			<!--Right Tasks-->
			</div>
		</div>
	</div>
	<!--Content Area-->
</section>

<!--Footer-->
<footer id="footer" class="login-footer">
	<p class="text-right">
		Powered By <img class="f-logo" src="imgs/ftr-slk-logo.png" />
		<br />
		<span class="small">&copy; <span id="currentYear"></span> SLK Software Services Pvt. Ltd. All Rights Reserved. Patent Pending</span>
	</p>
</footer>
<!--Footer-->