<header header></header>
<section class="container-fluid">
	<!--Background Image-->
	<img src="imgs/light-bg.png" class="bg-img "/>
	<!--Background Image-->

	<!--Content Area-->
	<div class="container container-plugins">
		<div class="col-md-12"><h1 class="heading-center-light h1-header-margin">Welcome Jagdish Bhandarkar!</h1></div>
		
		<div class="col-md-12">
			<!--Left Plugins-->
			<div class="col-md-7">
				<h2 class="heading-light">Available Plugins</h2>
				<div id="plugin-container" class="col-md-12 plugin-container"></div>
			</div>
			<!--Left Plugins-->

			<!--Seprator-->
			<div class="border-seprator"></div>
			<!--Seprator-->

			<!--Right Tasks-->
			<div class="col-md-5">
				<!--Task Heading Part-->
				<div class="col-md-12 task-bar">
					<span class="task-heading">Your Tasks</span>
					<ul class="list-inline list-inline-right">
						<li class="list-inline-item" style="margin-right:15px"><span class="color-block color-block-blue"></span> Daily</li>
						<li class="list-inline-item"><span class="color-block color-block-yellow"></span> Weekly</li>
					</ul>
				</div>
				<!--Task Heading Part-->

				<!--Task Content Part-->
				<div class="scrollbar-inner">
				<div class="col-md-12 task-content">
					<div class="panel-group" id="accordion">
						<!--Panel Block-->
						<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title">
									<div class="collapse-head" data-toggle="collapse" data-parent="#accordion" href="#collapse1">
										<span class="taskNo">Task 1</span>
										<!--Addition-->
										<div class="panel-additional-details">
											<span class="panel-head-time">10:00 AM</span>
											<span class="panel-head-details details-weekly">Details <span class="caret caret-absolute"></span></span>
										</div>
										<!--Addition-->
									</div>
								</h4>
							</div>
							<div id="collapse1" class="panel-collapse collapse">
								<div class="panel-body">
									<span class="assignedTaskName"></span>
									<span class="assignedTask"></span>	
								</div>
							</div>
						</div>
						<!--Panel Block-->

						<!--Panel Block-->
						<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title">
									<div class="collapse-head" data-toggle="collapse" data-parent="#accordion" href="#collapse2">
										<span class="taskNo">Task 2</span>
										<!--Addition-->
										<div class="panel-additional-details">
											<span class="panel-head-time">10:00 AM</span>
											<span class="panel-head-details details-daily">Details <span class="caret caret-absolute"></span></span>
										</div>
										<!--Addition-->
									</div>
								</h4>
							</div>
							<div id="collapse2" class="panel-collapse collapse">
								<div class="panel-body">
									<span class="assignedTaskName"></span>
									<span class="assignedTask"></span>	
								</div>
							</div>
						</div>
						<!--Panel Block-->

						
					</div> 
				</div>
				<!--Task Content Part-->
			</div>
			<!--Right Tasks-->
			</div>
		</div>
	</div>
	<!--Content Area-->
</section>

<!--Footer-->
<footer footer id="footer" class="footer-global"></footer>
<!--Footer-->