<header header></header>
<section class="container-fluid pluginSection">
	<!--Background Image-->
	<img src="imgs/light-bg.png" class="bg-img "/>
	<!--Background Image-->

	<!--Content Area-->
	<div class="container container-plugins">
		<div class="col-md-12"><h1 class="heading-center-light h1-header-margin"></h1></div>
		
		<div class="col-md-12">
			<!--Left Plugins-->
			<div class="col-md-7">
				<h2 class="heading-light">Available Plugins</h2>
				<div id="plugin-container" class="col-md-12 plugin-container"></div>
			</div>
			<!--Left Plugins-->

			<!--Seprator-->
			<div class="border-seprator"></div>
			<!--Seprator-->

			<!--Right Tasks-->
			<div class="col-md-5 pluginTaskBlock">
				<!--Task Heading Part-->
				<!--<div>
					<input id="uploadTasks" ng-click="getTask()" type="submit" value="Upload Tasks">
					<input name="Select File" style="z-index:-1; display: none;" type="file" id="fileInputJson" accept=".json">
				</div>-->
				<div class="col-md-12 task-bar">
					<span class="task-heading">My task(s)</span>
					<ul class="list-inline list-inline-right">
						<li class="list-inline-item" style="margin-right:15px"><span class="color-block color-block-blue"></span> Daily</li>
						<li class="list-inline-item" style="margin-right:-56px"><span class="color-block color-block-yellow"></span> Weekly</li>
						<li class=""><input type="text" style="display: none;-moz-margin-start: 10.5% !important;" class="searchInput"/><span class="searchIcon"><img src="imgs/ic-search-icon.png" style="margin-top: -1px; margin-left: 1px;"></img></span><span class="filterIcon disableFilter" ng-click="showTaskFilterPopup()" ><img src="imgs/ic-filter-task.png" style="margin-top: -1px;margin-left: 1px; height:20px"></span></li>
						<!--<li class=""><span class="filterIcon"><img src="imgs/ic-search-icon.png" style="margin-top: -1px; margin-left: 1px;"></img></span></li>						-->
					</ul>
 				</div>
				<!--Task Heading Part-->
				<ul class="nav nav-tabs">
					<li class="task-catagory active" tasks="todo"><a class="task-switch" data-toggle="tab" data-target="#todo-panel">To Do</a></li>
					<li class="task-catagory" tasks="review"><a class="task-switch" data-toggle="tab" data-target="#review-panel">To Review</a></li>
				</ul>
				<!--Task Content Part-->
				<div class="scrollbar-inner pluginTask">
				<div class="col-md-12 task-content">
					<div class="tab-content">
						<div id="todo-panel" class="tab-pane fade in active">
							<div class="panel-group plugin-taks-listing todo" id="accordion" tasks="todo"></div> 
						</div>
						<div id="review-panel" class="tab-pane fade">
							<div class="panel-group plugin-taks-listing review" id="accordion" tasks="review"></div> 
						</div>
					</div>					
				</div>
				<!--Task Content Part-->
			</div>
			<!--Right Tasks-->
			</div>
		</div>
	</div>
	<!--Content Area-->
	
</section>

<!--Footer-->
<footer id="footer" class="login-footer">
	<p class="text-right">
		Powered By <img class="f-logo" src="imgs/ftr-slk-logo.png" />
		<br />
		<span class="small">&copy; <span id="currentYear"></span> SLK Software Services Pvt. Ltd. All Rights Reserved. Patent Pending</span>
	</p>
</footer>
<!--Footer-->

<!-- Task filter block -->
<div id="dialog-taskFilter" class="modal fade" role="dialog" data-keyboard="false" data-backdrop="static">
	<div class="modal-dialog" style="width: 60%">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Filter Tasks</h4>
			</div>
			<div class="modal-body modal-body-tf" style="height:200px;overflow:scroll;">
				<form class="form-inline" id="filtrOptionsContainer">
					<div class="row row-modal addObj-row">
						<div class="form-group form-group-1">Select Project </div>
						<div class="form-group form-group-2">
							<select class="form-control form-control-custom" style="padding: 6px 19px 3px 10px !important;" id="project-filter-list" ng-model="filterData['prjval']">
								<option selected="" disabled="">Select Project</option>
								<option ng-repeat="(id, name) in filterDat.idnamemapprj" value="{{id}}" ng-model="filterData[id]" >{{name}}</option>
							</select>
						</div>
					</div>
					<div class="row row-modal addObj-row">
						<div class="form-group form-group-1">Select Release </div>
						<div class="form-group form-group-2">
							<select class="form-control form-control-custom" style="padding: 6px 19px 3px 10px !important;" id="release-filter-list" ng-model="filterData['relval']">
								<option selected="" disabled="">Select Release</option>
								<option ng-repeat="(id, name) in filterDat.idnamemaprel" value="{{id}}" ng-model="filterData[id]" >{{name}}</option>
							</select>
						</div>
					</div>
					<div class="row row-modal addObj-row">
						<div class="form-group form-group-1">Select Cycle </div>
						<div class="form-group form-group-2">
							<select class="form-control form-control-custom" style="padding: 6px 19px 3px 10px !important;" id="cycle-filter-list" ng-model="filterData['cycval']">
									<option selected="" disabled="">Select Cycle</option>
									<option ng-repeat="(id, name) in filterDat.idnamemapcyc" value="{{id}}" ng-model="filterData[id]" >{{name}}</option>
							</select>
						</div>
					</div>
					<div class="row row-modal addObj-row">
						<div><span class="form-group form-group-1">Task Type:</span>
							<span class="form-group form-group-2">
						<label class="checkbox" ng-repeat="ttype in filterDat.tasktypes"><input type="checkbox" value="" ng-model="filterData.tasktype[ttype]">{{ttype}}</label>	
						</span>
						</div>
					</div>
					<div class="row row-modal addObj-row">
						<div><span class="form-group form-group-1">AppType:</span>
							<span class="form-group form-group-2">
						<label class="checkbox" ng-repeat="apptype in filterDat.apptypes"><input type="checkbox" value="" ng-model="filterData.apptype[apptype]">{{apptype}}</label>
						</span>
						</div>
					</div>
				</form>
				<!--Modal Content-->
			</div>
			<div class="modal-footer">
				<button type="button" ng-click="clearFilter($event)" id="clearFilter" class="btn btn-default">Reset fields</button>
				<button type="button" ng-click="filterTasks($event)" id="filterTask" class="btn btn-default" data-dismiss="modal">Filter</button>
			</div>
		</div>
	</div>
</div>
		
<!-- Task filter block -->