<!--Header-->
<header header></header>
<!--Header-->

<!--Content Area-->
<section class="container-fluid container-fluid-inner">
	<!--Left Panel-->
	<div id="left-nav-section">
		<div class="scrollbar-macosx">
			<div id="left-top-section" style='border-bottom: 0px !important'>
				<ul>
					<li><span><a class='scrapeOnTxt'>Integration</a></span></li>
					<li><a id='qtestTab' ng-click="qtestlogin()" data-name="qtest" title="qTest" class="selectBrowser">
						<span><img src='imgs/qTest.png' class='selectedIcon' alt='qTest' style='width:56px;height:52px;' /></span>qTest</a></li>
					<li><a id='almTab' ng-click="almlogin()" data-name="alm" title="ALM" class="selectBrowser">
						<span><img src='imgs/ALM.png' alt='ALM' style='width:56px;height:52px;' /></span>ALM</a></li>
				</ul>
			</div>
			<div class='clear-both'></div>
		</div>
	</div>
	<!--Left Panel-->
	
	<!--Middle Panel-->
	<div id="middle-content-section">
		<!-- qTest Tab -->
		<div style="height: 100%;">
			<!--Task Name-->
			<div id="page-taskName">
				<span>qTest Integration</span>
			</div>
			<!--Task Name-->
			<!-- Button -->
			<div class="qcActionBtn">
				<label style="margin-bottom: 0; float: left; font-size: 16px;">qTest Tests</label>
				<!--<img class="loadALM" style="position: relative; left: 388px; display: none;" src="imgs/loader.gif" alt="Loading...">-->
				<label style="margin-bottom: 0; position: relative; left: 457px; float: left; font-size: 16px;">Avo Assure Scenarios</label>
				<button class="saveQcbtn qcActionBtnFirstChild" ng-click="mapTestcaseToAvoAssure()" title="Save" style="margin-left: 470px;">Save</button>
				<a class="viewMapbtn" ng-click="displayMappedFilesTab()" title="View Mapped Files">View Mapped Files</a>
				<button class="saveQcbtn" ng-click="exitQcConnection()" title="Exit">Exit</button>
			</div>
			<!-- Button -->
			<!-- Action area -->
			<div class="leftQcStructure">
				<div class="qcDomProContainer">
					<select class="qcSelectDomain"></select>
					<select class="qcSelectProject"></select>
				</div>
				<div class="qcTreeContainer"></div>		
			</div>
			<div class="rightQcStructure">
				<div class="qcProContainer">
					<select class="qtestAvoAssureSelectProject"><option value="" selected disabled>Select Project</option></select>
					<input type="text" placeholder="Scenario Name" class="searchScenarioQC"></input>
					<span class="searchScenarioAvoAssure"><img src='imgs/ic-searchIcon-black.png' alt='Search Scenarios' /></span>
				</div>
				<div class="qcAvoAssureTreeContainer"></div>	
			</div>
			<!-- Action area -->
			<!-- Map Files -->
			<div class="mappedFilesLabel" style="display: none;"><label style="margin: 0 0 0 11px;">qTest Tests</label><label style="position: relative; left: 422px;">Avo Assure Scenarios</label></div>
			<div class="mappedFiles scrollbar-inner" style="display: none;">
			</div>
			<!-- Map Files -->
		</div>
		<!-- qTest Tab -->
	</div>
	<!--Middle Panel-->

	<!--Right Panel-->
	<div id="right-dependencies-section">
		<!--Images Blocks-->
		<div class="thumbnail thumbnail-custom">
			<a class="slidePopup"> <img class="thumb-ic" title="Info"
				src="imgs/ic-info.png" alt="Project Info">
				<div class="caption">
					<p>Info</p>
				</div>
			</a>
			<!--Popup-->
			<div tabindex="0" id="window-pi" class="popupWrap">
				<h4 class="h4-custom closePopup">
					Information <img class="closePopup pull-right"
						src="imgs/ic-arrow.png" />
				</h4>
				<div class="popupContent projectInfoWrap"></div>
			</div>
			<!--Popup-->
		</div>
		<!--Images Blocks-->

	  <!--Images Blocks-->
      <chatbot chatbot></chatbot>
      <!--Images Blocks-->
	</div>
	<!--Right Panel-->
</section>
<!--Content Area-->

<!--Footer-->
<footer footer id="footer" class="footer-global"></footer>
<!--Footer-->

<!-- Edit Global Model  -->
<div class="modal fade" id="globalModal" role="dialog" data-keyboard="false" data-backdrop="static">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title"></h4>
			</div>
			<div class="modal-body">
				<p></p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Ok</button>
			</div>
		</div>
	</div>
</div>
<!-- Edit Global Model  -->

<!-- QC Login Popup -->
	<div class="modal fade" id="loginToQCpop" role="dialog" data-keyboard="false" data-backdrop="static">
		<div class="modal-dialog modal-md">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" ng-click="goBacktoPlugin($event)">&times;</button>
					<h4 class="modal-title">qTest Login</h4>
				</div>
				<div class="modal-body">
					<div class="leftAlign">
						<p><input class='launchPopupInput form-control' type='text' placeholder='Enter qTest URL' id='qcName'/></p>
						<p><input class='launchPopupInput form-control' type='text' placeholder='Enter User Name' id='qcUserName'/></p>
						<p><input class='launchPopupInput form-control' type='password' placeholder='Enter Password' id='qcPwd'/></p>
					</div>
				</div>
				<div class="modal-footer">
					<span id="qcErrorMsg" style="color: red; float: left; margin-left: 15px; margin-top: 5px;"></span>
					<img class="qcLoginload" src="imgs/loader.gif" alt="Loading..." style="float: left; display: none;">
					<button type="button" class="btn btn-default btn-default-modal qcConnsubmit" ng-click="loginToQTest($event)">Submit</button>
				</div>
			</div>
		</div>
	</div>
	<!-- QC Login Popup -->