<!--Header-->
<header header></header>
<!--Header-->

<!--Content Area-->
<section class="container-fluid container-fluid-inner" id="reportSection">
<!--Left Panel-->
<!-- <div class="ct-side fl-left" id="ct-lSide">
<div id="left-nav-section" class='left-sec-mindmap lsSlide'>
        <div class="scroll-wrapper scrollbar-macosx" style="position: relative;">
                <div class="scroll-wrapper scrollbar-macosx scroll-content" style="position: relative;">
                        <div class="scrollbar-macosx scroll-content" style="height: auto; margin-bottom: 0px; margin-right: 0px; max-height: 780px;">
                            <div class="clear-both"></div>
                            <div id="left-top-section" class="reports-left-section">
                                    <ul>
                                        <li><span><a class="scrapeOnTxt">Reports</a></span></li>
                                    </ul>
                            </div>
                        </div>
                        <div class="scroll-element scroll-x">
                            <div class="scroll-element_outer">
                                <div class="scroll-element_size"></div>
                                <div class="scroll-element_track"></div>
                                <div class="scroll-bar" style="width: 96px;"></div>
                            </div>
                        </div>
                        <div class="scroll-element scroll-y">
                            <div class="scroll-element_outer">
                                <div class="scroll-element_size"></div>
                                <div class="scroll-element_track"></div>
                                <div class="scroll-bar" style="height: 96px;"></div>
                            </div>
                        </div>
                    </div>
        </div>
</div>
<div id="ct-expand-left" class="ct-expand ct-rev" style='z-index:10 !important;'></div>
</div> -->
<!--Left Panel-->
<!--Middle Panel-->
<div id="middle-content-section" class="middle-content-section-reports reports-middle-content">
<!-- Report Header -->
<h4 class='titleBadge'><span id="page-taskName" class="badge badge-secondary badge-reports">Reports</span></h4>
<!-- Report Header -->



<!--Bootstrap Dropdown Div -->
<div class='report-box'>
        <form class="form-inline">
            <label for="projects">Projects:</label>
            <select id='selectProjects' class="rpProjects" ng-model="projectNames" ng-change='selProjectsFilter()'></select>            
            <label for="releases">Releases:</label>
            <select id='selectReleases' class="rpReleases" ng-model="releaseNames" ng-change='selReleasesFilter()'><option>Select Releases</option></select>
            <label for="Cycles">Cycles:</label>
            <select id='selectCycles' class="rpCycles"  ng-model="cycleNames" ng-change='selCyclesFilter()'><option>Select Cycles</option></select>
            <label style='visibility:hidden' for="search">Search:</label>
            <input class="reports-search" type="text" placeholder="Search" aria-label="Search">
            <img alt="Search Icon" class="reportsSearchIcon" src="imgs/ic-search-icon.png">
          </form>
</div>
<!--Bootstrap Dropdown Div -->
<img class="no-reports" src="imgs/nothing-here.svg" style="display: none;margin-left: auto;margin-right: auto;position: relative; top: 76px;text-align: center;">

<!-- Module Table -->
<div class='report-container'>
        <!-- Table1 -->
        <div class="table-responsive reportDataTable" id='reportDataTable'>
                <table class="table table-striped tblstruct col-xs-12">
                        <thead class='reportHeaders'>
                                <tr>
                                    <th class="col-xs-1">Sl.No</th>
                                    <th class="col-xs-2" scope="col">Module Name</th>
                                    <th class="col-xs-2" scope="col">Scenario Name</th>
                                    <th class="col-xs-2" scope="col">Execution Count</th>
                                    <th class="col-xs-2" scope="col">Last Execution Status</th>
                                    <th class="col-xs-2" scope="col">Executed On</th>
                                    <th class="col-xs-2" scope="col">View Report</th>
                                </tr>
                        </thead>
                        <tbody class='reportBody report-table-body col-xs-12 scrollbar-inner'  style = "font-size: 12.5px;float:none;">
                                <tr class='getScenarioTestCaseDetails' ng-repeat="report in result_reportData"  report-idx="{{$index+1}}" style= "word-break: break-all;">
                                        <td class="col-xs-1" scope="row">{{report.id}}</td>
                                        <td class="reptable-modulename col-xs-2">{{report.ModuleName }}</td>
                                        <td class="reptable-scenarioname col-xs-2">{{report.ScenarioName}}</td>
                                        <td class='executionCount col-xs-2' ng-click='getscenarioDetails($event)'>{{report.count}}</td>
                                        <td ng-if="report.latestStatus == 'Fail'" class="colorStatusRed col-xs-2">{{report.latestStatus}}</td>
                                        <td ng-if="report.latestStatus == 'Pass'" class="colorStatusGreen col-xs-2">{{report.latestStatus}}</td>
                                        <td ng-if="report.latestStatus == 'Terminate'" class="colorStatusOrnage col-xs-2">{{report.latestStatus}}</td>
                                        <td ng-if="report.latestStatus == 'Incomplete'" class="colorStatusYellow col-xs-2">{{report.latestStatus}}</td>
                                        <td ng-if="report.latestStatus == 'Skipped'" class="colorStatusBlue col-xs-2">{{report.latestStatus}}</td>
                                        <td ng-if="report.latestStatus != 'Skipped' && report.latestStatus != 'Fail' && report.latestStatus != 'Pass' && report.latestStatus != 'Terminate' && report.latestStatus != 'Incomplete'" class="col-xs-2">{{report.latestStatus}}</td>
                                        <td class="col-xs-2">{{report.executedon}}</td>
                                        <td class="col-xs-2">
                                            <div ng-hide="report.count==0" >
                                              <img alt='Pdf Icon' class='getSpecificReportBrowser openreportstatus reportFormat' data-getrep='wkhtmltopdf' data-reportid='{{report.reportid}}' data-reportidx='{{report.idx}}' style='cursor: pointer; width: 21px;height: 22px;' src='imgs/ic-pdf.png' title='PDF Report'>
                                              <img alt='-' class='getSpecificReportBrowser openreportstatus reportFormat' data-getrep='html' data-reportid='{{report.reportid}}' data-reportidx='{{report.idx}}' style='cursor: pointer; width: 21px;height: 22px;' src='imgs/ic-web.png' title='Browser Report'>
                                              <img alt='Export JSON' class='exportToJSON openreportstatus reportFormat' data-getrep='json' data-reportid='{{report.reportid}}' data-reportidx='{{report.idx}}' style='cursor: pointer; width: 21px;height: 22px;' src='imgs/ic-export-to-json.png' title='Export to Json'>
                                            </div>
                                          </td>
                                </tr>
                        </tbody>
                      </table>
        </div>

        <!-- Table2 -->
        <div class="table-responsive reportScenarioDataTable" id='reportScenarioDataTable'>
                <table id="rowspan" class="table table-striped tblstruct col-xs-12">
                        <thead class='reportHeaders'>
                                <tr>
                                    <th class="col-xs-1" scope="col">Sl.No</th>
                                    <th class="col-xs-2" scope="col">Execution Time (Start Time)</th>
                                    <th class="col-xs-2" scope="col">Execution Time (End Time)</th>
                                    <th class="col-xs-2" scope="col">Executed On</th>
                                    <th class="col-xs-2" scope="col">Execution Status</th>
                                    <th class="col-xs-2" scope="col">View Report</th>
                                </tr>
                          </thead>
                          <tbody class='reportBody report-scenario-body col-xs-12 scrollbar-inner' style = "font-size: 12.5px;float:none;">
                                <tr class='executionTimeDetails' ng-repeat="scenario in result_res_scenarioData">
                                        <td class="col-xs-1" scope="row" >{{$index+1}}</td>
                                        <td class="col-xs-2">{{scenario.executedtime }}</td>
                                        <td class="col-xs-2">{{scenario.executedtime}}</td>
                                        <td class="col-xs-2">{{scenario.browser}}</td>
                                        <td ng-if="scenario.status == 'Fail'" class="colorStatusRed col-xs-2">{{scenario.status}}</td>
                                        <td ng-if="scenario.status == 'Pass'" class="colorStatusGreen col-xs-2">{{scenario.status}}</td>
                                        <td ng-if="scenario.status == 'Terminate'" class="colorStatusOrnage col-xs-2">{{scenario.status}}</td>
                                        <td ng-if="scenario.status == 'Incomplete'" class="colorStatusYellow col-xs-2">{{scenario.status}}</td>
                                        <td ng-if="scenario.status == 'Skipped'" class="colorStatusBlue col-xs-2">{{scenario.status}}</td>
                                        <td class="col-xs-2">
                                              <img alt='Pdf Icon' class='archivedreport getSpecificReportBrowser openreportstatus reportFormat' data-reportidx='{{$index}}' data-getrep='wkhtmltopdf' data-reportid='{{scenario.reportid}}' style='cursor: pointer; width: 21px;height: 22px;' src='imgs/ic-pdf.png' title='PDF Report'>
                                              <img alt='-' class='archivedreport getSpecificReportBrowser openreportstatus reportFormat' data-reportidx='{{$index}}' data-getrep='html' data-reportid='{{scenario.reportid}}' style='cursor: pointer; width: 21px;height: 22px;' src='imgs/ic-web.png' title='Browser Report'>
                                              <img alt='Export JSON' class='archivedreport exportToJSON openreportstatus reportFormat' data-reportidx='{{$index}}' data-getrep='json' data-reportid='{{scenario.reportid}}' style='cursor: pointer; width: 21px;height: 22px;' src='imgs/ic-export-to-json.png' title='Export to Json'>
                                      </td>
                                </tr>
                          </tbody>
                    </table>
        </div>
</div>
<!-- Module Table -->
<!--Middle Panel-->

   <!-- Right Section --> 
   <!-- <div class="ct-side fl-right" id="ct-rSide">
        <div id="right-dependencies-section" class="rsSlide">	
           <div class="thumbnail thumbnail-custom">
              <a class="slidePopup" title="Info">
                 <img class="thumb-ic" src="imgs/ic-info.png" alt="Project Info">
                 <div class="caption">
                    <p>Info</p>
                 </div>
              </a>
              <div tabindex="0" id="window-pi" class="popupWrap">
                 <h4 class="h4-custom closePopup">Information <img class="closePopup pull-right" src="imgs/ic-arrow.png"></h4>
                 <div class="popupContent projectInfoWrap">
                    <p class="proj-info-wrap"></p>
                 </div>
              </div>
           </div>
           <chatbot chatbot></chatbot>
        </div>
        <div id='ct-expand-right' class="ct-expand ct-rev" style='z-index:10 !important;'></div>
     </div> -->
     <!-- Right Section -->  
</section>
<!--Content Area-->

<!--Footer-->
<footer footer id="footer" class="footer-global"></footer>
<!--Footer-->
