<!--Header-->
<header header></header>
<!--Header-->

<!--Content Area-->
<section class="container-fluid container-fluid-inner" id="reportSection">
<!--Left Panel-->
<div id="left-nav-section">
        <div class="scrollbar-macosx">
            <div id="left-top-section" style="border-bottom:0">
                <ul>
                    <li><span><a class='scrapeOnTxt'>Reports</a></span></li>
                </ul>
            </div>
        </div>
    </div>
<!--Left Panel-->
<!--Middle Panel-->
<div id="middle-content-section" class="middle-content-section-reports">
<!-- Dropdown Div -->
        <div class='filterReport'>
        <form class="form-inline filterReports"> 
            <div class='col-sm-3'>   
                <div class="form-group rpSelectProjects">
                    <label for="projects">Projects:</label>
                    <select id='selectProjects' class="rpProjects" ng-model="projectNames" ng-change='selProjectsFilter()'></select>
                </div>
            </div>
            <div class='col-sm-3'>
                <div class="form-group rpSelectProjects">
                        <label for="projects">Releases:</label>
                        <select id='selectReleases' class="rpReleases" ng-model="releaseNames" ng-change='selReleasesFilter()'><option>Select Releases</option></select>
                </div>
            </div>
            <div class='col-sm-3'>
                <div class="form-group rpSelectProjects">
                        <label for="projects">Cycles:</label>
                        <select id='selectCycles' class="rpCycles"  ng-model="cycleNames" ng-change='selCyclesFilter()'><option>Select Cycles</option></select>
                </div>
            </div>
            <div class='col-sm-3'>
                <div class="form-group rpSearch">
                        <input class="reports-search" type="text" placeholder="Search" aria-label="Search">
                        <img alt="Search Icon" class="searchReports" src="imgs/ic-search-icon.png">
                </div>
            </div>            
        </form>
        </div>
<!-- Dropdown Div -->
<!-- Module Table Div -->
<div class="table-responsive reportDataTable" id='reportDataTable'>
    <table class="table table-striped tblstruct">
        <thead class='reportHeaders'>
            <tr>
              <th scope="col">Sl.No</th>
              <th scope="col">Module Name</th>
              <th scope="col">Scenario Name</th>
              <th scope="col">Scenario Description</th>
              <th scope="col">Execution Count</th>
              <th scope="col">Last Execution Status</th>
              <th scope="col">Executed On</th>
              <th scope="col">View Report</th>
            </tr>
          </thead>
          <tbody class='reportBody report-table-body'>
            <tr ng-repeat="report in result_reportData">
              <td scope="row" >{{report.id}}</td>
              <td>{{report.ModuleName }}</td>
              <td>{{report.ScenarioName}}</td>
              <td>{{report.description}}</td>
              <td class='executionCount' ng-click='getscenarioDetails($event)'>{{report.count}}</td>
              <td>{{report.latestStatus}}</td>
              <td>{{report.executedon}}</td>
              <td>
                    <span><img alt='Pdf Icon' class='reportFormat' src='imgs/ic-pdf.png' title='PDF Report'></span>
                    <span><img alt='Browser Icon' class='reportFormat' src='imgs/ic-web.png' title='Browser Report'></span>
                    <span><img alt='Export JSON' class='reportFormat' src='imgs/ic-export-json.png' title='Select format' /></span>
                </td>
            </tr>
          </tbody>
    </table>
  </div>
  <!-- Module Table Div -->

  <!-- Scenario Table Div -->
<div class="table-responsive reportScenarioDataTable" id='reportScenarioDataTable'>
        <table class="table table-striped tblstruct" width='100%'>
            <thead class='reportHeaders'>
                <tr>
                  <th scope="col">Sl.No</th>
                  <th scope="col">Execution Time (Start Time)</th>
                  <th scope="col">Execution Time (End Time)</th>
                  <th scope="col">Executed On</th>
                  <th scope="col">Execution Status</th>
                  <th scope="col">View Report</th>
                </tr>
              </thead>
              <tbody class='reportBody'>
                 <tr ng-repeat="scenario in result_res_scenarioData">
                  <td scope="row" >{{$index+1}}</td>
                  <td>{{scenario.executedtime }}</td>
                  <td>{{scenario.executedtime}}</td>
                  <td>{{scenario.browser}}</td>
                  <td>{{scenario.status}}</td>
                  <td>
                    <span><img alt='Pdf Icon' class='reportFormat' src='imgs/ic-pdf.png' title='PDF Report'></span>
                    <span><img alt='Browser Icon' class='reportFormat' src='imgs/ic-web.png' title='Browser Report'></span>
                    <span><img alt='Export JSON' class='reportFormat' src='imgs/ic-export-json.png' title='Select format' /></span>
                </td>
                </tr>
              </tbody>
        </table>
      </div>
      <!-- Module Table Div -->
</div>

<!--Middle Panel-->
            	<!--Right Panel-->
            	<div id="right-dependencies-section">
                        <!--Images Blocks-->
                        <div class="thumbnail thumbnail-custom">
                            <a class="slidePopup"  title="Info">
                                  <img class="thumb-ic" src='../imgs/ic-info.png' alt="Project Info">
                                  <div class="caption">
                                    <p>Info</p>
                                  </div>
                            </a>
                          </div>
                        <!--Images Blocks-->
    
                        <!--Images Blocks-->
                        <div class="thumbnail thumbnail-custom thumbnail-custom-wiki">
                            <a class="slide_popup slide_assist" href="#"  title="Assist">
                                  <img class="thumb-ic" src="imgs/ic-assist.png" alt="Assist">
                                  <div class="caption">
                                    <p>Assist</p>
                                  </div>
                            </a>
                            <!--Popup-->
                            <div id="assistWindow" class="assistWrap">
                                <h4 class="h4-custom h4-custom-assist">
                                    <span class="assist-left pull-left"> <img
                                        src="imgs/ic-message.png" />Assist
                                    </span> <span class="assist-right pull-right"> <img
                                        src="imgs/ic-up.png" class="animateAssistUp" style="margin-right: 10px" /> <img
                                        src="imgs/ic-close.png" class="animateAssistClose" />
                                    </span>
                                </h4>
                                <div class="assistContent">
                                    <!-- Chat Container -->
                                    <div class="chatContainer scrollbar-inner scrollbar-chatArea chatArea">
                                        <ul class="chatList">
                                            <li>Choose from the available browser icons from the action bar</li>
                                            <li>Enter the URL of the AUT (Application under test)</li>
                                            <li>Click on one of the options available in the Scrape Options
                                                window</li>
                                            <li>Identify the required objects</li>
                                            <li>Rename the objects as per the naming convention</li>
                                            <li>Click on the save button in the work area</li>
                                            <li>Click on submit to complete task.</li>
                                        </ul>
                                    </div>
    
                                    <div class="chatContainer">
                                        <textarea rows="3" cols="" class="chatTextArea form-control"
                                            placeholder="Ask Prof.J"></textarea>
                                        <button class="btn btn-md pull-right">Send</button>
                                    </div>
                                    <!-- Chat Container -->
                                </div>
                            </div>
                            <!--Popup-->
                          </div>
                        <!--Images Blocks-->
                    </div>
                    <!--Right Panel-->
</section>
<!--Content Area-->

<!--Footer-->
<footer footer id="footer" class="footer-global"></footer>
<!--Footer-->
