<div ng-controller='respHeaderController' class="">
	<div class="topnav " id="myTopnav">
	   <a href="#" class=""><img width="160" src="imgs/logo.png" style="cursor: pointer;" id='naviPg' ng-click="naviPg($event)" /></a>
	   <a href="#" class="icon hamburger"> <span class="glyphicon glyphicon-menu-hamburger" ng-click=responsiveMenu()></span></a>
	   <div class="container-fluid">
		  <div class="row">
			 <div class="col d-flex flex-row-reverse positionRightMenu">
				<!-- User Information Dropdown -->
				<div class="dropdown userInformation">
				   <button class="btn dropdown-toggle dropdown-userinfo" type="button" data-toggle="dropdown"><span id='displayUsername' class='userInfo'></span><span class="ic-caret"><img class="header-ic" src="imgs/ic-user-nav.png" /></span></button>
				   <ul class="dropdown-menu userinformationList">
					<li><a href="#" ng-click="$event.preventDefault();" class="headerDrop">Test Manager</a></li>
					  <li class="divider"></li>
					  <li class="resetPassEntry"><a href="#" class="resetPass">Change Password</a></li>
					  <li><a href="#" class="userRoleInfo" ng-click="$event.preventDefault(); logout($event);">Logout</a></li>
				   </ul>
				</div>
				<!-- User Information Dropdown -->
				<!-- Switch Role Dropdown -->
				<div class="dropdown switchLnk">
				   <div class="">
					<button class="btn dropdown-toggle dropdown-userrole switchRole" type="button" data-toggle="dropdown" id='sRole'> <span><img class="header-ic switchUserImg" src="imgs/ic-switch-user.png" /></span><span class='userInfo lnkSwitchRole'>Switch Role</span></button>
					  <ul class="dropdown-menu" id="switchRoles"></ul>
				   </div>
				</div>
				<!-- Switch Role Dropdown -->
				<!-- Bell Notification Icon -->
				<div class="dropdown bellDropdown">
				   <button type="button" class="btn dropdown-toggle bellLnk" data-toggle="dropdown"> <span class="count animated ng-binding" id="notifications-count" ng-bind=""></span><span class='glyphicon glyphicon-bell bell-icon' ng-click="dropdownMenuButton()"></span></button>
				   <div id='notifyBox' class="dropdown-menu dropdown-menu-right notify-div" aria-labelledby="dropdownMenuButton">
					  <div ng-repeat="item in notifications| orderBy:-'$index':true " class='dropdown-item notifyMsgDiv'>
						 <div class='messageNotify'>
							<span class='txtNotify'>Received on: {{item.dateTime}}</span><br /><span class='txtNotify'>{{item.notifyMsg}}</span>
							<span style='display:none' class='indexCount'>{{$index}}</span>
						 </div>
						 <div class="divider"></div>
					  </div>
				   </div>
				</div>
				<!-- Bell Notification Icon -->
			 </div>
		  </div>
	   </div>
	</div>
	<!-- Header -->
	<!-- Section -->
	<section id="reportSection" class=''>
	   <div class="wrapper">
		  <!--Left Sidebar  -->
		  <nav id="sidebarLeft" class='leftBar'>
			 <div class="sidebar-header">
				<h3></h3>
				<strong></strong>
			 </div>
		  </nav>
		  <div class="ct-side fl-left" id="ct-lSide">
			 <div id="ct-expand-left" class="ct-expand ct-rev ct-expand-left"></div>
		  </div>
		  <!--Left Sidebar  -->
		  <!-- Mid Page Content  -->
		  <div id="content">
			 <!-- Page Header -->
			 <div class="container-fluid pageTitle">
				<h2><span id="reports-taskName" class="label label-default">Reports</span></h2>
			 </div>
			 <!-- Page Header -->
			 <!-- Module Box -->
			 <div class='container-fluid module-box'>
				<div class="d-flex flex-column">
				   <div class="p-2 filterBox">
					  <div class="well well-sm">
						 <div class="container-fluid">
							<div class="row">
							   <div class="col">
								  <div class="form-group inline-form-control">
									 <label>Project:</label>
									 <select id="selectProjects" class="project-list ng-pristine ng-valid ng-touched" ng-model='projectNames' ng-change='selProjectsFilter()'>
										<option class="" selected="selected">Web</option>
									 </select>
								  </div>
							   </div>
							   <div class="col">
								  <div class="form-group inline-form-control">
									 <label>Release:</label>
									 <select id="selectReleases" class="release-list ng-pristine ng-valid ng-touched" ng-model="releaseNames" ng-change='selReleasesFilter()'>
										<option class="ng-binding ng-scope" selected="selected">Release</option>
									 </select>
								  </div>
							   </div>
							   <div class="col">
								  <div class="form-group inline-form-control">
									 <label>Cycle:</label>
									 <select id="selectCycles" class="cycle-list ng-pristine ng-valid ng-touched" ng-model="cycleNames" ng-change='selCyclesFilter()'>
										<option class="ng-binding ng-scope" selected="selected">Cycle</option>
									 </select>
								  </div>
							   </div>
							   <div class="col d-flex flex-row-reverse ">
								  <input id='searchModule' class="reports-search" type="text" placeholder="Search Module" aria-label="Search">
								  <img alt="Search Icon" class="searchReportsImg" src="imgs/ic-search-icon.png">
							   </div>
							</div>
							<div class="container-fluid moduleBox">
							   <div id='nodeBox' class="row ct-nodeBox">
								  <!-- Nodes -->
							   </div>
							</div>
							<div class="col"> <span id="ctExpandAssign" class=""><img alt="Collapse Icon" id="expAssign" class="iconSpaceArrow show-form" src="imgs/ic-collapse.png"></span>
							</div>
						 </div>
					  </div>
				   </div>
				</div>
			 </div>
			 <!-- Module Box -->
			 <!-- Overall Status Box -->
			 <div class='container-fluid mid-report-section hide'>
				<div class="d-flex flex-column">
				   <div class="p-2 filterBox">
					  <div class="" style='min-height:200px'>
						 <div class="container-fluid">
							<div class="row">
							   <div class="col colReportsWidth">
								  <div class="panel-group" id="accordionTblExecutions">
									 <div class="panel panel-default">
										<div class="panel-heading executionsHeader">
										   <h4 class="panel-title" id='panelTitle'>
											  <a id='executionNameHeader' data-toggle="" data-parent="#accordionTblExecutions" href="#">
												 <!-- executionNameHeader Header -->
											  </a>
										   </h4>
										</div>
										<div class='container-fluid dataTableReports modTbl'>
										   <table id="reportsModuleTable" class='display' style='width:100%'>
											  <thead>
												 <tr>
													<th>Execution No</th>
													<th>Start Date & Time <span id='dateDESC'  class="glyphicon glyphicon-triangle-bottom dateDesc"></span><span id='dateASC' style='display:none;'  class="glyphicon glyphicon-triangle-top dateAsc"></span></th>
													<th>End Date & Time </th>
												 </tr>
											  </thead>
											  <tbody>
											  </tbody>
										   </table>
										</div>
									 </div>
								  </div>
							   </div>
							   <div class="col colReportsWidth">
								  <div class="panel-group scenarioStatus" id="accordionTbloverallStatus">
									 <div class="panel panel-default">
										<div class="panel-heading executionsHeader">
										   <h4 class="panel-title" id='panelTitle'>
											  <a id='overallScenarioStatus' data-toggle="" data-parent="#accordionTbloverallStatus" href="#" class="overallScenarioStatus">
												 <!-- overallScenarioStatus Header -->
											  </a>
										   </h4>
										</div>
										<div id='overallStatus' class="container-fluid" style='width:70%;display:none;'>
										   <span style='color:#28a745'>Pass</span><span class='passPercent' style='color:#28a745;float:right;'></span>
										   <div class="progress" style="height:10px">
											  <div class="progress-bar bg-success" style="width:40%;height:10px;"></div>
										   </div>
										   <span style='color:#dc3545'>Fail</span><span class='failPercent' style='color:#dc3545;float:right;'></span>
										   <div class="progress" style="height:10px">
											  <div class="progress-bar bg-danger" style="width:40%;height:10px"></div>
										   </div>
										   <span style='color:#ffc107'>Terminate</span><span class='terminatePercent' style='color:#ffc107;float:right;'></span>
										   <div class="progress" style="height:10px">
											  <div class="progress-bar bg-warning" style="width:40%;height:10px"></div>
										   </div>
										   <span style='color:#343a40'>Incomplete</span><span class='incompletePercent' style='color:#343a40;float:right;'></span>
										   <div class="progress" style="height:10px">
											  <div class="progress-bar bg-dark" style="width:40%;height:10px"></div>
										   </div>
										</div>
									 </div>
								  </div>
							   </div>
							</div>
						 </div>
					  </div>
				   </div>
				</div>
			 </div>
			 <!-- Overall Status Box -->
			 <!-- Module Accordion -->
			 <div class="panel-group" id="accordion">
				<div class="panel panel-default">
				   <div class="panel-heading moduleHeader">
					  <h4 class="panel-title" id='panelTitle'>
						 <a id='moduleNameHeader' data-toggle="" data-parent="#accordion" href="#">
							<!-- Module Name Header -->
						 </a>
						 <input type='text' name='search' class='reportSearchBox' placeholder="Search Scenario" autocomplete="off" />
					  </h4>
				   </div>
				   <div class='container-fluid dataTableReports'>
					  <table id="reportsTable" class='display' style='width:100%'>
						 <thead>
							<tr>
							   <th>Scenario Name</th>
							   <th>End Date & Time</th>
							   <th>Status</th>
							   <th>View Report</th>
							</tr>
						 </thead>
						 <tbody>
						 </tbody>
					  </table>
				   </div>
				   <div id="collapseOne" class="panel-collapse collapse in">
					  <div class="panel-body">
						 <!-- Report Datatable -->
					  </div>
				   </div>
				</div>
			 </div>
		  </div>
		  <!-- Module Accordion -->
		  <!-- Right Side Bar  -->
		  <nav id="sidebarRight" class='rightBar'>
			 <div class="sidebar-header">
				<h3></h3>
				<strong></strong>
			 </div>
		  </nav>
		  <div class="ct-side fl-left ct-side-right" id="ct-lSide">
			 <div id="ct-expand-left" class="ct-expand ct-rev ct-expand-right"></div>
		  </div>
		  <!-- Right Side Bar  -->
	   </div>
	</section>
	<!--Section-->
 </div>
 <!-- SwitchRole Modal -->
 <div class="modal" id="switchRoleModal" role="dialog" data-keyboard="false" data-backdrop="static">
	<div class="modal-dialog modal-sm">
	   <div class="modal-content">
		  <div class="modal-header">
			 <button type="button" class="close" data-dismiss="modal">&times;</button>
			 <h4 class="modal-title">Switch Role</h4>
		  </div>
		  <div class="modal-body">
			 <p></p>
		  </div>
		  <div class="modal-footer">
			<button type="button" class="btn btn-default switchedRole">Yes</button>
			 <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
		  </div>
	   </div>
	</div>
 </div>
 <!-- SwitchRole Modal -->
 <!-- Popup for Role change -->
 <div class="modal" id="switchRoleStatus" role="dialog" data-keyboard="false" data-backdrop="static">
	<div class="modal-dialog modal-sm">
	   <div class="modal-content">
		  <div class="modal-header">
			 <button type="button" class="close" data-dismiss="modal">&times;</button>
			 <h4 class="modal-title">Switch Role</h4>
		  </div>
		  <div class="modal-body">
			 <p>There are no roles to switch</p>
		  </div>
		  <div class="modal-footer">
			 <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
		  </div>
	   </div>
	</div>
 </div>
 <!-- Popup for Role change -->
 

 <!-- Popup for Reset password -->
 <div class="modal" id="resetPassPopup" role="dialog" data-keyboard="false" data-backdrop="static">
	<div class="modal-dialog modal-sm resetModal">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Change Password</h4>
			</div>
			<div class="modal-body">
				<div class="login-wrap">
				<div class="input-group resetModalchild">
					<input id="currpassword" type="password" class="ic-currpassword reset-control" name="password" placeholder="Current Password" autocomplete="off">
				</div>
				<div class="input-group resetModalchild">
					<input id="newpassword" type="password" class="ic-newpassword reset-control" name="password" placeholder="New Password" autocomplete="off">
				</div>
				<div class="input-group resetModalchild">
					<input id="confpassword" type="password" class="ic-confpassword reset-control" name="password" placeholder="Confirm Password" autocomplete="off">
				</div>
				<span id="passwordValidation" class="errorMessages">{{passwordValidation}}</span>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default resetFields">Clear</button>
				<button type="button" class="btn btn-default resetPassword">Submit</button>
			</div>
		</div>
	</div>
 </div>
 <!-- Popup for Reset password -->

 <!-- Popup for successful reset of password -->
 <div class="modal" id="resetSuccessPopup" role="dialog" data-keyboard="false" data-backdrop="static">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Change Password</h4>
			</div>
			<div class="modal-body">
				<p>Password change successfull! Please login again with new password</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default resetSuccess">OK</button>
			</div>
		</div>
	</div>
 </div>
 <!-- Popup for successful reset of password -->

 <!-- Reports Modal Box -->
 <div class="modal" id="reportsModal" role="dialog" data-keyboard="false" data-backdrop="static">
	<div class="modal-dialog modal-sm">
	   <div class="modal-content">
		  <div class="modal-header">
			 <button type="button" class="close" data-dismiss="modal">&times;</button>
			 <h4 class="modal-title"></h4>
		  </div>
		  <div class="modal-body">
			 <p></p>
		  </div>
		  <div class="modal-footer">
			 <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
		  </div>
	   </div>
	</div>
 </div>
 <!-- Reports Modal Box -->
 <!-- Footer  -->
 <footer class="footer">
	<div class="card-header text-white d-flex card-footer"> <a href="#" class="text-white leftFooterTxt"><i class="fa-th"></i>&copy; SLK Software Services Pvt. Ltd. All Rights Reserved. Patent Pending</a>
	   <a href="#" class="text-white ml-auto rightFooterTxt" style='top: 0px;'>Powered By <img class="f-logo" src="imgs/ftr-slk-logo.png" /></a>
	</div>
 </footer>
 <!-- Footer  -->