<!--Header-->
<header header></header>
<!--Header-->

<!--Content Area-->
<section class="container-fluid container-fluid-inner">
	<!--Left Panel-->
	<div id="left-nav-section">
		<div class="scrollbar-macosx">
			<!--<div id="left-top-section">
				<ul>
					<li><span><a class='scrapeOnTxt'>Schedule On</a></span></li>
					<li><a class="selectBrowserSc"  data-name="3" title="Schedule On IE"><span><img src='imgs/ic-ie.png' alt='Internet Explorer' /></span>Internet Explorer</a></li>
					<li><a class="selectBrowserSc"  data-name="1" title="Schedule On Chrome"><span><img src='imgs/ic-chrome.png' alt='Google Chrome' /></span>Google Chrome</a></li>
					<li style="margin-bottom: 30px"><a class="selectBrowserSc"  data-name="2" title="Schedule On Firefox"><span><img src='imgs/ic-mozilla.png' alt='Mozilla Firefox' /></span>Mozilla Firefox</a></li>
				</ul>
			</div>-->
			<!-- Web -->
			<div id="left-top-section" ng-if="getScreenView == 'Web'">
				<ul>
					<li><span><a class='scrapeOnTxt'>Schedule On</a></span></li>
					<li><a class="selectBrowserSc" data-name="3"  title="Schedule on IE"><span><img src='imgs/ic-ie.png' alt='Internet Explorer' /></span>Internet Explorer</a></li>
					<li><a class="selectBrowserSc" data-name="1"  title="Schedule on Chrome"><span><img src='imgs/ic-chrome.png' alt='Google Chrome' /></span>Google Chrome</a></li>
					<li><a class="selectBrowserSc" data-name="2"  title="Schedule on Firefox"><span><img src='imgs/ic-mozilla.png' alt='Mozilla Firefox' /></span>Mozilla Firefox</a></li>
					<li><a class="selectBrowserSc" data-name="7"  title="Schedule on Edge"><span><svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 250 265" height="37px" width="100%"><defs><style>.cls-1{fill:#eee9ff;}</style></defs><title>Launch Microsoft Edge</title><path class="cls-1" d="M310.83,169.32a119.87,119.87,0,0,0-239.66-4.2c15.13-19.57,28.31-32.52,48-45.77,20-13.51,45.93-20.77,71.88-20.06,24.5.67,44.33,20.1,44.33,44.61v12.83H146.57c-1-13.39,7.69-30.14,15.45-40.47,0,0-25.47,12.78-40.4,31.57a82.25,82.25,0,0,0-17.18,32A86.1,86.1,0,0,0,100.67,204h0c-1.91,39,15.77,75,49,94.58C210.71,334.47,288,294.64,288,294.64v-54.4c-38.4,18.49-95.6,26.69-124,3.56C150.76,233,147.2,219.11,146,204h164.8Zm0,0" transform="translate(-71.17 -49.44)"/></svg></span>Microsoft Edge</a></li>
					<li style="margin-bottom: 30px"><a class="selectBrowserSc" data-name="8"  title="Schedule on Edge Chromium"><span><svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
						viewBox="0 0 566.4 566.4" style="fill:#eee9ff;" xml:space="preserve" height="45px" width="100%">
					<path d="M286.1,43c-99.4,0-196.9,60.3-232.7,172.4c-37,115.6,25.3,231.1,114,280.8c25.9,14.5,69.6,29.9,119.8,29.9
					   c62.7,0,135.6-24,196.9-103.6c5.1-7.2,8.8-13.7,3.6-19.2c-1.3-1.4-2.8-2-4.6-2c-5.5,0-14.6,5.6-34.4,13.7
					   c-14.4,5.9-35.6,9.1-57.4,9.1c-18.2,0-36.7-2.2-51.8-6.8c-33.4-10.1-82.4-27.3-109-94c-6-15.2-12.8-49.4,3.9-72.6
					   c0.7-0.8,1.2-1.6,1.9-2.4c11.4-14.3,28.8-24.9,48.2-24.9c10.8,0,22.2,3.3,33.5,11c32.2,22.1,31.4,57,20.9,75.7
					   c-7.4,13-10.7,16.2-12,18c-1.3,1.8-8.9,10,4.4,18.3s27.6,16.7,56.7,18.2c4.6,0.2,9.4,0.4,14.5,0.4c27.5,0,62-5.2,90.2-33.5
					   c40-40.2,31.8-95.4,21.2-125.8c-10.6-30.4-56.2-134.2-181.7-158.3C317,44.5,301.5,43,286.1,43z M286.1,80.3
					   c13.1,0,26.3,1.2,39.2,3.7c106.2,20.4,144.4,107.7,153.6,134c5.8,16.6,16.2,58.4-12.5,87.3c-15.5,15.6-35.2,22.5-63.8,22.5
					   c-4.4,0-8.7-0.2-12.6-0.4c-6.8-0.4-12.2-1.1-16.8-2.3c16.6-32.7,13.3-80-22.6-112.3c-26.5-30.5-73.9-62.6-127.7-72.9h0
					   c-14.1-2.7-29.4-3.5-44.9-2.1c-14.9,1.3-29.9,4.9-44.5,10.4C171.6,105.5,225.8,80.3,286.1,80.3z M199.5,174.5
					   c5.7,0.2,11.2,0.9,16.4,1.9c14.1,2.7,28.1,7.9,41.4,14.1c-17.1,5.3-32.9,15.3-45.5,29.2l-0.1-0.1c-1.4,1.6-2.4,3.1-3.7,4.7
					   c-0.8,1-1.8,2-2.6,3.1c-0.2,0.3-0.3,0.6-0.5,0.8c-55.1,66.9-69,133.7-55.3,187.4c3,11.6,7.4,22.4,12.7,32.5
					   C104.1,403,62.4,319.7,87.4,232.5h0C111.7,190.1,159.8,172.8,199.5,174.5z M191.4,322.9c1.3,5,2.8,9.8,4.6,14.2
					   c34.2,86.1,100.8,106.2,132.8,115.9c21.2,6.4,43.1,8.1,58.9,8.3c-30.5,18.4-64,27.6-100.5,27.6c-7.8,0-15.2-0.5-22.4-1.3
					   c-35.4-8.5-68.3-38.6-79.2-81.3C179.5,382.4,180.3,354.1,191.4,322.9z"/>
					</svg></span>Edge Chromium</a></li style="margin-bottom: 30px">
				</ul>
			</div>
			<!-- Web -->
			
			<!-- SAP -->
			<div id="left-top-section" ng-if="getScreenView == 'SAP'" class="ApptypeScreenView">
				<ul>
					<li><span><a class='scrapeOnTxt'>Schedule On</a></span></li>
					<li><a class="selectBrowserSc" data-name="1"  title="Schedule on SAP Apps"><span><img src='imgs/ic-desktop.png' alt='SAP Apps' /></span>SAP Apps</a></li>
				</ul>
			</div>
			<!-- SAP -->
			
			<!-- Desktop -->
			<div id="left-top-section" ng-if="getScreenView == 'Desktop'" class="ApptypeScreenView">
				<ul>
					<li><span><a class='scrapeOnTxt'>Schedule On</a></span></li>
					<li><a class="selectBrowserSc" data-name="1"  title="Schedule on Desktop Apps"><span><img src='imgs/ic-desktop.png' alt='Desktop Apps' /></span>Desktop Apps</a></li>
				</ul>
			</div>
			<!-- Desktop -->
			
			<!-- Mobile App -->
			<div id="left-top-section" ng-if="getScreenView == 'MobileApp'" class="ApptypeScreenView">
				<ul>
					<li><span><a class='scrapeOnTxt'>Schedule On</a></span></li>
					<li><a class="selectBrowserSc" data-name="1"  title="Schedule on Mobile Apps"><span><img src='imgs/ic-mobility.png' alt='Mobile Apps' /></span>Mobile Apps</a></li>
				</ul>
			</div>
			<!-- Mobile App -->
			
			<!-- Web Services -->
			<div id="left-top-section" ng-if="getScreenView == 'Webservice'" class="ApptypeScreenView">
				<ul>
					<li><span><a class='scrapeOnTxt'>Schedule On</a></span></li>
					<li><a class="selectBrowserSc" data-name="1"  title="Schedule on Web Services"><span><img src='imgs/ic-webservice.png' alt='Web Services' /></span>Web Services</a></li>
				</ul>
			</div>
			<!-- Web Services -->
			
			<!-- OEBS -->
			<div id="left-top-section" ng-if="getScreenView == 'DesktopJava'" class="ApptypeScreenView">
				<ul>
					<li><span><a class='scrapeOnTxt'>Schedule On</a></span></li>
					<li><a class="selectBrowserSc" data-name="1"  title="Schedule on OEBS Apps"><span><img src='imgs/ic-desktop.png' alt='OEBS Apps' /></span>OEBS Apps</a></li>
				</ul>
			</div>
			<!-- OEBS -->
			
			<!-- Mobile Web -->
			<div id="left-top-section" ng-if="getScreenView == 'MobileWeb'" class="ApptypeScreenView">
				<ul>
					<li><span><a class='scrapeOnTxt'>Schedule On</a></span></li>
					<li><a class="selectBrowserSc" data-name="1"  title="Schedule on Mobile Web"><span><img src='imgs/ic-mobility.png' alt='Mobile Web' /></span>Mobile Web</a></li>
				</ul>
			</div>
			<!-- Mobile Web -->

			<!-- Mainframe -->
			<div id="left-top-section" ng-if="getScreenView == 'Mainframe'" class="ApptypeScreenView">
				<ul>
					<li><span><a class='scrapeOnTxt'>Schedule On</a></span></li>
					<li><a class="selectBrowserSc" data-name="1"  title="Schedule Mainframe"><span><img src='imgs/ic-mainframe.png' alt='Mainframe' style="background-color: white; border-radius: 7px;"/></span>Mainframe</a></li>
				</ul>
			</div>

			<!-- System -->
			<div id="left-top-section" ng-if="getScreenView == 'System'" class="ApptypeScreenView">
				<ul>
					<li><span><a class='scrapeOnTxt'>Schedule On</a></span></li>
					<li><a class="selectBrowserSc" data-name="1"  title="Schedule System"><span><img src='imgs/ic-desktop.png' alt='System' style="border-radius: 7px;"/></span>System</a></li>
				</ul>
			</div>
			<!-- System -->

			<!--<div class='clear-both'></div>-->

			<div id="left-bottom-section" class="lbs-single">
				<ul>
					<li style="position:absolute;" ng-if="getScreenView == 'Web'"><a class="selectParallel" href='#' title="Parallel Execution"><span><img src='imgs/ic-parallel.png' alt='Parallel' height='55' width='57'/></span><font size="2">Parallel Execution</font></a></li>
				</ul>
			</div>

			<!--<div id="left-bottom-section" class="lbs-single">
				<ul>
					<li><a href='/scheduling'  title="Scheduling"><span><img src='imgs/ic-scheduling.png' alt='Scheduling' /></span>Schedule</a></li>
				</ul>
			</div>-->
		</div>
	</div>
	<!--Left Panel-->

	<!--Middle Panel-->
	<div id="middle-content-section">
		<!-- Wrapper -->
		<div id="wrapper-sc">
			<!--Task Name-->
			<div id="page-taskName">
				<span>Schedule</span>	
			</div>
			<!--Task Name-->
			
			<!--Page Contents-->
			<div id="pageContent">
				<!-- Top Section -->
				<div id="scheduleSuitesTopSection">
					<!-- Table Buttons -->
					<div id="tableActionButtons">
						<button class="btn btn-md pull-right submitTaskBtn" ng-click="submitTaskScheduling()"  title="Submit Task">Submit</button>
						<button class="btn btn-md pull-right btnAddToSchedule" style="margin-right:10px" ng-click="initSchedule($event)" title="Add">Schedule</button>
					</div>
					<!-- Table Buttons -->
					
					<!-- Schedule Data Table -->
					<div class="scheduleSuiteTable scrollbar-inner">
						<!-- Schedule Table Header -->
						<!-- <div class="scheduleDataHeader">
							<span style="width: 4%">&nbsp;</span>
							<span style="width: 23%; text-align:left; border-right: 1px solid #fff;">Scenario Name</span>
							<span style="width: 17%; border-right: 1px solid #fff;">IP Address</span>
							<span style="width: 20%; border-right: 1px solid #fff;">Data Parameterization</span>
							<span style="width: 25%; border-right: 1px solid #fff;">Date & Time</span>
							<span style="width: 11%">ALM</span>
						</div> -->
						<!-- Schedule Table Header -->
						
						<!-- Schedule Table Body -->
						<!-- <div id="scheduleDataBody" class="scrollbar-inner scheduleDataBody"></div> -->
						<!-- Schedule Table Body -->
					</div>
					<!-- Schedule Data Table -->
				</div>
				<!-- Top Section -->
				
				<!-- Bottom Section -->
				<div id="scheduleSuitesBottomSection">
					<!--Task Name-->
					<div id="page-taskName">
						<span>Scheduled</span>	
						<select id="scheduledSuitesFilterData" class="form-control">
							<option selected disabled>Select Status</option>
							<option>Completed</option>
							<option>In Progress</option>
							<option>Scheduled</option>
							<option>Terminated</option>
							<option>Cancelled</option>
							<option>Failed 01</option>
							<option>Failed 02</option>
							<option>Skipped</option>
							<option>Show All</option>
						</select>
					</div>
					<!--Task Name-->
					
					<!-- Schedule Data Table -->
					<div class="scheduleDataTable">
						<!-- Schedule Table Header -->
						<div class="scheduleDataHeader">
							<span style="width: 18%; border-right: 1px solid #fff; cursor: pointer;" title="Click to sort" ng-click="reverse=!reverse;predicate='scheduledatetime'">Date & Time</span>
							<span style="width: 12%; border-right: 1px solid #fff">Host</span>
							<span style="width: 20%; border-right: 1px solid #fff">Scenario Name</span>
							<span style="width: 20%; border-right: 1px solid #fff">Test Suite</span>
							<span style="width: 15%; border-right: 1px solid #fff">App Type</span>
							<span style="width: 9%">Status</span>
						</div>
						<!-- Schedule Table Header -->
						
						<!-- Schedule Table Body -->
						<div id="scheduledDataBody" class="scrollbar-inner scheduledDataBody">
							<div class='scheduleDataBodyRow' ng-repeat="schdata in scheduledData | orderBy:predicate:reverse">
								<div ng-repeat="data in schdata.scenariodetails" class="scheduleDataBodyRowChild">
									<div style='width: 18%'>{{schdata.scheduledatetime}}</div><!-- {{schdata.scheduledatetime.split("T")[1].split(".")[0]}}-->
									<div style='width: 12%' data-userid={{schdata.userid}}>{{schdata.target}}</div>
									<div style='width: 20%' title={{data.scenarioname}}>{{data.scenarioname}}</div>
									<div style='width: 20%' title={{schdata.testsuitename}}>{{schdata.testsuitename}}</div>
									<div style='width: 15%'><img ng-repeat="brow in schdata.browserlist" ng-src={{browImg(brow,schdata.scenariodetails[0].appType)}} style="margin-right: 5px;"/></div>
									<div style='width: 9%' data-cycleid={{schdata.cycleid}} data-scheduleid={{schdata._id}} data-scheduledatetime={{schdata.scheduledatetime.valueOf().toString()}}>{{schdata.status}} <span class="glyphicon glyphicon-remove cancelJob" ng-if="schdata.status == 'scheduled'" ng-click='cancelThisJob($event,"cancelled")' title='Cancel Job'></span>
									<!--<span class="glyphicon glyphicon-stop cancelJob" ng-if="schdata.schedulestatus == 'scheduled'" ng-click='cancelThisJob($event,"Terminate")' title='Terminate Job'></span>-->
									</div> 
									<!--<img src='imgs/ic-close.png' ng-if="schdata.schedulestatus == 'scheduled'" class='cancelJob' ng-click='cancelThisJob($event)' title='Cancel Job'/>-->
								</div>
							</div>
						</div>
						<!-- Schedule Table Body -->
					</div>
					<!-- Schedule Data Table -->
				</div>
				<!-- Bottom Section -->
			</div>
			<!--Page Contents-->
		</div>
		<!-- Wrapper -->
	</div>
	<!--Middle Panel-->

	<!--Right Panel-->
	<div id="right-dependencies-section">
		<!--Images Blocks-->
		<div class="thumbnail thumbnail-custom">
        	<a class="slidePopup"  title="Tasks">
          		<img class="thumb-ic" src="imgs/ic-task.png" alt="Tasks">
          		<div class="caption">
            		<p>Tasks</p>
          		</div>
        	</a>
			<!--Popup-->
			<div tabindex="0" id="window-task" class="popupWrap">
				<h4 class="h4-custom closePopup">My task(s)<img class="closePopup pull-right" src="imgs/ic-arrow.png" /></h4>
				<div class="input-group">
						<span class="input-group-addon inputMyTask" id="basic-addon1"><img src="imgs/ic-search-icon.png"></span>
						<input type="text" class="form-control searchInputMyTask" placeholder="Search My task(s)" aria-describedby="basic-addon1">
				</div>
				<div class="popupContent popupTasks">
					<div class="scrollbar-inner scrollbar-innerpages">
						<!--Tasks-->
						<div class="panel-group task-content-inner" id="accordion"></div>
						<!--Tasks-->
					</div>
				</div>
			</div>
			<!--Popup-->
      	</div>
		<!--Images Blocks-->

		<!--Images Blocks-->  		
		<div class="thumbnail thumbnail-custom">
        	<a class="slidePopup"  title="Info">
          		<img class="thumb-ic" src="imgs/ic-info.png" alt="Project Info">
          		<div class="caption">
            		<p>Info</p>
          		</div>
        	</a>
			<!--Popup-->
			<div tabindex="0" id="window-pi" class="popupWrap">
				<h4 class="h4-custom closePopup">Information <img class="closePopup pull-right" src="imgs/ic-arrow.png" /></h4>
				<div class="popupContent projectInfoWrap"></div>
			</div>
			<!--Popup-->
      	</div>
		<!--Images Blocks-->

		<!--Images Blocks-->
      <chatbot chatbot></chatbot>
      <!--Images Blocks-->
	</div>
	<!--Right Panel-->
</section>	
<!--Content Area-->

<!--Footer-->
<footer footer id="footer" class="footer-global"></footer>
<!--Footer-->

<!-- Submitting Task -->
<div class="modal fade" id="submitTasksdScheduling" role="dialog" data-keyboard="false" data-backdrop="static">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Submit Task</h4>
			</div>
			<div class="modal-body">
				<p>Are you sure you want to submit the task ?</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default btn-default-yes" data-dismiss="modal">Yes</button>
				<button type="button" class="btn btn-default" data-dismiss="modal">No</button>
			</div>
		</div>
	</div>
</div>
<!-- Submitting Task -->
<!-- Global Popup -->
<div class="modal fade" id="scheduleGlobalModal" role="dialog" data-keyboard="false" data-backdrop="static">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title"></h4>
			</div>
			<div class="modal-body">
				<p></p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default btn-accept" data-dismiss="modal">Ok</button>
			</div>
		</div>
	</div>
</div>
<!-- Global Popup -->