<!--Header-->
<header header></header>
<!--Header-->

<!--Content Area-->
<section class="container-fluid container-fluid-inner">
	<!--Left Panel-->
	<div id="left-nav-section">
		<div class="scrollbar-macosx">
			<div id="left-top-section" class="left-top-section-utility">
				<ul>
					<li><span><a class='scrapeOnTxt'>Utilities</a></span></li>
					<li><a href='#' id="utilityEncrytpion" ng-click=" getScreenView = 'utility-Encrytpion'; encrypt_optimize('utility-Encrytpion')" title="Encryption" class="selectAutility"><span><img
								src='imgs/ic-encryption-utility.png' alt='Encryption' /></span>Encryption</a></li>
					<li><a href='#' id="utilityOptimization" ng-click="encrypt_optimize('utility-Optimization')" title="Optimization" class="selectAutility"><span><img
								src='imgs/ic-optimization.png' alt='Optimization' /></span>Optimization</a></li>
				</ul>
			</div>

		</div>
	</div>
	<!--Left Panel-->

	<!--Middle Panel-->
	<div id="middle-content-section">

		<!-- Encryption div -->
		<div ng-if="getScreenView == 'utility-Encrytpion'"
			id="utility-encrytpion">
			<!--Task Name-->
			<div id="page-taskName">
				<span>Encryption</span>

			</div>
			<!--Task Name-->

			<!-- checkbox and button START -->
			<div id="methodSel-utility">

				<select id="utilityMethods" 
					class="form-control utilityMethods pull-left">
					<option value="Select Method" selected>Select Method</option>
					<option value="AES">AES</option>
					<option value="MD5">MD5</option>
					<option value="Base64">Base64</option>

				</select>

				<!-- <button ng-click="ImportEncryption()"
					class="btn btn-xs btn-xs-custom pull-left saveWS" title="Import">Import</button> -->

			</div>
			<!-- checkbox and button END -->

			<!-- requestWrap -->
			<div id="Encryption" class="utility-ecryptionData">
				<textarea id="encryptData"
					class="encryptionData-body encryptionData"
					placeholder="Enter Data for Encryption"></textarea>
				
				<div id="encryption_btns" style="display:none;">
				<button id="reset_btn" style="padding: 2px 25px;" class="btn btn-md pull-right"
					ng-click="resetEncrypt($event)" title="Reset">Reset</button>
				<button id="encrypt_btn" style="padding: 2px 25px; margin-right: 10px;" class="btn btn-md pull-right"
					ng-click="EncryptData($event)" title="Encrypt">Encrypt</button>
				</div>
				
				<textarea id="encryptedData"
					class="encryptionData-body encryptedData"
					readonly="readonly"
					placeholder="Encrypted Data"></textarea>
			</div>
			<!-- requestWrap -->

		</div>
		<!-- Encryption div ends -->

		<!-- OPTIMIZATION div -->
		<div ng-if="getScreenView == 'utility-Optimization'"
			id="utilityOptimization">
			<!--Task Name-->

			<div id="page-taskName">
				<span>Optimization</span>

			</div>
			<!--Task Name-->

			<div id="optimization-fn">

				<div class="pairwise">
					<div title="Pairwise" id="pairwise-inner">
						<div ng-click="encrypt_optimize('utility-Pairwise')" class="pairwiseOrtho-img">
							<img src='imgs/ic-pairwise.png' alt='Pairwise' />
						</div>
						<div ng-click="encrypt_optimize('utility-Pairwise')" style="padding-left: 17px; font-size: 16px;cursor: pointer;">Pairwise</div>
					</div>
				</div>

				<!-- border -->
				<div
					style="float: left; /* min-width: 96px; */ align-content: center; border: 1px solid #D5D8DC; height: 120px; margin: 19px 0px 19px 0;"></div>
				<!-- border -->

				<div class="ortho-array">
					<div title="Orthogonal Array" id="ortho-inner">
						<div class="pairwiseOrtho-img">
							<img style="padding-left: 16px;"
								src='imgs/ic-orthogonal-array.png' alt='Orthogonal Array' />
						</div>
						<div style="font-size: 16px; cursor: pointer;">Orthogonal Array</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Optimization div ends -->

		<!-- After pairwise selection -->
		<div ng-if="getScreenView == 'utility-Pairwise'" style="height: 100%;">
		
		<!--Task Name-->
			<div id="page-taskName">
				<span>Pairwise</span>
			</div>
		<!--Task Name-->
		
		<!-- Generate DIV -->
		
		<div>
		<span id="pairwise-level">Factor</span><input id="level-row" type="text" class="level-factor validationPairwise" placeholder="Enter factor" />
		<span id="pairwise-factor">Level</span><input id="factor-col" type="text" class="level-factor validationPairwise" placeholder="Enter level" />
		<button ng-click="CreateFactors()" class="btn btn-xs btn-xs-custom pull-left saveWS pairwise-createBtn" title="Create">Create</button>
		<button style="padding: 2px 25px" class="btn btn-md pull-right pairwise-GenBtn" ng-click="pairwiseGenerate()" title="Encrypt">Generate</button>
		</div>
		
		<!-- Generate DIV -->
		
		<!-- Table DnD -->
		<div id="factorsTbl" class="scroll-wrapper pairwiseFactorsTbl">
		<table  class="factorsTbl level-factors-pairwiseTbl" cellspacing="0" cellpadding="0">
			<thead><tr></tr></thead>
			<tbody  class="pairwiseFactorsTbl"></tbody>
		</table>
		</div>


			<!-- <div id="factorsTbl" class="factorsTbl level-factors-pairwiseTbl" >
				<div id="factorsTblHeader" class="factorsTblHeader"> </div>
				<div id="pairwiseFactorsTblbody" class="pairwiseFactorsTblbody"> </div>
			</div> -->

			<!-- Table DnD -->
				
				<!-- Pairwise popup -->
	<div id="dialog-addObject" class="modal fade" role="dialog" data-keyboard="false" data-backdrop="static">
		<div class="modal-dialog" style="width: 700px">
			<!-- Modal content-->
			<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Pairwise</h4>
			</div>
			<div class="modal-body modal-body-pairwise">
			<table id="modal-body-pairwise" class="factorsTbl level-factors-pairwiseTbl" cellspacing="0" cellpadding="0">
				<thead><tr></tr></thead>
			    <tbody></tbody>
			</table>
			</div>
			<div class="modal-footer">
				<button ng-click="ExportPairwise()" type="button" id="resetObjRow" class="btn btn-default">Export</button>
			</div>
			</div>
		</div>
	</div>
	<!-- Pairwise popup -->
			
		</div>
		<!-- After pairwise selection -->

	</div>
	<!--Middle Panel-->

	<!--Right Panel-->
	<div id="right-dependencies-section">

		<!--Images Blocks-->
		<div class="thumbnail thumbnail-custom">
			<a class="slidePopup"> <img class="thumb-ic"
				src="imgs/ic-task.png" alt="Tasks">
				<div class="caption">
					<p>Tasks</p>
				</div>
			</a>
			<!--Popup-->
			<div tabindex="0" id="window-task" class="popupWrap">
				<h4 class="h4-custom closePopup">
					My task(s)<img class="closePopup pull-right"
						src="imgs/ic-arrow.png" />
				</h4>
				<div class="input-group">
						<span class="input-group-addon inputMyTask" id="basic-addon1"><img src="imgs/ic-search-icon.png"></span>
						<input type="text" class="form-control searchInputMyTask" placeholder="Search My task(s)" aria-describedby="basic-addon1">
				</div>
				<div class="popupContent popupTasks">
					<div class="scrollbar-inner scrollbar-innerpages">
						<!--Tasks-->
						<div class="panel-group task-content-inner" id="accordion"></div>
						<!--Tasks-->
					</div>
				</div>
			</div>
			<!--Popup-->
		</div>
		<!--Images Blocks-->

	  <!--Images Blocks-->
      <chatbot chatbot></chatbot>
      <!--Images Blocks-->

		<!-- Global Modal  -->
		<div class="modal fade" id="globalModal" role="dialog"
			data-keyboard="false" data-backdrop="static">
			<div class="modal-dialog modal-sm">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title"></h4>
					</div>
					<div class="modal-body">
						<p></p>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Ok</button>
					</div>
				</div>
			</div>
		</div>
		<!-- Global Modal  -->

		<!-- Global Modal for Input field -->
		<div id="modalDialog-inputField" class="modal fade" role="dialog"
			data-keyboard="false" data-backdrop="static">
			<div class="modal-dialog modal-sm">
				<!-- Modal content-->
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title"></h4>
					</div>
					<div class="modal-body">
						<!--Modal Content-->
						<form class="form-inline">
							<!--Inputs Seprators-->
							<div class="row row-modal">
								<!-- <div class="form-group">
								<label>Object Type</label>
								<select class="form-control"><option>Select</option></select>
							</div> -->
								<div class="form-group" style="width: 100% !important;">
									<label id="labelContent" style="margin-bottom: 0px;"></label> <input
										type="text" class="form-control" id="getInputData"
										placeholder="Enter object name">
								</div>
								<div>
									<span id="errorMsgs1" class="errorMsg" style="display: none;"></span>
									<span id="errorMsgs2" class="errorMsg" style="display: none;"></span>
									<span id="errorMsgs3" class="errorMsg" style="display: none;"></span>
								</div>
							</div>
							<!--Inputs Seprators-->
						</form>
						<!--Modal Content-->
					</div>
					<div class="modal-footer">
						<!-- <button type="button" class="btn btn-default pull-left">Add More</button> -->
						<button type="button" class="btn btn-default" id="">Submit</button>
						<!-- <button type="button" class="btn btn-default">Reset</button> -->
					</div>
				</div>
			</div>
		</div>
		<!-- Global Modal for Input field -->
	</div>
	<!--Right Panel-->
</section>
<!--Content Area-->

<!--Footer-->
<footer footer id="footer" class="footer-global"></footer>
<!--Footer-->