<!--Header-->
<header header></header>
<!--Header-->

<!--Content Area-->
<section class="container-fluid container-fluid-inner">

	<!--Left Panel-->
	<div id="left-nav-section">
		<div class="scrollbar-macosx">
			<div id="left-top-section" class="ApptypeScreenView">
				<ul>
					<li><span><a class="scrapeOnTxt">Crawl On</a></span></li>
					<li><a id='ie_img1' ng-click="hideBaseContent.message=='false' ? selectedAgent = 'ie' : selectedAgent=selectedAgent" href="#" title="Internet Explorer"><span><img id='ie_img' class="highlightImg" ng-class="{'selectedIcon': selectedAgent === 'ie'}" src="imgs/ic-ie.png" alt="Internet Explorer"></span>Internet Explorer</a></li>
					<li><a id='gc_img1' ng-click="hideBaseContent.message=='false' ? selectedAgent = 'chrome' : selectedAgent=selectedAgent" href="#" title="Google Chrome"><span><img id='gc_img' class="highlightImg" ng-class="{'selectedIcon': selectedAgent === 'chrome'}" src="imgs/ic-chrome.png" alt="Google Chrome"></span>Google Chrome</a></li>
					<li><a id='mf_img1' ng-click="hideBaseContent.message=='false' ? selectedAgent = 'firefox' : selectedAgent=selectedAgent" href="#" title="Mozilla Firefox"><span><img id='mf_img' class="highlightImg " ng-class="{'selectedIcon': selectedAgent === 'firefox'}" src="imgs/ic-mozilla.png" alt="Mozilla Firefox"></span>Mozilla Firefox</a></li>
					<li><a id='sf_img1' ng-click="hideBaseContent.message=='false' ? selectedAgent = 'safari' : selectedAgent=selectedAgent" href="#" title="Safari"><span><img id='sf_img' class="highlightImg " ng-class="{'selectedIcon': selectedAgent === 'safari'}" src="imgs/ic-safari.png" alt="Safari"></span>Safari</a></li>
				</ul>
			</div>
			<div class='clear-both'></div>
			<div class="showContainer" id="left-bottom-section">
				<ul>
					<li><a ng-click="setProxy('show', $event)" href='#' title="Set Proxy" ng-class="crawlActive? 'disableActions':'enableActions'"><span><img src='imgs/ic-setproxy.png' alt='Set Proxy' /></span>Set Proxy</a></li>
				</ul>
			</div>
		</div>
	</div>
	<!--Left Panel-->

	<!--Middle Panel-->
	<div id="middle-content-section">
		<!--Task Name-->
			<div id="page-taskName">
				<span style="cursor:pointer" ng-click="showWebocularHome()">Webocular</span>
			</div>
			<!--Task Name-->
			<!-- Generate DIV -->
		<div ng-hide="hideBaseContent.message == 'true'">
			<div class="url-div">
				<form name="webocular_form">
				<span><b>URL </b> </span>
				<input name="urlInput" type="url" ng-model="url" class="urlInput" placeholder="Enter URL" required>
					<!--<span>Screen Capture</span>
					<button  class="btn btn-sm btn-crawl theme" title=" Run for all">All</button>
					<button  class="btn btn-sm btn-crawl " title="Run only for failed">Only Failed</button>-->
				<button ng-if="enableGenerate" style="padding: 2px 25px" class="btn btn-md pull-right pairwise-GenBtn" ng-click="generateGraph($event)" title="Generate">Generate</button>
			</form>
			</div>

			<div>
				<span><b>Levels</b></span>
				<input  id="level-slider" ng-model="level" data-slider-id='ex1Slider' type="text" data-slider-min="0" data-slider-max="20" data-slider-step="1" data-slider-value="4"/>
				<button ng-if="!webocular_form.urlInput.$valid" disabled class="btn btn-sm btn-crawl theme" ng-click="executeGo($event)">Go</button>
				<button ng-if="webocular_form.urlInput.$valid" class="btn btn-sm btn-crawl theme" ng-click="executeGo($event)">Go</button>
				<button ng-if="enableGenerate"  class="btn btn-md pull-right pairwise-GenBtn" ng-click="showReport($event)" title="Show Report">View Report</button>

			</div>

			<div class="scrollbar-inner" >
				<div class="crawl-result" >
					<h4 ng-if="arr.length > 0">Subdomains </h4>
					<p ng-repeat= "a in arr track by $index">{{a}} </p>
					<br>
					<h4 ng-if="otherLinks.length > 0">Other Links</h4>
					<p ng-repeat= "a in otherLinks track by $index">{{a.name}} </p>
				</div>
			</div>
		</div>

		<div ng-hide="hideBaseContent.message == 'false'" id="progress-canvas">
			<div id="slider-container">
				<div id="crawler-slider"></div>
				<div style="clear:both"></div>
			</div>
		</div>

		<div  id="result-canvas"></div>
		<div id="report-canvas"></div>
	</div>
	<!--Middle Panel-->

	<!--Right Panel-->
	<div id="right-dependencies-section">

		<!--Images Blocks-->
		<div class="thumbnail thumbnail-custom">
        	<a class="slidePopup"  title="Tasks">
          		<img class="thumb-ic" src="imgs/ic-task.png" alt="Tasks">
          		<div class="caption">
            		<p>Tasks</p>
          		</div>
        	</a>
			<!--Popup-->
			<div tabindex="0" id="window-task" class="popupWrap" style="z-index: 99999 !important;">
				<h4 class="h4-custom closePopup">My task(s)<img class="closePopup pull-right" src="imgs/ic-arrow.png" /></h4>
				<div class="input-group">
						<span class="input-group-addon inputMyTask" id="basic-addon1"><img src="imgs/ic-search-icon.png"></span>
						<input type="text" class="form-control searchInputMyTask" placeholder="Search My task(s)" aria-describedby="basic-addon1">
				</div>
				<div class="popupContent popupTasks">
					<div class="scrollbar-inner scrollbar-innerpages">
						<!--Tasks-->
						<div class="panel-group task-content-inner" id="accordion"></div>
						<!--Tasks-->
					</div>
				</div>
			</div>
			<!--Popup-->
      	</div>
		<!--Images Blocks-->

		<!--Images Blocks-->
		<div class="thumbnail thumbnail-custom" ng-show="showInfo">
        	<a class="slidePopup"  title="Info">
          		<img class="thumb-ic" src="imgs/ic-info.png" alt="Project Info">
          		<div class="caption">
            		<p>Info</p>
          		</div>
        	</a>
			<!--Popup-->
			<div tabindex="0" id="window-pi" class="popupWrap">
				<h4 class="h4-custom closePopup">Information <img class="closePopup pull-right" src="imgs/ic-arrow.png" /></h4>
				<div class="popupContent projectInfoWrap">
					<p>
						<b>Name : </b>
						<a href ="{{clickedNode.name}}" title="{{clickedNode.name}}" target='_blank' ng-bind="clickedNode.name"></a>
					</p>
					<p ng-show= "clickedNode.parent != 'None'">
						<b>Parent : </b>
						
						<a  href ="{{clickedNode.parent != 'None' ? clickedNode.parent : ''}}" title="{{clickedNode.parent}}" target='_blank' ng-bind="clickedNode.parent"></a>						
					</p>
					<p>
						<b>Level : </b>
						<span ng-bind="clickedNode.level"></span>						
					</p>
					<p>
						<b>Status : </b>
						<span ng-bind="clickedNode.status"></span>						
					</p>
				</div>
			</div>
			<!--Popup-->
      	</div>
		<!--Images Blocks-->

		<!--Images Blocks-->
		<chatbot chatbot></chatbot>
		<!--Images Blocks-->
	</div>
	<!--Right Panel-->
</section>
<!--Content Area-->

<!--Footer-->
<footer footer id="footer" class="footer-global"></footer>
<!--Footer-->


<!-- Global Popup -->
<div class="modal fade" id="WebocularGlobalModal" role="dialog" data-keyboard="false" data-backdrop="static">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title"></h4>
			</div>
			<div class="modal-body">
				<p></p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default btn-accept" data-dismiss="modal">Ok</button>
			</div>
		</div>
	</div>
</div>
<!-- Global Popup -->

<!-- Set Proxy -->
<div id="dialog-setProxy" class="modal fade" role="dialog" data-keyboard="false" data-backdrop="static">
	<div class="modal-dialog">
		<!-- Modal content-->
		<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" ng-click="setProxy('hide', $event)" data-dismiss="modal">&times;</button>
			<h4 class="modal-title">Set Proxy</h4>
		</div>
		<div class="modal-body">
			<div class="btn-group btn-toggle btn-setproxy" style="margin-left:35%">
				<button class="btn btn-sm btn-default" ng-class="tprxy.enable? 'active':''" ng-click="tprxy.enable=false">Disable</button>
				<button class="btn btn-sm btn-default" ng-class="tprxy.enable? '':'active'" ng-click="tprxy.enable=true">Enable</button>
			</div><br><br>
			<p><input class="launchPopupInput form-control" type="text" placeholder="Enter Proxy URL" ng-model="tprxy.url" ng-disabled="!tprxy.enable"/></p>
			<p><input class="launchPopupInput form-control" type="text" placeholder="Enter User Name" ng-model="tprxy.username" ng-disabled="!tprxy.enable"/></p>
			<p><input class="launchPopupInput form-control" type="password" placeholder="Enter Password (Encypted)" ng-model="tprxy.password" ng-disabled="!tprxy.enable"/></p>
		</div>
		<div class="modal-footer">
			<button ng-click="setProxy('reset', $event)" type="button" class="btn btn-default">Reset</button>
			<button ng-click="setProxy('save', $event)" type="button" class="btn btn-default" data-dismiss="modal">Save</button>
		</div>
		</div>
	</div>
</div>
<!-- Set Proxy -->
