@import "../../global/styles/ColorVariables.scss";

.d__thumbnail input[type='checkbox']{
    width: 18px;
    height: 18px;
    outline: none;
}

.d__thumbnail{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20% 20px 15%;
    font-size: 12px;
    font-weight: 600;
}

.d__thumbnail_title{
    text-align: center;
}

.d__debugOn{
    font-family: $avoPrimaryFont;
    font-size: 18px;
    user-select: none;
}


.cls-1{
    height: 36px;
    width: 36px;
}

// @media screen and (min-width: 1400px) and (min-height: 770px){
    
//     .d__thumbnail input[type='checkbox']{
//         width: 2.34vh;
//         height: 2.34vh;
//     }

//     .d__thumbnail{
//         font-size: 2.08vh;
//     }
//     .d__debugOn{
//         font-size: 2.34vh;
//     }
//     .cls-1{
//         height: 5.6vh;
//         width: 6vh;
//         padding: 0.26vh;
//     }
// }