.add__object__header {
    .p-dialog-header-icons {
        right: 2% !important;
        position: absolute;
    }

    .p-dialog-header {
        background: #E2E2ED !important;
    }

}


.add_object__left {
    position: absolute;
    height: 60%;
    width: 46%;
    top: 18%;
    right: 51%;
    border: 1px solid #C7C7C7;

    .p-card-title {
        font-family: 'Open Sans';
        font-weight: 500 !important;
        font-size: 15px !important;
        border-bottom: 1px solid #C7C7C7;
        color: #030229;
        padding: 0.7rem;
        margin-left: 1.7%;
    }

    .p-card-body {
        padding: 0 !important;
    }
}

.card__add_object {
    display: flex;
    flex-direction: row;
}

.add_object__right {
    position: absolute;
    height: 60%;
    width: 46%;
    top: 18%;
    left: 51%;
    border: 1px solid #C7C7C7;

    .p-card-title {
        font-family: 'Open Sans';
        font-weight: 500 !important;
        font-size: 15px !important;
        color: #030229;
        border-bottom: 1px solid #C7C7C7;
        padding: 0.7rem;
    }

    .p-card-body {
        padding: 0 !important;

        .p-card-content {
            padding: 0rem;
            max-height: 13rem !important;
            overflow-y: auto !important;

        }
    }

    .text__added__step {
        background: rgba(96, 91, 255, .2);
        border-radius: 3px;
        color: #605bff;
        font-family: Open Sans;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        height: 2rem;
        margin: 0.5rem;
        position: relative;
        padding: 0.5rem;
    }
}

.object__type {
    font-family: 'Open Sans';
    font-size: 14px !important;
    padding: 0.5rem;
    position: absolute;
    padding: 0.5rem;
    top: 14%;
}

.object__type::after {
    content: " *";
    color: red;
}

.object__type__input {
    position: absolute;
    left: 7%;
    top: 59%;
    width: 86%;
    height: 17%;
    border-radius: 6px;
    border: 1px solid #C7C7C7;
}

.object__type__name {
    font-family: 'Open Sans';
    font-size: 14px !important;
    padding: 0.5rem;
    position: absolute;
    padding: 0.5rem;
    top: 47%;
}

.object__dropdown {
    left: 7%;

}

.add_object_btn {
    position: absolute;
    top: 85%;
    left: 65%;
    width: 29%;
    height: 12%;
    background: #605BFF;
    border-radius: 4px;
    color: white;
    border: none;
}

.add_object_clear {
    position: relative;
    top: 12%;
    bottom: 39rem;
    top: 0.8rem;
    width: 12%;
    right: 14%;
    width: 14% !important;
    height: 28px !important;
    left: 2%;
    border: none;
}

.add_object_save {
    position: relative;
    top: 12%;
    bottom: 39rem;
    top: 0.8rem;
    width: 12%;
    left: 2%;
    right: 14%;
    width: 14% !important;
    height: 28px !important;
    background: #605BFF;
    border-radius: 4px;
    color: white;
    border: none;
}

.map__object__header {
    .p-dialog-header {
        background: #E2E2ED !important;
    }

    .p-dialog-content {
        overflow-y: hidden;

        .map_element_content {
            display: flex;
            flex-direction: row;

            .custom_element,
            .captured_elements {
                .header {
                    font-size: large;
                    display: block;
                    font-weight: 500;
                    margin: 0.5rem;
                    text-align: center;
                }

            }

            .captured_elements {
                width: 50%;
                margin-right: 0.5rem;

                .list {
                    overflow-y: auto;
                    max-height: 22rem;
                }

                .ss__mo_listItem {
                    border: 2px solid #abc2ee;
                    border-radius: 5px;
                    font-size: 15px;
                    margin: 0.4rem 4rem;
                    overflow: hidden;
                    padding: 0.4rem;
                    text-overflow: ellipsis;
                    white-space: nowrap !important;
                    width: 65%;
                    cursor: pointer;
                }

                .mo_mapped {
                    background: rgb(224, 224, 224);
                    cursor: no-drop;
                }

            }

            .custom_element {
                width: 50%;

                .container {
                    padding: 0.5rem;
                    display: flex;
                    flex-direction: column;
                    overflow-y: auto;

                    .p-accordion .p-accordion-header .p-accordion-header-link {
                        padding: 0.7rem !important;
                    }

                    .p-accordion {

                        .p-accordion-tab {

                            .p-toggleable-content {
                                .p-accordion-content {
                                    padding: 0.7rem !important;

                                    .mo_tagItemList {
                                        width: 60%;

                                        .mo_tagItems {
                                            align-items: center;
                                            background: #f0f8ff;
                                            border: 2px solid #abc2ee;
                                            border-radius: 5px;
                                            height: 2rem;
                                            margin-bottom: 8px;
                                            text-align: left;
                                            overflow: hidden;
                                            /* padding-left: 0.5rem; */
                                            position: relative;
                                            text-overflow: ellipsis;
                                            white-space: nowrap !important;
                                            width: 20rem;
                                            cursor: pointer;

                                        }

                                        .mo_selectedTag {
                                            border: 1px solid rgba(73, 1, 179, 0.76) !important;
                                            box-shadow: 2px 2px 2px rgb(124, 123, 123) !important;
                                        }

                                        .mo_mappedName {
                                            background-color: #b4b2f1;
                                            // flex: 0 0 100%;
                                            height: 100%;
                                            display: flex;
                                            align-items: center;
                                            padding-left: 1rem;
                                            overflow: hidden;
                                            text-overflow: ellipsis;
                                            cursor: pointer;
                                        }

                                        .mo_nameFlip {
                                            // flex: 0 0 20%;
                                            height: 100%;
                                        }

                                    }
                                }
                            }

                        }
                    }

                }

            }
        }
    }
}


.captured__text {
    display: flex;
    color: #030229;
    font-family: 'open sans';
    left: 7%;
    position: relative;
    top: 8%;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    justify-content: space-between;
}

.object__list {
    justify-content: space-between;
    display: flex;
    position: relative;
    top: 15%;

}

.capture__obj {
    border: 1px solid lightgrey;
    border-radius: 4px;
    position: relative;
    width: 39%;
    height: 82%;
    color: purple;
    align-items: center;
    display: flex;
}

.custom__objects {
    position: relative;
    right: 5%;
    margin-bottom: 0.2rem;
    height: 84%;
}

.custom__obj__text {
    margin-right: 32%;
}

.drag__dots {
    height: 45%;
    left: 3%;
    margin: 0;
    position: relative;
    top: 2%;
    top: 19%;
}

.arrow__right {
    height: 44%;
    position: relative;
    right: 2%;
    top: 11%;
}

.new__captured__text {
    margin-right: 26%;
}

.create__object__modal {
    .p-dialog-content {
        padding: 0 1.5rem 0rem !important;
    }

    .accordin__elem {
        .p-accordion-header-link {
            padding: 0.5rem;
            margin-top: 0.5rem;
            height: 3rem !important;
        }
    }

    .p-dialog-header-icons {
        right: 2% !important;
        position: absolute;
    }

    .p-dropdown .p-dropdown-label.p-placeholder {
        color: #6c757d;
        display: flex;
        align-items: center;
    }

    .p-dialog-header {
        background: #E2E2ED !important;
    }

    .p-dialog-title {
        margin-left: 1rem;
    }

    .input__text {
        width: 22rem;
        height: 2rem;
    }

    .create_obj {
        display: flex !important;
        flex-direction: row !important;
        position: relative;
        top: 8%;
    }

    .object__text {
        width: 11rem;

    }
}

.create__left__panel {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80%;
    top: 5;
    top: 8%;

    .creat_object_dropdown {
        left: 1.5rem;
        height: 2rem;
    }

    .p-dropdown .p-dropdown-label {
        padding: 0.2rem;
    }
}

.create__right__panel {
    display: flex;
    justify-content: space-between;
    left: 8%;
    position: relative;
    flex-direction: column;
    width: 48%;
    bottom: 0.1rem;

    .input__text {
        width: 95% !important;
        height: 1.9rem;
    }
}

.compare__object__modal {
    .p-dialog-header-icons {
        right: 2% !important;
        position: absolute;
    }

    .p-dialog-header {
        background: #E2E2ED !important;
    }

    position: relative;
    top: 10%;
    border: 1px solid black;
    height: 76%;

    .p-dialog-title {
        margin-left: 1.7% !important;
    }
}

.compare__btn {
    padding: 0 1.2rem;
    position: relative;
    top: 3%;
    border-bottom: 1px solid lightgray;
    width: 100%;
    display: flex;

    .compare__text {
        margin-bottom: 0.6rem;
        color: #030229;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
    }
}

.compare__object {
    position: relative;
    top: 10%;
    border: 1px solid lightgray;
    height: 97%;
    border-radius: 3px;
}

.footer__compare {
    display: flex;
    justify-content: flex-end;
    gap: 8px;
}

.clear__btn__cmp {
    position: relative;

    width: 24% !important;
    height: 1.7rem;
    background: none;
    border: none;
    font-size: 14px;
    font-family: 'Open Sans';
    cursor: pointer;
}

.save__btn__cmp {
    position: relative;
    width: 24% !important;
    height: 1.7rem;
    background: #605BFF;
    border: none;
    color: white;
    font-size: 12px;
    font-family: 'Open Sans';
    border-radius: 4px;
    cursor: pointer;
}

.browser__col {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 4%;
    left: 4%;
    padding: 0.3rem;

    .browser__col__selected {
        background-color: rgba(96, 91, 255, 0.2);
        width: 92%;
        padding: 0.3rem;
        border-radius: 4px;
        color: #605BFF;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
    }

    .browser__col__name {
        padding: 0.3rem;
        cursor: pointer;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        width: 92%;
    }

    .sel__tick {
        position: relative;
        height: 1rem;
        left: 43%;
    }
}

.browser__img {
    height: 1.2rem;
    padding: 0.1rem 0.3rem;
    top: 2%;
    position: relative;
    top: 0.2rem;
}

.create-elem {
    display: flex;
    flex-direction: row;
    margin-bottom: 0.5rem;
}

.accordion-actions {
    position: relative;
    left: 36rem;
    bottom: 3rem;
}

.button-add {
    margin-right: 1rem;
    border: none;
    cursor: pointer;
}

.button-delete {
    border: none;
    cursor: pointer;
}

.save_clear {
    position: relative;
    bottom: 0.7rem;
    right: 1rem;
}

.save-btn {
    top: 0.7rem;
}


.accordin__compare {

    .p-accordion-header-link {

        padding: 0.3rem;

        margin-top: 0.5rem;

    }




}



.changed__elem {

    margin-bottom: 0.5rem;

}



.update-btn,
.dlt-btn {



    font-size: 12px;

    width: 5rem;

    height: 2rem;

}

.header-name {

    position: relative;


}

.accordion-header__changedObj {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-name__changedObj {

    display: inline-block;
    width: 100%;
}

.accordion_changedObj {
    max-height: 30vh;
    overflow-y: auto;
}

.accordion_unchangedObj {
    max-height: 20vh;
    overflow-y: auto;

}

.accordion_notfoundObj {
    max-height: 20vh;
    overflow-y: auto;
}

// .p-accordion .p-accordion-header,:not(.p-disabled).p-highlight .p-accordion-header-link{
//     border:1px solid #dee2e6
// }

.p-accordion .p-accordion-tab:not(:first-child) .p-accordion-header .p-accordion-header-link,
.p-accordion .p-accordion-tab:not(:first-child) .p-accordion-header:not(.p-disabled).p-highlight:hover .p-accordion-header-link,
.p-accordion .p-accordion-tab:not(:first-child) .p-accordion-header:not(.p-highlight):not(.p-disabled):hover .p-accordion-header-link {
    border-top: 1px solid #dee2e6;
}


////Replace Model.../////

.replace__object__modal {
    .p-dialog-content {
        overflow-y: hidden;
    }

    .ss__replaceObj {
        .modal__body {
            height: 475px;
            padding: 25px 40px;
        }

        .modal__content {
            width: 140%;
        }

        .modal__container {
            z-index: 1;
        }
    }

    .ss__replaceObjBody,
    .ss__ro_scrapeObjectList,
    .ss__ro_customObjectList {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    .ss__ro_scrapeObjectList,
    .ss__ro_customObjectList {
        flex: 1 0 50%;
        margin: 0 5px;
        max-width: 50%;
    }

    .ss__ro_customObjectList {
        align-items: center;
    }

    .ro_scrapeListContainer {
        display: flex;
        position: relative;
        height: 80%;
    }

    .ro_listCanvas {
        display: flex;
        height: 100%;
        width: 100%;
        flex: 1;
    }

    .ro_listMinHeight {
        min-height: 0;
        width: 100%;
    }

    .ro_listContent {
        display: flex;
        flex-direction: column;
        flex: 1 1;
        height: 100%;
    }

    .ss__ro_customOutContainer {
        position: relative;
        width: 100%;
        height: 80%;
        display: flex;
        margin-top: 0.5rem;
    }

    .ss__ro_customInContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .ro_tagHead {
        background: #e2e2ed;
        border-radius: 5px;
        color: black;
        cursor: pointer;
        border: 1px solid grey;
        margin-bottom: 8px;
        padding: 2px 10px;
        text-align: center;
        width: 100%;
        overflow: hidden;
        padding: 0.3rem;
        font-family: 'Open Sans';
    }

    .ss__ro_listItem {
        // overflow: hidden;
        // white-space: nowrap !important;
        // text-overflow: ellipsis;
        // width: 85%;
        // font-size: 15px;

        border: 2px solid #abc2ee;
        border-radius: 5px;
        cursor: pointer;
        font-size: 15px;
        margin: 0.4rem 4rem;
        overflow: hidden;
        padding: 0.4rem;
        text-overflow: ellipsis;
        white-space: nowrap !important;
        width: 65%;
        font-family: 'Open Sans';
    }

    .ss__ro_lists {
        display: flex;
        padding: 0 20px;
        height: 80%;
    }

    .ss__ro_lbl {
        color: black;
        font-family: 'Open Sans';
        font-size: 15px;
    }

    .ss__radioContainer {
        display: flex;
        width: 100%;
        align-items: center;
        margin-bottom: 0.5rem;

        label {
            margin-right: 2rem;
            display: flex;
            justify-content: center;
            align-items: baseline;
            color: blue;
            font-family: 'lato web';
            font-size: 15px;

            span {
                margin-left: 0.5rem;
            }

            input[type="radio"] {
                appearance: none;
            }

            input[type="radio"]::after {
                content: "";
                display: flex;
                width: 1rem;
                height: 1rem;
                border-radius: 50%;
                border-style: solid;
                border-width: 0.1rem;
                border-color: gray;
            }

            input[type="radio"]:checked::after {
                background: radial-gradient(var(--baseColor) 0%, var(--baseColor) 40%, transparent 50%, transparent);
                border-color: var(--baseColorBorder);
            }
        }
    }

    .ro__headerMargin {
        margin-bottom: 25px;
    }

    .ro__lblMargin {
        margin-bottom: 10px;
        text-align: center;
    }

    .ro_tagItems {
        border: 1px solid gray;
        border-radius: 5px;
        margin-bottom: 8px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 28px;
        overflow: hidden;
        white-space: nowrap !important;
        text-overflow: ellipsis;
        width: 100%;
    }

    .ro_tagItemList {
        margin: 10px 0 15px;
        width: 100%
    }

    .ro_tagHeaderList {
        width: 70%;
    }

    .ro_replacedName {
        background-color: #b4b2f1;
        flex: 0 0 80%;
        height: 100%;
        display: flex;
        align-items: center;
        padding-left: 9px;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .ro_nameFlip {
        flex: 0 0 20%;
        height: 100%;
    }

    .ro_selectedTag {
        border: 1px solid rgba(49, 29, 78, 0.76) !important;
        box-shadow: 1px 1px 1px rgb(115, 115, 115) !important;
    }

    .ro_replaced {
        background: rgb(224, 224, 224);
        cursor: no-drop;
    }

    .ro_errorMsg {
        font-size: 14px;
        color: red;
    }

    .ro_errorMsgContainer {
        text-align: center;
        width: 100%;
    }

    .r-group__container {
        display: flex;
        flex: 1;
        flex-direction: column;
        margin-bottom: 1rem;
        margin-right: 12px;
    }

    .r-group__expandButton {
        outline: transparent;
        position: relative;
        cursor: default;
        background: none transparent;
        border: none;
        padding: 0px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 12px;
        width: 36px;
        height: 48px;
        color: rgb(96, 94, 92);
        border-radius: 5px;

        &:hover {
            background-color: rgb(237, 235, 233);
        }
    }

    .r-group__spacer {
        width: 36px;
        height: 48px;
    }

    .r-group__item {
        display: flex;
        flex: 1;
        width: 100%;

        &:hover {
            background: rgb(243, 242, 241);
        }
    }

    .r-group__header {
        display: flex;
        flex: 1;
        width: 100%;
        align-items: center;
        border: 1px solid #643693;
        border-radius: 5px;
        padding-right: 5px;

        &:hover {
            background: rgb(243, 242, 241);
        }
    }

    .r-header__mid {
        display: flex;
        justify-content: space-between;
        width: 100%;
        flex: 1;
        padding: 0px 10px;
        align-items: center;
        font-size: 1rem;
    }

    .r-header__objNames {
        width: 40%;
        max-width: 200px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .r-group__select {
        height: 25px;
        width: 100%;
        padding: 0 10px;
        border: 1px solid gray;
        font-size: 12px;
        color: black;
        border-radius: 4px;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
        outline: none;

        &:focus {
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgb(204, 169, 255);
        }
    }

    .r-group__saveButton {
        background: #643693;
        color: #ffffff;
        border: 0;
        border-radius: 20px;
        font-size: 16px;
        width: 60px;
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
            background: #47206e;
        }
    }

    .r-group__selectError {
        border: 1px solid red;
    }

    .r-drop__container {
        display: flex;
        justify-content: space-between;
        width: 100%;
        flex: 1;
        padding: 0px 10px;
        align-items: center;
        font-size: 1rem;
        padding-right: 75px;
    }

}