.add__object__header {
    .p-dialog-header-icons {
        right: 2% !important;
        position: absolute;
    }

    .p-dialog-header {
        background: #E2E2ED !important;
    }

}


.add_object__left {
    position: absolute;
    height: 60%;
    width: 46%;
    top: 18%;
    right: 51%;
    border: 1px solid #C7C7C7;

    .p-card-title {
        font-family: 'Open Sans';
        font-weight: 500 !important;
        font-size: 15px !important;
        border-bottom: 1px solid #C7C7C7;
        color: #030229;
        padding: 0.7rem;
        margin-left: 1.7%;
    }

    .p-card-body {
        padding: 0 !important;
    }
}

.card__add_object {
    display: flex;
    flex-direction: row;
}

.add_object__right {
    position: absolute;
    height: 60%;
    width: 46%;
    top: 18%;
    left: 51%;
    border: 1px solid #C7C7C7;

    .p-card-title {
        font-family: 'Open Sans';
        font-weight: 500 !important;
        font-size: 15px !important;
        color: #030229;
        border-bottom: 1px solid #C7C7C7;
        padding: 0.7rem;
    }

    .p-card-body {
        padding: 0 !important;

        .p-card-content {
            padding: 0rem;
            max-height: 13rem !important;
            overflow-y: auto !important;

        }
    }

    .text__added__step {
        background: rgba(96, 91, 255, .2);
        border-radius: 3px;
        color: #605bff;
        font-family: Open Sans;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        height: 2rem;
        margin: 0.5rem;
        position: relative;
        padding: 0.5rem;
    }
}

.object__type {
    font-family: 'Open Sans';
    font-size: 14px !important;
    padding: 0.5rem;
    position: absolute;
    padding: 0.5rem;
    top: 14%;
}

.object__type::after {
    content: " *";
    color: red;
}

.object__type__input {
    position: absolute;
    left: 7%;
    top: 59%;
    width: 86%;
    height: 17%;
    border-radius: 6px;
    border: 1px solid #C7C7C7;
}

.object__type__name {
    font-family: 'Open Sans';
    font-size: 14px !important;
    padding: 0.5rem;
    position: absolute;
    padding: 0.5rem;
    top: 47%;
}

.object__dropdown {
    left: 7%;

}

.add_object_btn {
    position: absolute;
    top: 85%;
    left: 65%;
    width: 29%;
    height: 12%;
    background: #605BFF;
    border-radius: 4px;
    color: white;
    border: none;
}

.add_object_clear {
    position: relative;
    top: 12%;
    bottom: 39rem;
    top: 0.8rem;
    width: 12%;
    right: 14%;
    width: 14% !important;
    height: 28px !important;
    left: 2%;
    border: none;
}

.add_object_save {
    position: relative;
    top: 12%;
    bottom: 39rem;
    top: 0.8rem;
    width: 12%;
    left: 2%;
    right: 14%;
    width: 14% !important;
    height: 28px !important;
    background: #605BFF;
    border-radius: 4px;
    color: white;
    border: none;
}

.map__object__header {
    .p-dialog-header {
        background: #E2E2ED !important;
    }

    .p-dialog-content {
        overflow-y: hidden;

        .map_element_content {
            display: flex;
            flex-direction: row;

            .custom_element,
            .captured_elements {
                .header {
                    font-size: large;
                    display: block;
                    font-weight: 500;
                    margin: 0.5rem;
                    text-align: center;
                }

            }

            .captured_elements {
                width: 50%;
                margin-right: 0.5rem;

                .list {
                    overflow-y: auto;
                    max-height: 22rem;
                }

                .ss__mo_listItem {
                    border: 2px solid #abc2ee;
                    border-radius: 5px;
                    font-size: 15px;
                    margin: 0.4rem 4rem;
                    overflow: hidden;
                    padding: 0.4rem;
                    text-overflow: ellipsis;
                    white-space: nowrap !important;
                    width: 65%;
                    cursor: pointer;
                }

                .mo_mapped {
                    background: rgb(224, 224, 224);
                    cursor: no-drop;
                }

            }

            .custom_element {
                width: 50%;

                .container {
                    padding: 0.5rem;
                    display: flex;
                    flex-direction: column;
                    overflow-y: auto;

                    .p-accordion .p-accordion-header .p-accordion-header-link {
                        padding: 0.7rem !important;
                    }

                    .p-accordion {

                        .p-accordion-tab {

                            .p-toggleable-content {
                                .p-accordion-content {
                                    padding: 0.7rem !important;

                                    .mo_tagItemList {
                                        width: 60%;

                                        .mo_tagItems {
                                            align-items: center;
                                            background: #f0f8ff;
                                            border: 2px solid #abc2ee;
                                            border-radius: 5px;
                                            height: 2rem;
                                            margin-bottom: 8px;
                                            text-align: left;
                                            overflow: hidden;
                                            /* padding-left: 0.5rem; */
                                            position: relative;
                                            text-overflow: ellipsis;
                                            white-space: nowrap !important;
                                            width: 20rem;
                                            cursor: pointer;

                                        }

                                        .mo_selectedTag {
                                            border: 1px solid rgba(73, 1, 179, 0.76) !important;
                                            box-shadow: 2px 2px 2px rgb(124, 123, 123) !important;
                                        }

                                        .mo_mappedName {
                                            background-color: #b4b2f1;
                                            // flex: 0 0 100%;
                                            height: 100%;
                                            display: flex;
                                            align-items: center;
                                            padding-left: 1rem;
                                            overflow: hidden;
                                            text-overflow: ellipsis;
                                            cursor: pointer;
                                        }

                                        .mo_nameFlip {
                                            // flex: 0 0 20%;
                                            height: 100%;
                                        }

                                    }
                                }
                            }

                        }
                    }

                }

            }
        }
    }
}


.captured__text {
    display: flex;
    color: #030229;
    font-family: 'open sans';
    left: 7%;
    position: relative;
    top: 8%;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    justify-content: space-between;
}

.object__list {
    justify-content: space-between;
    display: flex;
    position: relative;
    top: 15%;

}

.capture__obj {
    border: 1px solid lightgrey;
    border-radius: 4px;
    position: relative;
    width: 39%;
    height: 82%;
    color: purple;
    align-items: center;
    display: flex;
}

.custom__objects {
    position: relative;
    right: 5%;
    margin-bottom: 0.2rem;
    height: 84%;
}

.custom__obj__text {
    margin-right: 32%;
}

.drag__dots {
    height: 45%;
    left: 3%;
    margin: 0;
    position: relative;
    top: 2%;
    top: 19%;
}

.arrow__right {
    height: 44%;
    position: relative;
    right: 2%;
    top: 11%;
}

.new__captured__text {
    margin-right: 26%;
}

.create__object__modal {
    .p-dialog-content {
        padding: 0 1.5rem 0rem !important;
    }

    .accordin__elem {
        .p-accordion-header-link {
            padding: 0.5rem;
            margin-top: 0.5rem;
            height: 3rem !important;
        }
    }

    .p-dialog-header-icons {
        right: 2% !important;
        position: absolute;
    }

    .p-dropdown .p-dropdown-label.p-placeholder {
        color: #6c757d;
        display: flex;
        align-items: center;
    }

    .p-dialog-header {
        background: #E2E2ED !important;
    }

    .p-dialog-title {
        margin-left: 1rem;
    }

    .input__text {
        width: 22rem;
        height: 2rem;
    }

    .create_obj {
        display: flex !important;
        flex-direction: row !important;
        position: relative;
        top: 8%;
    }

    .object__text {
        width: 11rem;

    }
}

.create__left__panel {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80%;
    top: 5;
    top: 8%;

    .creat_object_dropdown {
        left: 1.5rem;
        height: 2rem;
    }

    .p-dropdown .p-dropdown-label {
        padding: 0.2rem;
    }
}

.create__right__panel {
    display: flex;
    justify-content: space-between;
    left: 8%;
    position: relative;
    flex-direction: column;
    width: 48%;
    bottom: 0.1rem;

    .input__text {
        width: 95% !important;
        height: 1.9rem;
    }
}

.compare__object__modal {
    .p-dialog-header-icons {
        right: 2% !important;
        position: absolute;
    }

    .p-dialog-header {
        background: #E2E2ED !important;
    }

    position: relative;
    top: 10%;
    border: 1px solid black;
    height: 76%;

    .p-dialog-title {
        margin-left: 1.7% !important;
    }
}

.compare__btn {
    padding: 0 1.2rem;
    position: relative;
    top: 3%;
    border-bottom: 1px solid lightgray;
    width: 100%;
    display: flex;

    .compare__text {
        margin-bottom: 0.6rem;
        color: #030229;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
    }
}

.compare__object {
    position: relative;
    top: 10%;
    border: 1px solid lightgray;
    height: 90%;
    border-radius: 3px;
}

.footer__compare {
    display: flex;
    justify-content: flex-end;
    gap: 8px;
}

.clear__btn__cmp {
    position: relative;
    top: 0.7rem;
    width: 24% !important;
    height: 1.7rem;
    background: none;
    border: none;
    font-size: 12px;
    font-family: 'Open Sans';
    cursor: pointer;
}

.save__btn__cmp {
    position: relative;
    top: 0.7rem;
    width: 24% !important;
    height: 1.7rem;
    background: #605BFF;
    border: none;
    color: white;
    font-size: 12px;
    font-family: 'Open Sans';
    border-radius: 2px;
    cursor: pointer;
}

.browser__col {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 4%;
    left: 4%;
    padding: 0.3rem;

    .browser__col__selected {
        background-color: rgba(96, 91, 255, 0.2);
        width: 92%;
        padding: 0.3rem;
        border-radius: 4px;
        color: #605BFF;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
    }

    .browser__col__name {
        padding: 0.3rem;
        cursor: pointer;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        width: 92%;
    }

    .sel__tick {
        position: relative;
        height: 1rem;
        left: 43%;
    }
}

.browser__img {
    height: 1.2rem;
    padding: 0.1rem 0.3rem;
    top: 2%;
    position: relative;
    top: 0.2rem;
}

.create-elem {
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
}

.accordion-actions {
    position: relative;
    left: 36rem;
    bottom: 1rem;
}

.button-add {
    margin-right: 1rem;
    border: none;
    cursor: pointer;
}

.button-delete {
    border: none;
    cursor: pointer;
}

.save_clear {
    position: relative;
    bottom: 0.7rem;
    right: 1rem;
}