.complx_container{
    height: 175px;
}
.complx_row{
    position: relative;
    height: 45px;
    label{
        float: left;
    }
    select{
        float: right;
        margin-right: 30px;
        width: 40%;
        height: 30px;
    }
    select:focus{
        outline: none;
    }
}
.complx_footer{
    width: 100%;
    label{
        float: left;
    }
    button{
        float: right;
    }
}