.add_scenario_btn{
    position: relative;
    width: 169px;
    height: 40px;
    left: 0rem;
    top: 1rem;
    background: #605BFF;
    border-radius: 4px;
}

.Scenario_dialog{
    .p-dialog-header {
    background: #e9ecef !important;
    padding: 1rem !important;
    font-family: 'Open Sans' !important;
   font-style: normal !important;
   font-weight: 600 !important; 
   font-size: 20px !important;
     }
}