.add_scenario_btn{
    position: relative;
    width: 169px !important;
    height: 40px !important;
    left: 0rem;
    top: 1rem;
    background: #605BFF;
    border-radius: 4px;
    font-size: 14px !important;
    font-weight: 600 !important;
    font-family: 'Open Sans' !important;
}

.Scenario_dialog{
    .p-dialog-header {
    background: #e9ecef !important;
    padding: 1rem !important;
    font-family: 'Open Sans' !important;
   font-style: normal !important;
   font-weight: 600 !important; 
   font-size: 20px !important;
     }
}

.add_row_btn{
    width: 6rem;
    height: 2rem;
    font-size: 14px;
    font-family: 'Open Sans';
    background: white;
    color: #605BFF;
    border: none;
    font-weight: 600;
}
.toolbar_scenario{
    margin-top: 0.5rem;
    margin-bottom:0.5rem ;
}
.menu_items_ref{
    position: relative;   
    right: 37rem;
}