@import "../../global/styles/ColorVariables.scss";
.dependentTestCaseContainer{
    display: flex;
    flex-direction: column;

    .modal__body{
        display: flex;
        height: fit-content;
        max-height: 440px;
        padding-right: 5px;
    }
}

.testCasesList{
    width: 100%;
    min-height: 0;
}

.testCasesScrollContainer{
    display: flex;
    flex-direction: column;
    flex: 1 1;
    height: 100%;
}

.testCaseOverflow_div{
    display: flex;
    flex-direction: column;
    flex: 1 1;
    overflow: auto;
}

.testCaseItem{
    display: flex;

    .tcCheck{
        height: 16px;
        width: 18px;
        flex: 1 0 2%;
        margin-right: 2%;
    }
    
    .tcName{
        flex: 1 1 80%;
        font-size: 15px;
        margin-bottom: 10px;
    }
    .tcView{
        flex: 0 0 10%;
        color: #0000ee;
        cursor: pointer;
        &:hover {
            text-decoration: underline;
        }
    }

}

.dtc_error{
    color:  $redError;
    font-family: $avoPrimaryFont;
    margin-bottom: 10px;
}