.d__body{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgb(238, 238, 238);
}

.d__mid_section{
    display: flex;
    flex: auto;
    width: 100%;
    background-color: rgb(238, 238, 238);
    margin: 0;
    padding: 0;
}

.d__footer .main-footer{
    position: static;
}

.d__leftbar, .d__rightbar{
    position: relative;
    display: flex;
    height: 100%;
    // width: 6px;
    color: #fff;
}

.d__leftbar{
    left: 0;
    float: left;
    flex: 0 0 166px;
}

.d__rightbar{
    right: 0;
    float: right;
    flex: 0 0 90px;
}
