.d__content{
    display: flex;
    flex-direction: column;
    flex: 0 1 100%;
    min-width: 0;
    padding: 20px;
    margin: 0 5px;
    background-color: #fff;
}

.d__task_title{
    margin-bottom: 10px;
   max-width: 80%;
}

.d__task_name{
    background-color: #331d4e;
    color: #fff;
    padding: 1px 14px 0;
    font-family: "LatoWebLight";
    font-size: 18px;
    width: fit-content;
    white-space: nowrap;
    text-overflow: ellipsis;
    border-radius: 5px;
}

.d__btn{
    border: none;
    outline: none;
    color: #fff;
    border-radius: 20px;
}

.d__btngroup{
    display: flex;
    max-width: 100%;
    margin-bottom: 15px;
    font-family: 'LatoWebLight';
}

.d__table_ac_btn_grp{
    display: inherit;
}

.d__tblBtn_ic{
    padding: 6px 16px;
    font-size: 14px;
    margin: 0 3px;
    vertical-align: middle;
    cursor: pointer;
    touch-action: manipulation;
}

.d__tblBtn{
    border: none;
    outline: none;
    background-color: transparent;
    padding: 0;
    margin: 0;
}

.d__taskBtns{
    display: flex;
    align-items: center;
    margin-left: 60px;
    flex-grow: 1;
    font-size: 14px;
}

.d__taskBtn{
    padding: 0px 12px;
    margin-right: 10px;
    background-color: #633693;
}

.d__submitBtn, .d__reassignBtn{
    background-color: #ff7300;
    padding: 2px 15px;
    font-size: 17px;
    margin-right: 5px;
}

@media screen and (min-width: 1400px) and (min-height: 770px){
    .d__content{
        padding: 2.6vh;
        margin: 0 0.6vh;
    }
    
    .d__task_title{
        margin-bottom: 1.3vh;
    }
    
    .d__task_name{
        padding: 0.13vh 1.8vh 0;
        font-size: 2.34vh;
        border-radius: 0.6vh;
    }
    
    .d__btn{
        border-radius: 2.6vh;
    }
    
    .d__btngroup{
        margin-bottom: 1.95vh;
    }
    
    .d__tblBtn_ic{
        padding: 0.7vh 2.08vh;
        font-size: 1.8vh;
        margin: 0 0.39vh;
        height: 4.8vh;
        width: 7.9vh;
    }
    .d__taskBtns{
        font-size: 1.8vh;
    }
    
    .d__taskBtn{
        padding: 0px 1.56vh;
        margin-right: 1.3vh;
    }
    
    .d__submitBtn, .d__reassignBtn{
        padding: 0.26vh 1.95vh;
        font-size: 2.21vh;
        margin-right: 0.6vh;
    } 
}