.d__content{
    display: flex;
    flex-direction: column;
    flex: 0 1 100%;
    min-width: 0;
    padding: 20px;
    margin: 0 5px;
    background-color: #fff;
}

.d__task_title{
    margin-bottom: 10px;
   max-width: 80%;
}

.d__task_name{
    cursor: pointer;
    background-color: #331d4e;
    color: #fff;
    padding: 1px 14px 0;
    font-family: "LatoWebLight";
    font-size: 18px;
    width: fit-content;
    white-space: nowrap;
    text-overflow: ellipsis;
    border-radius: 5px;
}

.d__btn{
    border: none;
    outline: none;
    color: #fff;
    border-radius: 20px;
}

.d__btngroup{
    display: flex;
    max-width: 100%;
    margin-bottom: 15px;
    font-family: 'LatoWebLight';
}

.d__table_ac_btn_grp{
    display: inherit;
}

.d__tblBtn_ic{
    padding: 6px 16px;
    font-size: 14px;
    margin: 0 3px;
    vertical-align: middle;
    cursor: pointer;
    touch-action: manipulation;
}

.d__tblBtn{
    border: none;
    outline: none;
    background-color: transparent;
    padding: 0;
    margin: 0;
}

.d__taskBtns{
    display: flex;
    align-items: center;
    margin-left: 60px;
    flex-grow: 1;
    font-size: 14px;
}

.d__taskBtn{
    padding: 0px 12px;
    margin-right: 10px;
    background-color: #633693;
    &:disabled{
        background-color: #ca99ff;
        cursor: auto;
    }
}

.d__submitBtn, .d__reassignBtn, .d__approveBtn{
    background-color: #ff7300;
    padding: 2px 15px;
    font-size: 17px;
    margin-right: 5px;
}

.d__table_contents{
    margin-top: 5px;
    position: relative;
    height: 100%;
}

.d__table{
    display: flex;
    flex-direction: column;
    flex: 1 1 100%;
}

.d__table_header{
    display: flex;
    justify-content: space-between;
    margin-right: 2px;
}

.d__step_head, .d__sel_head, .d__obj_head, .d__key_head, .d__inp_head, .d__out_head, .d__rem_head, .d__det_head{
    font-family: "LatoWebLight";
    font-size: 17px;
    color: #fff;
    background-color: #5e626b;
    cursor: pointer;
    margin: 0 0.5px;
    height: 26px;
}

.d__step_head{
    flex-basis: 4.15%!important;
    margin-right: 0;
    border-radius: 6px 0 0 6px;
}
.d__sel_head{
    display: flex;
    align-items: center;
    margin: 0 0;
    padding-right: 1%;
}
.d__obj_head{
    text-align: left;
    margin-left: 0;
}
.d__det_head{
    border-radius: 0 6px 6px 0; 
}
.step_col{
    flex: 0 0 3.9%;
    width: 100%;
    text-align: center;
}
.sel_col{
    display: flex;
    align-items: center;
    padding: 0 1%;
    .sel_obj{
        height: 16px;
        width: 16px;
    }
}

.objname_col{
    flex: 0 0 18%;
    width: 100%;
    padding: 0 5px;
    overflow: hidden;
}

.keyword_col{
    flex: 0 0 18%;
    width: 100%;
    text-align: center;
    overflow: hidden;
}

.input_col, .output_col{
    flex: 0 0 20%;
    text-align: center;
    width: 100%;
    overflow: hidden;
}

.remark_col, .details_col{
    flex: 0 1 auto;
    width: 100%;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
}

.d__table_row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;
    margin-right: 2px;
    font-size: 14px;
    font-family: "LatoWeb";
    border-left: 5px solid transparent;
    cursor: pointer;

    span:not(.remark_col):not(.details_col):not(.step_col){
        text-align: left;
    }
}

.commented_row{
    border-left: 5px solid red;
    .output_col {
        color: red;
    }
}

.d__odd_row{
    background-color: #e8e6fe;
}

.col_select, .col_inp{
    height: 25px;
    width: 95%;
    padding: 0 10px;
    border: 1px solid #5e636b;
    font-size: 12px;
    color: #555;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    outline: none;
    &:focus{
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgb(204, 169, 255);
    }
}

.col_inp_area{
    min-height: 25px;
    max-height: 25px;
    resize: none;
}

.d__row_text{
    min-height: 20px;
    width: 95%;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0 6px;
}

.ps_dialog{
    display: flex;
    flex-direction: column;
    font-weight: normal;
    font-family: "LatoWebMedium";
    color: black;
}

.ps_lbl{
    font-size: 14px;
    margin-bottom: 3px;
}

.ps_hint{
    font-size: 11px;
    margin-bottom: 10px;
}

.ps_input{
    font-family: "LatoWeb";
    border-radius: 4px;
    color: #555;
    background-color: #fff;
    border: 1px solid #311d4e;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    outline: none;
    &:focus{
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgb(204, 169, 255);
    }
}

.ps_error{
    color: #cc3300;
    font-size: 11px;
}

.highlight-step{
    background-color: #e3caff;
}


.d__add_remark_lbl, .remark_history_lbl{
    color: black;
    font-family: 'LatoWebMedium';
}

.remark_input{
    resize: both;
    border: 1px solid #311d4e;
    outline: none;
    padding: 6px 12px;
    font-size: 14px;
    color: #555;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    width: 100%;
    max-width: 100%;
    min-width: 25%;
    &:focus{
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgb(204, 169, 255);
    }
}

.remark_error{
    border: 1px solid red;
}

.remark_history_content{
    color: black;
    font-size: 12px;
    width: 100%;
    max-height: 110px;
    border: 1px solid #ccc;
    padding: 3px;
    overflow: auto;
    overflow-x: hidden;
    margin-bottom: 12px;
}

.remark_container, .d__details_container{
    .modal__body{
        padding-right: 15px;
    }
    .modal__content{
        width: 80%;
    }
}

.d__details_container{
    .modal__content{
        width: 120%;
    }
}

.d__detail_input_group{
    display: flex;
    flex-direction: column;
}

.d__detail_input{
    margin-bottom: 5%;
    border: none;
    outline: none;
    border-bottom: 1px solid #656565;
    color: #333;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    font-family: "LatoWeb";
}

@media screen and (min-width: 1400px) and (min-height: 770px){
    .d__content{
        padding: 2.6vh;
        margin: 0 0.6vh;
    }
    
    .d__task_title{
        margin-bottom: 1.3vh;
    }
    
    .d__task_name{
        padding: 0.13vh 1.8vh 0;
        font-size: 2.34vh;
        border-radius: 0.6vh;
    }
    
    .d__btn{
        border-radius: 2.6vh;
    }
    
    .d__btngroup{
        margin-bottom: 1.95vh;
    }
    
    .d__tblBtn_ic{
        padding: 0.7vh 2.08vh;
        font-size: 1.8vh;
        margin: 0 0.39vh;
        height: 4.8vh;
        width: 7.9vh;
    }
    .d__taskBtns{
        font-size: 1.8vh;
    }
    
    .d__taskBtn{
        padding: 0px 1.56vh;
        margin-right: 1.3vh;
    }
    
    .d__submitBtn, .d__reassignBtn{
        padding: 0.26vh 1.95vh;
        font-size: 2.21vh;
        margin-right: 0.6vh;
    } 
}