.d__body{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgb(255, 255, 255);
}

.d__mid_section{
    display: flex;
    flex: auto;
    width: 100%;
    background-color: rgb(255, 255, 255);
    margin: 0;
    padding: 0;
}

.d__footer .main-footer{
    position: static;
}

.d__mid_section {
    align-items: flex-end;
    .ref__wrapper {
        position: absolute;
        top: 7rem;
        height: 30rem;
        right: 2px;
    }
}


