@import "../../global/styles/ColorVariables.scss";
.d__details_container{
    .modal__body{
        padding-right: 15px;
    }
    .modal__content{
        width: 80%;
    }
}

.d__details_container{
    .modal__content{
        width: 120%;
    }
}

.d__detail_input_group{
    display: flex;
    flex-direction: column;
}


.d__detail_input{
    margin-bottom: 5%;
    border: none;
    outline: none;
    border-bottom: 1px solid $borderOne;
    color: $darkGray;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    font-family: $avoFont ;
}
