@import "../../global/styles/ColorVariables.scss";
.ss__launch_app_dialog{
    .modal__content{
        width: 120%;
    }
}

.ss__dsktp_wndw_name, .ss__dsktp_prc_id, .ss__sap_input, .ss__mblapp_input, .ss__oebs_input, .ss__mblweb_input{
    width: 94%;
    height: 34px;
    color: $primaryText;
    border-right: 0;
    border-left: 0;
    border-top: 0;
    border-bottom: 1px solid $borderFive;
    box-shadow: none;
    font-family: $avoFont;
    font-size: 15px;
    padding: 0;
    margin: 0 3% 10px;
    &:focus{
        outline: none;
    }
}
.ss__mblapp_input{
    margin-bottom: 20px;
}
.ss__sdkpt_footer{
    display: flex;
    margin-left: 4%;
    width: 100%;
    justify-content: space-between;
    align-items: center;

    label{
        margin: 0;
        margin-left: 20px;
    }
}

.ss__mblapp_inputs{
    display: flex;
    align-items: center;
    flex-direction: column;
    flex: 1 0 75%;
}

.ss__mblapp_input{
    width: 94%;
}

.ss__mblapp_icon{
    flex: 0 0 25%;
    position: relative;
    display: flex;
    justify-content: center;
}

.ss__mblapp_img{
    position: absolute;
    bottom: 20px;
}

.ss__mblapp_os_op{
    margin-bottom: 10px;
}

.ss__mblapp_chooseApp{
    display: flex;
    width: 50%;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
}

.ss__mblapp_os_b{
    background: $primaryColor;
    color: $whiteColor;
    border: 0;
    border-radius: 10px;
    padding: 5px 20px;
    font-size: 16px;
}

.ss__os_active{
    background: $primaryColorDarkest!important;
}


.la_invalid{
    border-bottom: 2px solid  $redError!important;
}