@import "../../global/styles/ColorVariables.scss";
.ct-scenarios {
    background-color: #FF6700;
    stroke:#FF6700;
    fill: #FF6700;
    stroke-width: 0;
}
.ct-modules{
    background-color: #5C5CE4;
    stroke:#5C5CE4;
    fill: #5C5CE4;
    stroke-width: 0;
}
.ct-endtoend {
    background-color: #90E45C;
    stroke:#90E45C;
    fill: #90E45C;
    stroke-width: 0;
}
.ct-screens {
    background-color: #3EA39B;
    stroke:#3EA39B;
    fill: #3EA39B;
    stroke-width: 0;
}
.ct-testcases {
    background-color: #E1AD01;
    stroke:#E1AD01;
    fill:#E1AD01 ;
    stroke-width: 0;
}
.ct-teststepsgroups{
    background-color: #3EA39B;
    stroke:#3EA39B;
    fill: #3EA39B;
    stroke-width: 0;
}
.ct-legendBox{
    height: 26px;
    width: 22.5rem;
}
.legendBoxAlignment  {
    position: fixed;
    right: 0rem;
    top: 3.1rem;
   }

.ct-nodeLabel{
    font-size: 12px;
}