@import "../../global/styles/ColorVariables.scss";
.ene_toolbar__dropdown{
    height: 300px;
    width: 100%;
    z-index: 3;
}
.ene_toolbar__dropdown .closed{
    height: 90px;
    width: 100%;
}
.ene_toolbar__dropdown_module{
    float: left;
    width: 50%;
    height: 100%;
    margin-top: 21px;
    border-right: 1px solid grey;
}
.ene_toolbar__dropdown_scenario{
    float: right;
    width: 50%;
    height: 100%;
    margin-top: 21px;
}
.ene_toolbar__dropdown_scenario span{
    display: inline-block;
    background: grey;
    padding: 3px;
    margin: 10px;
    width: 200px;
    border-radius: 5px;
}
.ene_toolbar__module-box{
    position: relative;
    display: inline-block;
    height: 75px;
    // width: 140px;
    width: calc(100%/3 - 90px);
    max-width: 155px;
    min-width: 100px;
    padding: 5px;
    margin: 5px 11px 10px;
    text-align: center;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
}
.ene_toolbar__module-box:hover{
    background-color: $whisper;
}
.ene_toolbar__module-box img{
    display: inline-block;
    height: 40px;
    width: 40px;
    cursor: pointer;
}
.ene_toolbar__module-box span{
    display: block;
    font-size: 12px;
    cursor: default;
    word-wrap: break-word;
    padding: 2px 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.selected{
    background: $whisper;
}
.dropdown_scenarios{
    display: inline-block;
    padding: 3px;
    margin: 10px;
    width: calc(100%/3 - 20px);
    max-width: 220px;
    min-width: 100px;
    border-radius: 5px;
    text-overflow: ellipsis;
    overflow: hidden;
    font-family: $avoSecondaryFont;
    font-weight: 700;
    text-align: left;
    font-size: 13px;
}
.dropdown_scenarios:hover{
    background: $iceColor;
    color: inherit;
}
.dropdown_scenarios.selected{
    background-color: $summerSky;
    color: $whiteColor;
}
.ene_toolbar__module-footer {
    position: absolute;
    background: $borderThree;
    height: 10px;
    bottom: 0;
    left: 50%;
}
.ene_toolbar__module-footer i {
    position: absolute;
    left: 32.5px;
    top: -3px;
}
.ene_toolbar__module-footer div {
    background: $whiteColor;
    outline: none;
    border: none;
    display: inline-block;
    text-align: center;
    width: 75px;
    position: absolute;
    height: 11px;
    top: -3px;
    border-radius: 2px;
    left: calc(50% - 37px);
    cursor: pointer;
}
.ene_toolbar__buttons{
    float: right;
}
.ene_toolbar__buttons button{
    color: $whiteColor;
    border: 0;
    border-radius: 20px;
    background: $primaryColor;
    outline: 0;
    margin-right: 15px;
    font-size: 13px;
    font-family: $avoSecondaryFont;
    padding: 3px 12px 0px 12px;
    min-width: 65px;
}
.ene_toolbar__buttons button:hover{
    color: $whiteColor;
}
.ene_toolbar__buttons button:focus{
    outline: 0;
    box-shadow: none;
}
.ene_toolbar__scrollwrap {
    height: calc(100% - 17px);
}