@import "../../global/styles/ColorVariables.scss";
.mnode__addbutton{
    color: $darkGray;
    font-size: 15px ;
    font-family: $avoBoldFont;
    padding: 0 10px ;
    margin-bottom: 15px;
    cursor: pointer;
    display: inline-block;
}
.mnode__addbutton label{
    padding: 0px 10px;
    cursor: pointer;
}
.mnode__list{
    height: 160px;
}
.mnode__row{
    text-align: center;
    font-size: 16px;
    margin-bottom: 20px;
    width: 460px;
}
.mnode__input input{
    border: 1px solid $borderOne ;
    border-left: 0 !important;
    border-right: 0 ;
    border-top: 0 !important;
    border-radius: 0;
    box-shadow: none;
    color: $darkGray;
    outline: none;
    width:100%;
}
.mnode__delete{
    cursor: pointer;
}
.mnode__buttons button{
    margin: 0px 10px;
}
.mnode__buttons button:last-child{
    margin-right: 0px;
}
.err-border{
    border-bottom: solid 1px $red !important;
}
.err-message{
    left: 26px;
    text-align: left;
    color: $red;
    font-size: 15px;
    position: absolute;
}