@import "../../global/styles/ColorVariables.scss";
.ps_dialog{
    display: flex;
    flex-direction: column;
    font-weight: normal;
    font-family: $avoPrimaryFont;
    color: black;
}


.ps_lbl{
    font-size: 14px;
    margin-bottom: 3px;
}


.ps_hint{
    font-size: 11px;
    margin-bottom: 10px;
}

.ps_input{
    font-family: $avoFont ;
    border-radius: 4px;
    color: $primaryText;
    background-color: $whiteColor;
    border: 1px solid $primaryColorDark;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    outline: none;
    &:focus{
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgb(204, 169, 255);
    }
}

.modal-sm{
    width: 20rem;
}
.ps_error{
    color: $redError;
    font-size: 11px;
}