#rect-copy>span>div:nth-child(2){
    cursor: e-resize!important;
}
#rect-copy>span>div:nth-child(4){
    cursor: e-resize!important;
}
#rect-copy>span>div:nth-child(1){
    cursor: s-resize!important;
}
#rect-copy>span>div:nth-child(3){
    cursor: s-resize!important;
}