@import "../../global/styles/ColorVariables.scss";

.remark_container{
    .modal__body{
        padding-right: 15px;
    }
    .modal__content{
        width: 80%;
    }
}

.d__add_remark_lbl, .remark_history_lbl{
    color: black;
    font-family: $avoPrimaryFont;
}

.remark_history_content{
    color: black;
    font-size: 12px;
    width: 100%;
    max-height: 110px;
    border: 1px solid $borderTwo;
    padding: 3px;
    overflow: auto;
    overflow-x: hidden;
    margin-bottom: 12px;
}


.remark_input{
    resize: both;
    border: 1px solid $primaryColorDark;
    outline: none;
    padding: 6px 12px;
    font-size: 14px;
    color: $primaryText;
    background-color: $whiteColor;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    width: 100%;
    max-width: 100%;
    max-height: 50vh;
    min-width: 25%;
    &:focus{
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgb(204, 169, 255);
    }
}



.remark_error{
    border: 1px solid $red;
}
