@import "../../global/styles/ColorVariables.scss";
.task-box__container{
    position: absolute;
    width: 270px;
    background-color: $whiteColor;
    padding: 12.5px;
    border: 1px solid #c8c8c8;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    z-index: 2;
}
#ct-assignTable>ul {
    padding: 0;
    margin: 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
}
#ct-assignTable>ul>li {
    display: block;
    margin: 0;
    padding: 6px 7.5px;
    list-style-type: none;
    height: 34px;
}
#ct-assignTable>ul>li>span {
    float: right;
    width: 145px;
    i{
        padding: 3px 6px;
        color: $primaryColor;
        
    } 
}
#ct-assignDetails {
    display: block;
    font-size: 15px;
    border: 2px solid #b6b6b6;
    outline: none;
    height: 104px;
    width: 100%;
    resize: none;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    margin-top: 7px;
}
#ct-assignTable select {
    padding: 2px;
    float: right;
    width: 145px;
    background:$whiteColor;
	color:$darkGray;
	border:1px solid $primaryColorDark;
}
#ct-assignTable label{
    float: left;
}
#ct-assignTable input{
    width: 145px;
    float: right;
}
#ct-assignTable input[type="checkbox"]{
    width: 18px !important;
    margin-left: 21px;
    float: left !important;
    height: 18px;
    margin: 10px 4px 9px -38px;
}
#ct-submitTask{
    margin-top: 7px;
    span{    
        padding: 1px 18px;
        text-decoration: none;
        font-size: 15px;
        color: $whiteColor;
        background-color: $primaryColor;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        border-radius: 15px;
    }
    span:first-child{
        float: left;
    }
    span:last-child{
        float: right;
    }
}
.hide{
    display: none;
}
.disabled {
    background:'#ebebe4'
}
.disableButton {
    cursor: default;
    opacity: 0.6;
}
.errorBorder {
    outline: 1px solid $red;
    border: 1px solid $red;
}