.input-cls1{
    display: flex;
    flex-direction: row;
    margin-bottom: 1.5rem;
    margin-right: -2.3rem;
}
.card__login__cloud{
    .p-card {
        // .p-component{
        box-shadow: none !important;
        // }
    }
    position: relative;
    top: 1rem;
    left:10rem;
}
.apk__name{
    padding-top: 1rem;
}
.apk__path{
    position: relative;
    top: 1rem;
    left: 9rem;
}
.action-button{
    margin-left: 1rem;
}
// .apk__upldBtn{
//     position: relative;
//     top: 4rem;
//     right: 6rem; 
// }
