.edit-user-form{
    display: flex;
    flex-direction: column;
    width:100%;
    .action-div{
        width:100%;
        display: flex;
        justify-content: flex-end;
        margin-right:25px;
        .action-button {
            color: #fff;
            border: 0;
            border-radius: 20px;
            padding: 2px 15px;
            font-size: 17px;
            background: #643693;
            font-family: 'LatoWebLight';
            outline: 0;
            padding: 2px 25px !important;
            &:disabled{
                opacity: 0.5;
            }
        }
        .action-button{
            margin-right: 2vw;
            margin-bottom: 10px;
        }
    }
    .edit-user{
        padding-left: 20px;
        padding-right: 20px;
        .form-group{
            width: 83%;
            .invalid{
                border-bottom: 2px solid #d33c3c !important;
            }
            label{
                width: 120px;
                margin-bottom: 10px;
                font-size: small;
                font-weight: 700;
                line-height: 1.5;
                color: #212529;
                text-align: left;
            }
            .changePass__checkbox{
                margin-top: 30px;
                margin-right: 15px;
            }
            .disable-input{
                background-color: #eee !important;
                opacity: 1;
                cursor: not-allowed;
            }
            .all-inputs{
                width: calc(100% - 130px);
                height: 30px;
                margin-top: 30px;
                padding: 6px 12px;
                font-size: 14px;
                line-height: 1.5;
                color: #555;
                background-color: #fff;
                background-image: none;
                outline: none;
                border-left: 0 !important;
                border-right: 0 !important;
                border-top: 0 !important;
                border-radius: 0;
                box-shadow: none;
                color: #333;
            }
        }
    }
}

.stng_edit_user{
    display: flex;
    position: relative;
    flex-direction: column;
    margin-left: 5px;
    height: 100%;
    width: 96%;
}

.stng__ab{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
}
.stng__min{
    min-height: 0;
}
.stng__con{
    display: flex;
    flex-direction: column;
    flex: 1 1;
    height: 100%;
}