.left-section-div{
    min-height: 60%;
    color:red;
    width: 100%;
    font-family: 'LatoWebMedium' !important;
    font-size: 18px !important;
    color: #eee9ff;
    .selectBrowser{
        cursor: pointer;
    }
    
    .disable-thumbnail-settings{
      pointer-events: none;
      opacity: 0.5;
    }

    .selected-icon{
        background: #331d4c;
        border-radius: 6px;
        padding: 10px;
    }
    ul{
        width: 100%;
        padding: 0;
        margin: 0;
        text-align: center;
        li{
            list-style-type: none;
            width: 100%;
            color: #fff;
            line-height: inherit;
            text-align: center;
            margin: 10% 0px 5% !important;
            span{
                
                width: 100%;
                text-align: center;
                margin-bottom: 2px;
                
            }
            i,img{
                text-decoration: none;
                font-size: 12px;
                font-style: normal!important;
                font-family: 'LatoWebLight';
                color: #eee9ff;
                word-wrap: break-word;
                font-weight: normal;
                display: block;
                width: 75%;
                margin: 0 auto;
                &:focus{
                    outline: 0;
                    background: #523176;
                }
               
                span{
                   
                        .fa, img{
                            
                            font-size: 30px;
                            width: auto;
                            padding: 8px 10px;
                            border-radius: 5px;
                            -moz-border-radius: 5px;
                            -webkit-border-radius: 5px;
                            -ms-border-radius: 5px;
                            -o-border-radius: 5px;
                            transition: 0.2s ease-in-out;
                            -moz-transition: 0.2s ease-in-out;
                            -webkit-transition: 0.2s ease-in-out;
                            &:hover{
                                background: #523176;
                            }
                        }
                }
            }
        }
    }
}