
@import "../../global/styles/ColorVariables.scss";
.dropdown-class{
    margin-top: 1rem;
}
.dropdown-integration {
    .p-dropdown{
        width: 205px !important;
        height: 36px !important;

    }
}
.login-cls{
    font-size: 18px;
    font-weight: 600;
}
.input-cls, .passwrd-cls, .url-cls{
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
}
.input-txt1{
    .p-inputtext{
width: 20rem !important;
height: 2.5rem !important;
    }
}
.loginbtn-jira{
    .p-button {
        height: 2.5rem !important;
        width: 6rem !important;
        position: relative !important;
        left: 14rem !important;
    }
}
.logout__btn{
    position: relative;
    left: 38rem !important;
    top: 0.3rem !important;
    background:white !important;
    color: blue !important;
    .p-button{
     width: 7rem !important;
    }
}

.tab__cls{
    margin-top: 0.5rem;
    .p-tabview-nav-content {
         height: 3rem !important;
    }
}
.integration_header{
    font:$f6_bold !important;
}

.data__mapping{
    display: flex;
    flex-direction:row;
    height: 20rem;
    gap: 4rem;
}
.card_data1{
    margin-left: -1rem;
    .p-component{
        box-shadow: none !important;
        border: 1px solid lightgray;
    }
}
.card_data2{
    .p-component{
        box-shadow: none !important;
        border: 1px solid lightgray;
    }
}
.mapping_data_card1, .mapping_data_card2{
    width: 30rem;
   
    .p-card-body{
        height: 26.5rem;
        width: 30rem;
       
    }
}
.dropdown-map{
    display: flex;
    flex-direction:row;
}
.release_span{
    position: relative;
    left: 7rem;
}
.dropdown_release{
    position: relative;
    left: 2.5rem;
}
.dropdown_div{
    margin-top: -1.5rem;
}

//login screen jira changes 

.login__jira {

    margin-left: 15rem;

}




.login__div {

    .login__btn {

        position: relative;

        height: 2.5rem !important;

        width: 6rem !important;

        left: 21rem;

    }

}




.card__login__jira {

    margin-left: 19rem;

    position: relative;

    height: 20rem;

    box-shadow: none;




    .p-card-body {

        width: 33rem;

    }




}




.Manage_Integrations {

    .p-dialog-content {

        overflow: hidden;

    }

}




.login_container_integrations {

    display: flex;

    flex-direction: row;

    position: relative;

    top: 3rem;

    .p-component{

        box-shadow: none !important;

    }

}

.manage_integrations{
    .p-dialog-content{
        overflow: hidden;
    }
}


.side-panel {

    .icon-wrapper {

        position: relative;

        top: 2rem;

        width: 40px;
        cursor: pointer;

    }
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    left: 0;
    top: 1rem;
    /* bottom: -1rem; */
    width: 5rem;
    gap: 2rem;
    position: absolute;


    .img__jira {

        height: 2rem;

        width: 33px;
        cursor: pointer;

    }

    .img__azure {

        height: 2rem;

        width: 33px;
        cursor: pointer;

    }

    .img__zephyr {

        height: 2rem;

        width: 33px;
        cursor: pointer;

    }


    .img__qtest {

        height: 2rem;

        width: 33px;
        cursor: pointer;

    }

    .img__alm {

        height: 2rem;

        width: 33px;
        cursor: pointer;

    }

}

.view_map_card{
    height: 31rem;
    max-height: 26.5rem;
    .toggle_btn{
        position: relative;
        bottom: 2rem;
        gap: 1rem;
    }
    .accordion_testcase{
            max-height: 17rem !important;
            overflow-y: auto !important;
    }
}

.side-panel .icon-wrapper.selected {
border: 1px solid #6837e6;
border-radius: 7px;
padding: 1rem 4rem 2rem 2rem;
background:linear-gradient(0deg, rgba(96, 91, 255, 0.2), rgba(96, 91, 255, 0.2)), #FFFFFF;
cursor: pointer;
}

  .bouncing-loader {
    display: flex;
    position: absolute;
    top: 60%;
    left: 19%;
    // justify-content: center;
    // align-items: center;
    // height: 100%;
  }
  
  .bouncing-loader > div {
    width: 10px;
    height: 10px;
    margin: 3px 6px;
    border-radius: 50%;
    background-color: #7e4ef7;
    opacity: 1;
    animation: bouncing-loader 0.6s infinite alternate;
  }

  @keyframes bouncing-loader {
    to {
      opacity: 0.1;
      transform: translateY(-16px);
    }
  }
  
  .bouncing-loader > div:nth-child(2) {
    animation-delay: 0.2s;
  }
  
  .bouncing-loader > div:nth-child(3) {
    animation-delay: 0.4s;
  }
  .avoProject_tree{
    .p-tree{
    border: none !important;
    }
  }
