.Saucelab-form{
    display: flex;
    flex-direction: column;
    width:100%;
    .action-div{
        width:100%;
        display: flex;
        justify-content: flex-end;
        margin-right:25px;
        .action-button {
            color: #fff;
            border: 0;
            border-radius: 20px;
            padding: 2px 15px;
            font-size: 17px;
            background: #643693;
            font-family: 'LatoWebLight';
            outline: 0;
            padding: 2px 25px !important;
            &:disabled{
                opacity: 0.5;
            }
        }
        .action-button{
            margin-right: 2vw;
            margin-bottom: 10px;
        }
    }
    .Saucelab-fields{
        padding-left: 20px;
        padding-right:20px;
        .form-group{
            width: 83%;
        }
        .invalid{
            border-bottom: 2px solid #d33c3c !important;
        }
        label{
            width: 145px;
            margin-bottom: 10px;
            font-size: small;
            font-weight: 700;
            line-height: 1.5;
            color: #212529;
            text-align: left;
        }
        .all-inputs{
            width: calc(100% - 180px);
            height: 30px;
            margin-top: 40px;
            padding: 6px 12px;
            font-size: 14px;
            line-height: 1.5;
            color: #555;
            background-color: #fff;
            background-image: none;
            outline: none;
            border-left: 0 !important;
            border-right: 0 !important;
            border-top: 0 !important;
            border-radius: 0;
            box-shadow: none;
            color: #333;
        }
        
    }
}